{
  "openapi": "3.0.1",
  "info": {
    "title": "Core",
    "description": "All included utility endpoints for Basiq partners",
    "version": "3.0.0",
    "termsOfService": "https://docs.basiq.io/en/collections/440849-privacy-terms-and-common-questions",
    "license": {
      "name": "Commercial",
      "url": "https://basiq.io"
    }
  },
  "servers": [
    {
      "url": "https://au-api.basiq.io"
    }
  ],
  "paths": {
    "/token": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Generate an auth token",
        "description": "Use this endpoint to retrieve a token that will be passed as authorization header for Basiq API",
        "operationId": "postToken",
        "parameters": [
          {
            "name": "basiq-version",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "3.0"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "scope": {
                    "type": "string"
                  },
                  "userId": {
                    "type": "string"
                  }
                }
              },
              "examples": {
                "client_access": {
                  "summary": "For all client side requests",
                  "value": {
                    "scope": "CLIENT_ACCESS",
                    "userId": "6dd30ce4-d4ba-11ec-9d64-0242ac120002"
                  }
                },
                "server_access": {
                  "summary": "For all server side requests",
                  "value": {
                    "scope": "SERVER_ACCESS"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return token object that will be used for Basiq API requests. ",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "access_token",
                    "expires_in",
                    "token_type"
                  ],
                  "type": "object",
                  "properties": {
                    "access_token": {
                      "type": "string",
                      "description": "The generated access token.",
                      "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
                    },
                    "expires_in": {
                      "type": "integer",
                      "description": "Expires in 3600 seconds",
                      "format": "int64",
                      "example": 3600
                    },
                    "token_type": {
                      "type": "string",
                      "description": "This value will always be `Bearer`.",
                      "example": "Bearer"
                    }
                  },
                  "x-readme-ref-name": "TokenPostResponse"
                }
              }
            }
          },
          "400": {
            "description": "Returns error that server cannot or will not process the request as it does not conform.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "correlationId",
                    "data",
                    "type"
                  ],
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Always \"list\".",
                      "example": "list"
                    },
                    "correlationId": {
                      "type": "string",
                      "description": "Unique identifier for this particular occurrence of the problem.",
                      "example": "ac5ah5i"
                    },
                    "data": {
                      "type": "array",
                      "description": "Error data.",
                      "items": {
                        "required": [
                          "code",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "Type of the response, always \"error\"",
                            "example": "error"
                          },
                          "title": {
                            "type": "string",
                            "description": "Title of the error",
                            "example": "Parameter not valid."
                          },
                          "code": {
                            "type": "string",
                            "description": "Application-specific error code, expressed as a string value.",
                            "example": "parameter-not-valid",
                            "enum": [
                              "parameter-not-supplied",
                              "parameter-not-valid",
                              "unsupported-accept",
                              "invalid-content",
                              "institution-not-supported",
                              "invalid-credentials"
                            ]
                          },
                          "detail": {
                            "type": "string",
                            "description": "Human-readable explanation specific to this occurrence of the problem.",
                            "example": "ID value is not valid."
                          },
                          "source": {
                            "title": "Source",
                            "type": "object",
                            "properties": {
                              "parameter": {
                                "type": "string",
                                "description": "String indicating which URI query parameter caused the error.",
                                "example": "id"
                              }
                            },
                            "description": "An object containing references to the source of the error.",
                            "x-readme-ref-name": "Source"
                          }
                        }
                      }
                    }
                  },
                  "x-readme-ref-name": "BadRequestError"
                }
              }
            }
          },
          "404": {
            "description": "Returns error indicating that server can't find requested resource.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "correlationId",
                    "data",
                    "type"
                  ],
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Always \"list\".",
                      "example": "list"
                    },
                    "correlationId": {
                      "type": "string",
                      "description": "Unique identifier for this particular occurrence of the problem.",
                      "example": "ac5ah5i"
                    },
                    "data": {
                      "type": "array",
                      "description": "Error data.",
                      "items": {
                        "required": [
                          "code",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Application-specific error code, expressed as a string value.",
                            "example": "resource-not-found",
                            "enum": [
                              "resource-not-found"
                            ]
                          },
                          "detail": {
                            "type": "string",
                            "description": "Human-readable explanation specific to this occurrence of the problem.",
                            "example": "Resource not found."
                          },
                          "title": {
                            "type": "string",
                            "description": "Title of the error",
                            "example": "Requested resource is not found."
                          },
                          "type": {
                            "type": "string",
                            "description": "Type of the response, always \"error\"",
                            "example": "error"
                          }
                        }
                      }
                    }
                  },
                  "x-readme-ref-name": "NotFoundError"
                }
              }
            }
          },
          "500": {
            "description": "Returns error response code indicates that the server encountered an unexpected condition that prevented it from fulfilling the request.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "correlationId",
                    "data",
                    "type"
                  ],
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Always \"list\".",
                      "example": "list"
                    },
                    "correlationId": {
                      "type": "string",
                      "description": "Unique identifier for this particular occurrence of the problem.",
                      "example": "ac5ah5i"
                    },
                    "data": {
                      "type": "array",
                      "description": "Error data.",
                      "items": {
                        "required": [
                          "code",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Application-specific error code, expressed as a string value.",
                            "example": "internal-server-error",
                            "enum": [
                              "internal-server-error"
                            ]
                          },
                          "detail": {
                            "type": "string",
                            "description": "Human-readable explanation specific to this occurrence of the problem.",
                            "example": "Internal Server error. Contact support."
                          },
                          "title": {
                            "type": "string",
                            "description": "Title of the error",
                            "example": "Internal Server error."
                          },
                          "type": {
                            "type": "string",
                            "description": "Type of the response, always \"error\"",
                            "example": "error"
                          }
                        }
                      }
                    }
                  },
                  "x-readme-ref-name": "InternalServerError"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "GetUserLinks": {
        "title": "GetUserLinks",
        "required": [
          "accounts",
          "auth_link",
          "connections",
          "self",
          "transactions"
        ],
        "type": "object",
        "properties": {
          "accounts": {
            "type": "string",
            "description": "Accounts reference url.",
            "example": "https://au-api.basiq.io/users/a3dgf4567a89/accounts"
          },
          "connections": {
            "type": "string",
            "description": "Connections reference url.",
            "example": "https://au-api.basiq.io/users/a3dgf4567a89/connections"
          },
          "self": {
            "type": "string",
            "description": "User self reference url.",
            "example": "https://au-api.basiq.io/user/a3dgf4567a89"
          },
          "transactions": {
            "type": "string",
            "description": "Transactions reference url.",
            "example": "https://au-api.basiq.io/users/a3dgf4567a89/transactions"
          }
        },
        "description": "Object containing links to resources.",
        "x-readme-ref-name": "GetUserLinks"
      }
    },
    "securitySchemes": {
      "api_key": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header",
        "x-default": "Basic NjMxMjNmMWMtZjYxMy00ZjMyLWFiYzUtYzBhZDdhYTY2YmU1OjQ3NWYwMzhkLTBlZmItNGM1ZS1iMzQ0LTAzMzYxOTkyYTRlMw=="
      },
      "services_token": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "security": [
    {
      "api_key": []
    },
    {
      "services_token": []
    }
  ],
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true,
    "samples-enabled": true,
    "samples-languages": [
      "curl",
      "node",
      "ruby",
      "javascript",
      "python"
    ]
  }
}