{
  "openapi": "3.0.1",
  "info": {
    "title": "Connect",
    "description": "All included utility endpoints for Basiq partners",
    "version": "3.0.0",
    "termsOfService": "https://docs.basiq.io/en/collections/440849-privacy-terms-and-common-questions",
    "license": {
      "name": "Commercial",
      "url": "https://basiq.io"
    }
  },
  "servers": [
    {
      "url": "https://au-api.basiq.io"
    }
  ],
  "paths": {
    "/token": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Generate an auth token",
        "description": "Use this endpoint to retrieve a token that will be passed as authorization header for Basiq API",
        "operationId": "postToken",
        "parameters": [
          {
            "name": "basiq-version",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "3.0"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "scope": {
                    "type": "string"
                  },
                  "userId": {
                    "type": "string"
                  }
                }
              },
              "examples": {
                "client_access": {
                  "summary": "For all client side requests",
                  "value": {
                    "scope": "CLIENT_ACCESS",
                    "userId": "6dd30ce4-d4ba-11ec-9d64-0242ac120002"
                  }
                },
                "server_access": {
                  "summary": "For all server side requests",
                  "value": {
                    "scope": "SERVER_ACCESS"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return token object that will be used for Basiq API requests. ",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "access_token",
                    "expires_in",
                    "token_type"
                  ],
                  "type": "object",
                  "properties": {
                    "access_token": {
                      "type": "string",
                      "description": "The generated access token.",
                      "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
                    },
                    "expires_in": {
                      "type": "integer",
                      "description": "Expires in 3600 seconds",
                      "format": "int64",
                      "example": 3600
                    },
                    "token_type": {
                      "type": "string",
                      "description": "This value will always be `Bearer`.",
                      "example": "Bearer"
                    }
                  },
                  "x-readme-ref-name": "TokenPostResponse"
                }
              }
            }
          },
          "400": {
            "description": "Returns error that server cannot or will not process the request as it does not conform.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "correlationId",
                    "data",
                    "type"
                  ],
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Always \"list\".",
                      "example": "list"
                    },
                    "correlationId": {
                      "type": "string",
                      "description": "Unique identifier for this particular occurrence of the problem.",
                      "example": "ac5ah5i"
                    },
                    "data": {
                      "type": "array",
                      "description": "Error data.",
                      "items": {
                        "required": [
                          "code",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "Type of the response, always \"error\"",
                            "example": "error"
                          },
                          "title": {
                            "type": "string",
                            "description": "Title of the error",
                            "example": "Parameter not valid."
                          },
                          "code": {
                            "type": "string",
                            "description": "Application-specific error code, expressed as a string value.",
                            "example": "parameter-not-valid",
                            "enum": [
                              "parameter-not-supplied",
                              "parameter-not-valid",
                              "unsupported-accept",
                              "invalid-content",
                              "institution-not-supported",
                              "invalid-credentials"
                            ]
                          },
                          "detail": {
                            "type": "string",
                            "description": "Human-readable explanation specific to this occurrence of the problem.",
                            "example": "ID value is not valid."
                          },
                          "source": {
                            "title": "Source",
                            "type": "object",
                            "properties": {
                              "parameter": {
                                "type": "string",
                                "description": "String indicating which URI query parameter caused the error.",
                                "example": "id"
                              }
                            },
                            "description": "An object containing references to the source of the error.",
                            "x-readme-ref-name": "Source"
                          }
                        }
                      }
                    }
                  },
                  "x-readme-ref-name": "BadRequestError"
                }
              }
            }
          },
          "404": {
            "description": "Returns error indicating that server can't find requested resource.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "correlationId",
                    "data",
                    "type"
                  ],
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Always \"list\".",
                      "example": "list"
                    },
                    "correlationId": {
                      "type": "string",
                      "description": "Unique identifier for this particular occurrence of the problem.",
                      "example": "ac5ah5i"
                    },
                    "data": {
                      "type": "array",
                      "description": "Error data.",
                      "items": {
                        "required": [
                          "code",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Application-specific error code, expressed as a string value.",
                            "example": "resource-not-found",
                            "enum": [
                              "resource-not-found"
                            ]
                          },
                          "detail": {
                            "type": "string",
                            "description": "Human-readable explanation specific to this occurrence of the problem.",
                            "example": "Resource not found."
                          },
                          "title": {
                            "type": "string",
                            "description": "Title of the error",
                            "example": "Requested resource is not found."
                          },
                          "type": {
                            "type": "string",
                            "description": "Type of the response, always \"error\"",
                            "example": "error"
                          }
                        }
                      }
                    }
                  },
                  "x-readme-ref-name": "NotFoundError"
                }
              }
            }
          },
          "500": {
            "description": "Returns error response code indicates that the server encountered an unexpected condition that prevented it from fulfilling the request.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "correlationId",
                    "data",
                    "type"
                  ],
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Always \"list\".",
                      "example": "list"
                    },
                    "correlationId": {
                      "type": "string",
                      "description": "Unique identifier for this particular occurrence of the problem.",
                      "example": "ac5ah5i"
                    },
                    "data": {
                      "type": "array",
                      "description": "Error data.",
                      "items": {
                        "required": [
                          "code",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Application-specific error code, expressed as a string value.",
                            "example": "internal-server-error",
                            "enum": [
                              "internal-server-error"
                            ]
                          },
                          "detail": {
                            "type": "string",
                            "description": "Human-readable explanation specific to this occurrence of the problem.",
                            "example": "Internal Server error. Contact support."
                          },
                          "title": {
                            "type": "string",
                            "description": "Title of the error",
                            "example": "Internal Server error."
                          },
                          "type": {
                            "type": "string",
                            "description": "Type of the response, always \"error\"",
                            "example": "error"
                          }
                        }
                      }
                    }
                  },
                  "x-readme-ref-name": "InternalServerError"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/users": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Create a user",
        "description": "Creates a new Basiq user object",
        "operationId": "createUser",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "The end-users email address. Mandatory if mobile is not supplied.",
                    "example": "gavin@hooli.com"
                  },
                  "mobile": {
                    "type": "string",
                    "description": "The end-users mobile number, supplied in international format. +[country-code][mobileno]. Mandatory if email is not supplied.",
                    "example": "+61410888999"
                  },
                  "firstName": {
                    "type": "string",
                    "description": "The end-users first name as an optional additional parameter.",
                    "example": "Gavin"
                  },
                  "middleName": {
                    "type": "string",
                    "description": "The end-users middle name as an optional additional parameter.",
                    "example": "middle name"
                  },
                  "lastName": {
                    "type": "string",
                    "description": "The end-users last name as an optional additional parameter.",
                    "example": "Belson"
                  },
                  "businessName": {
                    "type": "string",
                    "description": "The official name of the business.",
                    "example": "Manly Accounting PTY LTD"
                  },
                  "businessIdNo": {
                    "type": "string",
                    "description": "This number is used to identify a business when they’re dealing with the government, other businesses, and the public.",
                    "example": "16 7645 892"
                  },
                  "businessIdNoType": {
                    "type": "string",
                    "description": "Type of business ID could be ABN Or ACN.",
                    "enum": [
                      "ABN",
                      "ACN"
                    ],
                    "example": "ABN"
                  },
                  "businessAddress": {
                    "type": "object",
                    "properties": {
                      "addressLine1": {
                        "type": "string",
                        "example": "21 Sydney Rd",
                        "description": "The first line of the business address."
                      },
                      "addressLine2": {
                        "type": "string",
                        "example": "",
                        "description": "Additional information about the business address (optional)."
                      },
                      "suburb": {
                        "type": "string",
                        "example": "Manly",
                        "description": "The suburb or locality where the business is located."
                      },
                      "state": {
                        "type": "string",
                        "example": "NSW",
                        "description": "The state or territory where the business is located."
                      },
                      "postcode": {
                        "type": "string",
                        "example": "2095",
                        "description": "The postal code of the business location."
                      },
                      "countryCode": {
                        "type": "string",
                        "example": "AUS",
                        "description": "The country code of the business location."
                      }
                    }
                  },
                  "verificationStatus": {
                    "type": "boolean",
                    "description": "Indicates if the business information provided is verified against the Australian Business Register."
                  },
                  "verificationDate": {
                    "type": "string",
                    "example": "12/01/2024",
                    "description": "when the verification was done."
                  }
                },
                "x-readme-ref-name": "createUser"
              },
              "examples": {
                "user": {
                  "summary": "For All Users",
                  "value": {
                    "email": "gavin@hooli.com",
                    "mobile": "+61410888666",
                    "firstName": "Gavin",
                    "middleName": "",
                    "lastName": "Belson"
                  }
                },
                "Bcc": {
                  "summary": "For Business Users",
                  "value": {
                    "email": "gavin@hooli.com",
                    "mobile": "+61410888999",
                    "firstName": "Gavin",
                    "middleName": "middle name",
                    "lastName": "Belson",
                    "businessName": "Manly Accounting PTY LTD",
                    "businessIdNo": "16 7645 892",
                    "businessIdNoType": "ABN",
                    "businessAddress": {
                      "addressLine1": "21 Sydney Rd",
                      "addressLine2": "",
                      "suburb": "Manly",
                      "state": "NSW",
                      "postcode": "2095",
                      "countryCode": "AUS"
                    },
                    "verificationStatus": true,
                    "verificationDate": "12/01/2024"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Returns the user object if the creation succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UserPostResponse",
                  "required": [
                    "id",
                    "links",
                    "mobile",
                    "type"
                  ],
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Type of the response, always \"user\".",
                      "example": "user"
                    },
                    "id": {
                      "type": "string",
                      "description": "A string that uniquely identifies the user.",
                      "example": "e1956419"
                    },
                    "email": {
                      "type": "string",
                      "description": "The end-users email address.",
                      "format": "email",
                      "example": "gavin@hooli.com"
                    },
                    "mobile": {
                      "type": "string",
                      "description": "The end-users mobile number.",
                      "example": 61410888999
                    },
                    "firstName": {
                      "type": "string",
                      "description": "The end-users first name as an optional additional parameter.",
                      "example": "Gavin"
                    },
                    "middleName": {
                      "type": "string",
                      "description": "The end-users middle name as an optional additional parameter.",
                      "example": "middle name"
                    },
                    "lastName": {
                      "type": "string",
                      "description": "The end-users last name as an optional additional parameter.",
                      "example": "Belson"
                    },
                    "businessName": {
                      "type": "string",
                      "description": "The official name of the business.",
                      "example": "Manly Accounting PTY LTD"
                    },
                    "businessIdNo": {
                      "type": "string",
                      "description": "This number is used to identify a business when they’re dealing with the government, other businesses, and the public.",
                      "example": "16 7645 892"
                    },
                    "businessIdNoType": {
                      "type": "string",
                      "description": "Type of business ID could be ABN Or ACN.",
                      "enum": [
                        "ABN",
                        "ACN"
                      ],
                      "example": "ABN"
                    },
                    "businessAddress": {
                      "type": "object",
                      "properties": {
                        "addressLine1": {
                          "type": "string",
                          "example": "21 Sydney Rd",
                          "description": "The first line of the business address."
                        },
                        "addressLine2": {
                          "type": "string",
                          "example": "",
                          "description": "Additional information about the business address (optional)."
                        },
                        "suburb": {
                          "type": "string",
                          "example": "Manly",
                          "description": "The suburb or locality where the business is located."
                        },
                        "state": {
                          "type": "string",
                          "example": "NSW",
                          "description": "The state or territory where the business is located."
                        },
                        "postcode": {
                          "type": "string",
                          "example": "2095",
                          "description": "The postal code of the business location."
                        },
                        "countryCode": {
                          "type": "string",
                          "example": "AUS",
                          "description": "The country code of the business location."
                        }
                      }
                    },
                    "verificationStatus": {
                      "type": "boolean",
                      "description": "Indicates if the business information provided is verified against the Australian Business Register."
                    },
                    "verificationDate": {
                      "type": "string",
                      "example": "12/01/2024",
                      "description": "when the verification was done."
                    },
                    "links": {
                      "title": "ResourceLink",
                      "required": [
                        "self"
                      ],
                      "type": "object",
                      "properties": {
                        "self": {
                          "type": "string",
                          "description": "URL of the resource.",
                          "example": "https://au-api.basiq.io/link/a3dgf4567a89"
                        }
                      },
                      "description": "Link object containing a link to the resource, self reference.",
                      "x-readme-ref-name": "ResourceLink"
                    }
                  },
                  "description": "User object with details if the creation succeeded.",
                  "x-readme-ref-name": "UserPostResponse"
                }
              }
            }
          },
          "400": {
            "description": "Returns error that server cannot or will not process the request due to something that is perceived to be a client error.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "correlationId",
                    "data",
                    "type"
                  ],
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Always \"list\".",
                      "example": "list"
                    },
                    "correlationId": {
                      "type": "string",
                      "description": "Unique identifier for this particular occurrence of the problem.",
                      "example": "ac5ah5i"
                    },
                    "data": {
                      "type": "array",
                      "description": "Error data.",
                      "items": {
                        "required": [
                          "code",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "Type of the response, always \"error\"",
                            "example": "error"
                          },
                          "title": {
                            "type": "string",
                            "description": "Title of the error",
                            "example": "Parameter not valid."
                          },
                          "code": {
                            "type": "string",
                            "description": "Application-specific error code, expressed as a string value.",
                            "example": "parameter-not-valid",
                            "enum": [
                              "parameter-not-supplied",
                              "parameter-not-valid",
                              "unsupported-accept",
                              "invalid-content",
                              "institution-not-supported",
                              "invalid-credentials"
                            ]
                          },
                          "detail": {
                            "type": "string",
                            "description": "Human-readable explanation specific to this occurrence of the problem.",
                            "example": "ID value is not valid."
                          },
                          "source": {
                            "title": "Source",
                            "type": "object",
                            "properties": {
                              "parameter": {
                                "type": "string",
                                "description": "String indicating which URI query parameter caused the error.",
                                "example": "id"
                              }
                            },
                            "description": "An object containing references to the source of the error.",
                            "x-readme-ref-name": "Source"
                          }
                        }
                      }
                    }
                  },
                  "x-readme-ref-name": "BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Error status response code indicates that the request has not been applied because it lacks valid authentication credentials for the target resource.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "correlationId",
                    "data",
                    "type"
                  ],
                  "type": "object",
                  "properties": {
                    "correlationId": {
                      "type": "string",
                      "description": "Unique identifier for this particular occurrence of the problem.",
                      "example": "ac5ah5i"
                    },
                    "data": {
                      "type": "array",
                      "description": "Error data.",
                      "items": {
                        "required": [
                          "code",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Application-specific error code, expressed as a string value.",
                            "example": "unauthorized-access",
                            "enum": [
                              "unauthorized-access",
                              "invalid-authorization-token"
                            ]
                          },
                          "detail": {
                            "type": "string",
                            "description": "Human-readable explanation specific to this occurrence of the problem.",
                            "example": "You are not authorized to access this resource"
                          },
                          "title": {
                            "type": "string",
                            "description": "Title of the error",
                            "example": "Unauthorized Access"
                          },
                          "type": {
                            "type": "string",
                            "description": "Type of the response, always \"error\"",
                            "example": "error"
                          }
                        }
                      }
                    },
                    "type": {
                      "type": "string",
                      "description": "Always \"list\".",
                      "example": "list"
                    }
                  },
                  "x-readme-ref-name": "UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Error that access is forbidden and tied to the application logic, such as insufficient rights to a resource.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "correlationId",
                    "data",
                    "type"
                  ],
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Always \"list\".",
                      "example": "list"
                    },
                    "correlationId": {
                      "type": "string",
                      "description": "Unique identifier for this particular occurrence of the problem.",
                      "example": "ac5ah5i"
                    },
                    "data": {
                      "type": "array",
                      "description": "Error data.",
                      "items": {
                        "required": [
                          "code",
                          "source",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "Type of the response, always \"error\"",
                            "example": "error"
                          },
                          "title": {
                            "type": "string",
                            "description": "Title of the error",
                            "example": "Forbidden Access"
                          },
                          "code": {
                            "type": "string",
                            "description": "Application-specific error code, expressed as a string value.",
                            "example": "forbidden-access",
                            "enum": [
                              "forbidden-access",
                              "no-production-access",
                              "access-denied"
                            ]
                          },
                          "detail": {
                            "type": "string",
                            "description": "Human-readable explanation specific to this occurrence of the problem.",
                            "example": "Access to this resource is forbidden."
                          },
                          "source": {
                            "title": "Source",
                            "type": "object",
                            "properties": {
                              "parameter": {
                                "type": "string",
                                "description": "String indicating which URI query parameter caused the error.",
                                "example": "id"
                              }
                            },
                            "description": "An object containing references to the source of the error.",
                            "x-readme-ref-name": "Source"
                          }
                        }
                      }
                    }
                  },
                  "x-readme-ref-name": "ForbiddenAccessError"
                }
              }
            }
          },
          "404": {
            "description": "Returns error indicating that server can't find requested resource.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "correlationId",
                    "data",
                    "type"
                  ],
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Always \"list\".",
                      "example": "list"
                    },
                    "correlationId": {
                      "type": "string",
                      "description": "Unique identifier for this particular occurrence of the problem.",
                      "example": "ac5ah5i"
                    },
                    "data": {
                      "type": "array",
                      "description": "Error data.",
                      "items": {
                        "required": [
                          "code",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Application-specific error code, expressed as a string value.",
                            "example": "resource-not-found",
                            "enum": [
                              "resource-not-found"
                            ]
                          },
                          "detail": {
                            "type": "string",
                            "description": "Human-readable explanation specific to this occurrence of the problem.",
                            "example": "Resource not found."
                          },
                          "title": {
                            "type": "string",
                            "description": "Title of the error",
                            "example": "Requested resource is not found."
                          },
                          "type": {
                            "type": "string",
                            "description": "Type of the response, always \"error\"",
                            "example": "error"
                          }
                        }
                      }
                    }
                  },
                  "x-readme-ref-name": "NotFoundError"
                }
              }
            }
          },
          "500": {
            "description": "Returns error response code indicates that the server encountered an unexpected condition that prevented it from fulfilling the request.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "correlationId",
                    "data",
                    "type"
                  ],
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Always \"list\".",
                      "example": "list"
                    },
                    "correlationId": {
                      "type": "string",
                      "description": "Unique identifier for this particular occurrence of the problem.",
                      "example": "ac5ah5i"
                    },
                    "data": {
                      "type": "array",
                      "description": "Error data.",
                      "items": {
                        "required": [
                          "code",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Application-specific error code, expressed as a string value.",
                            "example": "internal-server-error",
                            "enum": [
                              "internal-server-error"
                            ]
                          },
                          "detail": {
                            "type": "string",
                            "description": "Human-readable explanation specific to this occurrence of the problem.",
                            "example": "Internal Server error. Contact support."
                          },
                          "title": {
                            "type": "string",
                            "description": "Title of the error",
                            "example": "Internal Server error."
                          },
                          "type": {
                            "type": "string",
                            "description": "Type of the response, always \"error\"",
                            "example": "error"
                          }
                        }
                      }
                    }
                  },
                  "x-readme-ref-name": "InternalServerError"
                }
              }
            }
          }
        },
        "security": [
          {
            "services_token": []
          }
        ]
      }
    },
    "/users/{userId}": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Retrieve a user",
        "description": "Retrieves the details of an existing user. You need only supply the unique user identifier that was returned upon user creation.",
        "operationId": "getUser",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The identifier of the user to be retrieved.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a user if a valid user ID was provided.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UserGetResponse",
                  "required": [
                    "accounts",
                    "connections",
                    "email",
                    "id",
                    "links",
                    "mobile",
                    "name",
                    "firstName",
                    "middleName",
                    "lastName",
                    "type"
                  ],
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Always \"user\".",
                      "example": "user"
                    },
                    "id": {
                      "type": "string",
                      "description": "User identification.",
                      "example": "ea3a81"
                    },
                    "email": {
                      "type": "string",
                      "description": "User email or empty.",
                      "format": "email",
                      "example": "gavin@hooli.com"
                    },
                    "mobile": {
                      "type": "string",
                      "description": "User mobile number, or empty.",
                      "example": 61410888666
                    },
                    "name": {
                      "type": "string",
                      "description": "Name, or empty.",
                      "example": ""
                    },
                    "firstName": {
                      "type": "string",
                      "description": "firstName, or empty",
                      "example": "Gavin"
                    },
                    "middleName": {
                      "type": "string",
                      "description": "middleName, or empty",
                      "example": "middleName"
                    },
                    "lastName": {
                      "type": "string",
                      "description": "lastName, or empty",
                      "example": "lastName"
                    },
                    "businessName": {
                      "type": "string",
                      "description": "The official name of the business.",
                      "example": "Manly Accounting PTY LTD"
                    },
                    "businessIdNo": {
                      "type": "string",
                      "description": "This number is used to identify a business when they’re dealing with the government, other businesses, and the public.",
                      "example": "16 7645 892"
                    },
                    "businessIdNoType": {
                      "type": "string",
                      "description": "Type of business ID could be ABN Or ACN.",
                      "enum": [
                        "ABN",
                        "ACN"
                      ],
                      "example": "ABN"
                    },
                    "businessAddress": {
                      "type": "object",
                      "properties": {
                        "addressLine1": {
                          "type": "string",
                          "example": "21 Sydney Rd",
                          "description": "The first line of the business address."
                        },
                        "addressLine2": {
                          "type": "string",
                          "example": "",
                          "description": "Additional information about the business address (optional)."
                        },
                        "suburb": {
                          "type": "string",
                          "example": "Manly",
                          "description": "The suburb or locality where the business is located."
                        },
                        "state": {
                          "type": "string",
                          "example": "NSW",
                          "description": "The state or territory where the business is located."
                        },
                        "postcode": {
                          "type": "string",
                          "example": "2095",
                          "description": "The postal code of the business location."
                        },
                        "countryCode": {
                          "type": "string",
                          "example": "AUS",
                          "description": "The country code of the business location."
                        }
                      }
                    },
                    "verificationStatus": {
                      "type": "boolean",
                      "description": "Indicates if the business information provided is verified against the Australian Business Register."
                    },
                    "verificationDate": {
                      "type": "string",
                      "example": "12/01/2024",
                      "description": "when the verification was done."
                    },
                    "connections": {
                      "title": "UserGetConnection",
                      "required": [
                        "count",
                        "data",
                        "type"
                      ],
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "description": "Always \"list\".",
                          "example": "list"
                        },
                        "count": {
                          "type": "integer",
                          "description": "Count of accounts.",
                          "format": "int64",
                          "example": 5
                        },
                        "data": {
                          "type": "array",
                          "description": "Connections data.",
                          "items": {
                            "title": "GetUserConnectionData",
                            "required": [
                              "id",
                              "links",
                              "type"
                            ],
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "description": "Always \"connection\".",
                                "example": "connection"
                              },
                              "id": {
                                "type": "string",
                                "description": "Connection identification.",
                                "example": "aaaf2c3b"
                              },
                              "links": {
                                "title": "ResourceLink",
                                "required": [
                                  "self"
                                ],
                                "type": "object",
                                "properties": {
                                  "self": {
                                    "type": "string",
                                    "description": "URL of the resource.",
                                    "example": "https://au-api.basiq.io/link/a3dgf4567a89"
                                  }
                                },
                                "description": "Link object containing a link to the resource, self reference.",
                                "x-readme-ref-name": "ResourceLink"
                              }
                            },
                            "description": "Object containing connection data.",
                            "x-readme-ref-name": "GetUserConnectionData"
                          }
                        }
                      },
                      "description": "Container object containing connection data.",
                      "x-readme-ref-name": "GetUserConnection"
                    },
                    "accounts": {
                      "title": "UserGetAccount",
                      "required": [
                        "count",
                        "data",
                        "type"
                      ],
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "description": "Always \"list\".",
                          "example": "list"
                        },
                        "count": {
                          "type": "integer",
                          "description": "Count of accounts.",
                          "format": "int64",
                          "example": 7
                        },
                        "data": {
                          "type": "array",
                          "description": "Accounts data.",
                          "items": {
                            "title": "UserGetAccountData",
                            "required": [
                              "id",
                              "links",
                              "type"
                            ],
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "description": "Always \"account\".",
                                "example": "account"
                              },
                              "id": {
                                "type": "string",
                                "description": "Account identification.",
                                "example": "aaaf2c3b"
                              },
                              "links": {
                                "title": "ResourceLink",
                                "required": [
                                  "self"
                                ],
                                "type": "object",
                                "properties": {
                                  "self": {
                                    "type": "string",
                                    "description": "URL of the resource.",
                                    "example": "https://au-api.basiq.io/link/a3dgf4567a89"
                                  }
                                },
                                "description": "Link object containing a link to the resource, self reference.",
                                "x-readme-ref-name": "ResourceLink"
                              }
                            },
                            "description": "Object containing account data.",
                            "x-readme-ref-name": "GetUserAccountData"
                          }
                        }
                      },
                      "description": "Container object containing account data.",
                      "x-readme-ref-name": "GetUserAccount"
                    },
                    "links": {
                      "title": "GetUserLinks",
                      "required": [
                        "accounts",
                        "auth_link",
                        "connections",
                        "self",
                        "transactions"
                      ],
                      "type": "object",
                      "properties": {
                        "accounts": {
                          "type": "string",
                          "description": "Accounts reference url.",
                          "example": "https://au-api.basiq.io/users/a3dgf4567a89/accounts"
                        },
                        "connections": {
                          "type": "string",
                          "description": "Connections reference url.",
                          "example": "https://au-api.basiq.io/users/a3dgf4567a89/connections"
                        },
                        "self": {
                          "type": "string",
                          "description": "User self reference url.",
                          "example": "https://au-api.basiq.io/user/a3dgf4567a89"
                        },
                        "transactions": {
                          "type": "string",
                          "description": "Transactions reference url.",
                          "example": "https://au-api.basiq.io/users/a3dgf4567a89/transactions"
                        }
                      },
                      "description": "Object containing links to resources.",
                      "x-readme-ref-name": "GetUserLinks"
                    }
                  },
                  "description": "User object with details if the creation succeeded.",
                  "x-readme-ref-name": "UserGetResponse"
                }
              }
            }
          },
          "400": {
            "description": "Returns error that server cannot or will not process the request due to something that is perceived to be a client error.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "correlationId",
                    "data",
                    "type"
                  ],
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Always \"list\".",
                      "example": "list"
                    },
                    "correlationId": {
                      "type": "string",
                      "description": "Unique identifier for this particular occurrence of the problem.",
                      "example": "ac5ah5i"
                    },
                    "data": {
                      "type": "array",
                      "description": "Error data.",
                      "items": {
                        "required": [
                          "code",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "Type of the response, always \"error\"",
                            "example": "error"
                          },
                          "title": {
                            "type": "string",
                            "description": "Title of the error",
                            "example": "Parameter not valid."
                          },
                          "code": {
                            "type": "string",
                            "description": "Application-specific error code, expressed as a string value.",
                            "example": "parameter-not-valid",
                            "enum": [
                              "parameter-not-supplied",
                              "parameter-not-valid",
                              "unsupported-accept",
                              "invalid-content",
                              "institution-not-supported",
                              "invalid-credentials"
                            ]
                          },
                          "detail": {
                            "type": "string",
                            "description": "Human-readable explanation specific to this occurrence of the problem.",
                            "example": "ID value is not valid."
                          },
                          "source": {
                            "title": "Source",
                            "type": "object",
                            "properties": {
                              "parameter": {
                                "type": "string",
                                "description": "String indicating which URI query parameter caused the error.",
                                "example": "id"
                              }
                            },
                            "description": "An object containing references to the source of the error.",
                            "x-readme-ref-name": "Source"
                          }
                        }
                      }
                    }
                  },
                  "x-readme-ref-name": "BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Error status response code indicates that the request has not been applied because it lacks valid authentication credentials for the target resource.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "correlationId",
                    "data",
                    "type"
                  ],
                  "type": "object",
                  "properties": {
                    "correlationId": {
                      "type": "string",
                      "description": "Unique identifier for this particular occurrence of the problem.",
                      "example": "ac5ah5i"
                    },
                    "data": {
                      "type": "array",
                      "description": "Error data.",
                      "items": {
                        "required": [
                          "code",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Application-specific error code, expressed as a string value.",
                            "example": "unauthorized-access",
                            "enum": [
                              "unauthorized-access",
                              "invalid-authorization-token"
                            ]
                          },
                          "detail": {
                            "type": "string",
                            "description": "Human-readable explanation specific to this occurrence of the problem.",
                            "example": "You are not authorized to access this resource"
                          },
                          "title": {
                            "type": "string",
                            "description": "Title of the error",
                            "example": "Unauthorized Access"
                          },
                          "type": {
                            "type": "string",
                            "description": "Type of the response, always \"error\"",
                            "example": "error"
                          }
                        }
                      }
                    },
                    "type": {
                      "type": "string",
                      "description": "Always \"list\".",
                      "example": "list"
                    }
                  },
                  "x-readme-ref-name": "UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Error that access is forbidden and tied to the application logic, such as insufficient rights to a resource.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "correlationId",
                    "data",
                    "type"
                  ],
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Always \"list\".",
                      "example": "list"
                    },
                    "correlationId": {
                      "type": "string",
                      "description": "Unique identifier for this particular occurrence of the problem.",
                      "example": "ac5ah5i"
                    },
                    "data": {
                      "type": "array",
                      "description": "Error data.",
                      "items": {
                        "required": [
                          "code",
                          "source",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "Type of the response, always \"error\"",
                            "example": "error"
                          },
                          "title": {
                            "type": "string",
                            "description": "Title of the error",
                            "example": "Forbidden Access"
                          },
                          "code": {
                            "type": "string",
                            "description": "Application-specific error code, expressed as a string value.",
                            "example": "forbidden-access",
                            "enum": [
                              "forbidden-access",
                              "no-production-access",
                              "access-denied"
                            ]
                          },
                          "detail": {
                            "type": "string",
                            "description": "Human-readable explanation specific to this occurrence of the problem.",
                            "example": "Access to this resource is forbidden."
                          },
                          "source": {
                            "title": "Source",
                            "type": "object",
                            "properties": {
                              "parameter": {
                                "type": "string",
                                "description": "String indicating which URI query parameter caused the error.",
                                "example": "id"
                              }
                            },
                            "description": "An object containing references to the source of the error.",
                            "x-readme-ref-name": "Source"
                          }
                        }
                      }
                    }
                  },
                  "x-readme-ref-name": "ForbiddenAccessError"
                }
              }
            }
          },
          "404": {
            "description": "Returns error indicating that server can't find requested resource.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "correlationId",
                    "data",
                    "type"
                  ],
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Always \"list\".",
                      "example": "list"
                    },
                    "correlationId": {
                      "type": "string",
                      "description": "Unique identifier for this particular occurrence of the problem.",
                      "example": "ac5ah5i"
                    },
                    "data": {
                      "type": "array",
                      "description": "Error data.",
                      "items": {
                        "required": [
                          "code",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Application-specific error code, expressed as a string value.",
                            "example": "resource-not-found",
                            "enum": [
                              "resource-not-found"
                            ]
                          },
                          "detail": {
                            "type": "string",
                            "description": "Human-readable explanation specific to this occurrence of the problem.",
                            "example": "Resource not found."
                          },
                          "title": {
                            "type": "string",
                            "description": "Title of the error",
                            "example": "Requested resource is not found."
                          },
                          "type": {
                            "type": "string",
                            "description": "Type of the response, always \"error\"",
                            "example": "error"
                          }
                        }
                      }
                    }
                  },
                  "x-readme-ref-name": "NotFoundError"
                }
              }
            }
          },
          "500": {
            "description": "Returns error response code indicates that the server encountered an unexpected condition that prevented it from fulfilling the request.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "correlationId",
                    "data",
                    "type"
                  ],
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Always \"list\".",
                      "example": "list"
                    },
                    "correlationId": {
                      "type": "string",
                      "description": "Unique identifier for this particular occurrence of the problem.",
                      "example": "ac5ah5i"
                    },
                    "data": {
                      "type": "array",
                      "description": "Error data.",
                      "items": {
                        "required": [
                          "code",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Application-specific error code, expressed as a string value.",
                            "example": "internal-server-error",
                            "enum": [
                              "internal-server-error"
                            ]
                          },
                          "detail": {
                            "type": "string",
                            "description": "Human-readable explanation specific to this occurrence of the problem.",
                            "example": "Internal Server error. Contact support."
                          },
                          "title": {
                            "type": "string",
                            "description": "Title of the error",
                            "example": "Internal Server error."
                          },
                          "type": {
                            "type": "string",
                            "description": "Type of the response, always \"error\"",
                            "example": "error"
                          }
                        }
                      }
                    }
                  },
                  "x-readme-ref-name": "InternalServerError"
                }
              }
            }
          }
        },
        "security": [
          {
            "services_token": []
          }
        ]
      },
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Update a user",
        "description": "Updates the specified user by setting the values of the parameters passed. Any parameters not provided will be left unchanged.",
        "operationId": "updateUser",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The identifier of the user to be retrieved.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "The end-users email address.",
                    "example": "gavin@hooli.com"
                  },
                  "mobile": {
                    "type": "string",
                    "description": "The end-users mobile number.",
                    "example": "+61410888666"
                  },
                  "firstName": {
                    "type": "string",
                    "description": "The end-users first name as an optional additional parameter.",
                    "example": "Malcolm"
                  },
                  "middleName": {
                    "type": "string",
                    "description": "The end-users middle name as an optional additional parameter.",
                    "example": "Malcom middle name"
                  },
                  "lastName": {
                    "type": "string",
                    "description": "The end-users last name as an optional additional parameter.",
                    "example": "Malcolm last name"
                  }
                },
                "x-readme-ref-name": "updateUser"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns the user object if the update succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UserPostResponse",
                  "required": [
                    "id",
                    "links",
                    "mobile",
                    "type"
                  ],
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Type of the response, always \"user\".",
                      "example": "user"
                    },
                    "id": {
                      "type": "string",
                      "description": "A string that uniquely identifies the user.",
                      "example": "e1956419"
                    },
                    "email": {
                      "type": "string",
                      "description": "The end-users email address.",
                      "format": "email",
                      "example": "gavin@hooli.com"
                    },
                    "mobile": {
                      "type": "string",
                      "description": "The end-users mobile number.",
                      "example": 61410888999
                    },
                    "firstName": {
                      "type": "string",
                      "description": "The end-users first name as an optional additional parameter.",
                      "example": "Gavin"
                    },
                    "middleName": {
                      "type": "string",
                      "description": "The end-users middle name as an optional additional parameter.",
                      "example": "middle name"
                    },
                    "lastName": {
                      "type": "string",
                      "description": "The end-users last name as an optional additional parameter.",
                      "example": "Belson"
                    },
                    "businessName": {
                      "type": "string",
                      "description": "The official name of the business.",
                      "example": "Manly Accounting PTY LTD"
                    },
                    "businessIdNo": {
                      "type": "string",
                      "description": "This number is used to identify a business when they’re dealing with the government, other businesses, and the public.",
                      "example": "16 7645 892"
                    },
                    "businessIdNoType": {
                      "type": "string",
                      "description": "Type of business ID could be ABN Or ACN.",
                      "enum": [
                        "ABN",
                        "ACN"
                      ],
                      "example": "ABN"
                    },
                    "businessAddress": {
                      "type": "object",
                      "properties": {
                        "addressLine1": {
                          "type": "string",
                          "example": "21 Sydney Rd",
                          "description": "The first line of the business address."
                        },
                        "addressLine2": {
                          "type": "string",
                          "example": "",
                          "description": "Additional information about the business address (optional)."
                        },
                        "suburb": {
                          "type": "string",
                          "example": "Manly",
                          "description": "The suburb or locality where the business is located."
                        },
                        "state": {
                          "type": "string",
                          "example": "NSW",
                          "description": "The state or territory where the business is located."
                        },
                        "postcode": {
                          "type": "string",
                          "example": "2095",
                          "description": "The postal code of the business location."
                        },
                        "countryCode": {
                          "type": "string",
                          "example": "AUS",
                          "description": "The country code of the business location."
                        }
                      }
                    },
                    "verificationStatus": {
                      "type": "boolean",
                      "description": "Indicates if the business information provided is verified against the Australian Business Register."
                    },
                    "verificationDate": {
                      "type": "string",
                      "example": "12/01/2024",
                      "description": "when the verification was done."
                    },
                    "links": {
                      "title": "ResourceLink",
                      "required": [
                        "self"
                      ],
                      "type": "object",
                      "properties": {
                        "self": {
                          "type": "string",
                          "description": "URL of the resource.",
                          "example": "https://au-api.basiq.io/link/a3dgf4567a89"
                        }
                      },
                      "description": "Link object containing a link to the resource, self reference.",
                      "x-readme-ref-name": "ResourceLink"
                    }
                  },
                  "description": "User object with details if the creation succeeded.",
                  "x-readme-ref-name": "UserPostResponse"
                }
              }
            }
          },
          "400": {
            "description": "Returns error that server cannot or will not process the request due to something that is perceived to be a client error.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "correlationId",
                    "data",
                    "type"
                  ],
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Always \"list\".",
                      "example": "list"
                    },
                    "correlationId": {
                      "type": "string",
                      "description": "Unique identifier for this particular occurrence of the problem.",
                      "example": "ac5ah5i"
                    },
                    "data": {
                      "type": "array",
                      "description": "Error data.",
                      "items": {
                        "required": [
                          "code",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "Type of the response, always \"error\"",
                            "example": "error"
                          },
                          "title": {
                            "type": "string",
                            "description": "Title of the error",
                            "example": "Parameter not valid."
                          },
                          "code": {
                            "type": "string",
                            "description": "Application-specific error code, expressed as a string value.",
                            "example": "parameter-not-valid",
                            "enum": [
                              "parameter-not-supplied",
                              "parameter-not-valid",
                              "unsupported-accept",
                              "invalid-content",
                              "institution-not-supported",
                              "invalid-credentials"
                            ]
                          },
                          "detail": {
                            "type": "string",
                            "description": "Human-readable explanation specific to this occurrence of the problem.",
                            "example": "ID value is not valid."
                          },
                          "source": {
                            "title": "Source",
                            "type": "object",
                            "properties": {
                              "parameter": {
                                "type": "string",
                                "description": "String indicating which URI query parameter caused the error.",
                                "example": "id"
                              }
                            },
                            "description": "An object containing references to the source of the error.",
                            "x-readme-ref-name": "Source"
                          }
                        }
                      }
                    }
                  },
                  "x-readme-ref-name": "BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Error status response code indicates that the request has not been applied because it lacks valid authentication credentials for the target resource.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "correlationId",
                    "data",
                    "type"
                  ],
                  "type": "object",
                  "properties": {
                    "correlationId": {
                      "type": "string",
                      "description": "Unique identifier for this particular occurrence of the problem.",
                      "example": "ac5ah5i"
                    },
                    "data": {
                      "type": "array",
                      "description": "Error data.",
                      "items": {
                        "required": [
                          "code",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Application-specific error code, expressed as a string value.",
                            "example": "unauthorized-access",
                            "enum": [
                              "unauthorized-access",
                              "invalid-authorization-token"
                            ]
                          },
                          "detail": {
                            "type": "string",
                            "description": "Human-readable explanation specific to this occurrence of the problem.",
                            "example": "You are not authorized to access this resource"
                          },
                          "title": {
                            "type": "string",
                            "description": "Title of the error",
                            "example": "Unauthorized Access"
                          },
                          "type": {
                            "type": "string",
                            "description": "Type of the response, always \"error\"",
                            "example": "error"
                          }
                        }
                      }
                    },
                    "type": {
                      "type": "string",
                      "description": "Always \"list\".",
                      "example": "list"
                    }
                  },
                  "x-readme-ref-name": "UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Error that access is forbidden and tied to the application logic, such as insufficient rights to a resource.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "correlationId",
                    "data",
                    "type"
                  ],
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Always \"list\".",
                      "example": "list"
                    },
                    "correlationId": {
                      "type": "string",
                      "description": "Unique identifier for this particular occurrence of the problem.",
                      "example": "ac5ah5i"
                    },
                    "data": {
                      "type": "array",
                      "description": "Error data.",
                      "items": {
                        "required": [
                          "code",
                          "source",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "Type of the response, always \"error\"",
                            "example": "error"
                          },
                          "title": {
                            "type": "string",
                            "description": "Title of the error",
                            "example": "Forbidden Access"
                          },
                          "code": {
                            "type": "string",
                            "description": "Application-specific error code, expressed as a string value.",
                            "example": "forbidden-access",
                            "enum": [
                              "forbidden-access",
                              "no-production-access",
                              "access-denied"
                            ]
                          },
                          "detail": {
                            "type": "string",
                            "description": "Human-readable explanation specific to this occurrence of the problem.",
                            "example": "Access to this resource is forbidden."
                          },
                          "source": {
                            "title": "Source",
                            "type": "object",
                            "properties": {
                              "parameter": {
                                "type": "string",
                                "description": "String indicating which URI query parameter caused the error.",
                                "example": "id"
                              }
                            },
                            "description": "An object containing references to the source of the error.",
                            "x-readme-ref-name": "Source"
                          }
                        }
                      }
                    }
                  },
                  "x-readme-ref-name": "ForbiddenAccessError"
                }
              }
            }
          },
          "404": {
            "description": "Returns error indicating that server can't find requested resource.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "correlationId",
                    "data",
                    "type"
                  ],
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Always \"list\".",
                      "example": "list"
                    },
                    "correlationId": {
                      "type": "string",
                      "description": "Unique identifier for this particular occurrence of the problem.",
                      "example": "ac5ah5i"
                    },
                    "data": {
                      "type": "array",
                      "description": "Error data.",
                      "items": {
                        "required": [
                          "code",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Application-specific error code, expressed as a string value.",
                            "example": "resource-not-found",
                            "enum": [
                              "resource-not-found"
                            ]
                          },
                          "detail": {
                            "type": "string",
                            "description": "Human-readable explanation specific to this occurrence of the problem.",
                            "example": "Resource not found."
                          },
                          "title": {
                            "type": "string",
                            "description": "Title of the error",
                            "example": "Requested resource is not found."
                          },
                          "type": {
                            "type": "string",
                            "description": "Type of the response, always \"error\"",
                            "example": "error"
                          }
                        }
                      }
                    }
                  },
                  "x-readme-ref-name": "NotFoundError"
                }
              }
            }
          },
          "500": {
            "description": "Returns error response code indicates that the server encountered an unexpected condition that prevented it from fulfilling the request.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "correlationId",
                    "data",
                    "type"
                  ],
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Always \"list\".",
                      "example": "list"
                    },
                    "correlationId": {
                      "type": "string",
                      "description": "Unique identifier for this particular occurrence of the problem.",
                      "example": "ac5ah5i"
                    },
                    "data": {
                      "type": "array",
                      "description": "Error data.",
                      "items": {
                        "required": [
                          "code",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Application-specific error code, expressed as a string value.",
                            "example": "internal-server-error",
                            "enum": [
                              "internal-server-error"
                            ]
                          },
                          "detail": {
                            "type": "string",
                            "description": "Human-readable explanation specific to this occurrence of the problem.",
                            "example": "Internal Server error. Contact support."
                          },
                          "title": {
                            "type": "string",
                            "description": "Title of the error",
                            "example": "Internal Server error."
                          },
                          "type": {
                            "type": "string",
                            "description": "Type of the response, always \"error\"",
                            "example": "error"
                          }
                        }
                      }
                    }
                  },
                  "x-readme-ref-name": "InternalServerError"
                }
              }
            }
          }
        },
        "security": [
          {
            "services_token": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Users"
        ],
        "summary": "Delete a user",
        "description": "Permanently deletes a user along with all of their associated connection details. All data associated with this user will deleted. You need only supply the unique user identifier that was returned upon user creation.",
        "operationId": "deleteUser",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "User identification.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deletion succeeded.",
            "content": {}
          },
          "400": {
            "description": "Returns error that server cannot or will not process the request due to something that is perceived to be a client error.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "correlationId",
                    "data",
                    "type"
                  ],
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Always \"list\".",
                      "example": "list"
                    },
                    "correlationId": {
                      "type": "string",
                      "description": "Unique identifier for this particular occurrence of the problem.",
                      "example": "ac5ah5i"
                    },
                    "data": {
                      "type": "array",
                      "description": "Error data.",
                      "items": {
                        "required": [
                          "code",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "Type of the response, always \"error\"",
                            "example": "error"
                          },
                          "title": {
                            "type": "string",
                            "description": "Title of the error",
                            "example": "Parameter not valid."
                          },
                          "code": {
                            "type": "string",
                            "description": "Application-specific error code, expressed as a string value.",
                            "example": "parameter-not-valid",
                            "enum": [
                              "parameter-not-supplied",
                              "parameter-not-valid",
                              "unsupported-accept",
                              "invalid-content",
                              "institution-not-supported",
                              "invalid-credentials"
                            ]
                          },
                          "detail": {
                            "type": "string",
                            "description": "Human-readable explanation specific to this occurrence of the problem.",
                            "example": "ID value is not valid."
                          },
                          "source": {
                            "title": "Source",
                            "type": "object",
                            "properties": {
                              "parameter": {
                                "type": "string",
                                "description": "String indicating which URI query parameter caused the error.",
                                "example": "id"
                              }
                            },
                            "description": "An object containing references to the source of the error.",
                            "x-readme-ref-name": "Source"
                          }
                        }
                      }
                    }
                  },
                  "x-readme-ref-name": "BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Error status response code indicates that the request has not been applied because it lacks valid authentication credentials for the target resource.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "correlationId",
                    "data",
                    "type"
                  ],
                  "type": "object",
                  "properties": {
                    "correlationId": {
                      "type": "string",
                      "description": "Unique identifier for this particular occurrence of the problem.",
                      "example": "ac5ah5i"
                    },
                    "data": {
                      "type": "array",
                      "description": "Error data.",
                      "items": {
                        "required": [
                          "code",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Application-specific error code, expressed as a string value.",
                            "example": "unauthorized-access",
                            "enum": [
                              "unauthorized-access",
                              "invalid-authorization-token"
                            ]
                          },
                          "detail": {
                            "type": "string",
                            "description": "Human-readable explanation specific to this occurrence of the problem.",
                            "example": "You are not authorized to access this resource"
                          },
                          "title": {
                            "type": "string",
                            "description": "Title of the error",
                            "example": "Unauthorized Access"
                          },
                          "type": {
                            "type": "string",
                            "description": "Type of the response, always \"error\"",
                            "example": "error"
                          }
                        }
                      }
                    },
                    "type": {
                      "type": "string",
                      "description": "Always \"list\".",
                      "example": "list"
                    }
                  },
                  "x-readme-ref-name": "UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Error that access is forbidden and tied to the application logic, such as insufficient rights to a resource.",
            "content": {
              "application/json": {
                "schema": {
[...]
