{
  "openapi": "3.0.1",
  "info": {
    "title": "Core",
    "description": "All included utility endpoints for Basiq partners",
    "version": "3.0.0",
    "termsOfService": "https://docs.basiq.io/en/collections/440849-privacy-terms-and-common-questions",
    "license": {
      "name": "Commercial",
      "url": "https://basiq.io"
    }
  },
  "servers": [
    {
      "url": "https://au-api.basiq.io"
    }
  ],
  "paths": {
    "/token": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Generate an auth token",
        "description": "Use this endpoint to retrieve a token that will be passed as authorization header for Basiq API",
        "operationId": "postToken",
        "parameters": [
          {
            "name": "basiq-version",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "3.0"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "scope": {
                    "type": "string"
                  },
                  "userId": {
                    "type": "string"
                  }
                }
              },
              "examples": {
                "client_access": {
                  "summary": "For all client side requests",
                  "value": {
                    "scope": "CLIENT_ACCESS",
                    "userId": "6dd30ce4-d4ba-11ec-9d64-0242ac120002"
                  }
                },
                "server_access": {
                  "summary": "For all server side requests",
                  "value": {
                    "scope": "SERVER_ACCESS"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return token object that will be used for Basiq API requests. ",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "access_token",
                    "expires_in",
                    "token_type"
                  ],
                  "type": "object",
                  "properties": {
                    "access_token": {
                      "type": "string",
                      "description": "The generated access token.",
                      "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
                    },
                    "expires_in": {
                      "type": "integer",
                      "description": "Expires in 3600 seconds",
                      "format": "int64",
                      "example": 3600
                    },
                    "token_type": {
                      "type": "string",
                      "description": "This value will always be `Bearer`.",
                      "example": "Bearer"
                    }
                  },
                  "x-readme-ref-name": "TokenPostResponse"
                }
              }
            }
          },
          "400": {
            "description": "Returns error that server cannot or will not process the request as it does not conform.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "correlationId",
                    "data",
                    "type"
                  ],
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Always \"list\".",
                      "example": "list"
                    },
                    "correlationId": {
                      "type": "string",
                      "description": "Unique identifier for this particular occurrence of the problem.",
                      "example": "ac5ah5i"
                    },
                    "data": {
                      "type": "array",
                      "description": "Error data.",
                      "items": {
                        "required": [
                          "code",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "Type of the response, always \"error\"",
                            "example": "error"
                          },
                          "title": {
                            "type": "string",
                            "description": "Title of the error",
                            "example": "Parameter not valid."
                          },
                          "code": {
                            "type": "string",
                            "description": "Application-specific error code, expressed as a string value.",
                            "example": "parameter-not-valid",
                            "enum": [
                              "parameter-not-supplied",
                              "parameter-not-valid",
                              "unsupported-accept",
                              "invalid-content",
                              "institution-not-supported",
                              "invalid-credentials"
                            ]
                          },
                          "detail": {
                            "type": "string",
                            "description": "Human-readable explanation specific to this occurrence of the problem.",
                            "example": "ID value is not valid."
                          },
                          "source": {
                            "title": "Source",
                            "type": "object",
                            "properties": {
                              "parameter": {
                                "type": "string",
                                "description": "String indicating which URI query parameter caused the error.",
                                "example": "id"
                              }
                            },
                            "description": "An object containing references to the source of the error.",
                            "x-readme-ref-name": "Source"
                          }
                        }
                      }
                    }
                  },
                  "x-readme-ref-name": "BadRequestError"
                }
              }
            }
          },
          "404": {
            "description": "Returns error indicating that server can't find requested resource.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "correlationId",
                    "data",
                    "type"
                  ],
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Always \"list\".",
                      "example": "list"
                    },
                    "correlationId": {
                      "type": "string",
                      "description": "Unique identifier for this particular occurrence of the problem.",
                      "example": "ac5ah5i"
                    },
                    "data": {
                      "type": "array",
                      "description": "Error data.",
                      "items": {
                        "required": [
                          "code",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Application-specific error code, expressed as a string value.",
                            "example": "resource-not-found",
                            "enum": [
                              "resource-not-found"
                            ]
                          },
                          "detail": {
                            "type": "string",
                            "description": "Human-readable explanation specific to this occurrence of the problem.",
                            "example": "Resource not found."
                          },
                          "title": {
                            "type": "string",
                            "description": "Title of the error",
                            "example": "Requested resource is not found."
                          },
                          "type": {
                            "type": "string",
                            "description": "Type of the response, always \"error\"",
                            "example": "error"
                          }
                        }
                      }
                    }
                  },
                  "x-readme-ref-name": "NotFoundError"
                }
              }
            }
          },
          "500": {
            "description": "Returns error response code indicates that the server encountered an unexpected condition that prevented it from fulfilling the request.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "correlationId",
                    "data",
                    "type"
                  ],
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Always \"list\".",
                      "example": "list"
                    },
                    "correlationId": {
                      "type": "string",
                      "description": "Unique identifier for this particular occurrence of the problem.",
                      "example": "ac5ah5i"
                    },
                    "data": {
                      "type": "array",
                      "description": "Error data.",
                      "items": {
                        "required": [
                          "code",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Application-specific error code, expressed as a string value.",
                            "example": "internal-server-error",
                            "enum": [
                              "internal-server-error"
                            ]
                          },
                          "detail": {
                            "type": "string",
                            "description": "Human-readable explanation specific to this occurrence of the problem.",
                            "example": "Internal Server error. Contact support."
                          },
                          "title": {
                            "type": "string",
                            "description": "Title of the error",
                            "example": "Internal Server error."
                          },
                          "type": {
                            "type": "string",
                            "description": "Type of the response, always \"error\"",
                            "example": "error"
                          }
                        }
                      }
                    }
                  },
                  "x-readme-ref-name": "InternalServerError"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/users": {},
    "/users/{userId}": {},
    "/users/{userId}/consents": {},
    "/users/{userId}/consents/{consentId}": {},
    "/users/{userId}/auth_link": {},
    "/events": {},
    "/events/{id}": {},
    "/events/types": {},
    "/events/types/{id}": {},
    "/users/{userId}/jobs": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "Get user jobs",
        "description": "Retrieves the details of all existing and previous jobs associated with a user.\n\n**Note:** This endpoint only returns jobs that are less than 7 days old.\n",
        "operationId": "getUserJobs",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "User identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Connection identification filter. e.g. connection.id.eq('ab63cd')",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of jobs with details.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "data",
                    "links",
                    "size",
                    "type"
                  ],
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Type of the response, always \"list\".",
                      "example": "list"
                    },
                    "data": {
                      "type": "array",
                      "description": "Container object, containing job details.",
                      "items": {
                        "title": "JobsData",
                        "required": [
                          "created",
                          "id",
                          "institution",
                          "steps",
                          "updated"
                        ],
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "Value is \"job\".",
                            "example": "job"
                          },
                          "id": {
                            "type": "string",
                            "description": "A string that uniquely identifies the job.",
                            "example": "e9132638"
                          },
                          "created": {
                            "type": "string",
                            "description": "The date time when the job was created.",
                            "example": "2020-06-10T09:59:00Z"
                          },
                          "updated": {
                            "type": "string",
                            "description": "The date time when the job was last updated.",
                            "example": "2020-06-10T09:59:00Z"
                          },
                          "institution": {
                            "title": "Institution",
                            "required": [
                              "id",
                              "links",
                              "type"
                            ],
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "A string that uniquely identifies institution.",
                                "example": "AU00000"
                              },
                              "links": {
                                "title": "JobsLinks",
                                "required": [
                                  "self"
                                ],
                                "type": "object",
                                "properties": {
                                  "self": {
                                    "type": "string",
                                    "description": "URL of the resource",
                                    "example": "https://au-api.basiq.io/jobs/61723"
                                  },
                                  "source": {
                                    "type": "string",
                                    "description": "Resource that initiated creation of this Job. For example, for operations on Connection, this is a Connection URL. This is only returned for Connection jobs and not for Statement jobs.",
                                    "example": "https://au-api.basiq.io/users/ea3a81/connections/8fce3b"
                                  }
                                },
                                "description": "Links to the resources.",
                                "x-readme-ref-name": "JobsLinks"
                              },
                              "type": {
                                "type": "string",
                                "description": "Always \"institution\".",
                                "example": "institution"
                              }
                            },
                            "description": "Institution details.",
                            "x-readme-ref-name": "JobsInstitution"
                          },
                          "steps": {
                            "type": "array",
                            "description": "List of steps that need to be completed.",
                            "items": {
                              "title": "JobsStep",
                              "required": [
                                "result",
                                "status"
                              ],
                              "type": "object",
                              "properties": {
                                "title": {
                                  "type": "string",
                                  "description": "Name of the step the job needs to complete.",
                                  "example": "retrieve-accounts",
                                  "enum": [
                                    "verify-credentials",
                                    "retrieve-accounts",
                                    "retrieve-transactions",
                                    "retrieve-statements"
                                  ]
                                },
                                "status": {
                                  "type": "string",
                                  "description": "Status of the job step",
                                  "example": "success",
                                  "enum": [
                                    "pending",
                                    "in-progress",
                                    "success",
                                    "failed"
                                  ]
                                },
                                "result": {
                                  "title": "JobsResult",
                                  "type": "object",
                                  "properties": {
                                    "code": {
                                      "type": "string",
                                      "description": "In case of failed job, displays error code.",
                                      "enum": [
                                        "success",
                                        "user-action-required",
                                        "system-unavailable",
                                        "maintenance",
                                        "connector-error",
                                        "institution-not-found",
                                        "institution-not-available",
                                        "institution-disabled",
                                        "missing-required-field",
                                        "missing-required-field-value",
                                        "invalid-field-value",
                                        "invalid-csv-row",
                                        "row-count-exceeded",
                                        "account-data-differs",
                                        "empty-file",
                                        "bank-statement-invalid",
                                        "bank-statement-new-product",
                                        "bank-statement-parsing-error",
                                        "bank-statement-not-supported",
                                        "txn-after-last-updated-date",
                                        "invalid-connection",
                                        "unknown-error",
                                        "job-timed-out"
                                      ]
                                    },
                                    "details": {
                                      "type": "string",
                                      "description": "In case of failed job, displays details of the error."
                                    },
                                    "title": {
                                      "type": "string",
                                      "description": "In case of failed job, displays error title."
                                    },
                                    "type": {
                                      "type": "string",
                                      "description": "In case of success, Always \"link\".",
                                      "example": "link"
                                    },
                                    "url": {
                                      "type": "string",
                                      "description": "In case of success, URL of the updated (or created) resources."
                                    }
                                  },
                                  "description": "Result object containing a list of URLs or null. Otherwise if a step failed contains an error response.",
                                  "x-readme-ref-name": "JobsResult"
                                }
                              },
                              "description": "List of steps that need to be completed.",
                              "x-readme-ref-name": "JobsStep"
                            }
                          },
                          "links": {
                            "title": "JobsLinks",
                            "required": [
                              "self"
                            ],
                            "type": "object",
                            "properties": {
                              "self": {
                                "type": "string",
                                "description": "URL of the resource",
                                "example": "https://au-api.basiq.io/jobs/61723"
                              },
                              "source": {
                                "type": "string",
                                "description": "Resource that initiated creation of this Job. For example, for operations on Connection, this is a Connection URL. This is only returned for Connection jobs and not for Statement jobs.",
                                "example": "https://au-api.basiq.io/users/ea3a81/connections/8fce3b"
                              }
                            },
                            "description": "Links to the resources.",
                            "x-readme-ref-name": "JobsLinks"
                          }
                        },
                        "description": "Container object, containing job details.",
                        "x-readme-ref-name": "JobsData"
                      }
                    },
                    "size": {
                      "type": "integer",
                      "description": "Size of the all the jobs.",
                      "format": "int64",
                      "example": 100
                    },
                    "links": {
                      "title": "ResourceLink",
                      "required": [
                        "self"
                      ],
                      "type": "object",
                      "properties": {
                        "self": {
                          "type": "string",
                          "description": "URL of the resource.",
                          "example": "https://au-api.basiq.io/link/a3dgf4567a89"
                        }
                      },
                      "description": "Link object containing a link to the resource, self reference.",
                      "x-readme-ref-name": "ResourceLink"
                    }
                  },
                  "x-readme-ref-name": "JobsResponseResource"
                }
              }
            }
          },
          "400": {
            "description": "Returns error that server cannot or will not process the request due to something that is perceived to be a client error",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "correlationId",
                    "data",
                    "type"
                  ],
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Always \"list\".",
                      "example": "list"
                    },
                    "correlationId": {
                      "type": "string",
                      "description": "Unique identifier for this particular occurrence of the problem.",
                      "example": "ac5ah5i"
                    },
                    "data": {
                      "type": "array",
                      "description": "Error data.",
                      "items": {
                        "required": [
                          "code",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "Type of the response, always \"error\"",
                            "example": "error"
                          },
                          "title": {
                            "type": "string",
                            "description": "Title of the error",
                            "example": "Parameter not valid."
                          },
                          "code": {
                            "type": "string",
                            "description": "Application-specific error code, expressed as a string value.",
                            "example": "parameter-not-valid",
                            "enum": [
                              "parameter-not-supplied",
                              "parameter-not-valid",
                              "unsupported-accept",
                              "invalid-content",
                              "institution-not-supported",
                              "invalid-credentials"
                            ]
                          },
                          "detail": {
                            "type": "string",
                            "description": "Human-readable explanation specific to this occurrence of the problem.",
                            "example": "ID value is not valid."
                          },
                          "source": {
                            "title": "Source",
                            "type": "object",
                            "properties": {
                              "parameter": {
                                "type": "string",
                                "description": "String indicating which URI query parameter caused the error.",
                                "example": "id"
                              }
                            },
                            "description": "An object containing references to the source of the error.",
                            "x-readme-ref-name": "Source"
                          }
                        }
                      }
                    }
                  },
                  "x-readme-ref-name": "BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Error status response code indicates that the request has not been applied because it lacks valid authentication credentials for the target resource.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "correlationId",
                    "data",
                    "type"
                  ],
                  "type": "object",
                  "properties": {
                    "correlationId": {
                      "type": "string",
                      "description": "Unique identifier for this particular occurrence of the problem.",
                      "example": "ac5ah5i"
                    },
                    "data": {
                      "type": "array",
                      "description": "Error data.",
                      "items": {
                        "required": [
                          "code",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Application-specific error code, expressed as a string value.",
                            "example": "unauthorized-access",
                            "enum": [
                              "unauthorized-access",
                              "invalid-authorization-token"
                            ]
                          },
                          "detail": {
                            "type": "string",
                            "description": "Human-readable explanation specific to this occurrence of the problem.",
                            "example": "You are not authorized to access this resource"
                          },
                          "title": {
                            "type": "string",
                            "description": "Title of the error",
                            "example": "Unauthorized Access"
                          },
                          "type": {
                            "type": "string",
                            "description": "Type of the response, always \"error\"",
                            "example": "error"
                          }
                        }
                      }
                    },
                    "type": {
                      "type": "string",
                      "description": "Always \"list\".",
                      "example": "list"
                    }
                  },
                  "x-readme-ref-name": "UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Error that access is forbidden and tied to the application logic, such as insufficient rights to a resource.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "correlationId",
                    "data",
                    "type"
                  ],
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Always \"list\".",
                      "example": "list"
                    },
                    "correlationId": {
                      "type": "string",
                      "description": "Unique identifier for this particular occurrence of the problem.",
                      "example": "ac5ah5i"
                    },
                    "data": {
                      "type": "array",
                      "description": "Error data.",
                      "items": {
                        "required": [
                          "code",
                          "source",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "Type of the response, always \"error\"",
                            "example": "error"
                          },
                          "title": {
                            "type": "string",
                            "description": "Title of the error",
                            "example": "Forbidden Access"
                          },
                          "code": {
                            "type": "string",
                            "description": "Application-specific error code, expressed as a string value.",
                            "example": "forbidden-access",
                            "enum": [
                              "forbidden-access",
                              "no-production-access",
                              "access-denied"
                            ]
                          },
                          "detail": {
                            "type": "string",
                            "description": "Human-readable explanation specific to this occurrence of the problem.",
                            "example": "Access to this resource is forbidden."
                          },
                          "source": {
                            "title": "Source",
                            "type": "object",
                            "properties": {
                              "parameter": {
                                "type": "string",
                                "description": "String indicating which URI query parameter caused the error.",
                                "example": "id"
                              }
                            },
                            "description": "An object containing references to the source of the error.",
                            "x-readme-ref-name": "Source"
                          }
                        }
                      }
                    }
                  },
                  "x-readme-ref-name": "ForbiddenAccessError"
                }
              }
            }
          },
          "404": {
            "description": "Returns error indicating that server can't find requested resource.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "correlationId",
                    "data",
                    "type"
                  ],
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Always \"list\".",
                      "example": "list"
                    },
                    "correlationId": {
                      "type": "string",
                      "description": "Unique identifier for this particular occurrence of the problem.",
                      "example": "ac5ah5i"
                    },
                    "data": {
                      "type": "array",
                      "description": "Error data.",
                      "items": {
                        "required": [
                          "code",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Application-specific error code, expressed as a string value.",
                            "example": "resource-not-found",
                            "enum": [
                              "resource-not-found"
                            ]
                          },
                          "detail": {
                            "type": "string",
                            "description": "Human-readable explanation specific to this occurrence of the problem.",
                            "example": "Resource not found."
                          },
                          "title": {
                            "type": "string",
                            "description": "Title of the error",
                            "example": "Requested resource is not found."
                          },
                          "type": {
                            "type": "string",
                            "description": "Type of the response, always \"error\"",
                            "example": "error"
                          }
                        }
                      }
                    }
                  },
                  "x-readme-ref-name": "NotFoundError"
                }
              }
            }
          },
          "500": {
            "description": "Returns error response code indicates that the server encountered an unexpected condition that prevented it from fulfilling the request.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "correlationId",
                    "data",
                    "type"
                  ],
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Always \"list\".",
                      "example": "list"
                    },
                    "correlationId": {
                      "type": "string",
                      "description": "Unique identifier for this particular occurrence of the problem.",
                      "example": "ac5ah5i"
                    },
                    "data": {
                      "type": "array",
                      "description": "Error data.",
                      "items": {
                        "required": [
                          "code",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Application-specific error code, expressed as a string value.",
                            "example": "internal-server-error",
                            "enum": [
                              "internal-server-error"
                            ]
                          },
                          "detail": {
                            "type": "string",
                            "description": "Human-readable explanation specific to this occurrence of the problem.",
                            "example": "Internal Server error. Contact support."
                          },
                          "title": {
                            "type": "string",
                            "description": "Title of the error",
                            "example": "Internal Server error."
                          },
                          "type": {
                            "type": "string",
                            "description": "Type of the response, always \"error\"",
                            "example": "error"
                          }
                        }
                      }
                    }
                  },
                  "x-readme-ref-name": "InternalServerError"
                }
              }
            }
          }
        },
        "security": [
          {
            "services_token": []
          }
        ]
      }
    },
    "/jobs/{jobId}": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "Retrieve a job",
        "description": "Retrieves the details of an existing job. You need only supply the unique job identifier that was returned upon job creation.",
        "operationId": "getJobs",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "The identifier of the job to be retrieved.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a job details if a valid job ID was provided.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string"
                        },
                        "id": {
                          "type": "string"
                        },
                        "partnerId": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "jobType": {
                          "type": "string"
                        },
                        "applicationId": {
                          "type": "string"
                        },
                        "created": {
                          "description": "date and time in ISO format of when the job request was created",
                          "type": "string",
                          "format": "date-time"
                        },
                        "updated": {
                          "description": "date and time in ISO format of when the job request was updated",
                          "type": "string",
                          "format": "date-time"
                        },
                        "steps": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "title": {
                                "type": "string"
                              },
                              "status": {
                                "type": "string"
                              },
                              "result": {
                                "type": "object",
                                "nullable": true,
                                "properties": {
                                  "type": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  },
                                  "code": {
                                    "type": "string"
                                  },
                                  "title": {
                                    "type": "string"
                                  },
                                  "detail": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        },
                        "links": {
                          "type": "object",
                          "properties": {
                            "link": {
                              "type": "string"
                            },
                            "self": {
                              "type": "string"
                            },
                            "source": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "x-readme-ref-name": "job"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string"
                        },
                        "id": {
                          "type": "string"
                        },
                        "createdDate": {
                          "description": "date and time in ISO format of when the job request was created",
                          "type": "string",
                          "format": "date-time"
                        },
                        "updatedDate": {
                          "description": "date and time in ISO format of when the job request was updated",
                          "type": "string",
                          "format": "date-time"
                        },
                        "jobType": {
                          "type": "string"
                        },
                        "sourceId": {
                          "type": "string"
                        },
                        "steps": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "title": {
                                "type": "string"
                              },
                              "status": {
                                "type": "string"
                              },
                              "result": {
                                "type": "object",
                                "nullable": true,
                                "properties": {
                                  "type": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        },
                        "links": {
                          "type": "object",
                          "properties": {
                            "link": {
                              "type": "string"
                            },
                            "self": {
                              "type": "string"
                            },
                            "source": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "x-readme-ref-name": "StatementJobs"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string"
                        },
                        "id": {
                          "type": "string"
                        },
                        "partnerId": {
                          "type": "string"
                        },
                        "applicationId": {
                          "type": "string"
                        },
                        "created": {
                          "type": "string"
                        },
                        "updated": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "jobType": {
                          "type": "string"
                        },
                        "steps": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "title": {
                                "type": "string"
                              },
                              "status": {
                                "type": "string"
                              },
                              "result": {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        },
                        "links": {
                          "type": "object",
                          "properties": {
                            "self": {
                              "type": "string"
                            },
                            "source": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "x-readme-ref-name": "ReportsJob"
                    }
                  ]
                },
                "examples": {
                  "data-in-progress": {
                    "value": {
                      "type": "job",
                      "id": "248b2883-2a6b-4e8a-9591-76565d23ba5a",
                      "created": "2024-09-25T04:15:59Z",
                      "updated": "2024-09-25T04:15:59Z",
                      "jobType": "connection",
                      "steps": [
                        {
                          "title": "verify-credentials",
                          "status": "in-progress",
                          "result": null
                        },
                        {
                          "title": "retrieve-accounts",
                          "status": "pending",
                          "result": null
                        },
                        {
                          "title": "retrieve-transactions",
                          "status": "pending",
                          "result": null
                        }
                      ],
                      "links": {
                        "self": "https://au-api.basiq.io/jobs/248b2883-2a6b-4e8a-9591-76565d23ba5a"
                      }
                    }
                  },
                  "data-failed": {
                    "value": {
                      "type": "job",
                      "id": "5c50a2d1-561c-48c4-a186-b763bdf5502a",
                      "created": "2024-09-25T04:22:25Z",
                      "updated": "2024-09-25T04:22:38Z",
                      "jobType": "connection",
                      "steps": [
                        {
                          "title": "verify-credentials",
                          "status": "failed",
                          "result": {
                            "code": "authorization-failed",
                            "title": "Authorization failed",
                            "detail": "access_denied"
                          }
                        },
                        {
                          "title": "retrieve-accounts",
                          "status": "pending",
                          "result": null
                        },
                        {
                          "title": "retrieve-transactions",
                          "status": "pending",
                          "result": null
                        }
                      ],
                      "links": {
                        "self": "https://au-api.basiq.io/jobs/5c50a2d1-561c-48c4-a186-b763bdf5502a",
                        "source": "https://au-api.basiq.io/users/b2afc9cd-0f3c-41f0-9e19-d18482abc9fc/connections/60612323-9c42-478a-8ff2-640445dbe64a"
                      }
                    }
                  },
                  "data-success": {
                    "value": {
                      "type": "job",
                      "id": "a03e4df4-dc05-4cd3-9af0-0f28a13ea614",
                      "created": "2024-09-25T04:14:48Z",
                      "updated": "2024-09-25T04:14:50Z",
                      "jobType": "connection",
                      "steps": [
                        {
                          "title": "verify-credentials",
                          "status": "success",
                          "result": {
                            "type": "link",
                            "url": "/users/b540e803-91dd-4ff9-a89e-ef8ecf65833d/connections/214974bb-56d6-466a-9034-ba0a6b810eed"
                          }
                        },
                        {
                          "title": "retrieve-accounts",
                          "status": "success",
                          "result": {
                            "type": "link",
                            "url": "/users/b540e803-91dd-4ff9-a89e-ef8ecf65833d/accounts?filter=institution.id.eq('AU00000')"
                          }
                        },
                        {
                          "title": "retrieve-transactions",
                          "status": "success",
                          "result": {
                            "type": "link",
                            "url": "/users/b540e803-91dd-4ff9-a89e-ef8ecf65833d/transactions?filter=institution.id.eq('AU00000')"
                          }
                        }
                      ],
                      "links": {
                        "self": "https://au-api.basiq.io/jobs/a03e4df4-dc05-4cd3-9af0-0f28a13ea614",
                        "source": "https://au-api.basiq.io/users/b540e803-91dd-4ff9-a89e-ef8ecf65833d/connections/214974bb-56d6-466a-9034-ba0a6b810eed"
                      }
                    }
                  },
                  "statement-in-progress": {
                    "value": {
                      "type": "job",
                      "id": "248b2883-2a6b-4e8a-9591-76565d23ba5a",
                      "created": "2024-09-25T04:15:59Z",
                      "updated": "2024-09-25T04:15:59Z",
                      "jobType": "connection",
                      "steps": [
                        {
                          "title": "verify-credentials",
                          "status": "in-progress",
                          "result": null
                        },
                        {
                          "title": "retrieve-accounts",
                          "status": "pending",
                          "result": null
                        },
                        {
                          "title": "retrieve-transactions",
                          "status": "pending",
                          "result": null
                        }
                      ],
                      "links": {
                        "self": "https://au-api.basiq.io/jobs/248b2883-2a6b-4e8a-9591-76565d23ba5a"
                      }
                    }
                  },
                  "statement-failed": {
                    "value": {
                      "type": "job",
                      "id": "f14de1bb-ddbe-4c16-add0-efab65aab13d",
                      "created": "2024-09-25T04:28:59Z",
                      "updated": "2024-09-25T04:29:09Z",
                      "jobType": "connection",
                      "steps": [
                        {
                          "title": "verify-credentials",
                          "status": "failed",
                          "result": {
                            "code": "bank-statement-not-supported",
                            "title": "Statement not supported.",
                            "detail": "Statement is not currently supported for this institution - check statement uploaded against correct bank."
                          }
                        },
                        {
                          "title": "retrieve-accounts",
                          "status": "pending",
                          "result": null
                        },
                        {
                          "title": "retrieve-transactions",
                          "status": "pending",
                          "result": null
                        }
                      ],
                      "links": {
                        "self": "https://au-api.basiq.io/jobs/f14de1bb-ddbe-4c16-add0-efab65aab13d"
                      }
                    }
                  },
                  "statement-success": {
                    "value": {
                      "type": "job",
                      "id": "248b2883-2a6b-4e8a-9591-76565d23ba5a",
                      "created": "2024-09-25T04:15:59Z",
                      "updated": "2024-09-25T04:16:29Z",
                      "jobType": "connection",
                      "steps": [
                        {
                          "title": "verify-credentials",
                          "status": "success",
                          "result": {
                            "type": "link",
                            "url": "/users/b540e803-91dd-4ff9-a89e-ef8ecf65833d/connections/30dfc31c-7107-40a4-bd94-237554726a4d"
                          }
                        },
                        {
                          "title": "retrieve-accounts",
                          "status": "success",
                          "result": {
                            "type": "link",
                            "url": "/users/b540e803-91dd-4ff9-a89e-ef8ecf65833d/accounts?filter=institution.id.eq('AU00601')"
                          }
                        },
                        {
                          "title": "retrieve-transactions",
                          "status": "success",
                          "result": {
                            "type": "link",
                            "url": "/users/b540e803-91dd-4ff9-a89e-ef8ecf65833d/transactions?filter=institution.id.eq('AU00601')"
                          }
                        }
                      ],
                      "links": {
                        "self": "https://au-api.basiq.io/jobs/248b2883-2a6b-4e8a-9591-76565d23ba5a"
                      }
                    }
                  },
                  "Mygov-in-progress": {
                    "value": {
                      "type": "job",
                      "id": "b4b51f7c-e5f0-4767-bc6f-0025a66bd4f9",
                      "created": "2024-09-25T04:34:59Z",
                      "updated": "2024-09-25T04:34:59Z",
                      "jobType": "connection",
                      "steps": [
                        {
                          "title": "verify-credentials",
                          "status": "in-progress",
                          "result": null
                        },
                        {
                          "title": "mfa-challenge",
                          "status": "pending",
                          "result": null
                        },
                        {
                          "title": "retrieve-accounts",
                          "status": "pending",
                          "result": null
                        },
                        {
                          "title": "retrieve-transactions",
                          "status": "pending",
                          "result": null
                        },
                        {
                          "title": "retrieve-statements",
                          "status": "pending",
                          "result": null
                        }
                      ],
                      "links": {
                        "self": "https://au-api.basiq.io/jobs/b4b51f7c-e5f0-4767-bc6f-0025a66bd4f9",
                        "source": "https://au-api.basiq.io/users/bfa52043-e154-4adf-94d1-7f0544affc45/connections/05b14a4a-189a-412a-a8c3-88adf2fc47f4"
                      }
                    }
                  },
                  "Mygov-failed": {
                    "value": {
                      "type": "job",
                      "id": "57d6ab28-1fd4-4851-b9d2-81ca2884de21",
                      "created": "2024-09-25T04:40:41Z",
                      "updated": "2024-09-25T04:40:50Z",
                      "jobType": "connection",
                      "steps": [
                        {
                          "title": "verify-credentials",
                          "status": "failed",
                          "result": {
                            "code": "invalid-credentials",
                            "title": "Cannot login to target institution, check credentials.",
                            "detail": "Cannot login to target institution using supplied credentials. Please check credentials and try again."
                          }
                        },
                        {
                          "title": "mfa-challenge",
                          "status": "pending",
                          "result": null
                        },
                        {
                          "title": "retrieve-accounts",
                          "status": "pending",
                          "result": null
                        },
                        {
                          "title": "retrieve-transactions",
                          "status": "pending",
                          "result": null
                        },
                        {
                          "title": "retrieve-statements",
                          "status": "pending",
                          "result": null
                        }
                      ],
                      "links": {
                        "self": "https://au-api.basiq.io/jobs/57d6ab28-1fd4-4851-b9d2-81ca2884de21",
                        "source": "https://au-api.basiq.io/users/bfa52043-e154-4adf-94d1-7f0544affc45/connections/326d43c0-b009-4dfc-a7d0-708e5160bde5"
                      }
                    }
                  },
                  "Mygov-success": {
                    "value": {
                      "type": "job",
                      "id": "cd6b8aac-53b3-408d-806e-34b9ef59459e",
                      "created": "2024-09-25T04:44:38Z",
                      "updated": "2024-09-25T04:46:00Z",
                      "jobType": "connection",
                      "steps": [
                        {
                          "title": "verify-credentials",
                          "status": "success",
                          "result": {
                            "type": "link",
                            "url": "/users/bfa52043-e154-4adf-94d1-7f0544affc45/connections/67b38670-4aca-4e1d-a66e-3af4c56a35bc"
                          }
                        },
                        {
                          "title": "mfa-challenge",
                          "status": "success",
                          "result": {
                            "type": "mfa",
                            "method": "token",
                            "description": "A SMS code has been sent to your device, please enter valid number.",
                            "input": [
                              "We sent a code by SMS to your mobile number XXXX XXX 178."
                            ],
                            "expiryMs": 120000,
                            "links": {
                              "response": "https://au-api.basiq.io/jobs/cd6b8aac-53b3-408d-806e-34b9ef59459e/mfa"
                            }
                          }
                        },
                        {
                          "title": "retrieve-accounts",
                          "status": "success",
                          "result": {
                            "type": "link",
                            "url": "/users/bfa52043-e154-4adf-94d1-7f0544affc45/accounts?filter=institution.id.eq('AU20700')"
                          }
                        },
                        {
                          "title": "retrieve-transactions",
                          "status": "success",
                          "result": {
                            "type": "link",
                            "url": "/users/bfa52043-e154-4adf-94d1-7f0544affc45/transactions?filter=institution.id.eq('AU20700')"
                          }
                        },
                        {
                          "title": "retrieve-statements",
                          "status": "success",
                          "result": {
                            "type": "link",
                            "url": "/users/bfa52043-e154-4adf-94d1-7f0544affc45/statements"
                          }
                        }
                      ],
                      "links": {
                        "self": "https://au-api.basiq.io/jobs/cd6b8aac-53b3-408d-806e-34b9ef59459e",
                        "source": "https://au-api.basiq.io/users/bfa52043-e154-4adf-94d1-7f0544affc45/connections/67b38670-4aca-4e1d-a66e-3af4c56a35bc"
                      }
                    }
                  },
                  "Report-in-progress": {
                    "value": {
                      "type": "job",
                      "id": "b1824ad0-73f1-0138-3700-0a58a9feac09",
                      "partnerId": "e73ffa09-742f-4be3-9aae-0ad077f041a1",
                      "applicationId": "3e2863df-43d1-405d-b104-701bcb34e184",
                      "created": "2016-06-08T09:10:32.000Z",
                      "updated": "2016-06-08T09:14:28.000Z",
                      "status": "in-progress",
                      "jobType": "report",
                      "steps": [
                        {
                          "title": "create-report",
                          "status": "in-progress",
                          "result": null
                        }
                      ],
                      "links": {
                        "self": "/jobs/b1824ad0-73f1-0138-3700-0a58a9feac09",
                        "source": "/reports/b1824ad0-73f1-0138-3700-0a58a9feac09"
                      }
                    }
                  },
                  "Report-failed": {
                    "value": {
                      "type": "job",
                      "id": "b1824ad0-73f1-0138-3700-0a58a9feac09",
                      "partnerId": "e73ffa09-742f-4be3-9aae-0ad077f041a1",
                      "applicationId": "3e2863df-43d1-405d-b104-701bcb34e184",
                      "created": "2016-06-08T09:10:32.000Z",
                      "updated": "2016-06-08T09:14:28.000Z",
                      "status": "failed",
                      "jobType": "report",
                      "steps": [
                        {
                          "title": "create-report",
                          "status": "failed",
                          "result": null
                        }
                      ],
                      "links": null
                    }
                  },
                  "Report-success": {
                    "value": {
                      "type": "job",
                      "id": "b1824ad0-73f1-0138-3700-0a58a9feac09",
                      "partnerId": "e73ffa09-742f-4be3-9aae-0ad077f041a1",
                      "applicationId": "3e2863df-43d1-405d-b104-701bcb34e184",
                      "created": "2016-06-08T09:10:32.000Z",
                      "updated": "2016-06-08T09:14:28.000Z",
                      "status": "success",
                      "jobType": "report",
                      "steps": [
                        {
                          "title": "create-report",
                          "status": "success",
                          "result": {
                            "type": "link",
                            "url": "/reports/b1824ad0-73f1-0138-3700-0a58a9feac09"
                          }
                        }
                      ],
                      "links": {
                        "self": "/jobs/b1824ad0-73f1-0138-3700-0a58a9feac09",
                        "source": "/reports/b1824ad0-73f1-0138-3700-0a58a9feac09"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Returns error that server cannot or will not process the request due to something that is perceived to be a client error",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "correlationId",
                    "data",
                    "type"
                  ],
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Always \"list\".",
                      "example": "list"
                    },
                    "correlationId": {
                      "type": "string",
                      "description": "Unique identifier for this particular occurrence of the problem.",
                      "example": "ac5ah5i"
                    },
                    "data": {
                      "type": "array",
                      "description": "Error data.",
                      "items": {
                        "required": [
                          "code",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "Type of the response, always \"error\"",
                            "example": "error"
                          },
                          "title": {
                            "type": "string",
                            "description": "Title of the error",
                            "example": "Parameter not valid."
                          },
                          "code": {
                            "type": "string",
                            "description": "Application-specific error code, expressed as a string value.",
                            "example": "parameter-not-valid",
                            "enum": [
                              "parameter-not-supplied",
                              "parameter-not-valid",
                              "invalid-credentials",
                              "service-unavailable",
                              "job-timed-out",
                              "account-not-accessible-requires-user-action",
                              "temporary-unavailable",
                              "resource-not-found",
                              "temporary-unavailable",
                              "maintenance-error",
                              "row-count-exceeded",
                              "empty-file",
                              "bank-statement-invalid",
                              "bank-statement-new-product",
                              "bank-statement-parsing-error",
                              "bank-statement-not-supported",
                              "statement-not-available",
                              "temporary-unavailable-queued",
                              "job-invalidated",
                              "authorization-failed",
                              "invalid-csv-row",
                              "invalid-field-value",
                              "missing-required-field",
                              "missing-required-field-value",
                              "account-data-differs"
                            ]
                          },
                          "detail": {
                            "type": "string",
                            "description": "Human-readable explanation specific to this occurrence of the problem.",
                            "example": "ID value is not valid."
                          },
                          "source": {
                            "title": "Source",
                            "type": "object",
                            "properties": {
                              "parameter": {
                                "type": "string",
                                "description": "String indicating which URI query parameter caused the error.",
                                "example": "id"
                              }
                            },
                            "description": "An object containing references to the source of the error.",
                            "x-readme-ref-name": "Source"
                          }
                        }
                      }
                    }
                  },
                  "x-readme-ref-name": "BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Error status response code indicates that the request has not been applied because it lacks valid authentication credentials for the target resource.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "correlationId",
                    "data",
                    "type"
                  ],
                  "type": "object",
                  "properties": {
                    "correlationId": {
                      "type": "string",
                      "description": "Unique identifier for this particular occurrence of the problem.",
                      "example": "ac5ah5i"
                    },
                    "data": {
                      "type": "array",
                      "description": "Error data.",
                      "items": {
                        "required": [
                          "code",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Application-specific error code, expressed as a string value.",
                            "example": "unauthorized-access",
                            "enum": [
                              "unauthorized-access",
                              "invalid-authorization-token"
                            ]
                          },
                          "detail": {
                            "type": "string",
                            "description": "Human-readable explanation specific to this occurrence of the problem.",
                            "example": "You are not authorized to access this resource"
                          },
                          "title": {
                            "type": "string",
                            "description": "Title of the error",
                            "example": "Unauthorized Access"
                          },
                          "type": {
                            "type": "string",
                            "description": "Type of the response, always \"error\"",
                            "example": "error"
                          }
                        }
                      }
                    },
                    "type": {
                      "type": "string",
                      "description": "Always \"list\".",
                      "example": "list"
                    }
                  },
                  "x-readme-ref-name": "UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Error that access is forbidden and tied to the application logic, such as insufficient rights to a resource.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "correlationId",
                    "data",
                    "type"
                  ],
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Always \"list\".",
                      "example": "list"
                    },
                    "correlationId": {
                      "type": "string",
                      "description": "Unique identifier for this particular occurrence of the problem.",
                      "example": "ac5ah5i"
                    },
                    "data": {
                      "type": "array",
                      "description": "Error data.",
                      "items": {
                        "required": [
                          "code",
                          "source",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "Type of the response, always \"error\"",
                            "example": "error"
                          },
                          "title": {
                            "type": "string",
                            "description": "Title of the error",
                            "example": "Forbidden Access"
                          },
                          "code": {
                            "type": "string",
                            "description": "Application-specific error code, expressed as a string value.",
                            "example": "forbidden-access",
                            "enum": [
                              "forbidden-access",
                              "no-production-access",
                              "access-denied"
                            ]
                          },
                          "detail": {
                            "type": "string",
                            "description": "Human-readable explanation specific to this occurrence of the problem.",
                            "example": "Access to this resource is forbidden."
                          },
                          "source": {
                            "title": "Source",
                            "type": "object",
                            "properties": {
                              "parameter": {
                                "type": "string",
                                "description": "String indicating which URI query parameter caused the error.",
                                "example": "id"
                              }
                            },
                            "description": "An object containing references to the source of the error.",
                            "x-readme-ref-name": "Source"
                          }
                        }
                      }
                    }
                  },
                  "x-readme-ref-name": "ForbiddenAccessError"
                }
              }
            }
          },
          "404": {
            "description": "Returns error indicating that server can't find requested resource.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "correlationId",
                    "data",
                    "type"
                  ],
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Always \"list\".",
                      "example": "list"
                    },
                    "correlationId": {
                      "type": "string",
                      "description": "Unique identifier for this particular occurrence of the problem.",
                      "example": "ac5ah5i"
                    },
                    "data": {
                      "type": "array",
                      "description": "Error data.",
                      "items": {
                        "required": [
                          "code",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Application-specific error code, expressed as a string value.",
                            "example": "resource-not-found",
                            "enum": [
                              "resource-not-found"
                            ]
                          },
                          "detail": {
                            "type": "string",
                            "description": "Human-readable explanation specific to this occurrence of the problem.",
                            "example": "Resource not found."
                          },
                          "title": {
                            "type": "string",
                            "description": "Title of the error",
                            "example": "Requested resource is not found."
                          },
                          "type": {
                            "type": "string",
                            "description": "Type of the response, always \"error\"",
                            "example": "error"
                          }
                        }
                      }
                    }
                  },
                  "x-readme-ref-name": "NotFoundError"
                }
              }
            }
          },
          "500": {
            "description": "Returns error response code indicates that the server encountered an unexpected condition that prevented it from fulfilling the request.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "correlationId",
                    "data",
                    "type"
                  ],
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Always \"list\".",
                      "example": "list"
                    },
                    "correlationId": {
                      "type": "string",
                      "description": "Unique identifier for this particular occurrence of the problem.",
                      "example": "ac5ah5i"
                    },
                    "data": {
                      "type": "array",
                      "description": "Error data.",
                      "items": {
                        "required": [
                          "code",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Application-specific error code, expressed as a string value.",
                            "example": "internal-server-error",
                            "enum": [
                              "internal-server-error"
                            ]
                          },
                          "detail": {
                            "type": "string",
                            "description": "Human-readable explanation specific to this occurrence of the problem.",
                            "example": "Internal Server error. Contact support."
                          },
                          "title": {
                            "type": "string",
                            "description": "Title of the error",
                            "example": "Internal Server error."
                          },
                          "type": {
                            "type": "string",
                            "description": "Type of the response, always \"error\"",
                            "example": "error"
                          }
                        }
                      }
                    }
                  },
                  "x-readme-ref-name": "InternalServerError"
                }
              }
            }
          }
        },
        "security": [
          {
            "services_token": []
          }
        ]
      }
    },
    "/jobs/{jobId}/mfa": {
      "post": {
        "tags": [
          "Jobs"
        ],
        "summary": "Create MFA response",
        "description": "Ensure that you generate an authentication token with\nscope = CLIENT_ACCESS and basiq-version = 3.0 to create this resource",
        "operationId": "postJobMfa",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "The identifier of the job.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "mfa-response"
                ],
                "type": "object",
                "properties": {
                  "mfa-response": {
                    "type": "array",
                    "description": "One time password or answer to a security question/s e.g. [\"1234\"]",
                    "example": [
                      "1234"
                    ],
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "x-readme-ref-name": "JobPostRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Returns a job if MFA response was correct. Returns an error otherwise.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "ConnectionResponseResource",
                  "required": [
                    "id",
                    "links",
                    "type"
                  ],
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Type, always \"job\".",
                      "example": "job"
                    },
                    "id": {
                      "type": "string",
                      "description": "Job identification.",
                      "example": "29523951"
                    },
                    "links": {
                      "title": "ResourceLink",
                      "required": [
                        "self"
                      ],
                      "type": "object",
                      "properties": {
                        "self": {
                          "type": "string",
                          "description": "URL of the resource.",
                          "example": "https://au-api.basiq.io/link/a3dgf4567a89"
                        }
                      },
                      "description": "Link object containing a link to the resource, self reference.",
                      "x-readme-ref-name": "ResourceLink"
                    }
                  },
                  "description": "Object containing details for connection post.",
                  "x-readme-ref-name": "ConnectionResponseResource"
                }
              }
            }
          },
          "400": {
            "description": "Returns error that server cannot or will not process the request due to something that is perceived to be a client error",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "correlationId",
                    "data",
                    "type"
                  ],
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Always \"list\".",
                      "example": "list"
                    },
                    "correlationId": {
                      "type": "string",
                      "description": "Unique identifier for this particular occurrence of the problem.",
                      "example": "ac5ah5i"
                    },
                    "data": {
                      "type": "array",
                      "description": "Error data.",
                      "items": {
                        "required": [
                          "code",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "Type of the response, always \"error\"",
                            "example": "error"
                          },
                          "title": {
                            "type": "string",
                            "description": "Title of the error",
                            "example": "Parameter not valid."
                          },
                          "code": {
                            "type": "string",
                            "description": "Application-specific error code, expressed as a string value.",
                            "example": "parameter-not-valid",
                            "enum": [
                              "parameter-not-supplied",
                              "parameter-not-valid",
                              "unsupported-accept",
                              "invalid-content",
                              "institution-not-supported",
                              "invalid-credentials"
                            ]
                          },
                          "detail": {
                            "type": "string",
                            "description": "Human-readable explanation specific to this occurrence of the problem.",
                            "example": "ID value is not valid."
                          },
                          "source": {
                            "title": "Source",
                            "type": "object",
                            "properties": {
                              "parameter": {
                                "type": "string",
                                "description": "String indicating which URI query parameter caused the error.",
                                "example": "id"
                              }
                            },
                            "description": "An object containing references to the source of the error.",
                            "x-readme-ref-name": "Source"
                          }
                        }
                      }
                    }
                  },
                  "x-readme-ref-name": "BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Error status response code indicates that the request has not been applied because it lacks valid authentication credentials for the target resource.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "correlationId",
                    "data",
                    "type"
                  ],
                  "type": "object",
                  "properties": {
                    "correlationId": {
                      "type": "string",
                      "description": "Unique identifier for this particular occurrence of the problem.",
                      "example": "ac5ah5i"
                    },
                    "data": {
                      "type": "array",
                      "description": "Error data.",
                      "items": {
                        "required": [
                          "code",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Application-specific error code, expressed as a string value.",
                            "example": "unauthorized-access",
                            "enum": [
                              "unauthorized-access",
                              "invalid-authorization-token"
                            ]
                          },
                          "detail": {
                            "type": "string",
                            "description": "Human-readable explanation specific to this occurrence of the problem.",
                            "example": "You are not authorized to access this resource"
                          },
                          "title": {
                            "type": "string",
                            "description": "Title of the error",
                            "example": "Unauthorized Access"
                          },
                          "type": {
                            "type": "string",
                            "description": "Type of the response, always \"error\"",
                            "example": "error"
                          }
                        }
                      }
                    },
                    "type": {
                      "type": "string",
                      "description": "Always \"list\".",
                      "example": "list"
                    }
                  },
                  "x-readme-ref-name": "UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Error that access is forbidden and tied to the application logic, such as insufficient rights to a resource.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "correlationId",
                    "data",
                    "type"
                  ],
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Always \"list\".",
                      "example": "list"
                    },
                    "correlationId": {
                      "type": "string",
                      "description": "Unique identifier for this particular occurrence of the problem.",
                      "example": "ac5ah5i"
                    },
                    "data": {
                      "type": "array",
                      "description": "Error data.",
                      "items": {
                        "required": [
                          "code",
                          "source",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "Type of the response, always \"error\"",
                            "example": "error"
                          },
                          "title": {
                            "type": "string",
                            "description": "Title of the error",
                            "example": "Forbidden Access"
                          },
                          "code": {
                            "type": "string",
                            "description": "Application-specific error code, expressed as a string value.",
                            "example": "forbidden-access",
                            "enum": [
                              "forbidden-access",
                              "no-production-access",
                              "access-denied"
                            ]
                          },
                          "detail": {
                            "type": "string",
                            "description": "Human-readable explanation specific to this occurrence of the problem.",
                            "example": "Access to this resource is forbidden."
                          },
                          "source": {
                            "title": "Source",
                            "type": "object",
                            "properties": {
                              "parameter": {
                                "type": "string",
                                "description": "String indicating which URI query parameter caused the error.",
                                "example": "id"
                              }
                            },
                            "description": "An object containing references to the source of the error.",
                            "x-readme-ref-name": "Source"
                          }
                        }
                      }
                    }
                  },
                  "x-readme-ref-name": "ForbiddenAccessError"
                }
              }
            }
          },
          "404": {
            "description": "Returns error indicating that server can't find requested resource.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "correlationId",
                    "data",
                    "type"
                  ],
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Always \"list\".",
                      "example": "list"
                    },
                    "correlationId": {
[...]
