{
  "openapi": "3.0.1",
  "info": {
    "title": "Core",
    "description": "All included utility endpoints for Basiq partners",
    "version": "3.0.0",
    "termsOfService": "https://docs.basiq.io/en/collections/440849-privacy-terms-and-common-questions",
    "license": {
      "name": "Commercial",
      "url": "https://basiq.io"
    }
  },
  "servers": [
    {
      "url": "https://au-api.basiq.io"
    }
  ],
  "paths": {
    "/token": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Generate an auth token",
        "description": "Use this endpoint to retrieve a token that will be passed as authorization header for Basiq API",
        "operationId": "postToken",
        "parameters": [
          {
            "name": "basiq-version",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "3.0"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "scope": {
                    "type": "string"
                  },
                  "userId": {
                    "type": "string"
                  }
                }
              },
              "examples": {
                "client_access": {
                  "summary": "For all client side requests",
                  "value": {
                    "scope": "CLIENT_ACCESS",
                    "userId": "6dd30ce4-d4ba-11ec-9d64-0242ac120002"
                  }
                },
                "server_access": {
                  "summary": "For all server side requests",
                  "value": {
                    "scope": "SERVER_ACCESS"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return token object that will be used for Basiq API requests. ",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "access_token",
                    "expires_in",
                    "token_type"
                  ],
                  "type": "object",
                  "properties": {
                    "access_token": {
                      "type": "string",
                      "description": "The generated access token.",
                      "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
                    },
                    "expires_in": {
                      "type": "integer",
                      "description": "Expires in 3600 seconds",
                      "format": "int64",
                      "example": 3600
                    },
                    "token_type": {
                      "type": "string",
                      "description": "This value will always be `Bearer`.",
                      "example": "Bearer"
                    }
                  },
                  "x-readme-ref-name": "TokenPostResponse"
                }
              }
            }
          },
          "400": {
            "description": "Returns error that server cannot or will not process the request as it does not conform.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "correlationId",
                    "data",
                    "type"
                  ],
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Always \"list\".",
                      "example": "list"
                    },
                    "correlationId": {
                      "type": "string",
                      "description": "Unique identifier for this particular occurrence of the problem.",
                      "example": "ac5ah5i"
                    },
                    "data": {
                      "type": "array",
                      "description": "Error data.",
                      "items": {
                        "required": [
                          "code",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "Type of the response, always \"error\"",
                            "example": "error"
                          },
                          "title": {
                            "type": "string",
                            "description": "Title of the error",
                            "example": "Parameter not valid."
                          },
                          "code": {
                            "type": "string",
                            "description": "Application-specific error code, expressed as a string value.",
                            "example": "parameter-not-valid",
                            "enum": [
                              "parameter-not-supplied",
                              "parameter-not-valid",
                              "unsupported-accept",
                              "invalid-content",
                              "institution-not-supported",
                              "invalid-credentials"
                            ]
                          },
                          "detail": {
                            "type": "string",
                            "description": "Human-readable explanation specific to this occurrence of the problem.",
                            "example": "ID value is not valid."
                          },
                          "source": {
                            "title": "Source",
                            "type": "object",
                            "properties": {
                              "parameter": {
                                "type": "string",
                                "description": "String indicating which URI query parameter caused the error.",
                                "example": "id"
                              }
                            },
                            "description": "An object containing references to the source of the error.",
                            "x-readme-ref-name": "Source"
                          }
                        }
                      }
                    }
                  },
                  "x-readme-ref-name": "BadRequestError"
                }
              }
            }
          },
          "404": {
            "description": "Returns error indicating that server can't find requested resource.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "correlationId",
                    "data",
                    "type"
                  ],
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Always \"list\".",
                      "example": "list"
                    },
                    "correlationId": {
                      "type": "string",
                      "description": "Unique identifier for this particular occurrence of the problem.",
                      "example": "ac5ah5i"
                    },
                    "data": {
                      "type": "array",
                      "description": "Error data.",
                      "items": {
                        "required": [
                          "code",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Application-specific error code, expressed as a string value.",
                            "example": "resource-not-found",
                            "enum": [
                              "resource-not-found"
                            ]
                          },
                          "detail": {
                            "type": "string",
                            "description": "Human-readable explanation specific to this occurrence of the problem.",
                            "example": "Resource not found."
                          },
                          "title": {
                            "type": "string",
                            "description": "Title of the error",
                            "example": "Requested resource is not found."
                          },
                          "type": {
                            "type": "string",
                            "description": "Type of the response, always \"error\"",
                            "example": "error"
                          }
                        }
                      }
                    }
                  },
                  "x-readme-ref-name": "NotFoundError"
                }
              }
            }
          },
          "500": {
            "description": "Returns error response code indicates that the server encountered an unexpected condition that prevented it from fulfilling the request.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "correlationId",
                    "data",
                    "type"
                  ],
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Always \"list\".",
                      "example": "list"
                    },
                    "correlationId": {
                      "type": "string",
                      "description": "Unique identifier for this particular occurrence of the problem.",
                      "example": "ac5ah5i"
                    },
                    "data": {
                      "type": "array",
                      "description": "Error data.",
                      "items": {
                        "required": [
                          "code",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Application-specific error code, expressed as a string value.",
                            "example": "internal-server-error",
                            "enum": [
                              "internal-server-error"
                            ]
                          },
                          "detail": {
                            "type": "string",
                            "description": "Human-readable explanation specific to this occurrence of the problem.",
                            "example": "Internal Server error. Contact support."
                          },
                          "title": {
                            "type": "string",
                            "description": "Title of the error",
                            "example": "Internal Server error."
                          },
                          "type": {
                            "type": "string",
                            "description": "Type of the response, always \"error\"",
                            "example": "error"
                          }
                        }
                      }
                    }
                  },
                  "x-readme-ref-name": "InternalServerError"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/users": {},
    "/users/{userId}": {},
    "/users/{userId}/consents": {},
    "/users/{userId}/consents/{consentId}": {},
    "/users/{userId}/auth_link": {},
    "/events": {},
    "/events/{id}": {},
    "/events/types": {},
    "/events/types/{id}": {},
    "/users/{userId}/jobs": {},
    "/jobs/{jobId}": {},
    "/jobs/{jobId}/mfa": {
      "post": {
        "tags": [
          "Jobs"
        ],
        "summary": "Create MFA response",
        "description": "Ensure that you generate an authentication token with\nscope = CLIENT_ACCESS and basiq-version = 3.0 to create this resource",
        "operationId": "postJobMfa",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "The identifier of the job.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "mfa-response"
                ],
                "type": "object",
                "properties": {
                  "mfa-response": {
                    "type": "array",
                    "description": "One time password or answer to a security question/s e.g. [\"1234\"]",
                    "example": [
                      "1234"
                    ],
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "x-readme-ref-name": "JobPostRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Returns a job if MFA response was correct. Returns an error otherwise.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "ConnectionResponseResource",
                  "required": [
                    "id",
                    "links",
                    "type"
                  ],
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Type, always \"job\".",
                      "example": "job"
                    },
                    "id": {
                      "type": "string",
                      "description": "Job identification.",
                      "example": "29523951"
                    },
                    "links": {
                      "title": "ResourceLink",
                      "required": [
                        "self"
                      ],
                      "type": "object",
                      "properties": {
                        "self": {
                          "type": "string",
                          "description": "URL of the resource.",
                          "example": "https://au-api.basiq.io/link/a3dgf4567a89"
                        }
                      },
                      "description": "Link object containing a link to the resource, self reference.",
                      "x-readme-ref-name": "ResourceLink"
                    }
                  },
                  "description": "Object containing details for connection post.",
                  "x-readme-ref-name": "ConnectionResponseResource"
                }
              }
            }
          },
          "400": {
            "description": "Returns error that server cannot or will not process the request due to something that is perceived to be a client error",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "correlationId",
                    "data",
                    "type"
                  ],
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Always \"list\".",
                      "example": "list"
                    },
                    "correlationId": {
                      "type": "string",
                      "description": "Unique identifier for this particular occurrence of the problem.",
                      "example": "ac5ah5i"
                    },
                    "data": {
                      "type": "array",
                      "description": "Error data.",
                      "items": {
                        "required": [
                          "code",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "Type of the response, always \"error\"",
                            "example": "error"
                          },
                          "title": {
                            "type": "string",
                            "description": "Title of the error",
                            "example": "Parameter not valid."
                          },
                          "code": {
                            "type": "string",
                            "description": "Application-specific error code, expressed as a string value.",
                            "example": "parameter-not-valid",
                            "enum": [
                              "parameter-not-supplied",
                              "parameter-not-valid",
                              "unsupported-accept",
                              "invalid-content",
                              "institution-not-supported",
                              "invalid-credentials"
                            ]
                          },
                          "detail": {
                            "type": "string",
                            "description": "Human-readable explanation specific to this occurrence of the problem.",
                            "example": "ID value is not valid."
                          },
                          "source": {
                            "title": "Source",
                            "type": "object",
                            "properties": {
                              "parameter": {
                                "type": "string",
                                "description": "String indicating which URI query parameter caused the error.",
                                "example": "id"
                              }
                            },
                            "description": "An object containing references to the source of the error.",
                            "x-readme-ref-name": "Source"
                          }
                        }
                      }
                    }
                  },
                  "x-readme-ref-name": "BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Error status response code indicates that the request has not been applied because it lacks valid authentication credentials for the target resource.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "correlationId",
                    "data",
                    "type"
                  ],
                  "type": "object",
                  "properties": {
                    "correlationId": {
                      "type": "string",
                      "description": "Unique identifier for this particular occurrence of the problem.",
                      "example": "ac5ah5i"
                    },
                    "data": {
                      "type": "array",
                      "description": "Error data.",
                      "items": {
                        "required": [
                          "code",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Application-specific error code, expressed as a string value.",
                            "example": "unauthorized-access",
                            "enum": [
                              "unauthorized-access",
                              "invalid-authorization-token"
                            ]
                          },
                          "detail": {
                            "type": "string",
                            "description": "Human-readable explanation specific to this occurrence of the problem.",
                            "example": "You are not authorized to access this resource"
                          },
                          "title": {
                            "type": "string",
                            "description": "Title of the error",
                            "example": "Unauthorized Access"
                          },
                          "type": {
                            "type": "string",
                            "description": "Type of the response, always \"error\"",
                            "example": "error"
                          }
                        }
                      }
                    },
                    "type": {
                      "type": "string",
                      "description": "Always \"list\".",
                      "example": "list"
                    }
                  },
                  "x-readme-ref-name": "UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Error that access is forbidden and tied to the application logic, such as insufficient rights to a resource.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "correlationId",
                    "data",
                    "type"
                  ],
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Always \"list\".",
                      "example": "list"
                    },
                    "correlationId": {
                      "type": "string",
                      "description": "Unique identifier for this particular occurrence of the problem.",
                      "example": "ac5ah5i"
                    },
                    "data": {
                      "type": "array",
                      "description": "Error data.",
                      "items": {
                        "required": [
                          "code",
                          "source",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "Type of the response, always \"error\"",
                            "example": "error"
                          },
                          "title": {
                            "type": "string",
                            "description": "Title of the error",
                            "example": "Forbidden Access"
                          },
                          "code": {
                            "type": "string",
                            "description": "Application-specific error code, expressed as a string value.",
                            "example": "forbidden-access",
                            "enum": [
                              "forbidden-access",
                              "no-production-access",
                              "access-denied"
                            ]
                          },
                          "detail": {
                            "type": "string",
                            "description": "Human-readable explanation specific to this occurrence of the problem.",
                            "example": "Access to this resource is forbidden."
                          },
                          "source": {
                            "title": "Source",
                            "type": "object",
                            "properties": {
                              "parameter": {
                                "type": "string",
                                "description": "String indicating which URI query parameter caused the error.",
                                "example": "id"
                              }
                            },
                            "description": "An object containing references to the source of the error.",
                            "x-readme-ref-name": "Source"
                          }
                        }
                      }
                    }
                  },
                  "x-readme-ref-name": "ForbiddenAccessError"
                }
              }
            }
          },
          "404": {
            "description": "Returns error indicating that server can't find requested resource.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "correlationId",
                    "data",
                    "type"
                  ],
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Always \"list\".",
                      "example": "list"
                    },
                    "correlationId": {
                      "type": "string",
                      "description": "Unique identifier for this particular occurrence of the problem.",
                      "example": "ac5ah5i"
                    },
                    "data": {
                      "type": "array",
                      "description": "Error data.",
                      "items": {
                        "required": [
                          "code",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Application-specific error code, expressed as a string value.",
                            "example": "resource-not-found",
                            "enum": [
                              "resource-not-found"
                            ]
                          },
                          "detail": {
                            "type": "string",
                            "description": "Human-readable explanation specific to this occurrence of the problem.",
                            "example": "Resource not found."
                          },
                          "title": {
                            "type": "string",
                            "description": "Title of the error",
                            "example": "Requested resource is not found."
                          },
                          "type": {
                            "type": "string",
                            "description": "Type of the response, always \"error\"",
                            "example": "error"
                          }
                        }
                      }
                    }
                  },
                  "x-readme-ref-name": "NotFoundError"
                }
              }
            }
          },
          "500": {
            "description": "Returns error response code indicates that the server encountered an unexpected condition that prevented it from fulfilling the request.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "correlationId",
                    "data",
                    "type"
                  ],
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Always \"list\".",
                      "example": "list"
                    },
                    "correlationId": {
                      "type": "string",
                      "description": "Unique identifier for this particular occurrence of the problem.",
                      "example": "ac5ah5i"
                    },
                    "data": {
                      "type": "array",
                      "description": "Error data.",
                      "items": {
                        "required": [
                          "code",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Application-specific error code, expressed as a string value.",
                            "example": "internal-server-error",
                            "enum": [
                              "internal-server-error"
                            ]
                          },
                          "detail": {
                            "type": "string",
                            "description": "Human-readable explanation specific to this occurrence of the problem.",
                            "example": "Internal Server error. Contact support."
                          },
                          "title": {
                            "type": "string",
                            "description": "Title of the error",
                            "example": "Internal Server error."
                          },
                          "type": {
                            "type": "string",
                            "description": "Type of the response, always \"error\"",
                            "example": "error"
                          }
                        }
                      }
                    }
                  },
                  "x-readme-ref-name": "InternalServerError"
                }
              }
            }
          }
        },
        "security": [
          {
            "services_token": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "job": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "partnerId": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "jobType": {
            "type": "string"
          },
          "applicationId": {
            "type": "string"
          },
          "created": {
            "description": "date and time in ISO format of when the job request was created",
            "type": "string",
            "format": "date-time"
          },
          "updated": {
            "description": "date and time in ISO format of when the job request was updated",
            "type": "string",
            "format": "date-time"
          },
          "steps": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "result": {
                  "type": "object",
                  "nullable": true,
                  "properties": {
                    "type": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "links": {
            "type": "object",
            "properties": {
              "link": {
                "type": "string"
              },
              "self": {
                "type": "string"
              },
              "source": {
                "type": "string"
              }
            }
          }
        },
        "x-readme-ref-name": "job"
      },
      "StatementJobs": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "createdDate": {
            "description": "date and time in ISO format of when the job request was created",
            "type": "string",
            "format": "date-time"
          },
          "updatedDate": {
            "description": "date and time in ISO format of when the job request was updated",
            "type": "string",
            "format": "date-time"
          },
          "jobType": {
            "type": "string"
          },
          "sourceId": {
            "type": "string"
          },
          "steps": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "result": {
                  "type": "object",
                  "nullable": true,
                  "properties": {
                    "type": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "links": {
            "type": "object",
            "properties": {
              "link": {
                "type": "string"
              },
              "self": {
                "type": "string"
              },
              "source": {
                "type": "string"
              }
            }
          }
        },
        "x-readme-ref-name": "StatementJobs"
      },
      "ReportsJob": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "partnerId": {
            "type": "string"
          },
          "applicationId": {
            "type": "string"
          },
          "created": {
            "type": "string"
          },
          "updated": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "jobType": {
            "type": "string"
          },
          "steps": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "result": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "links": {
            "type": "object",
            "properties": {
              "self": {
                "type": "string"
              },
              "source": {
                "type": "string"
              }
            }
          }
        },
        "x-readme-ref-name": "ReportsJob"
      },
      "EventTypes": {
        "properties": {
          "type": {
            "type": "string"
          },
          "count": {
            "type": "integer"
          },
          "size": {
            "type": "integer"
          },
          "data": {
            "type": "array",
            "description": "one or more events that the webhook would send messages for.",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string"
                },
                "id": {
                  "type": "string",
                  "description": "Identifer of the event type",
                  "example": "user.created"
                },
                "description": {
                  "type": "string",
                  "description": "a brief description of the event type",
                  "example": "when a user is created"
                },
                "links": {
                  "type": "object",
                  "properties": {
                    "self": {
                      "type": "string"
                    }
                  }
                }
              },
              "x-readme-ref-name": "EventType"
            }
          },
          "links": {
            "type": "object",
            "properties": {
              "self": {
                "type": "string"
              },
              "next": {
                "type": "string"
              }
            }
          }
        },
        "x-readme-ref-name": "EventTypes"
      },
      "Error": {
        "properties": {
          "type": {
            "type": "string"
          },
          "correlationId": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string"
                },
                "code": {
                  "type": "string"
                },
                "title": {
                  "type": "string"
                },
                "detail": {
                  "type": "string"
                },
                "source": {
                  "type": "object",
                  "properties": {
                    "parameter": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-readme-ref-name": "Error"
      },
      "EventType": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "id": {
            "type": "string",
            "description": "Identifer of the event type",
            "example": "user.created"
          },
          "description": {
            "type": "string",
            "description": "a brief description of the event type",
            "example": "when a user is created"
          },
          "links": {
            "type": "object",
            "properties": {
              "self": {
                "type": "string"
              }
            }
          }
        },
        "x-readme-ref-name": "EventType"
      },
      "RetrieveEvent": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "createdDate": {
            "type": "string"
          },
          "entity": {
            "type": "string"
          },
          "eventType": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "dataRef": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "createdDate": {
                "type": "string"
              },
              "id": {
                "type": "string"
              },
              "institution": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "links": {
                    "type": "object",
                    "properties": {
                      "self": {
                        "type": "string"
                      }
                    }
                  },
                  "type": {
                    "type": "string"
                  }
                }
              },
              "lastUsed": {
                "type": "string"
              },
              "links": {
                "type": "object",
                "properties": {
                  "accounts": {
                    "type": "string"
                  },
                  "self": {
                    "type": "string"
                  },
                  "transactions": {
                    "type": "string"
                  }
                }
              },
              "mfaEnabled": {
                "type": "boolean"
              },
              "status": {
                "type": "string"
              },
              "type": {
                "type": "string"
              }
            }
          },
          "links": {
            "type": "object",
            "properties": {
              "self": {
                "type": "string"
              }
            }
          }
        },
        "x-readme-ref-name": "RetrieveEvent"
      },
      "AuthLinksResponseResource": {
        "required": [
          "id",
          "mobile",
          "type",
          "expiresAt",
          "userId"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Uniquely identifies the auth link.",
            "example": "63448be4"
          },
          "mobile": {
            "type": "string",
            "description": "A user's mobile phone, used as for authentication.",
            "example": 61410000000
          },
          "type": {
            "type": "string",
            "description": "Type of the response, always \"auth_link\".",
            "example": "auth_link"
          },
          "userId": {
            "type": "string",
            "description": "A string that uniquely identifies the user.",
            "example": "ec4ea48d"
          },
          "expiresAt": {
            "type": "string",
            "description": "The date time of auth link expiry.",
            "example": "2019-11-21T04:08:50Z"
          },
          "links": {
            "required": [
              "public",
              "self"
            ],
            "type": "object",
            "properties": {
              "public": {
                "type": "string",
                "description": "Public URL of auth link.",
                "example": "https://connect.basiq.io/63448be4"
              },
              "self": {
                "type": "string",
                "description": "URL of the resource",
                "example": "/users/ec4ea48d/auth_link"
              }
            },
            "x-readme-ref-name": "AuthLinkLinks"
          }
        },
        "x-readme-ref-name": "AuthLinksResponseResource"
      },
      "GoneError": {
        "required": [
          "correlationId",
          "data",
          "type"
        ],
        "type": "object",
        "properties": {
          "correlationId": {
            "type": "string",
            "description": "Unique identifier for this particular occurrence of the problem.",
            "example": "ac5ah5i"
          },
          "data": {
            "type": "array",
            "description": "Error data.",
            "items": {
              "required": [
                "code",
                "type"
              ],
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "Application-specific error code, expressed as a string value.",
                  "example": "resource-no-longer-available",
                  "enum": [
                    "resource-no-longer-available"
                  ]
                },
                "detail": {
                  "type": "string",
                  "description": "Human-readable explanation specific to this occurrence of the problem."
                },
                "title": {
                  "type": "string",
                  "description": "Title of the error"
                },
                "type": {
                  "type": "string",
                  "description": "Type of the response, always \"error\"",
                  "example": "error"
                }
              }
            }
          },
          "type": {
            "type": "string",
            "description": "Always \"list\".",
            "example": "list"
          }
        },
        "x-readme-ref-name": "GoneError"
      },
      "BadRequestError": {
        "required": [
          "correlationId",
          "data",
          "type"
        ],
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Always \"list\".",
            "example": "list"
          },
          "correlationId": {
            "type": "string",
            "description": "Unique identifier for this particular occurrence of the problem.",
            "example": "ac5ah5i"
          },
          "data": {
            "type": "array",
            "description": "Error data.",
            "items": {
              "required": [
                "code",
                "type"
              ],
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "description": "Type of the response, always \"error\"",
                  "example": "error"
                },
                "title": {
                  "type": "string",
                  "description": "Title of the error",
                  "example": "Parameter not valid."
                },
                "code": {
                  "type": "string",
                  "description": "Application-specific error code, expressed as a string value.",
                  "example": "parameter-not-valid",
                  "enum": [
                    "parameter-not-supplied",
                    "parameter-not-valid",
                    "unsupported-accept",
                    "invalid-content",
                    "institution-not-supported",
                    "invalid-credentials"
                  ]
                },
                "detail": {
                  "type": "string",
                  "description": "Human-readable explanation specific to this occurrence of the problem.",
                  "example": "ID value is not valid."
                },
                "source": {
                  "title": "Source",
                  "type": "object",
                  "properties": {
                    "parameter": {
                      "type": "string",
                      "description": "String indicating which URI query parameter caused the error.",
                      "example": "id"
                    }
                  },
                  "description": "An object containing references to the source of the error.",
                  "x-readme-ref-name": "Source"
                }
              }
            }
          }
        },
        "x-readme-ref-name": "BadRequestError"
      },
      "AuthLinkLinks": {
        "required": [
          "public",
          "self"
        ],
        "type": "object",
        "properties": {
          "public": {
            "type": "string",
            "description": "Public URL of auth link.",
            "example": "https://connect.basiq.io/63448be4"
          },
          "self": {
            "type": "string",
            "description": "URL of the resource",
            "example": "/users/ec4ea48d/auth_link"
          }
        },
        "x-readme-ref-name": "AuthLinkLinks"
      },
      "AuthLinksPostResponseResource": {
        "required": [
          "mobile",
          "type",
          "userId",
          "expiresAt"
        ],
        "type": "object",
        "properties": {
          "mobile": {
            "type": "string",
            "description": "A user's mobile phone, used as for authentication.",
            "example": 61410000000
          },
          "type": {
            "type": "string",
            "description": "Type of the response, always \"auth_link\".",
            "example": "auth_link"
          },
          "userId": {
            "type": "string",
            "description": "A string that uniquely identifies the user.",
            "example": "ec4ea48d"
          },
          "expiresAt": {
            "type": "string",
            "description": "The date time of auth link expiry.",
            "example": "2019-11-21T04:08:50Z"
          },
          "links": {
            "required": [
              "public",
              "self"
            ],
            "type": "object",
            "properties": {
              "public": {
                "type": "string",
                "description": "Public URL of auth link.",
                "example": "https://connect.basiq.io/63448be4"
              },
              "self": {
                "type": "string",
                "description": "URL of the resource",
                "example": "/users/ec4ea48d/auth_link"
              }
            },
            "x-readme-ref-name": "AuthLinkLinks"
          }
        },
        "x-readme-ref-name": "AuthLinksPostResponseResource"
      },
      "ConnectionResponseResource": {
        "title": "ConnectionResponseResource",
        "required": [
          "id",
          "links",
          "type"
        ],
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Type, always \"job\".",
            "example": "job"
          },
          "id": {
            "type": "string",
            "description": "Job identification.",
            "example": "29523951"
          },
          "links": {
            "title": "ResourceLink",
            "required": [
              "self"
            ],
            "type": "object",
            "properties": {
              "self": {
                "type": "string",
                "description": "URL of the resource.",
                "example": "https://au-api.basiq.io/link/a3dgf4567a89"
              }
            },
            "description": "Link object containing a link to the resource, self reference.",
            "x-readme-ref-name": "ResourceLink"
          }
        },
        "description": "Object containing details for connection post.",
        "x-readme-ref-name": "ConnectionResponseResource"
      },
      "EventsData": {
        "required": [
          "createdDate",
          "id",
          "links",
          "type",
          "entity",
          "userId",
          "dataRef",
          "data",
          "eventType"
        ],
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Type, always \"event\".",
            "example": "event"
          },
          "id": {
            "type": "string",
            "description": "Event identification.",
            "example": "61723"
          },
          "createdDate": {
            "type": "string",
            "description": "Date the event was created.",
            "example": "2019-07-29T07:34:09Z"
          },
          "entity": {
            "type": "string",
            "description": "The entity associated with the event that has occurred",
            "example": "consent",
            "enum": [
              "consent",
              "connection"
            ]
          },
          "eventType": {
            "type": "string",
            "description": "The type of event that has occurred",
            "example": "revoked",
            "enum": [
              "revoked",
              "expired",
              "updated",
              "created",
              "archived",
              "deleted"
            ]
          },
          "userId": {
            "type": "string",
            "description": "The identifier of the user the event belongs to.",
            "example": "266f5849-6ef6-4aae-accf-386470d0598e"
          },
          "dataRef": {
            "type": "string",
            "description": "URL to the data source the event occurred.",
            "example": "https://au-api.basiq.io/users/266f5849-6ef6-4aae-accf-386470d0598e"
          },
          "data": {
            "type": "string",
            "description": "The data associated with the event that has been created.",
            "example": [
              {
                "email": "max@hooli.com",
                "id": "266f5849-6ef6-4aae-accf-386470d0598e",
                "links": {
                  "self": "https://au-api.basiq.io/users/266f5849-6ef6-4aae-accf-386470d0598e"
                },
                "mobile": "+614xxxxxxxx",
                "type": "user"
              }
            ]
          },
          "links": {
            "example": [
              {
                "self": "https://au-api.basiq.io/events/545ae104289e71bd3da34a063aaf49a5fa17ab6b8e0cab4bc56e019b7cc409e0"
              }
            ]
          }
        },
        "x-readme-ref-name": "EventsData"
      },
      "EventsGetResponseResource": {
        "title": "EventsGetResponseResource",
        "required": [
          "type"
        ],
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Type, always \"list\".",
            "example": "list"
          },
          "data": {
            "type": "array",
            "items": {
              "required": [
                "createdDate",
                "id",
                "links",
                "type",
                "entity",
                "userId",
                "dataRef",
                "data",
                "eventType"
              ],
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "description": "Type, always \"event\".",
                  "example": "event"
                },
                "id": {
                  "type": "string",
                  "description": "Event identification.",
                  "example": "61723"
                },
                "createdDate": {
                  "type": "string",
                  "description": "Date the event was created.",
                  "example": "2019-07-29T07:34:09Z"
                },
                "entity": {
                  "type": "string",
                  "description": "The entity associated with the event that has occurred",
                  "example": "consent",
                  "enum": [
                    "consent",
                    "connection"
                  ]
                },
                "eventType": {
                  "type": "string",
                  "description": "The type of event that has occurred",
                  "example": "revoked",
                  "enum": [
                    "revoked",
                    "expired",
                    "updated",
                    "created",
                    "archived",
                    "deleted"
                  ]
                },
                "userId": {
                  "type": "string",
                  "description": "The identifier of the user the event belongs to.",
                  "example": "266f5849-6ef6-4aae-accf-386470d0598e"
                },
                "dataRef": {
                  "type": "string",
                  "description": "URL to the data source the event occurred.",
                  "example": "https://au-api.basiq.io/users/266f5849-6ef6-4aae-accf-386470d0598e"
                },
                "data": {
                  "type": "string",
                  "description": "The data associated with the event that has been created.",
                  "example": [
                    {
                      "email": "max@hooli.com",
                      "id": "266f5849-6ef6-4aae-accf-386470d0598e",
                      "links": {
                        "self": "https://au-api.basiq.io/users/266f5849-6ef6-4aae-accf-386470d0598e"
                      },
                      "mobile": "+614xxxxxxxx",
                      "type": "user"
                    }
                  ]
                },
                "links": {
                  "example": [
                    {
                      "self": "https://au-api.basiq.io/events/545ae104289e71bd3da34a063aaf49a5fa17ab6b8e0cab4bc56e019b7cc409e0"
                    }
                  ]
                }
              },
              "x-readme-ref-name": "EventsData"
            }
          },
          "links": {
            "title": "ResourceLink",
            "required": [
              "self"
            ],
            "type": "object",
            "properties": {
              "self": {
                "type": "string",
                "description": "URL of the resource.",
                "example": "https://au-api.basiq.io/link/a3dgf4567a89"
              }
            },
            "description": "Link object containing a link to the resource, self reference.",
            "x-readme-ref-name": "ResourceLink"
          }
        },
        "description": "Object containing details for connections.",
        "x-readme-ref-name": "EventsGetResponseResource"
      },
      "ForbiddenAccessError": {
        "required": [
          "correlationId",
          "data",
          "type"
        ],
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Always \"list\".",
            "example": "list"
          },
          "correlationId": {
            "type": "string",
            "description": "Unique identifier for this particular occurrence of the problem.",
            "example": "ac5ah5i"
          },
          "data": {
            "type": "array",
            "description": "Error data.",
            "items": {
              "required": [
                "code",
                "source",
                "type"
              ],
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "description": "Type of the response, always \"error\"",
                  "example": "error"
                },
                "title": {
                  "type": "string",
                  "description": "Title of the error",
                  "example": "Forbidden Access"
                },
                "code": {
                  "type": "string",
                  "description": "Application-specific error code, expressed as a string value.",
                  "example": "forbidden-access",
                  "enum": [
                    "forbidden-access",
                    "no-production-access",
                    "access-denied"
                  ]
                },
                "detail": {
                  "type": "string",
                  "description": "Human-readable explanation specific to this occurrence of the problem.",
                  "example": "Access to this resource is forbidden."
                },
                "source": {
                  "title": "Source",
                  "type": "object",
                  "properties": {
                    "parameter": {
                      "type": "string",
                      "description": "String indicating which URI query parameter caused the error.",
                      "example": "id"
                    }
                  },
                  "description": "An object containing references to the source of the error.",
                  "x-readme-ref-name": "Source"
                }
              }
            }
          }
        },
        "x-readme-ref-name": "ForbiddenAccessError"
      },
      "GetUserAccount": {
        "title": "UserGetAccount",
        "required": [
          "count",
          "data",
          "type"
        ],
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Always \"list\".",
            "example": "list"
          },
          "count": {
            "type": "integer",
            "description": "Count of accounts.",
            "format": "int64",
            "example": 7
          },
          "data": {
            "type": "array",
            "description": "Accounts data.",
            "items": {
              "title": "UserGetAccountData",
              "required": [
                "id",
                "links",
                "type"
              ],
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "description": "Always \"account\".",
                  "example": "account"
                },
                "id": {
                  "type": "string",
                  "description": "Account identification.",
                  "example": "aaaf2c3b"
                },
                "links": {
                  "title": "ResourceLink",
                  "required": [
                    "self"
                  ],
                  "type": "object",
                  "properties": {
                    "self": {
                      "type": "string",
                      "description": "URL of the resource.",
                      "example": "https://au-api.basiq.io/link/a3dgf4567a89"
                    }
                  },
                  "description": "Link object containing a link to the resource, self reference.",
                  "x-readme-ref-name": "ResourceLink"
                }
              },
              "description": "Object containing account data.",
              "x-readme-ref-name": "GetUserAccountData"
            }
          }
        },
        "description": "Container object containing account data.",
        "x-readme-ref-name": "GetUserAccount"
      },
      "GetUserAccountData": {
        "title": "UserGetAccountData",
        "required": [
          "id",
          "links",
          "type"
        ],
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Always \"account\".",
            "example": "account"
          },
          "id": {
            "type": "string",
            "description": "Account identification.",
            "example": "aaaf2c3b"
          },
          "links": {
            "title": "ResourceLink",
            "required": [
              "self"
            ],
            "type": "object",
            "properties": {
              "self": {
                "type": "string",
                "description": "URL of the resource.",
                "example": "https://au-api.basiq.io/link/a3dgf4567a89"
              }
            },
            "description": "Link object containing a link to the resource, self reference.",
            "x-readme-ref-name": "ResourceLink"
          }
        },
        "description": "Object containing account data.",
        "x-readme-ref-name": "GetUserAccountData"
      },
      "GetUserConnection": {
        "title": "UserGetConnection",
        "required": [
          "count",
          "data",
          "type"
        ],
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Always \"list\".",
            "example": "list"
          },
          "count": {
            "type": "integer",
            "description": "Count of accounts.",
            "format": "int64",
            "example": 5
          },
          "data": {
            "type": "array",
            "description": "Connections data.",
            "items": {
              "title": "GetUserConnectionData",
              "required": [
                "id",
                "links",
                "type"
              ],
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "description": "Always \"connection\".",
                  "example": "connection"
                },
                "id": {
                  "type": "string",
                  "description": "Connection identification.",
                  "example": "aaaf2c3b"
                },
                "links": {
                  "title": "ResourceLink",
                  "required": [
                    "self"
                  ],
                  "type": "object",
                  "properties": {
                    "self": {
                      "type": "string",
                      "description": "URL of the resource.",
                      "example": "https://au-api.basiq.io/link/a3dgf4567a89"
                    }
                  },
                  "description": "Link object containing a link to the resource, self reference.",
                  "x-readme-ref-name": "ResourceLink"
                }
              },
              "description": "Object containing connection data.",
              "x-readme-ref-name": "GetUserConnectionData"
            }
          }
        },
        "description": "Container object containing connection data.",
        "x-readme-ref-name": "GetUserConnection"
      },
      "GetUserConnectionData": {
        "title": "GetUserConnectionData",
        "required": [
          "id",
          "links",
          "type"
        ],
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Always \"connection\".",
            "example": "connection"
          },
          "id": {
            "type": "string",
            "description": "Connection identification.",
            "example": "aaaf2c3b"
          },
          "links": {
            "title": "ResourceLink",
            "required": [
              "self"
            ],
            "type": "object",
            "properties": {
              "self": {
                "type": "string",
                "description": "URL of the resource.",
                "example": "https://au-api.basiq.io/link/a3dgf4567a89"
              }
            },
            "description": "Link object containing a link to the resource, self reference.",
            "x-readme-ref-name": "ResourceLink"
          }
        },
        "description": "Object containing connection data.",
        "x-readme-ref-name": "GetUserConnectionData"
      },
      "GetUserLinks": {
        "title": "GetUserLinks",
        "required": [
          "accounts",
          "auth_link",
          "connections",
          "self",
          "transactions"
        ],
        "type": "object",
        "properties": {
          "accounts": {
            "type": "string",
            "description": "Accounts reference url.",
            "example": "https://au-api.basiq.io/users/a3dgf4567a89/accounts"
          },
          "connections": {
            "type": "string",
            "description": "Connections reference url.",
            "example": "https://au-api.basiq.io/users/a3dgf4567a89/connections"
          },
          "self": {
            "type": "string",
            "description": "User self reference url.",
            "example": "https://au-api.basiq.io/user/a3dgf4567a89"
          },
          "transactions": {
            "type": "string",
            "description": "Transactions reference url.",
            "example": "https://au-api.basiq.io/users/a3dgf4567a89/transactions"
          }
        },
        "description": "Object containing links to resources.",
        "x-readme-ref-name": "GetUserLinks"
      },
      "InternalServerError": {
        "required": [
          "correlationId",
          "data",
          "type"
        ],
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Always \"list\".",
            "example": "list"
          },
          "correlationId": {
            "type": "string",
            "description": "Unique identifier for this particular occurrence of the problem.",
            "example": "ac5ah5i"
          },
          "data": {
            "type": "array",
            "description": "Error data.",
            "items": {
              "required": [
                "code",
                "type"
              ],
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "Application-specific error code, expressed as a string value.",
                  "example": "internal-server-error",
                  "enum": [
                    "internal-server-error"
                  ]
                },
                "detail": {
                  "type": "string",
                  "description": "Human-readable explanation specific to this occurrence of the problem.",
                  "example": "Internal Server error. Contact support."
                },
                "title": {
                  "type": "string",
                  "description": "Title of the error",
                  "example": "Internal Server error."
                },
                "type": {
                  "type": "string",
                  "description": "Type of the response, always \"error\"",
                  "example": "error"
                }
              }
            }
          }
        },
        "x-readme-ref-name": "InternalServerError"
      },
      "JobsData": {
        "title": "JobsData",
        "required": [
          "created",
          "id",
          "institution",
          "steps",
          "updated"
        ],
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Value is \"job\".",
            "example": "job"
          },
          "id": {
            "type": "string",
            "description": "A string that uniquely identifies the job.",
            "example": "e9132638"
          },
          "created": {
            "type": "string",
            "description": "The date time when the job was created.",
            "example": "2020-06-10T09:59:00Z"
          },
          "updated": {
            "type": "string",
            "description": "The date time when the job was last updated.",
            "example": "2020-06-10T09:59:00Z"
          },
          "institution": {
            "title": "Institution",
            "required": [
              "id",
              "links",
              "type"
            ],
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "description": "A string that uniquely identifies institution.",
                "example": "AU00000"
              },
              "links": {
                "title": "JobsLinks",
                "required": [
                  "self"
                ],
                "type": "object",
                "properties": {
                  "self": {
                    "type": "string",
                    "description": "URL of the resource",
                    "example": "https://au-api.basiq.io/jobs/61723"
                  },
                  "source": {
                    "type": "string",
                    "description": "Resource that initiated creation of this Job. For example, for operations on Connection, this is a Connection URL. This is only returned for Connection jobs and not for Statement jobs.",
                    "example": "https://au-api.basiq.io/users/ea3a81/connections/8fce3b"
                  }
                },
                "description": "Links to the resources.",
                "x-readme-ref-name": "JobsLinks"
              },
              "type": {
                "type": "string",
                "description": "Always \"institution\".",
                "example": "institution"
              }
            },
            "description": "Institution details.",
            "x-readme-ref-name": "JobsInstitution"
          },
          "steps": {
            "type": "array",
            "description": "List of steps that need to be completed.",
            "items": {
              "title": "JobsStep",
              "required": [
                "result",
                "status"
              ],
              "type": "object",
              "properties": {
                "title": {
                  "type": "string",
                  "description": "Name of the step the job needs to complete.",
                  "example": "retrieve-accounts",
                  "enum": [
                    "verify-credentials",
                    "retrieve-accounts",
                    "retrieve-transactions",
                    "retrieve-statements"
                  ]
                },
                "status": {
                  "type": "string",
                  "description": "Status of the job step",
                  "example": "success",
                  "enum": [
                    "pending",
                    "in-progress",
                    "success",
                    "failed"
                  ]
                },
                "result": {
                  "title": "JobsResult",
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "In case of failed job, displays error code.",
                      "enum": [
                        "success",
                        "user-action-required",
                        "system-unavailable",
                        "maintenance",
                        "connector-error",
                        "institution-not-found",
                        "institution-not-available",
                        "institution-disabled",
                        "missing-required-field",
                        "missing-required-field-value",
                        "invalid-field-value",
                        "invalid-csv-row",
                        "row-count-exceeded",
                        "account-data-differs",
                        "empty-file",
                        "bank-statement-invalid",
                        "bank-statement-new-product",
                        "bank-statement-parsing-error",
                        "bank-statement-not-supported",
                        "txn-after-last-updated-date",
                        "invalid-connection",
                        "unknown-error",
                        "job-timed-out"
                      ]
                    },
                    "details": {
                      "type": "string",
                      "description": "In case of failed job, displays details of the error."
                    },
                    "title": {
                      "type": "string",
                      "description": "In case of failed job, displays error title."
                    },
                    "type": {
                      "type": "string",
                      "description": "In case of success, Always \"link\".",
                      "example": "link"
                    },
                    "url": {
                      "type": "string",
                      "description": "In case of success, URL of the updated (or created) resources."
                    }
                  },
                  "description": "Result object containing a list of URLs or null. Otherwise if a step failed contains an error response.",
                  "x-readme-ref-name": "JobsResult"
                }
              },
              "description": "List of steps that need to be completed.",
              "x-readme-ref-name": "JobsStep"
            }
          },
          "links": {
            "title": "JobsLinks",
            "required": [
              "self"
            ],
            "type": "object",
            "properties": {
              "self": {
                "type": "string",
                "description": "URL of the resource",
                "example": "https://au-api.basiq.io/jobs/61723"
              },
              "source": {
                "type": "string",
                "description": "Resource that initiated creation of this Job. For example, for operations on Connection, this is a Connection URL. This is only returned for Connection jobs and not for Statement jobs.",
                "example": "https://au-api.basiq.io/users/ea3a81/connections/8fce3b"
              }
            },
            "description": "Links to the resources.",
            "x-readme-ref-name": "JobsLinks"
          }
        },
        "description": "Container object, containing job details.",
        "x-readme-ref-name": "JobsData"
      },
      "JobPostRequest": {
        "required": [
          "mfa-response"
        ],
        "type": "object",
        "properties": {
          "mfa-response": {
            "type": "array",
            "description": "One time password or answer to a security question/s e.g. [\"1234\"]",
            "example": [
              "1234"
            ],
            "items": {
              "type": "string"
            }
          }
        },
        "x-readme-ref-name": "JobPostRequest"
      },
      "JobsInstitution": {
        "title": "Institution",
        "required": [
          "id",
          "links",
          "type"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "A string that uniquely identifies institution.",
            "example": "AU00000"
          },
          "links": {
            "title": "JobsLinks",
            "required": [
              "self"
            ],
            "type": "object",
            "properties": {
              "self": {
                "type": "string",
                "description": "URL of the resource",
                "example": "https://au-api.basiq.io/jobs/61723"
              },
              "source": {
                "type": "string",
                "description": "Resource that initiated creation of this Job. For example, for operations on Connection, this is a Connection URL. This is only returned for Connection jobs and not for Statement jobs.",
                "example": "https://au-api.basiq.io/users/ea3a81/connections/8fce3b"
              }
            },
            "description": "Links to the resources.",
            "x-readme-ref-name": "JobsLinks"
          },
          "type": {
            "type": "string",
            "description": "Always \"institution\".",
            "example": "institution"
          }
        },
        "description": "Institution details.",
        "x-readme-ref-name": "JobsInstitution"
      },
      "JobsLinks": {
        "title": "JobsLinks",
        "required": [
          "self"
        ],
        "type": "object",
        "properties": {
          "self": {
            "type": "string",
            "description": "URL of the resource",
            "example": "https://au-api.basiq.io/jobs/61723"
          },
          "source": {
            "type": "string",
            "description": "Resource that initiated creation of this Job. For example, for operations on Connection, this is a Connection URL. This is only returned for Connection jobs and not for Statement jobs.",
            "example": "https://au-api.basiq.io/users/ea3a81/connections/8fce3b"
          }
        },
        "description": "Links to the resources.",
        "x-readme-ref-name": "JobsLinks"
      },
      "JobsResponseResource": {
        "required": [
          "data",
          "links",
          "size",
          "type"
        ],
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Type of the response, always \"list\".",
            "example": "list"
          },
          "data": {
            "type": "array",
            "description": "Container object, containing job details.",
            "items": {
              "title": "JobsData",
              "required": [
                "created",
                "id",
                "institution",
                "steps",
                "updated"
              ],
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "description": "Value is \"job\".",
                  "example": "job"
                },
                "id": {
                  "type": "string",
                  "description": "A string that uniquely identifies the job.",
                  "example": "e9132638"
                },
                "created": {
                  "type": "string",
                  "description": "The date time when the job was created.",
                  "example": "2020-06-10T09:59:00Z"
                },
                "updated": {
                  "type": "string",
                  "description": "The date time when the job was last updated.",
                  "example": "2020-06-10T09:59:00Z"
                },
                "institution": {
                  "title": "Institution",
                  "required": [
                    "id",
                    "links",
                    "type"
                  ],
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "A string that uniquely identifies institution.",
                      "example": "AU00000"
                    },
                    "links": {
                      "title": "JobsLinks",
                      "required": [
                        "self"
                      ],
                      "type": "object",
                      "properties": {
                        "self": {
                          "type": "string",
                          "description": "URL of the resource",
                          "example": "https://au-api.basiq.io/jobs/61723"
                        },
                        "source": {
                          "type": "string",
                          "description": "Resource that initiated creation of this Job. For example, for operations on Connection, this is a Connection URL. This is only returned for Connection jobs and not for Statement jobs.",
                          "example": "https://au-api.basiq.io/users/ea3a81/connections/8fce3b"
                        }
                      },
                      "description": "Links to the resources.",
                      "x-readme-ref-name": "JobsLinks"
                    },
                    "type": {
                      "type": "string",
                      "description": "Always \"institution\".",
                      "example": "institution"
                    }
                  },
                  "description": "Institution details.",
                  "x-readme-ref-name": "JobsInstitution"
                },
                "steps": {
                  "type": "array",
                  "description": "List of steps that need to be completed.",
                  "items": {
                    "title": "JobsStep",
                    "required": [
                      "result",
                      "status"
                    ],
                    "type": "object",
                    "properties": {
                      "title": {
                        "type": "string",
                        "description": "Name of the step the job needs to complete.",
                        "example": "retrieve-accounts",
                        "enum": [
                          "verify-credentials",
                          "retrieve-accounts",
                          "retrieve-transactions",
                          "retrieve-statements"
                        ]
                      },
                      "status": {
                        "type": "string",
                        "description": "Status of the job step",
                        "example": "success",
                        "enum": [
                          "pending",
                          "in-progress",
                          "success",
                          "failed"
                        ]
                      },
                      "result": {
                        "title": "JobsResult",
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "In case of failed job, displays error code.",
                            "enum": [
                              "success",
                              "user-action-required",
                              "system-unavailable",
                              "maintenance",
                              "connector-error",
                              "institution-not-found",
                              "institution-not-available",
                              "institution-disabled",
                              "missing-required-field",
                              "missing-required-field-value",
                              "invalid-field-value",
                              "invalid-csv-row",
                              "row-count-exceeded",
                              "account-data-differs",
                              "empty-file",
                              "bank-statement-invalid",
                              "bank-statement-new-product",
                              "bank-statement-parsing-error",
                              "bank-statement-not-supported",
                              "txn-after-last-updated-date",
                              "invalid-connection",
                              "unknown-error",
                              "job-timed-out"
                            ]
                          },
                          "details": {
                            "type": "string",
                            "description": "In case of failed job, displays details of the error."
                          },
                          "title": {
                            "type": "string",
                            "description": "In case of failed job, displays error title."
                          },
                          "type": {
                            "type": "string",
                            "description": "In case of success, Always \"link\".",
                            "example": "link"
                          },
                          "url": {
                            "type": "string",
                            "description": "In case of success, URL of the updated (or created) resources."
                          }
                        },
                        "description": "Result object containing a list of URLs or null. Otherwise if a step failed contains an error response.",
                        "x-readme-ref-name": "JobsResult"
                      }
                    },
                    "description": "List of steps that need to be completed.",
                    "x-readme-ref-name": "JobsStep"
                  }
                },
                "links": {
                  "title": "JobsLinks",
                  "required": [
                    "self"
                  ],
                  "type": "object",
                  "properties": {
                    "self": {
                      "type": "string",
                      "description": "URL of the resource",
                      "example": "https://au-api.basiq.io/jobs/61723"
                    },
                    "source": {
                      "type": "string",
                      "description": "Resource that initiated creation of this Job. For example, for operations on Connection, this is a Connection URL. This is only returned for Connection jobs and not for Statement jobs.",
                      "example": "https://au-api.basiq.io/users/ea3a81/connections/8fce3b"
                    }
                  },
                  "description": "Links to the resources.",
                  "x-readme-ref-name": "JobsLinks"
                }
              },
              "description": "Container object, containing job details.",
              "x-readme-ref-name": "JobsData"
            }
          },
          "size": {
            "type": "integer",
            "description": "Size of the all the jobs.",
            "format": "int64",
            "example": 100
          },
          "links": {
            "title": "ResourceLink",
            "required": [
              "self"
            ],
            "type": "object",
            "properties": {
              "self": {
                "type": "string",
                "description": "URL of the resource.",
                "example": "https://au-api.basiq.io/link/a3dgf4567a89"
              }
            },
            "description": "Link object containing a link to the resource, self reference.",
            "x-readme-ref-name": "ResourceLink"
          }
        },
        "x-readme-ref-name": "JobsResponseResource"
      },
      "JobsResult": {
        "title": "JobsResult",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "In case of failed job, displays error code.",
            "enum": [
              "success",
              "user-action-required",
              "system-unavailable",
              "maintenance",
              "connector-error",
              "institution-not-found",
              "institution-not-available",
              "institution-disabled",
              "missing-required-field",
              "missing-required-field-value",
              "invalid-field-value",
              "invalid-csv-row",
              "row-count-exceeded",
              "account-data-differs",
              "empty-file",
              "bank-statement-invalid",
              "bank-statement-new-product",
              "bank-statement-parsing-error",
              "bank-statement-not-supported",
              "txn-after-last-updated-date",
              "invalid-connection",
              "unknown-error",
              "job-timed-out"
            ]
          },
          "details": {
            "type": "string",
            "description": "In case of failed job, displays details of the error."
          },
          "title": {
            "type": "string",
            "description": "In case of failed job, displays error title."
          },
          "type": {
            "type": "string",
            "description": "In case of success, Always \"link\".",
            "example": "link"
          },
          "url": {
            "type": "string",
            "description": "In case of success, URL of the updated (or created) resources."
          }
        },
        "description": "Result object containing a list of URLs or null. Otherwise if a step failed contains an error response.",
        "x-readme-ref-name": "JobsResult"
      },
      "JobsStep": {
        "title": "JobsStep",
        "required": [
          "result",
          "status"
        ],
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "description": "Name of the step the job needs to complete.",
            "example": "retrieve-accounts",
            "enum": [
              "verify-credentials",
              "retrieve-accounts",
              "retrieve-transactions",
              "retrieve-statements"
            ]
          },
          "status": {
            "type": "string",
            "description": "Status of the job step",
            "example": "success",
            "enum": [
              "pending",
              "in-progress",
              "success",
              "failed"
            ]
          },
          "result": {
            "title": "JobsResult",
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "description": "In case of failed job, displays error code.",
                "enum": [
                  "success",
                  "user-action-required",
                  "system-unavailable",
                  "maintenance",
                  "connector-error",
                  "institution-not-found",
                  "institution-not-available",
                  "institution-disabled",
                  "missing-required-field",
                  "missing-required-field-value",
                  "invalid-field-value",
                  "invalid-csv-row",
                  "row-count-exceeded",
                  "account-data-differs",
                  "empty-file",
                  "bank-statement-invalid",
                  "bank-statement-new-product",
                  "bank-statement-parsing-error",
                  "bank-statement-not-supported",
                  "txn-after-last-updated-date",
                  "invalid-connection",
                  "unknown-error",
                  "job-timed-out"
                ]
              },
              "details": {
                "type": "string",
                "description": "In case of failed job, displays details of the error."
              },
              "title": {
                "type": "string",
                "description": "In case of failed job, displays error title."
              },
              "type": {
                "type": "string",
                "description": "In case of success, Always \"link\".",
                "example": "link"
              },
              "url": {
                "type": "string",
                "description": "In case of success, URL of the updated (or created) resources."
              }
            },
            "description": "Result object containing a list of URLs or null. Otherwise if a step failed contains an error response.",
            "x-readme-ref-name": "JobsResult"
          }
        },
        "description": "List of steps that need to be completed.",
        "x-readme-ref-name": "JobsStep"
      },
      "NotFoundError": {
        "required": [
          "correlationId",
          "data",
          "type"
        ],
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Always \"list\".",
            "example": "list"
          },
          "correlationId": {
            "type": "string",
            "description": "Unique identifier for this particular occurrence of the problem.",
            "example": "ac5ah5i"
          },
          "data": {
            "type": "array",
            "description": "Error data.",
            "items": {
              "required": [
                "code",
                "type"
              ],
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "Application-specific error code, expressed as a string value.",
                  "example": "resource-not-found",
                  "enum": [
                    "resource-not-found"
                  ]
                },
                "detail": {
                  "type": "string",
                  "description": "Human-readable explanation specific to this occurrence of the problem.",
                  "example": "Resource not found."
                },
                "title": {
                  "type": "string",
                  "description": "Title of the error",
                  "example": "Requested resource is not found."
                },
                "type": {
                  "type": "string",
                  "description": "Type of the response, always \"error\"",
                  "example": "error"
                }
              }
            }
          }
        },
        "x-readme-ref-name": "NotFoundError"
      },
      "ResourceLink": {
        "title": "ResourceLink",
        "required": [
          "self"
        ],
        "type": "object",
        "properties": {
          "self": {
            "type": "string",
            "description": "URL of the resource.",
            "example": "https://au-api.basiq.io/link/a3dgf4567a89"
          }
        },
        "description": "Link object containing a link to the resource, self reference.",
        "x-readme-ref-name": "ResourceLink"
      },
      "Source": {
        "title": "Source",
        "type": "object",
        "properties": {
          "parameter": {
            "type": "string",
            "description": "String indicating which URI query parameter caused the error.",
            "example": "id"
          }
        },
        "description": "An object containing references to the source of the error.",
        "x-readme-ref-name": "Source"
      },
      "StatusServiceUnavailableError": {
        "required": [
          "correlationId",
          "data",
          "type"
        ],
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Always \"list\".",
            "example": "list"
          },
          "correlationId": {
            "type": "string",
            "description": "Unique identifier for this particular occurrence of the problem.",
            "example": "ac5ah5i"
          },
          "data": {
            "type": "array",
            "description": "Error data.",
            "items": {
              "required": [
                "code",
                "type"
              ],
              "type": "object",
              "properties": {
                "code": {
                  "type": "object",
                  "description": "Application-specific error code, expressed as a string value.",
                  "example": "service-unavailable"
                },
                "detail": {
                  "type": "string",
                  "description": "Human-readable explanation specific to this occurrence of the problem.",
                  "example": "Service Unavailable. Try again later."
                },
                "title": {
                  "type": "string",
[...]
