{"openapi":"3.0.0","info":{"title":"Data","version":"3.0.0","license":{"name":"Commercial","url":"https://basiq.io"}},"servers":[{"url":"https://au-api.basiq.io"}],"paths":{"/users/{userId}/accounts":{"get":{"tags":["Accounts"],"summary":"List all accounts","description":"List all accounts belonging to a user","operationId":"getAccounts","parameters":[{"name":"userId","in":"path","description":"User identifier","required":true,"schema":{"type":"string"}},{"name":"filter","in":"query","description":"Account filters; account.id, connection.id, institution.id, Only equals (eq) and not equals (ne) operations are currently supported.","schema":{"type":"string"}}],"responses":{"200":{"description":"Returns a account with details.","content":{"application/json":{"schema":{"required":["data","links","type"],"type":"object","properties":{"type":{"type":"string","description":"Type of the response, always \"list\".","example":"list"},"data":{"type":"array","description":"Container object, containing account details.","items":{"title":"AccountResponseResource","required":["type","id","lastUpdated","status","name","accountNo","accountHolder","isOwned","accountOwnership","balance","availableFunds","creditLimit","currency","class","connection","institution","transactionIntervals"],"type":"object","properties":{"type":{"type":"string","description":"Always \"account\".","example":"account"},"id":{"type":"string","description":"Uniquely identifies the account.","example":"s55bf3"},"depositRate":{"type":"string","description":"current rate to calculate interest earned being applied to deposit balances as it stands at the time of the API call."},"lendingRate":{"type":"string","description":"The current rate to calculate interest payable being applied to lending balances as it stands at the time of the API call."},"bsb":{"type":"string","description":"The unmasked BSB for the account. Is expected to be formatted as digits only with leading zeros included and no punctuation or spaces."},"unmaskedAccNum":{"type":"string","description":"The unmasked account number for the account. Should not be supplied if the account number is a PAN requiring PCI compliance. Is expected to be formatted as digits only with leading zeros included and no punctuation or spaces."},"creationDate":{"type":"string","description":"Date that the account was created (if known)."},"accountHolder":{"type":"string","description":"The name of the account holder as returned by the institution. No formatting is applied. Returns a string or null when not available.","nullable":true,"example":"GAVIN BELSON"},"maskedNumber":{"type":"string","description":"A masked version of the account. Whether BSB/Account Number, Credit Card PAN or another number."},"accountOwnership":{"type":"string","description":"Value indicating the number of customers that have ownership of the account, according to the data holder's definition of account ownership. Does not indicate that all account owners are eligible consumers.","example":"ONE_PARTY","enum":["UNKNOWN","ONE_PARTY","TWO_PARTY","MANY_PARTY","OTHER"]},"isOwned":{"type":"boolean","description":"Flag indicating that the customer associated with the authorisation is an owner of the account. Does not indicate sole ownership, however. If not present then 'true' is assumed.","example":true},"amortisedLimit":{"type":"string","description":"Object representing the available limit amortised according to payment schedule. Assumed to be zero if absent."},"bundleName":{"type":"string","description":"Optional field to indicate if this account is part of a bundle that is providing additional benefit to the customer."},"purses":{"type":"array","description":"Optional array of balances for the account in other currencies. Included to support accounts that support multi-currency purses such as Travel Cards.","items":{"required":["amount"],"properties":{"amount":{"type":"string","description":"The balance available for this additional currency purse."},"currency":{"type":"string","description":"The currency for the purse."}},"x-readme-ref-name":"pursesClass"}},"accountNo":{"type":"string","description":"BSB + account number.","example":"600000157441965"},"availableFunds":{"type":"string","description":"Funds that are available to an account holder for withdrawal or other use. This may include funds from an overdraft facility or line of credit. As well as funds classified as the available balance, such as from cleared and existing deposits.","nullable":true,"example":"420.28"},"balance":{"type":"string","description":"Amount of funds in the account right now - excluding any pending transactions. For a credit card this would be zero or the minus amount spent.","nullable":true,"example":"356.50"},"creditLimit":{"type":"string","description":"Eligible account types are credit-card, loan and mortgage.","nullable":true,"example":"400000.00"},"class":{"description":"Describes the class(type) of accounts.","enum":["transaction","savings","credit-card","mortgage","loan","investment","term-deposit","insurance","foreign","unknown"],"required":["type","product"],"properties":{"type":{"type":"string","description":"Account type","example":"mortgage"},"product":{"type":"string","description":"Product name.","example":"Hooli Home Loan"}},"x-readme-ref-name":"AccountClass"},"connection":{"type":"string","description":"The id of the connection resource that was used to retrieve the account.","example":"8fce3b"},"currency":{"type":"string","description":"The currency the funds are stored in, using ISO 4217 standard.","example":"AUD"},"institution":{"type":"string","description":"The id of the institution resource the account originated from.","example":"AU00000"},"lastUpdated":{"type":"string","description":"Timestamp of last update, UTC, RFC 3339 format e.g. \"2017-09-28T13:39:33Z\"","example":"2019-09-28T13:39:33Z"},"name":{"type":"string","description":"Account name as defined by institution or user.","example":"Master Savings"},"status":{"type":"string","description":"Account status","example":"available","enum":["available","unavailable"]},"meta":{"properties":{"fees":{"type":"array","nullable":true,"items":{"required":["name","feeType"],"type":"object","properties":{"name":{"type":"string","description":"(mandatory) - Name of the fee.","example":"Dishonour fee"},"feeType":{"type":"string","description":"(mandatory) - The type of fee.","enum":["DEPOSIT","EVENT","EXIT","PAYMENT","PERIODIC","PURCHASE","TRANSACTION","UPFRONT","VARIABLE","WITHDRAWAL"],"example":"EVENT"},"amount":{"type":"string","description":"(conditional) - The amount charged for the fee.","example":"10.00"},"balanceRate":{"type":"string","description":"A fee rate calculated based on a proportion of the balance. One of amount, balanceRate, transactionRate and accruedRate is mandatory unless the feeType \"VARIABLE\" is supplied."},"transactionRate":{"type":"string","description":"A fee rate calculated based on a proportion of a transaction. One of amount, balanceRate, transactionRate and accruedRate is mandatory unless the feeType \"VARIABLE\" is supplied."},"accruedRate":{"type":"string","description":"A fee rate calculated based on a proportion of the calculated interest accrued on the account. One of amount, balanceRate, transactionRate and accruedRate is mandatory unless the feeType \"VARIABLE\" is supplied."},"accrualFrequency":{"type":"string","description":"(optional) - The indicative frequency with which the fee is calculated on the account.","example":"P1M"},"currency":{"type":"string","description":"The currency the fee will be charged in. Assumes AUD if absent."},"additionalValue":{"type":"string","description":"Display text providing more information on the fee."},"additionalInfo":{"type":"string","description":"Display text providing more information on the fee."},"additionalInfoUri":{"type":"string","description":"Link to a web page with more information on this fee."},"discounts":{"items":{"required":["discountType","description"],"properties":{"description":{"type":"string","description":"Description of the discount."},"discountType":{"type":"string","description":"The type of discount. See the next section for an overview of valid values and their meaning."},"amount":{"type":"string","description":"Dollar value of the discount. One of amount, balanceRate, transactionRate, accruedRate and feeRate is mandatory."},"balanceRate":{"type":"string","description":"A discount rate calculated based on a proportion of the balance. Note that the currency of the fee discount is expected to be the same as the currency of the fee itself. One of amount, balanceRate, transactionRate, accruedRate and feeRate is mandatory. Unless noted in additionalInfo, assumes the application and calculation frequency are the same as the corresponding fee."},"transactionRate":{"type":"string","description":"A discount rate calculated based on a proportion of a transaction. Note that the currency of the fee discount is expected to be the same as the currency of the fee itself. One of amount, balanceRate, transactionRate, accruedRate and feeRate is mandatory."},"accruedRate":{"type":"string","description":"A discount rate calculated based on a proportion of the calculated interest accrued on the account. Note that the currency of the fee discount is expected to be the same as the currency of the fee itself. One of amount, balanceRate, transactionRate, accruedRate and feeRate is mandatory. Unless noted in additionalInfo, assumes the application and calculation frequency are the same as the corresponding fee."},"feeRate":{"type":"string","description":"A discount rate calculated based on a proportion of the fee to which this discount is attached. Note that the currency of the fee discount is expected to be the same as the currency of the fee itself. One of amount, balanceRate, transactionRate, accruedRate and feeRate is mandatory. Unless noted in additionalInfo, assumes the application and calculation frequency are the same as the corresponding fee."},"additionalValue":{"type":"string","description":"Generic field containing additional information relevant to the discountType specified. Whether mandatory or not is dependent on the value of discountType."},"additionalInfo":{"type":"string","description":"Display text providing more information on the discount."},"additionalInfoUri":{"type":"string","description":"Link to a web page with more information on this discount."},"eligibility":{"description":"Eligibility constraints that apply to this discount. Mandatory if discountType is ELIGIBILITY_ONLY.","required":["discountEligibilityType"],"properties":{"discountEligibilityType":{"type":"string","description":"The type of the specific eligibility constraint for a discountType.","enum":["BUSINESS","EMPLOYMENT_STATUS","INTRODUCTORY","MAX_AGE","MIN_AGE","MIN_INCOME","MIN_TURNOVER","NATURAL_PERSON","OTHER","PENSION_RECIPIENT","RESIDENCY_STATUS","STAFF","STUDENT"]},"additionalValue":{"type":"string","description":"Generic field containing additional information relevant to the discountEligibilityType specified. Whether mandatory or not is dependent on the value of discountEligibilityType."},"additionalInfo":{"type":"string","description":"Display text providing more information on this eligibility constraint. Whether mandatory or not is dependent on the value of discountEligibilityType."},"additionalInfoUri":{"type":"string","description":"Link to a web page with more information on this eligibility constraint."}},"x-readme-ref-name":"feesdiscounteligibilityMetadata"}},"x-readme-ref-name":"feesdiscountMetadata"}}},"x-readme-ref-name":"feesAccountMetadata"}},"depositRates":{"type":"array","nullable":true,"items":{"required":["depositRateType","rate"],"type":"object","properties":{"depositRateType":{"type":"string","description":"The type of rate (base, bonus, etc).","example":"VARIABLE","enum":["BONUS","BUNDLE_BONUS","FIXED","FLOATING","INTRODUCTORY","MARKET_LINKED","VARIABLE"]},"rate":{"type":"string","description":"The rate to be applied.","example":"0.0385"},"calculationFrequency":{"type":"string","description":"The period after which the rate is applied to the balance to calculate the amount due for the period. Calculation of the amount is often daily (as balances may change) but accumulated until the total amount is 'applied' to the account (see applicationFrequency). Formatted according to ISO 8601 Durations (excludes recurrence syntax)."},"applicationFrequency":{"type":"string","description":"The period after which the calculated amount(s) are 'applied' (i.e. debited or credited) to the account.","example":"P1M"},"tiers":{"items":{"required":["name","unitOfMeasure","minimumValue"],"properties":{"name":{"type":"string","description":"A display name for the tier."},"unitOfMeasure":{"type":"string","description":"The unit of measure that applies to the minimumValue and maximumValue values e.g. a DOLLAR amount. PERCENT (in the case of loan-to-value ratio or LVR). Tier term period representing a discrete number of MONTH's or DAY's (in the case of term deposit tiers).","enum":["DAY","DOLLAR","MONTH","PERCENT"]},"minimumValue":{"type":"integer","description":"The number of unitOfMeasure units that form the lower bound of the tier. The tier should be inclusive of this value."},"maximumValue":{"type":"integer","description":"The number of unitOfMeasure units that form the upper bound of the tier or band. For a tier with a discrete value (as opposed to a range of values e.g. 1 month) this must be the same as minimumValue. Where this is the same as the minimumValue value of the next-higher tier the referenced tier should be exclusive of this value. For example a term deposit of 2 months falls into the upper tier of the following tiers: (1 - 2 months, 2 - 3 months). If absent the tier's range has no upper bound.. "},"rateApplicationMethod":{"type":"string","description":"The method used to calculate the amount to be applied using one or more tiers. A single rate may be applied to the entire balance or each applicable tier rate is applied to the portion of the balance that falls into that tier (referred to as 'bands' or 'steps').","enum":["PER_TIER","WHOLE_BALANCE"]},"applicabilityConditions":{"properties":{"additionalInfo":{"type":"string","description":"Display text providing more information on the condition."},"additionalInfoUri":{"type":"string","description":"Link to a web page with more information on this condition."}},"x-readme-ref-name":"feesAccountMetadepositratestiersRateCondition"},"additionalInfo":{"type":"string","description":"Display text providing more information on the rate tier."},"additionalInfoUri":{"type":"string","description":"Link to a web page with more information on this rate tier."}},"x-readme-ref-name":"feesAccountMetadepositratestiers"}},"additionalValue":{"type":"string","description":"Generic field containing additional information relevant to the lendingRateType specified. Whether mandatory or not is dependent on the value of lendingRateType."},"additionalInfo":{"type":"string","description":"Display text providing more information on the rate."},"additionalInfoUri":{"type":"string","description":"Link to a web page with more information on this rate."}},"x-readme-ref-name":"depositRateAccountMetadata"}},"lendingRates":{"type":"array","nullable":true,"items":{"required":["lendingRateType","rate"],"type":"object","properties":{"lendingRateType":{"type":"string","description":"The type of rate (fixed, variable, etc).","example":"PURCHASE","enum":["BUNDLE_DISCOUNT_FIXED","BUNDLE_DISCOUNT_VARIABLE","CASH_ADVANCE","DISCOUNT","FIXED","FLOATING","INTRODUCTORY","MARKET_LINKED","PENALTY","PURCHASE","VARIABLE"]},"rate":{"type":"string","description":"The rate to be applied.","example":"0.2024"},"comparisonRate":{"type":"string","description":"A comparison rate equivalent for this rate."},"calculationFrequency":{"type":"string","description":"The period after which the rate is applied to the balance to calculate the amount due for the period. Calculation of the amount is often daily (as balances may change) but accumulated until the total amount is 'applied' to the account (see applicationFrequency). Formatted according to ISO 8601 Durations (excludes recurrence syntax)."},"applicationFrequency":{"type":"string","description":"The period after which the calculated amount(s) (see calculationFrequency) are 'applied' (i.e. debited or credited) to the account. Formatted according to ISO 8601 Durations (excludes recurrence syntax)."},"interestPaymentDue":{"type":"string","description":"When loan payments are due to be paid within each period. The investment benefit of earlier payments affect the rate that can be offered.","enum":["IN_ADVANCE","IN_ARREARS"],"example":"IN_ADVANCE"},"repaymentType":{"type":"string","description":"Options in place for repayments. If absent, the lending rate is applicable to all repayment types.","enum":["INTEREST_ONLY","PRINCIPAL_AND_INTEREST"],"example":"INTEREST_ONLY"},"loanPurpose":{"type":"string","description":"The reason for taking out the loan. If absent, the lending rate is applicable to all loan purposes.","enum":["INVESTMENT","OWNER_OCCUPIED"],"example":"INVESTMENT"},"tiers":{"items":{"required":["name","unitOfMeasure","minimumValue"],"properties":{"name":{"type":"string","description":"A display name for the tier."},"unitOfMeasure":{"type":"string","description":"The unit of measure that applies to the minimumValue and maximumValue values e.g. a DOLLAR amount. PERCENT (in the case of loan-to-value ratio or LVR). Tier term period representing a discrete number of MONTH's or DAY's (in the case of term deposit tiers).","enum":["DAY","DOLLAR","MONTH","PERCENT"]},"minimumValue":{"type":"integer","description":"The number of unitOfMeasure units that form the lower bound of the tier. The tier should be inclusive of this value."},"maximumValue":{"type":"integer","description":"The number of unitOfMeasure units that form the upper bound of the tier or band. For a tier with a discrete value (as opposed to a range of values e.g. 1 month) this must be the same as minimumValue. Where this is the same as the minimumValue value of the next-higher tier the referenced tier should be exclusive of this value. For example a term deposit of 2 months falls into the upper tier of the following tiers: (1 - 2 months, 2 - 3 months). If absent the tier's range has no upper bound.. "},"rateApplicationMethod":{"type":"string","description":"The method used to calculate the amount to be applied using one or more tiers. A single rate may be applied to the entire balance or each applicable tier rate is applied to the portion of the balance that falls into that tier (referred to as 'bands' or 'steps').","enum":["PER_TIER","WHOLE_BALANCE"]},"applicabilityConditions":{"properties":{"additionalInfo":{"type":"string","description":"Display text providing more information on the condition."},"additionalInfoUri":{"type":"string","description":"Link to a web page with more information on this condition."}},"x-readme-ref-name":"feesAccountMetadepositratestiersRateCondition"},"additionalInfo":{"type":"string","description":"Display text providing more information on the rate tier."},"additionalInfoUri":{"type":"string","description":"Link to a web page with more information on this rate tier."}},"x-readme-ref-name":"feesAccountMetadepositratestiers"}},"additionalValue":{"type":"string","description":"Generic field containing additional information relevant to the depositRateType specified. Whether mandatory or not is dependent on the value of depositRateType."},"additionalInfo":{"type":"string","description":"Display text providing more information on the rate."},"additionalInfoUri":{"type":"string","description":"Link to a web page with more information on this rate."}},"x-readme-ref-name":"lendingRateAccountMetadata"}},"termDeposit":{"type":"array","items":{"required":["lodgementDate","maturityDate","maturityInstructions"],"properties":{"lodgementDate":{"type":"string","description":"The lodgement date of the original deposit."},"maturityDate":{"type":"string","description":"Maturity date for the term deposit."},"maturityAmount":{"type":"string","description":"Amount to be paid upon maturity. If absent, it implies the amount to paid is variable and cannot currently be calculated."},"maturityCurrency":{"type":"string","description":"If absent assumes AUD."},"maturityInstructions":{"type":"string","description":"Current instructions on action to be taken at maturity. This includes default actions that may be specified in the terms and conditions for the product e.g. roll-over to the same term and frequency of interest payments.","enum":["HOLD_ON_MATURITY","PAID_OUT_AT_MATURITY","ROLLED_OVER"],"example":"PAID_OUT_AT_MATURITY"}},"x-readme-ref-name":"termDepositMetadata"}},"loan":{"type":"object","nullable":true,"properties":{"startDate":{"type":"string","description":"Start date for the loan.","example":"2019-10-01"},"endDate":{"type":"string","description":"Date that the loan is due to be repaid in full.","example":"2045-10-01"},"repaymentType":{"type":"string","description":"Options in place for repayments. If absent defaults to PRINCIPAL_AND_INTEREST.","example":"PRINCIPAL_AND_INTEREST","enum":["INTEREST_ONLY","PRINCIPAL_AND_INTEREST"]},"originalLoanAmount":{"type":"string","description":"Optional loan value."},"originalLoanCurrency":{"type":"string","description":"If absent assumes AUD."},"minInstalmentAmount":{"type":"string","description":"Minimum amount of next instalment."},"nextInstalmentDate":{"type":"string","description":"Next date that an instalment is required."},"minInstalmentCurrency":{"type":"string","description":"If absent assumes AUD."},"maxRedraw":{"type":"string","description":"Maximum amount of funds that can be redrawn. If not present, redraw is not available even if the feature exists for the account."},"maxRedrawCurrency":{"type":"string","description":"If absent assumes AUD."},"minRedraw":{"type":"string","description":"Minimum redraw amount."},"minRedrawCurrency":{"type":"string","description":"If absent assumes AUD."},"repaymentFrequency":{"type":"string","description":"The expected or required repayment frequency. Formatted according to ISO 8601 Durations (excludes recurrence syntax)."},"offsetAccountIds":{"type":"array","description":"The accountIDs of the configured offset accounts attached to this loan. Only offset accounts that can be accessed under the current authorisation should be included. It is expected behaviour that offsetAccountEnabled is set to true but the offsetAccountIds field is absent or empty. This represents a situation where an offset account exists but details can not be accessed under the current authorisation.","items":{"type":"string"}},"offsetAccountEnabled":{"type":"boolean","description":"Set to true if one or more offset accounts are configured for this loan account.","example":true}}},"creditCard":{"required":["minPaymentAmount","paymentDueAmount","paymentDueDate"],"type":"object","properties":{"minPaymentAmount":{"type":"string","description":"The minimum payment amount due for the next card payment.","example":"117.00"},"paymentDueAmount":{"type":"string","description":"The amount due for the next card payment.","example":"5847.00"},"paymentCurrency":{"type":"string","description":"If absent assumes AUD.","example":"AUD"},"paymentDueDate":{"type":"string","description":"Date that the next payment for the card is due.","example":"2023-12-12"}}},"features":{"type":"array","description":"Array of features available for the product.","nullable":true,"items":{"required":["featureType"],"properties":{"featureType":{"type":"string","enum":["ADDITIONAL_CARDS","BALANCE_TRANSFERS","BILL_PAYMENT","BONUS_REWARDS","CARD_ACCESS","CASHBACK_OFFER","COMPLEMENTARY_PRODUCT_DISCOUNTS","DIGITAL_BANKING","DIGITAL_WALLET","DONATE_INTEREST","EXTRA_REPAYMENTS","FRAUD_PROTECTION","FREE_TXNS","FREE_TXNS_ALLOWANCE","GUARANTOR","INSURANCE","INSTALMENT_PLAN","INTEREST_FREE","INTEREST_FREE_TRANSFERS","LOYALTY_PROGRAM","NOTIFICATIONS","NPP_ENABLED","NPP_PAYID","OFFSET","OTHER","OVERDRAFT","REDRAW","RELATIONSHIP_MANAGEMENT","UNLIMITED_TXNS"],"description":"The type of feature described."},"additionalValue":{"type":"string","description":"Generic field containing additional information relevant to the featureType specified. Whether mandatory or not is dependent on the value of the featureType."},"additionalInfo":{"type":"string","description":"Display text providing more information on the feature. Mandatory if the feature type is set to OTHER."},"additionalInfoUri":{"type":"string","description":"Link to a web page with more information on this feature."},"isActivated":{"type":"boolean","description":"true if the feature is already activated and false if the feature is available for activation. Defaults to true if absent.\n> Note: this is an additional field appended to the feature object defined in the Product Reference payload.\n","example":true}},"x-readme-ref-name":"featureClass"}},"addresses":{"type":"array","description":"The addresses for the account to be used for correspondence.","nullable":true,"items":{"type":"object","properties":{"addressType":{"type":"string","description":"The type of address object present.","enum":["paf","simple"],"example":"paf"},"simple":{"required":["addressLine1","city","state"],"type":"object","properties":{"mailingName":{"type":"string","description":"Name of the individual or business formatted for inclusion in an address used for physical mail."},"addressLine1":{"type":"string","description":"First line of the standard address object."},"addressLine2":{"type":"string","description":"Second line of the standard address object."},"addressLine3":{"type":"string","description":"Third line of the standard address object."},"postcode":{"type":"string","description":"Mandatory for Australian addresses."},"city":{"type":"string","description":"Name of the city or locality."},"state":{"type":"string","description":"Free text if the country is not Australia. If country is Australia then must be one of the values defined by the State Type Abbreviation in the PAF file format. NSW, QLD, VIC, NT, WA, SA, TAS, ACT."},"country":{"type":"string","description":"A valid ISO 3166 Alpha-3 country code. Australia (AUS) is assumed if country is not present."},"paf":{"required":["localityName","postcode","state"],"type":"object","description":"Australian address formatted according to the file format defined by the PAF file format.","properties":{"dpid":{"type":"string","description":"Unique identifier for an address as defined by Australia Post. Also known as Delivery Point Identifier."},"thoroughfareNumber1":{"type":"integer","description":"Thoroughfare number for a property (first number in a property ranged address)."},"thoroughfareNumber1Suffix":{"type":"string","description":"Suffix for the thoroughfare number. Only relevant is thoroughfareNumber1 is populated."},"thoroughfareNumber2":{"type":"integer","description":"Second thoroughfare number (only used if the property has a ranged address eg 23-25)."},"thoroughfareNumber2Suffix":{"type":"string","description":"Suffix for the second thoroughfare number. Only relevant is thoroughfareNumber2 is populated."},"flatUnitType":{"type":"string","description":"Type of flat or unit for the address."},"flatUnitNumber":{"type":"string","description":"Unit number (including suffix, if applicable)."},"floorLevelType":{"type":"string","description":"Type of floor or level for the address."},"floorLevelNumber":{"type":"string","description":"Floor or level number (including alpha characters)."},"lotNumber":{"type":"string","description":"Allotment number for the address."},"buildingName1":{"type":"string","description":"Building/Property name 1."},"buildingName2":{"type":"string","description":"Building/Property name 2."},"streetName":{"type":"string","description":"The name of the street."},"streetType":{"type":"string","description":"The street type. Valid enumeration defined by Australia Post PAF code file."},"streetSuffix":{"type":"string","description":"The street type suffix. Valid enumeration defined by Australia Post PAF code file."},"postalDeliveryType":{"type":"string","description":"Postal delivery type. (eg. PO BOX). Valid enumeration defined by Australia Post PAF code file."},"postalDeliveryNumber":{"type":"integer","description":"Postal delivery number if the address is a postal delivery type."},"postalDeliveryNumberPrefix":{"type":"string","description":"Postal delivery number prefix related to the postal delivery number."},"postalDeliveryNumberSuffix":{"type":"string","description":"Postal delivery number suffix related to the postal delivery number."},"localityName":{"type":"string","description":"Full name of locality."},"postcode":{"type":"string","description":"Postcode for the locality."},"state":{"type":"string","description":"State in which the address belongs. Valid enumeration defined by Australia Post PAF code file State Type Abbreviation. NSW, QLD, VIC, NT, WA, SA, TAS, ACT, AAT."}}}}}}}}},"x-readme-ref-name":"Metadata"},"transactionIntervals":{"type":"array","description":"An array of date intervals indicating the coverage of the transaction data relating to the account.\nWill return a single element for accounts sourced from a single bank connection.\nWill return multiple elements in cases where there have been multiple PDF/CSV uploads for an account.","items":{"required":["from","to"],"type":"object","properties":{"from":{"type":"string","description":"Date of first transaction on this account","example":"2018-07-01"},"to":{"type":"string","description":"Date of last transaction on this account","example":"2018-12-30"}},"x-readme-ref-name":"AccountTransactionInterval"}}},"description":"Container object with account details","x-readme-ref-name":"AccountResponseResource"}},"links":{"title":"ResourceAccountLink","required":["self"],"type":"object","properties":{"self":{"type":"string","description":"URL of the resource.","example":"https://au-api.basiq.io/users/cd6fbd92/accounts/319ae910"},"transactions":{"type":"string","description":"transactions link to the transactions associated with this account.","example":"https://au-api.basiq.io/users/ea3a81/transactions?filter=account.id.eq('s55bf3')"},"connection":{"type":"string","description":"connection associated to User.","example":"https://au-api.basiq.io/users/cd6fbd92/connections/321312asa"},"institution":{"type":"string","description":"institution link to the institution associated with this account.","example":"https://au-api.basiq.io/institutions/AU00000"},"statements":{"type":"string","example":[]}},"description":"Link object containing a link to the resource, self reference.","x-readme-ref-name":"ResourceAccountLink"}},"x-readme-ref-name":"AccountsResponseResource"}}}},"400":{"description":"Returns error that server cannot or will not process the request due to something that is perceived to be a client error","content":{"application/json":{"schema":{"required":["correlationId","data","type"],"type":"object","properties":{"type":{"type":"string","description":"Always \"list\".","example":"list"},"correlationId":{"type":"string","description":"Unique identifier for this particular occurrence of the problem.","example":"ac5ah5i"},"data":{"type":"array","description":"Error data.","items":{"required":["code","type"],"type":"object","properties":{"code":{"type":"string","description":"Application-specific error code, expressed as a string value.","example":"parameter-not-valid","enum":["parameter-not-supplied","parameter-not-valid","unsupported-accept","invalid-content","institution-not-supported","invalid-credentials"]},"detail":{"type":"string","description":"Human-readable explanation specific to this occurrence of the problem.","example":"The provided filter parameter is in invalid format or unsupported."},"source":{"title":"Source","type":"object","properties":{"parameter":{"type":"string","description":"String indicating which URI query parameter caused the error.","example":"userId"},"pointer":{"type":"string","description":"Location to the object or attribute that the error relates to.","example":"users/userId"}},"description":"An object containing references to the source of the error.","x-readme-ref-name":"Source"},"title":{"type":"string","description":"Title of the error","example":"Parameter not valid."},"type":{"type":"string","description":"Type of the response, always \"error\"","example":"error"}}}}},"x-readme-ref-name":"BadRequestError"},"examples":{"Bad Request":{"value":{"type":"list","correlationId":"ac5ah5i","data":[{"type":"error","title":"Parameter not valid.","code":"parameter-not-valid","detail":"ID value is not valid.","source":{"parameter":"id"}}]}},"Invalid Filters":{"value":{"type":"list","correlationId":"ac5ah55","data":[{"type":"error","code":"parameter-not-valid","title":"Parameter value is not valid","detail":"The provided filter parameter is in invalid format or unsupported","source":{"parameter":"filter"}}]}}}}}},"403":{"description":"Error that access is forbidden and tied to the application logic, such as insufficient rights to a resource.","content":{"application/json":{"schema":{"required":["correlationId","data","type"],"type":"object","properties":{"correlationId":{"type":"string","description":"Unique identifier for this particular occurrence of the problem.","example":"ac5ah5i"},"data":{"type":"array","description":"Error data.","items":{"required":["code","source","type"],"type":"object","properties":{"code":{"type":"string","description":"Application-specific error code, expressed as a string value.","example":"forbidden-access","enum":["forbidden-access","no-production-access","access-denied"]},"detail":{"type":"string","description":"Human-readable explanation specific to this occurrence of the problem.","example":"Access to this resource is forbidden."},"source":{"title":"Source","type":"object","properties":{"parameter":{"type":"string","description":"String indicating which URI query parameter caused the error.","example":"userId"},"pointer":{"type":"string","description":"Location to the object or attribute that the error relates to.","example":"users/userId"}},"description":"An object containing references to the source of the error.","x-readme-ref-name":"Source"},"title":{"type":"string","description":"Title of the error","example":"Forbidden Access"},"type":{"type":"string","description":"Type of the response, always \"error\"","example":"error"}}}},"type":{"type":"string","description":"Always \"list\".","example":"list"}},"x-readme-ref-name":"ForbiddenAccessError"}}}},"404":{"description":"Returns error indicating that server can't find requested resource.","content":{"application/json":{"schema":{"required":["correlationId","data","type"],"type":"object","properties":{"correlationId":{"type":"string","description":"Unique identifier for this particular occurrence of the problem.","example":"ac5ah5i"},"data":{"type":"array","description":"Error data.","items":{"required":["code","type"],"type":"object","properties":{"code":{"type":"string","description":"Application-specific error code, expressed as a string value.","example":"resource-not-found","enum":["resource-not-found"]},"detail":{"type":"string","description":"Human-readable explanation specific to this occurrence of the problem.","example":"Resource not found."},"title":{"type":"string","description":"Title of the error","example":"Requested resource is not found."},"type":{"type":"string","description":"Type of the response, always \"error\"","example":"error"}}}},"type":{"type":"string","description":"Always \"list\".","example":"list"}},"x-readme-ref-name":"NotFoundError"}}}},"500":{"description":"Returns error response code indicates that the server encountered an unexpected condition that prevented it from fulfilling the request.","content":{"application/json":{"schema":{"required":["correlationId","data","type"],"type":"object","properties":{"correlationId":{"type":"string","description":"Unique identifier for this particular occurrence of the problem.","example":"ac5ah5i"},"data":{"type":"array","description":"Error data.","items":{"required":["code","type"],"type":"object","properties":{"code":{"type":"string","description":"Application-specific error code, expressed as a string value.","example":"internal-server-error","enum":["internal-server-error"]},"detail":{"type":"string","description":"Human-readable explanation specific to this occurrence of the problem.","example":"Internal Server error. Contact support."},"title":{"type":"string","description":"Title of the error","example":"Internal Server error."},"type":{"type":"string","description":"Type of the response, always \"error\"","example":"error"}}}},"type":{"type":"string","description":"Always \"list\".","example":"list"}},"x-readme-ref-name":"InternalServerError"}}}}},"security":[{"services_token":[]}]}},"/users/{userId}/accounts/{accountId}":{"get":{"tags":["Accounts"],"summary":"Retrieve an account","description":"Retrieve a specific account belonging to a user","operationId":"getAccount","parameters":[{"name":"userId","in":"path","description":"User identifier","required":true,"schema":{"type":"string"}},{"name":"accountId","in":"path","description":"Account identifier","required":true,"schema":{"type":"string"}},{"name":"filter","in":"query","description":"Account filters; account.id, connection.id, institution.id, Only equals (eq) and not equals (ne) operations are currently supported.","schema":{"type":"string"}}],"responses":{"200":{"description":"Returns a account with details.","content":{"application/json":{"schema":{"title":"AccountResponseResource","required":["type","id","lastUpdated","status","name","accountNo","accountHolder","isOwned","accountOwnership","balance","availableFunds","creditLimit","currency","class","connection","institution","transactionIntervals"],"type":"object","properties":{"type":{"type":"string","description":"Always \"account\".","example":"account"},"id":{"type":"string","description":"Uniquely identifies the account.","example":"s55bf3"},"depositRate":{"type":"string","description":"current rate to calculate interest earned being applied to deposit balances as it stands at the time of the API call."},"lendingRate":{"type":"string","description":"The current rate to calculate interest payable being applied to lending balances as it stands at the time of the API call."},"bsb":{"type":"string","description":"The unmasked BSB for the account. Is expected to be formatted as digits only with leading zeros included and no punctuation or spaces."},"unmaskedAccNum":{"type":"string","description":"The unmasked account number for the account. Should not be supplied if the account number is a PAN requiring PCI compliance. Is expected to be formatted as digits only with leading zeros included and no punctuation or spaces."},"creationDate":{"type":"string","description":"Date that the account was created (if known)."},"accountHolder":{"type":"string","description":"The name of the account holder as returned by the institution. No formatting is applied. Returns a string or null when not available.","nullable":true,"example":"GAVIN BELSON"},"maskedNumber":{"type":"string","description":"A masked version of the account. Whether BSB/Account Number, Credit Card PAN or another number."},"accountOwnership":{"type":"string","description":"Value indicating the number of customers that have ownership of the account, according to the data holder's definition of account ownership. Does not indicate that all account owners are eligible consumers.","example":"ONE_PARTY","enum":["UNKNOWN","ONE_PARTY","TWO_PARTY","MANY_PARTY","OTHER"]},"isOwned":{"type":"boolean","description":"Flag indicating that the customer associated with the authorisation is an owner of the account. Does not indicate sole ownership, however. If not present then 'true' is assumed.","example":true},"amortisedLimit":{"type":"string","description":"Object representing the available limit amortised according to payment schedule. Assumed to be zero if absent."},"bundleName":{"type":"string","description":"Optional field to indicate if this account is part of a bundle that is providing additional benefit to the customer."},"purses":{"type":"array","description":"Optional array of balances for the account in other currencies. Included to support accounts that support multi-currency purses such as Travel Cards.","items":{"required":["amount"],"properties":{"amount":{"type":"string","description":"The balance available for this additional currency purse."},"currency":{"type":"string","description":"The currency for the purse."}},"x-readme-ref-name":"pursesClass"}},"accountNo":{"type":"string","description":"BSB + account number.","example":"600000157441965"},"availableFunds":{"type":"string","description":"Funds that are available to an account holder for withdrawal or other use. This may include funds from an overdraft facility or line of credit. As well as funds classified as the available balance, such as from cleared and existing deposits.","nullable":true,"example":"420.28"},"balance":{"type":"string","description":"Amount of funds in the account right now - excluding any pending transactions. For a credit card this would be zero or the minus amount spent.","nullable":true,"example":"356.50"},"creditLimit":{"type":"string","description":"Eligible account types are credit-card, loan and mortgage.","nullable":true,"example":"400000.00"},"class":{"description":"Describes the class(type) of accounts.","enum":["transaction","savings","credit-card","mortgage","loan","investment","term-deposit","insurance","foreign","unknown"],"required":["type","product"],"properties":{"type":{"type":"string","description":"Account type","example":"mortgage"},"product":{"type":"string","description":"Product name.","example":"Hooli Home Loan"}},"x-readme-ref-name":"AccountClass"},"connection":{"type":"string","description":"The id of the connection resource that was used to retrieve the account.","example":"8fce3b"},"currency":{"type":"string","description":"The currency the funds are stored in, using ISO 4217 standard.","example":"AUD"},"institution":{"type":"string","description":"The id of the institution resource the account originated from.","example":"AU00000"},"lastUpdated":{"type":"string","description":"Timestamp of last update, UTC, RFC 3339 format e.g. \"2017-09-28T13:39:33Z\"","example":"2019-09-28T13:39:33Z"},"name":{"type":"string","description":"Account name as defined by institution or user.","example":"Master Savings"},"status":{"type":"string","description":"Account status","example":"available","enum":["available","unavailable"]},"meta":{"properties":{"fees":{"type":"array","nullable":true,"items":{"required":["name","feeType"],"type":"object","properties":{"name":{"type":"string","description":"(mandatory) - Name of the fee.","example":"Dishonour fee"},"feeType":{"type":"string","description":"(mandatory) - The type of fee.","enum":["DEPOSIT","EVENT","EXIT","PAYMENT","PERIODIC","PURCHASE","TRANSACTION","UPFRONT","VARIABLE","WITHDRAWAL"],"example":"EVENT"},"amount":{"type":"string","description":"(conditional) - The amount charged for the fee.","example":"10.00"},"balanceRate":{"type":"string","description":"A fee rate calculated based on a proportion of the balance. One of amount, balanceRate, transactionRate and accruedRate is mandatory unless the feeType \"VARIABLE\" is supplied."},"transactionRate":{"type":"string","description":"A fee rate calculated based on a proportion of a transaction. One of amount, balanceRate, transactionRate and accruedRate is mandatory unless the feeType \"VARIABLE\" is supplied."},"accruedRate":{"type":"string","description":"A fee rate calculated based on a proportion of the calculated interest accrued on the account. One of amount, balanceRate, transactionRate and accruedRate is mandatory unless the feeType \"VARIABLE\" is supplied."},"accrualFrequency":{"type":"string","description":"(optional) - The indicative frequency with which the fee is calculated on the account.","example":"P1M"},"currency":{"type":"string","description":"The currency the fee will be charged in. Assumes AUD if absent."},"additionalValue":{"type":"string","description":"Display text providing more information on the fee."},"additionalInfo":{"type":"string","description":"Display text providing more information on the fee."},"additionalInfoUri":{"type":"string","description":"Link to a web page with more information on this fee."},"discounts":{"items":{"required":["discountType","description"],"properties":{"description":{"type":"string","description":"Description of the discount."},"discountType":{"type":"string","description":"The type of discount. See the next section for an overview of valid values and their meaning."},"amount":{"type":"string","description":"Dollar value of the discount. One of amount, balanceRate, transactionRate, accruedRate and feeRate is mandatory."},"balanceRate":{"type":"string","description":"A discount rate calculated based on a proportion of the balance. Note that the currency of the fee discount is expected to be the same as the currency of the fee itself. One of amount, balanceRate, transactionRate, accruedRate and feeRate is mandatory. Unless noted in additionalInfo, assumes the application and calculation frequency are the same as the corresponding fee."},"transactionRate":{"type":"string","description":"A discount rate calculated based on a proportion of a transaction. Note that the currency of the fee discount is expected to be the same as the currency of the fee itself. One of amount, balanceRate, transactionRate, accruedRate and feeRate is mandatory."},"accruedRate":{"type":"string","description":"A discount rate calculated based on a proportion of the calculated interest accrued on the account. Note that the currency of the fee discount is expected to be the same as the currency of the fee itself. One of amount, balanceRate, transactionRate, accruedRate and feeRate is mandatory. Unless noted in additionalInfo, assumes the application and calculation frequency are the same as the corresponding fee."},"feeRate":{"type":"string","description":"A discount rate calculated based on a proportion of the fee to which this discount is attached. Note that the currency of the fee discount is expected to be the same as the currency of the fee itself. One of amount, balanceRate, transactionRate, accruedRate and feeRate is mandatory. Unless noted in additionalInfo, assumes the application and calculation frequency are the same as the corresponding fee."},"additionalValue":{"type":"string","description":"Generic field containing additional information relevant to the discountType specified. Whether mandatory or not is dependent on the value of discountType."},"additionalInfo":{"type":"string","description":"Display text providing more information on the discount."},"additionalInfoUri":{"type":"string","description":"Link to a web page with more information on this discount."},"eligibility":{"description":"Eligibility constraints that apply to this discount. Mandatory if discountType is ELIGIBILITY_ONLY.","required":["discountEligibilityType"],"properties":{"discountEligibilityType":{"type":"string","description":"The type of the specific eligibility constraint for a discountType.","enum":["BUSINESS","EMPLOYMENT_STATUS","INTRODUCTORY","MAX_AGE","MIN_AGE","MIN_INCOME","MIN_TURNOVER","NATURAL_PERSON","OTHER","PENSION_RECIPIENT","RESIDENCY_STATUS","STAFF","STUDENT"]},"additionalValue":{"type":"string","description":"Generic field containing additional information relevant to the discountEligibilityType specified. Whether mandatory or not is dependent on the value of discountEligibilityType."},"additionalInfo":{"type":"string","description":"Display text providing more information on this eligibility constraint. Whether mandatory or not is dependent on the value of discountEligibilityType."},"additionalInfoUri":{"type":"string","description":"Link to a web page with more information on this eligibility constraint."}},"x-readme-ref-name":"feesdiscounteligibilityMetadata"}},"x-readme-ref-name":"feesdiscountMetadata"}}},"x-readme-ref-name":"feesAccountMetadata"}},"depositRates":{"type":"array","nullable":true,"items":{"required":["depositRateType","rate"],"type":"object","properties":{"depositRateType":{"type":"string","description":"The type of rate (base, bonus, etc).","example":"VARIABLE","enum":["BONUS","BUNDLE_BONUS","FIXED","FLOATING","INTRODUCTORY","MARKET_LINKED","VARIABLE"]},"rate":{"type":"string","description":"The rate to be applied.","example":"0.0385"},"calculationFrequency":{"type":"string","description":"The period after which the rate is applied to the balance to calculate the amount due for the period. Calculation of the amount is often daily (as balances may change) but accumulated until the total amount is 'applied' to the account (see applicationFrequency). Formatted according to ISO 8601 Durations (excludes recurrence syntax)."},"applicationFrequency":{"type":"string","description":"The period after which the calculated amount(s) are 'applied' (i.e. debited or credited) to the account.","example":"P1M"},"tiers":{"items":{"required":["name","unitOfMeasure","minimumValue"],"properties":{"name":{"type":"string","description":"A display name for the tier."},"unitOfMeasure":{"type":"string","description":"The unit of measure that applies to the minimumValue and maximumValue values e.g. a DOLLAR amount. PERCENT (in the case of loan-to-value ratio or LVR). Tier term period representing a discrete number of MONTH's or DAY's (in the case of term deposit tiers).","enum":["DAY","DOLLAR","MONTH","PERCENT"]},"minimumValue":{"type":"integer","description":"The number of unitOfMeasure units that form the lower bound of the tier. The tier should be inclusive of this value."},"maximumValue":{"type":"integer","description":"The number of unitOfMeasure units that form the upper bound of the tier or band. For a tier with a discrete value (as opposed to a range of values e.g. 1 month) this must be the same as minimumValue. Where this is the same as the minimumValue value of the next-higher tier the referenced tier should be exclusive of this value. For example a term deposit of 2 months falls into the upper tier of the following tiers: (1 - 2 months, 2 - 3 months). If absent the tier's range has no upper bound.. "},"rateApplicationMethod":{"type":"string","description":"The method used to calculate the amount to be applied using one or more tiers. A single rate may be applied to the entire balance or each applicable tier rate is applied to the portion of the balance that falls into that tier (referred to as 'bands' or 'steps').","enum":["PER_TIER","WHOLE_BALANCE"]},"applicabilityConditions":{"properties":{"additionalInfo":{"type":"string","description":"Display text providing more information on the condition."},"additionalInfoUri":{"type":"string","description":"Link to a web page with more information on this condition."}},"x-readme-ref-name":"feesAccountMetadepositratestiersRateCondition"},"additionalInfo":{"type":"string","description":"Display text providing more information on the rate tier."},"additionalInfoUri":{"type":"string","description":"Link to a web page with more information on this rate tier."}},"x-readme-ref-name":"feesAccountMetadepositratestiers"}},"additionalValue":{"type":"string","description":"Generic field containing additional information relevant to the lendingRateType specified. Whether mandatory or not is dependent on the value of lendingRateType."},"additionalInfo":{"type":"string","description":"Display text providing more information on the rate."},"additionalInfoUri":{"type":"string","description":"Link to a web page with more information on this rate."}},"x-readme-ref-name":"depositRateAccountMetadata"}},"lendingRates":{"type":"array","nullable":true,"items":{"required":["lendingRateType","rate"],"type":"object","properties":{"lendingRateType":{"type":"string","description":"The type of rate (fixed, variable, etc).","example":"PURCHASE","enum":["BUNDLE_DISCOUNT_FIXED","BUNDLE_DISCOUNT_VARIABLE","CASH_ADVANCE","DISCOUNT","FIXED","FLOATING","INTRODUCTORY","MARKET_LINKED","PENALTY","PURCHASE","VARIABLE"]},"rate":{"type":"string","description":"The rate to be applied.","example":"0.2024"},"comparisonRate":{"type":"string","description":"A comparison rate equivalent for this rate."},"calculationFrequency":{"type":"string","description":"The period after which the rate is applied to the balance to calculate the amount due for the period. Calculation of the amount is often daily (as balances may change) but accumulated until the total amount is 'applied' to the account (see applicationFrequency). Formatted according to ISO 8601 Durations (excludes recurrence syntax)."},"applicationFrequency":{"type":"string","description":"The period after which the calculated amount(s) (see calculationFrequency) are 'applied' (i.e. debited or credited) to the account. Formatted according to ISO 8601 Durations (excludes recurrence syntax)."},"interestPaymentDue":{"type":"string","description":"When loan payments are due to be paid within each period. The investment benefit of earlier payments affect the rate that can be offered.","enum":["IN_ADVANCE","IN_ARREARS"],"example":"IN_ADVANCE"},"repaymentType":{"type":"string","description":"Options in place for repayments. If absent, the lending rate is applicable to all repayment types.","enum":["INTEREST_ONLY","PRINCIPAL_AND_INTEREST"],"example":"INTEREST_ONLY"},"loanPurpose":{"type":"string","description":"The reason for taking out the loan. If absent, the lending rate is applicable to all loan purposes.","enum":["INVESTMENT","OWNER_OCCUPIED"],"example":"INVESTMENT"},"tiers":{"items":{"required":["name","unitOfMeasure","minimumValue"],"properties":{"name":{"type":"string","description":"A display name for the tier."},"unitOfMeasure":{"type":"string","description":"The unit of measure that applies to the minimumValue and maximumValue values e.g. a DOLLAR amount. PERCENT (in the case of loan-to-value ratio or LVR). Tier term period representing a discrete number of MONTH's or DAY's (in the case of term deposit tiers).","enum":["DAY","DOLLAR","MONTH","PERCENT"]},"minimumValue":{"type":"integer","description":"The number of unitOfMeasure units that form the lower bound of the tier. The tier should be inclusive of this value."},"maximumValue":{"type":"integer","description":"The number of unitOfMeasure units that form the upper bound of the tier or band. For a tier with a discrete value (as opposed to a range of values e.g. 1 month) this must be the same as minimumValue. Where this is the same as the minimumValue value of the next-higher tier the referenced tier should be exclusive of this value. For example a term deposit of 2 months falls into the upper tier of the following tiers: (1 - 2 months, 2 - 3 months). If absent the tier's range has no upper bound.. "},"rateApplicationMethod":{"type":"string","description":"The method used to calculate the amount to be applied using one or more tiers. A single rate may be applied to the entire balance or each applicable tier rate is applied to the portion of the balance that falls into that tier (referred to as 'bands' or 'steps').","enum":["PER_TIER","WHOLE_BALANCE"]},"applicabilityConditions":{"properties":{"additionalInfo":{"type":"string","description":"Display text providing more information on the condition."},"additionalInfoUri":{"type":"string","description":"Link to a web page with more information on this condition."}},"x-readme-ref-name":"feesAccountMetadepositratestiersRateCondition"},"additionalInfo":{"type":"string","description":"Display text providing more information on the rate tier."},"additionalInfoUri":{"type":"string","description":"Link to a web page with more information on this rate tier."}},"x-readme-ref-name":"feesAccountMetadepositratestiers"}},"additionalValue":{"type":"string","description":"Generic field containing additional information relevant to the depositRateType specified. Whether mandatory or not is dependent on the value of depositRateType."},"additionalInfo":{"type":"string","description":"Display text providing more information on the rate."},"additionalInfoUri":{"type":"string","description":"Link to a web page with more information on this rate."}},"x-readme-ref-name":"lendingRateAccountMetadata"}},"termDeposit":{"type":"array","items":{"required":["lodgementDate","maturityDate","maturityInstructions"],"properties":{"lodgementDate":{"type":"string","description":"The lodgement date of the original deposit."},"maturityDate":{"type":"string","description":"Maturity date for the term deposit."},"maturityAmount":{"type":"string","description":"Amount to be paid upon maturity. If absent, it implies the amount to paid is variable and cannot currently be calculated."},"maturityCurrency":{"type":"string","description":"If absent assumes AUD."},"maturityInstructions":{"type":"string","description":"Current instructions on action to be taken at maturity. This includes default actions that may be specified in the terms and conditions for the product e.g. roll-over to the same term and frequency of interest payments.","enum":["HOLD_ON_MATURITY","PAID_OUT_AT_MATURITY","ROLLED_OVER"],"example":"PAID_OUT_AT_MATURITY"}},"x-readme-ref-name":"termDepositMetadata"}},"loan":{"type":"object","nullable":true,"properties":{"startDate":{"type":"string","description":"Start date for the loan.","example":"2019-10-01"},"endDate":{"type":"string","description":"Date that the loan is due to be repaid in full.","example":"2045-10-01"},"repaymentType":{"type":"string","description":"Options in place for repayments. If absent defaults to PRINCIPAL_AND_INTEREST.","example":"PRINCIPAL_AND_INTEREST","enum":["INTEREST_ONLY","PRINCIPAL_AND_INTEREST"]},"originalLoanAmount":{"type":"string","description":"Optional loan value."},"originalLoanCurrency":{"type":"string","description":"If absent assumes AUD."},"minInstalmentAmount":{"type":"string","description":"Minimum amount of next instalment."},"nextInstalmentDate":{"type":"string","description":"Next date that an instalment is required."},"minInstalmentCurrency":{"type":"string","description":"If absent assumes AUD."},"maxRedraw":{"type":"string","description":"Maximum amount of funds that can be redrawn. If not present, redraw is not available even if the feature exists for the account."},"maxRedrawCurrency":{"type":"string","description":"If absent assumes AUD."},"minRedraw":{"type":"string","description":"Minimum redraw amount."},"minRedrawCurrency":{"type":"string","description":"If absent assumes AUD."},"repaymentFrequency":{"type":"string","description":"The expected or required repayment frequency. Formatted according to ISO 8601 Durations (excludes recurrence syntax)."},"offsetAccountIds":{"type":"array","description":"The accountIDs of the configured offset accounts attached to this loan. Only offset accounts that can be accessed under the current authorisation should be included. It is expected behaviour that offsetAccountEnabled is set to true but the offsetAccountIds field is absent or empty. This represents a situation where an offset account exists but details can not be accessed under the current authorisation.","items":{"type":"string"}},"offsetAccountEnabled":{"type":"boolean","description":"Set to true if one or more offset accounts are configured for this loan account.","example":true}}},"creditCard":{"required":["minPaymentAmount","paymentDueAmount","paymentDueDate"],"type":"object","properties":{"minPaymentAmount":{"type":"string","description":"The minimum payment amount due for the next card payment.","example":"117.00"},"paymentDueAmount":{"type":"string","description":"The amount due for the next card payment.","example":"5847.00"},"paymentCurrency":{"type":"string","description":"If absent assumes AUD.","example":"AUD"},"paymentDueDate":{"type":"string","description":"Date that the next payment for the card is due.","example":"2023-12-12"}}},"features":{"type":"array","description":"Array of features available for the product.","nullable":true,"items":{"required":["featureType"],"properties":{"featureType":{"type":"string","enum":["ADDITIONAL_CARDS","BALANCE_TRANSFERS","BILL_PAYMENT","BONUS_REWARDS","CARD_ACCESS","CASHBACK_OFFER","COMPLEMENTARY_PRODUCT_DISCOUNTS","DIGITAL_BANKING","DIGITAL_WALLET","DONATE_INTEREST","EXTRA_REPAYMENTS","FRAUD_PROTECTION","FREE_TXNS","FREE_TXNS_ALLOWANCE","GUARANTOR","INSURANCE","INSTALMENT_PLAN","INTEREST_FREE","INTEREST_FREE_TRANSFERS","LOYALTY_PROGRAM","NOTIFICATIONS","NPP_ENABLED","NPP_PAYID","OFFSET","OTHER","OVERDRAFT","REDRAW","RELATIONSHIP_MANAGEMENT","UNLIMITED_TXNS"],"description":"The type of feature described."},"additionalValue":{"type":"string","description":"Generic field containing additional information relevant to the featureType specified. Whether mandatory or not is dependent on the value of the featureType."},"additionalInfo":{"type":"string","description":"Display text providing more information on the feature. Mandatory if the feature type is set to OTHER."},"additionalInfoUri":{"type":"string","description":"Link to a web page with more information on this feature."},"isActivated":{"type":"boolean","description":"true if the feature is already activated and false if the feature is available for activation. Defaults to true if absent.\n> Note: this is an additional field appended to the feature object defined in the Product Reference payload.\n","example":true}},"x-readme-ref-name":"featureClass"}},"addresses":{"type":"array","description":"The addresses for the account to be used for correspondence.","nullable":true,"items":{"type":"object","properties":{"addressType":{"type":"string","description":"The type of address object present.","enum":["paf","simple"],"example":"paf"},"simple":{"required":["addressLine1","city","state"],"type":"object","properties":{"mailingName":{"type":"string","description":"Name of the individual or business formatted for inclusion in an address used for physical mail."},"addressLine1":{"type":"string","description":"First line of the standard address object."},"addressLine2":{"type":"string","description":"Second line of the standard address object."},"addressLine3":{"type":"string","description":"Third line of the standard address object."},"postcode":{"type":"string","description":"Mandatory for Australian addresses."},"city":{"type":"string","description":"Name of the city or locality."},"state":{"type":"string","description":"Free text if the country is not Australia. If country is Australia then must be one of the values defined by the State Type Abbreviation in the PAF file format. NSW, QLD, VIC, NT, WA, SA, TAS, ACT."},"country":{"type":"string","description":"A valid ISO 3166 Alpha-3 country code. Australia (AUS) is assumed if country is not present."},"paf":{"required":["localityName","postcode","state"],"type":"object","description":"Australian address formatted according to the file format defined by the PAF file format.","properties":{"dpid":{"type":"string","description":"Unique identifier for an address as defined by Australia Post. Also known as Delivery Point Identifier."},"thoroughfareNumber1":{"type":"integer","description":"Thoroughfare number for a property (first number in a property ranged address)."},"thoroughfareNumber1Suffix":{"type":"string","description":"Suffix for the thoroughfare number. Only relevant is thoroughfareNumber1 is populated."},"thoroughfareNumber2":{"type":"integer","description":"Second thoroughfare number (only used if the property has a ranged address eg 23-25)."},"thoroughfareNumber2Suffix":{"type":"string","description":"Suffix for the second thoroughfare number. Only relevant is thoroughfareNumber2 is populated."},"flatUnitType":{"type":"string","description":"Type of flat or unit for the address."},"flatUnitNumber":{"type":"string","description":"Unit number (including suffix, if applicable)."},"floorLevelType":{"type":"string","description":"Type of floor or level for the address."},"floorLevelNumber":{"type":"string","description":"Floor or level number (including alpha characters)."},"lotNumber":{"type":"string","description":"Allotment number for the address."},"buildingName1":{"type":"string","description":"Building/Property name 1."},"buildingName2":{"type":"string","description":"Building/Property name 2."},"streetName":{"type":"string","description":"The name of the street."},"streetType":{"type":"string","description":"The street type. Valid enumeration defined by Australia Post PAF code file."},"streetSuffix":{"type":"string","description":"The street type suffix. Valid enumeration defined by Australia Post PAF code file."},"postalDeliveryType":{"type":"string","description":"Postal delivery type. (eg. PO BOX). Valid enumeration defined by Australia Post PAF code file."},"postalDeliveryNumber":{"type":"integer","description":"Postal delivery number if the address is a postal delivery type."},"postalDeliveryNumberPrefix":{"type":"string","description":"Postal delivery number prefix related to the postal delivery number."},"postalDeliveryNumberSuffix":{"type":"string","description":"Postal delivery number suffix related to the postal delivery number."},"localityName":{"type":"string","description":"Full name of locality."},"postcode":{"type":"string","description":"Postcode for the locality."},"state":{"type":"string","description":"State in which the address belongs. Valid enumeration defined by Australia Post PAF code file State Type Abbreviation. NSW, QLD, VIC, NT, WA, SA, TAS, ACT, AAT."}}}}}}}}},"x-readme-ref-name":"Metadata"},"transactionIntervals":{"type":"array","description":"An array of date intervals indicating the coverage of the transaction data relating to the account.\nWill return a single element for accounts sourced from a single bank connection.\nWill return multiple elements in cases where there have been multiple PDF/CSV uploads for an account.","items":{"required":["from","to"],"type":"object","properties":{"from":{"type":"string","description":"Date of first transaction on this account","example":"2018-07-01"},"to":{"type":"string","description":"Date of last transaction on this account","example":"2018-12-30"}},"x-readme-ref-name":"AccountTransactionInterval"}}},"description":"Container object with account details","x-readme-ref-name":"AccountResponseResource"}}}},"400":{"description":"Returns error that server cannot or will not process the request due to something that is perceived to be a client error","content":{"application/json":{"schema":{"required":["correlationId","data","type"],"type":"object","properties":{"type":{"type":"string","description":"Always \"list\".","example":"list"},"correlationId":{"type":"string","description":"Unique identifier for this particular occurrence of the problem.","example":"ac5ah5i"},"data":{"type":"array","description":"Error data.","items":{"required":["code","type"],"type":"object","properties":{"code":{"type":"string","description":"Application-specific error code, expressed as a string value.","example":"parameter-not-valid","enum":["parameter-not-supplied","parameter-not-valid","unsupported-accept","invalid-content","institution-not-supported","invalid-credentials"]},"detail":{"type":"string","description":"Human-readable explanation specific to this occurrence of the problem.","example":"The provided filter parameter is in invalid format or unsupported."},"source":{"title":"Source","type":"object","properties":{"parameter":{"type":"string","description":"String indicating which URI query parameter caused the error.","example":"userId"},"pointer":{"type":"string","description":"Location to the object or attribute that the error relates to.","example":"users/userId"}},"description":"An object containing references to the source of the error.","x-readme-ref-name":"Source"},"title":{"type":"string","description":"Title of the error","example":"Parameter not valid."},"type":{"type":"string","description":"Type of the response, always \"error\"","example":"error"}}}}},"x-readme-ref-name":"BadRequestError"}}}},"403":{"description":"Error that access is forbidden and tied to the application logic, such as insufficient rights to a resource.","content":{"application/json":{"schema":{"required":["correlationId","data","type"],"type":"object","properties":{"correlationId":{"type":"string","description":"Unique identifier for this particular occurrence of the problem.","example":"ac5ah5i"},"data":{"type":"array","description":"Error data.","items":{"required":["code","source","type"],"type":"object","properties":{"code":{"type":"string","description":"Application-specific error code, expressed as a string value.","example":"forbidden-access","enum":["forbidden-access","no-production-access","access-denied"]},"detail":{"type":"string","description":"Human-readable explanation specific to this occurrence of the problem.","example":"Access to this resource is forbidden."},"source":{"title":"Source","type":"object","properties":{"parameter":{"type":"string","description":"String indicating which URI query parameter caused the error.","example":"userId"},"pointer":{"type":"string","description":"Location to the object or attribute that the error relates to.","example":"users/userId"}},"description":"An object containing references to the source of the error.","x-readme-ref-name":"Source"},"title":{"type":"string","description":"Title of the error","example":"Forbidden Access"},"type":{"type":"string","description":"Type of the response, always \"error\"","example":"error"}}}},"type":{"type":"string","description":"Always \"list\".","example":"list"}},"x-readme-ref-name":"ForbiddenAccessError"}}}},"404":{"description":"Returns error indicating that server can't find requested resource.","content":{"application/json":{"schema":{"required":["correlationId","data","type"],"type":"object","properties":{"correlationId":{"type":"string","description":"Unique identifier for this particular occurrence of the problem.","example":"ac5ah5i"},"data":{"type":"array","description":"Error data.","items":{"required":["code","type"],"type":"object","properties":{"code":{"type":"string","description":"Application-specific error code, expressed as a string value.","example":"resource-not-found","enum":["resource-not-found"]},"detail":{"type":"string","description":"Human-readable explanation specific to this occurrence of the problem.","example":"Resource not found."},"title":{"type":"string","description":"Title of the error","example":"Requested resource is not found."},"type":{"type":"string","description":"Type of the response, always \"error\"","example":"error"}}}},"type":{"type":"string","description":"Always \"list\".","example":"list"}},"x-readme-ref-name":"NotFoundError"}}}},"500":{"description":"Returns error response code indicates that the server encountered an unexpected condition that prevented it from fulfilling the request.","content":{"application/json":{"schema":{"required":["correlationId","data","type"],"type":"object","properties":{"correlationId":{"type":"string","description":"Unique identifier for this particular occurrence of the problem.","example":"ac5ah5i"},"data":{"type":"array","description":"Error data.","items":{"required":["code","type"],"type":"object","properties":{"code":{"type":"string","description":"Application-specific error code, expressed as a string value.","example":"internal-server-error","enum":["internal-server-error"]},"detail":{"type":"string","description":"Human-readable explanation specific to this occurrence of the problem.","example":"Internal Server error. Contact support."},"title":{"type":"string","description":"Title of the error","example":"Internal Server error."},"type":{"type":"string","description":"Type of the response, always \"error\"","example":"error"}}}},"type":{"type":"string","description":"Always \"list\".","example":"list"}},"x-readme-ref-name":"InternalServerError"}}}}},"security":[{"services_token":[]}]}},"/users/{userId}/transactions":{"get":{"tags":["Transactions"],"summary":"List all transactions","description":"List all transactions belonging to a specified user","operationId":"getTransactions","parameters":[{"name":"userId","in":"path","description":"User identifier.","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","description":"This represents the maximum number of items that may be included in the response (maximum of 500). Note that by default 500 items are returned if this value is not specified.","schema":{"type":"integer","format":"int64","default":500}},{"name":"filter","in":"query","description":"Transaction filters; account.id, transaction.postDate, transaction.status, institution.id, transaction.direction, transaction.class","schema":{"type":"string"}}],"responses":{"200":{"description":"Returns a paginated list with a data property that contains an array of transactions. Each entry in the array is a separate object. If no data is returned, the resulting array will be empty. ","content":{"application/json":{"schema":{"title":"Transactions container object.","required":["count","data","size","type"],"type":"object","properties":{"type":{"type":"string","description":"Value is \"list\".","example":"list"},"count":{"type":"integer","description":"Count of the transactions in the response.","format":"int64","example":100},"size":{"type":"integer","format":"int64","example":500},"data":{"type":"array","items":{"required":["id","status","description","reference","account","amount","currency","class","subClass","connection","direction","enrich","institution","links","postDate","transactionDate","type"],"type":"object","properties":{"type":{"type":"string","description":"Value is \"transaction\".","example":"transaction"},"id":{"type":"string","description":"Uniquely identifies the transaction for this connection. Note that when a connection is refreshed pending transactions will receive new id's, whilst posted transactions will receive the same id's as before the refresh.","example":"d3de1ca1"},"status":{"type":"string","description":"Identifies if a transaction is pending or posted. A pending transaction is an approved debit or credit transaction that has not been fully processed yet (i.e. has not been posted). Note that pending transactions are not available for all institutions.","example":"posted","enum":["pending","posted"]},"description":{"type":"string","description":"The transaction description as submitted by the institution."},"reference":{"type":"string","description":"The reference for the transaction provided by the originating institution."},"amount":{"type":"string","description":"Transaction amount. Outgoing funds are expressed as negative values.","example":"123.12"},"currency":{"type":"string","description":"Standard 3 character currency codes as per ISO-4217.","enum":["AUD","USD","GBP"]},"account":{"type":"string","description":"The id of the account resource the transaction belongs to.","example":"d3de1ca1"},"balance":{"type":"string","description":"Value of the account balance at time the transaction was completed.","example":"123.12"},"direction":{"type":"string","description":"Identifies if the transaction is of debit or credit type.","example":"debit","enum":["debit","credit"]},"class":{"type":"string","description":"Describes the class(type) of transaction.","example":"payment","enum":["bank-fee","payment","cash-withdrawal","transfer","loan-interest","refund","direct-credit","interest","loan-repayment"]},"institution":{"type":"string","description":"The id of the institution resource the transaction originated from.","example":"AU00000"},"connection":{"type":"string","description":"The id of the connection resource that was used to retrieve the transaction.","example":"d3de1ca1"},"transactionDate":{"type":"string","description":"Date that the user executed the transaction as provided by the institution. Note that not all transactions provide this value (varies by institution) e.g. \"2017-11-10T00:00:00Z\"","example":null},"paymentDetails":{"type":"object","properties":{"bpay":{"type":"object","properties":{"billerCode":{"type":"string","description":"BPAY Biller Code for the transaction."},"billerName":{"type":"string","description":"Name of the BPAY biller for the transaction."},"crn":{"type":"string","description":"CRN for the transaction."}}},"apcaNumber":{"type":"string","description":"6 Digit APCA number for the initiating institution. The field is fixed-width and padded with leading zeros if applicable.\n"}}},"postDate":{"type":"string","description":"Date the transaction was posted as provided by the institution (this is the same date that appears on a bank statement). This value is null if the record is pending. e.g. \"2017-11-10T21:46:44Z\" or 2017-11-10T00:00:00Z.","example":"2018-11-02T00:00:00Z"},"subClass":{"type":"object","description":"The subClass attribute will only return values for payment transactions (i.e. will be empty for all others) plus [new] bank fee transactions for those relating to account conduct such as account overdrawn and direct debit dishonours.","properties":{"code":{"type":"string","description":"code","example":722},"title":{"type":"string","description":"SubClass title","example":"Cafes and Restaurants"}}},"enrich":{"required":["cleanDescription","tags","category","location","merchant"],"type":"object","properties":{"location":{"type":"object","nullable":true,"properties":{"country":{"type":"string","description":"Country","example":"Australia"},"formattedAddress":{"type":"string","description":"Address","example":"1/39 E Esplanade, Manly NSW 2095"},"geometry":{"type":"object","properties":{"lat":{"type":"string","description":"Latitude","example":"-33.79988520000001"},"lng":{"type":"string","description":"Longitude","example":"151.2858021"}},"x-readme-ref-name":"TransactionsGeometry"},"postalCode":{"type":"string","description":"Postal Code","example":"2095"},"route":{"type":"string","description":"Route Name","example":"E Esplanade"},"routeNo":{"type":"string","description":"Route Number","example":"29"},"state":{"type":"string","description":"State","example":"NSW"},"suburb":{"type":"string","description":"Suburb","example":"Manly"}},"x-readme-ref-name":"TransactionsLocation"},"cleanDescription":{"type":"string","description":"","x-readme-ref-name":"TransactionscleanDescription"},"tags":{"type":"array","items":{"type":"string","description":"This array contains tags that are formatted as `tag_name:tag_value`. Each `tag_name` corresponds to a specific category of transaction information, and the `tag_value` provides a detailed classification within that category.\n- For example, the `card` tag_name will have a 4-digit number as tag_value (e.g., \"card:4615\").\n- The `conduct` tag_name can have values like `card`, `overdrawn`, `cheque`, `atm`, `currency`, `late`, `admin`, `dishonour`, `interest` (e.g., \"conduct:cheque\").\n- The `governmentPayment` tag_name might have values such as `centrelink`, `centrelinkCarers`, `crisisSupport`, `education`, `familyAllowance`, `jobseekerPymt`, `medicare`, `newstart`, `pension`, `rentalAssistance`, `vetAffairs`, `youthAllowance` (e.g., \"governmentPayment:centrelink\").\n- The `income` tag_name could include values like `childSupport`, `insurance`, `investment`, `rent`, `salary`, `superannuation` (e.g., \"income:salary\").\n- The `liability` tag_name could include values like `afterpay`, `arl collect pty ltd`, `australian recoveries`, `axess`, `azora`, `baycorp`, `beforepay`, `brighte`, `bundll`, `cash converters`, `cash direct`, `cashngo`, `cash stop`, `cash train`, `ccc`, `cfmg pty ltd`, `charter mercantile`, `cigno`, `collectau`, `collection house`, `complete credit solutions`, `credit collection services`, `credit corp`, `creditline`, `deferit`, `dun and bradstreet`, `earnd`, `edstart`, `finance one`, `fundo`, `fupay`, `gem visa`, `humm`, `indebted`, `klarna`, `latitude`, `laybuy`, `limepay`, `lion finance`, `money3`, `moneyloop`, `mypaynow`, `nimble`, `nine25`, `openpay`, `panthera`, `payitlater`, `payright`, `pioneer credit`, `plenti`, `probe`, `q card`, `quickapay`, `spotmenow`, `sunshine loans`, `tapmypay`, `wagetap`, `wallet wizard`, `zip pay` (e.g., \"liability:afterpay\").\n- The `third-party` tag_name might include values like `apple pay`, `google`, `paypal`, `sp`, `sq` (e.g., \"third-party:paypal\").\n- The `creditCard` tag_name is used with the value `creditCard` (e.g., \"creditCard:creditCard\").\n- The `expense` tag_name is used with the value `rent` (e.g., \"expense:rent\").\n- The `loan` tag_name is used with the value `loan repayment` (e.g., \"loan:loan repayment\").\n- The `mortgage` tag_name could include values like `afg home loans`, `aims`, `amo group`, `athena`, `aussie`, `bluestone`, `clickloans`, `emoney`, `express reverse mortgage`, `firstmac`, `fox symes`, `freedom lend`, `freedom loans`, `funding`, `heartland reverse mortgages`, `homeloans`, `homestar`, `homestart`, `household capital`, `illawarra home loans`, `keystart`, `la trobe financial`, `liberty financial`, `loans`, `mortgage house`, `mortgage offset`, `mortgageport`, `mortgage repayment`, `onetwo`, `online home loans`, `pacific mortgage group`, `pepper money`, `qantas money`, `reduce home loans`, `resi`, `resimac`, `sucasa`, `switzer home loans`, `ticToc`, `unloan`, `vmg`, `well money` (e.g., \"mortgage:afg home loans\").\n","example":"conduct:dishonour"},"description":"This field contains an array of strings, each representing a specific tag for the transaction. The format of each string should be `tag_name:tag_value`, where `tag_name` defines the type of transaction (e.g., `card`, `income`, `mortgage`), and `tag_value` provides additional details (e.g., \"card:4615\"). The tags help classify and identify transactions based on various criteria.\n\n      - card:4615\n      - conduct:card\n      - conduct:overdrawn\n      - conduct:cheque\n      - conduct:atm\n      - conduct:currency\n      - conduct:late\n      - conduct:admin\n      - conduct:dishonour\n      - conduct:interest\n      - governmentPayment:centrelink\n      - governmentPayment:centrelinkCarers\n      - governmentPayment:crisisSupport\n      - governmentPayment:education\n      - governmentPayment:familyAllowance\n      - governmentPayment:jobseekerPymt\n      - governmentPayment:medicare\n      - governmentPayment:newstart\n      - governmentPayment:pension\n      - governmentPayment:rentalAssistance\n      - governmentPayment:vetAffairs\n      - governmentPayment:youthAllowance\n      - income:childSupport\n      - income:insurance\n      - income:investment\n      - income:rent\n      - income:salary\n      - income:superannuation\n      - liability:afterpay\n      - liability:arl collect pty ltd\n      - liability:australian recoveries\n      - liability:axess\n      - liability:azora\n      - liability:baycorp\n      - liability:beforepay\n      - liability:brighte\n      - liability:bundll\n      - liability:cash converters\n      - liability:cash direct\n      - liability:cashngo\n      - liability:cash stop\n      - liability:cash train\n      - liability:ccc\n      - liability:cfmg pty ltd\n      - liability:charter mercantile\n      - liability:cigno\n      - liability:collectau\n      - liability:collection house\n      - liability:complete credit solutions\n      - liability:credit collection services\n      - liability:credit corp\n      - liability:creditline\n      - liability:deferit\n      - liability:dun and bradstreet\n      - liability:earnd\n      - liability:edstart\n      - liability:finance one\n      - liability:fundo\n      - liability:fupay\n      - liability:gem visa\n      - liability:humm\n      - liability:indebted\n      - liability:klarna\n      - liability:latitude\n      - liability:laybuy\n      - liability:limepay\n      - liability:lion finance\n      - liability:money3\n      - liability:moneyloop\n      - liability:mypaynow\n      - liability:nimble\n      - liability:nine25\n      - liability:openpay\n      - liability:panthera\n      - liability:payitlater\n      - liability:payright\n      - liability:pioneer credit\n      - liability:plenti\n      - liability:probe\n      - liability:q card\n      - liability:quickapay\n      - liability:spotmenow\n      - liability:sunshine loans\n      - liability:tapmypay\n      - liability:wagetap\n      - liability:wallet wizard\n      - liability:zip pay\n      - third-party:apple pay\n      - third-party:google\n      - third-party:paypal\n      - third-party:sp\n      - third-party:sq\n      - creditCard:creditCard\n      - expense:rent\n      - loan:loan repayment\n      - mortgage:afg home loans\n      - mortgage:aims\n      - mortgage:amo group\n      - mortgage:athena\n      - mortgage:aussie\n      - mortgage:bluestone\n      - mortgage:clickloans\n      - mortgage:emoney\n      - mortgage:express reverse mortgage\n      - mortgage:firstmac\n      - mortgage:fox symes\n      - mortgage:freedom lend\n      - mortgage:freedom loans\n      - mortgage:funding\n      - mortgage:heartland reverse mortgages\n      - mortgage:homeloans\n      - mortgage:homestar\n      - mortgage:homestart\n      - mortgage:household capital\n      - mortgage:illawarra home loans\n      - mortgage:keystart\n      - mortgage:la trobe financial\n      - mortgage:liberty financial\n      - mortgage:loans\n      - mortgage:mortgage house\n      - mortgage:mortgage offset\n      - mortgage:mortgageport\n      - mortgage:mortgage repayment\n      - mortgage:onetwo\n      - mortgage:online home loans\n      - mortgage:pacific mortgage group\n      - mortgage:pepper money\n      - mortgage:qantas money\n      - mortgage:reduce home loans\n      - mortgage:resi\n      - mortgage:resimac\n      - mortgage:sucasa\n      - mortgage:switzer home loans\n      - mortgage:ticToc\n      - mortgage:unloan\n      - mortgage:vmg\n      - mortgage:well money\n","x-readme-ref-name":"Transactionstags"},"merchant":{"required":["id","businessName","ABN","website","logoMaster","logoThumb"],"type":"object","nullable":true,"properties":{"id":{"type":"string","description":"id","example":"ae4a051c-4791-11e8-8750-0a87c0279fe8"},"businessName":{"type":"string","description":"Merchant name","example":"Garfish Manly"},"ABN":{"type":"string","description":"ABN","example":"90065628864"},"logoMaster":{"type":"string","description":"full merchant logo","example":"https://enrich-enrichmerchantslogobucket-x62p53eh5ld9.s3-ap-southeast-2.amazonaws.com/officeworks-master.png"},"logoThumb":{"type":"string","description":"thumbnail merchant logo","example":"https://enrich-enrichmerchantslogobucket-x62p53eh5ld9.s3-ap-southeast-2.amazonaws.com/officeworks-thumb.png"},"phoneNumber":{"type":"object","properties":{"international":{"type":"string","description":"International Phone Number","example":"+61 2 9977 0707"},"local":{"type":"string","description":"Local Phone Number","example":"(02) 9977 0707"}},"x-readme-ref-name":"TransactionsPhoneNumber"},"website":{"type":"string","description":"Merchant Website","example":"http://garfish.com.au/garfish-manly/"}},"x-readme-ref-name":"TransactionsMerchant"},"category":{"type":"object","nullable":true,"properties":{"matchType":{"type":"string","description":"Indicates the method used to match a payment transaction with a merchant or business classification code. Description for each enum; merchantFull: Indicates an exact match between the transaction and a known merchant in the database. merchantPartial: Suggests a partial match with a merchant, usually based on substring or fuzzy logic. mcc: Match is done using the Merchant Category Code associated with the transaction. ml: Match is determined through machine learning algorithms for classification. none: Match is not found. \n","enum":["merchantFull","merchantPartial","mcc","ml","none"],"example":"merchantfull"},"matchScore":{"type":"string","description":"The confidence score for the matchType which is a float value between 0 and 1. The higher the number, the higher the confidence in the match.","example":"1.0"},"mcc":{"type":"object","description":"Merchant category codes returned from Data holders.","properties":{"code":{"type":"string","description":"code","example":"txMccCode-25028"},"title":{"type":"string","description":"title","example":""}}},"anzsic":{"type":"object","properties":{"division":{"type":"object","properties":{"title":{"type":"string","description":"Division Details","example":"Accommodation and Food Services"},"code":{"type":"string","description":"Division Code","example":"H"}},"x-readme-ref-name":"TransactionsDivision"},"subdivision":{"type":"object","properties":{"code":{"type":"string","description":"Subdivision Code","example":"45"},"title":{"type":"string","description":"Subdivision Details","example":"Food and Beverage Services"}},"x-readme-ref-name":"TransactionsSubdivision"},"group":{"type":"object","properties":{"code":{"type":"string","description":"Group Code","example":"451"},"title":{"type":"string","description":"Group Details","example":"Cafes, Restaurants and Takeaway Food Services"}},"x-readme-ref-name":"TransactionsGroup"},"class":{"type":"object","properties":{"title":{"type":"string","description":"Class Details","example":"Cafes and Restaurants"},"code":{"type":"string","description":"Class Code","example":"4511"}},"x-readme-ref-name":"TransactionsClass"},"subclass":{"type":"object","properties":{"title":{"type":"string","description":"SubClass Details","example":"Cafes and Restaurants"},"code":{"type":"string","description":"SubClass Code","example":"451100"}},"x-readme-ref-name":"TransactionsSubClass"}},"x-readme-ref-name":"TransactionsAnzsic"}},"x-readme-ref-name":"TransactionsCategory"}},"x-readme-ref-name":"TransactionsEnrich"},"links":{"required":["account","connection","institution","self"],"type":"object","properties":{"account":{"type":"string","description":"Url of the account.","example":"https://au-api.basiq.io/users/6a52015e/accounts/31eb30a0"},"institution":{"type":"string","description":"Url of the institution.","example":"https://au-api.basiq.io/institutions/AU00000"},"self":{"type":"string","description":"Transaction self reference.","example":"https://au-api.basiq.io/users/6a52015e/transactions/2082c765"}},"x-readme-ref-name":"TransactionLinks"}},"x-readme-ref-name":"TransactionData"}},"links":{"required":["self"],"type":"object","properties":{"self":{"type":"string","description":"Self reference url.","example":"https://au-api.basiq.io/users/ea3a81/transactions"},"next":{"type":"string","description":"URL to the next result page when there are more than 500 transactions.","example":"https://au-api.basiq.io/users/6a52015e/transactions?next=bf1ec9d4"}},"x-readme-ref-name":"TransactionsGetLinks"}},"description":"A transaction object is created whenever money is debited or credited from a particular account.","x-readme-ref-name":"TransactionsGetResource"}}}},"400":{"description":"Returns error that server cannot or will not process the request due to something that is perceived to be a client error.","content":{"application/json":{"schema":{"required":["correlationId","data","type"],"type":"object","properties":{"type":{"type":"string","description":"Always \"list\".","example":"list"},"correlationId":{"type":"string","description":"Unique identifier for this particular occurrence of the problem.","example":"ac5ah5i"},"data":{"type":"array","description":"Error data.","items":{"required":["code","type"],"type":"object","properties":{"code":{"type":"string","description":"Application-specific error code, expressed as a string value.","example":"parameter-not-valid","enum":["parameter-not-supplied","parameter-not-valid","unsupported-accept","invalid-content","institution-not-supported","invalid-credentials"]},"detail":{"type":"string","description":"Human-readable explanation specific to this occurrence of the problem.","example":"The provided filter parameter is in invalid format or unsupported."},"source":{"title":"Source","type":"object","properties":{"parameter":{"type":"string","description":"String indicating which URI query parameter caused the error.","example":"userId"},"pointer":{"type":"string","description":"Location to the object or attribute that the error relates to.","example":"users/userId"}},"description":"An object containing references to the source of the error.","x-readme-ref-name":"Source"},"title":{"type":"string","description":"Title of the error","example":"Parameter not valid."},"type":{"type":"string","description":"Type of the response, always \"error\"","example":"error"}}}}},"x-readme-ref-name":"BadRequestError"},"examples":{"Bad Request":{"value":{"type":"list","correlationId":"ac5ah5i","data":[{"type":"error","title":"Parameter not valid.","code":"parameter-not-valid","detail":"ID value is not valid.","source":{"parameter":"id"}}]}},"Invalid Filters":{"value":{"type":"list","correlationId":"ac5ah55","data":[{"type":"error","code":"parameter-not-valid","title":"Parameter value is not valid","detail":"The provided filter parameter is in invalid format or unsupported","source":{"parameter":"filter"}}]}}}}}},"403":{"description":"Error that access is forbidden and tied to the application logic, such as insufficient rights to a resource.","content":{"application/json":{"schema":{"required":["correlationId","data","type"],"type":"object","properties":{"correlationId":{"type":"string","description":"Unique identifier for this particular occurrence of the problem.","example":"ac5ah5i"},"data":{"type":"array","description":"Error data.","items":{"required":["code","source","type"],"type":"object","properties":{"code":{"type":"string","description":"Application-specific error code, expressed as a string value.","example":"forbidden-access","enum":["forbidden-access","no-production-access","access-denied"]},"detail":{"type":"string","description":"Human-readable explanation specific to this occurrence of the problem.","example":"Access to this resource is forbidden."},"source":{"title":"Source","type":"object","properties":{"parameter":{"type":"string","description":"String indicating which URI query parameter caused the error.","example":"userId"},"pointer":{"type":"string","description":"Location to the object or attribute that the error relates to.","example":"users/userId"}},"description":"An object containing references to the source of the error.","x-readme-ref-name":"Source"},"title":{"type":"string","description":"Title of the error","example":"Forbidden Access"},"type":{"type":"string","description":"Type of the response, always \"error\"","example":"error"}}}},"type":{"type":"string","description":"Always \"list\".","example":"list"}},"x-readme-ref-name":"ForbiddenAccessError"}}}},"404":{"description":"Returns error indicating that server can't find requested resource.","content":{"application/json":{"schema":{"required":["correlationId","data","type"],"type":"object","properties":{"correlationId":{"type":"string","description":"Unique identifier for this particular occurrence of the problem.","example":"ac5ah5i"},"data":{"type":"array","description":"Error data.","items":{"required":["code","type"],"type":"object","properties":{"code":{"type":"string","description":"Application-specific error code, expressed as a string value.","example":"resource-not-found","enum":["resource-not-found"]},"detail":{"type":"string","description":"Human-readable explanation specific to this occurrence of the problem.","example":"Resource not found."},"title":{"type":"string","description":"Title of the error","example":"Requested resource is not found."},"type":{"type":"string","description":"Type of the response, always \"error\"","example":"error"}}}},"type":{"type":"string","description":"Always \"list\".","example":"list"}},"x-readme-ref-name":"NotFoundError"}}}},"500":{"description":"Returns error response code indicates that the server encountered an unexpected condition that prevented it from fulfilling the request.","content":{"application/json":{"schema":{"required":["correlationId","data","type"],"type":"object","properties":{"correlationId":{"type":"string","description":"Unique identifier for this particular occurrence of the problem.","example":"ac5ah5i"},"data":{"type":"array","description":"Error data.","items":{"required":["code","type"],"type":"object","properties":{"code":{"type":"string","description":"Application-specific error code, expressed as a string value.","example":"internal-server-error","enum":["internal-server-error"]},"detail":{"type":"string","description":"Human-readable explanation specific to this occurrence of the problem.","example":"Internal Server error. Contact support."},"title":{"type":"string","description":"Title of the error","example":"Internal Server error."},"type":{"type":"string","description":"Type of the response, always \"error\"","example":"error"}}}},"type":{"type":"string","description":"Always \"list\".","example":"list"}},"x-readme-ref-name":"InternalServerError"}}}}},"security":[{"services_token":[]}]}},"/users/{userId}/transactions/{transactionId}":{"get":{"tags":["Transactions"],"summary":"Retrieve a transaction","description":"Retrieve an existing transaction","operationId":"getTransaction","parameters":[{"name":"userId","in":"path","description":"The identifier of the user.","required":true,"schema":{"type":"string"}},{"name":"transactionId","in":"path","description":"The identifier of the transaction.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Returns a transaction if a valid transaction ID was provided.","content":{"application/json":{"schema":{"required":["id","status","description","reference","account","amount","currency","class","subClass","connection","direction","enrich","institution","links","postDate","transactionDate","type"],"type":"object","properties":{"type":{"type":"string","description":"Value is \"transaction\".","example":"transaction"},"id":{"type":"string","description":"Uniquely identifies the transaction for this connection. Note that when a connection is refreshed pending transactions will receive new id's, whilst posted transactions will receive the same id's as before the refresh.","example":"d3de1ca1"},"status":{"type":"string","description":"Identifies if a transaction is pending or posted. A pending transaction is an approved debit or credit transaction that has not been fully processed yet (i.e. has not been posted). Note that pending transactions are not available for all institutions.","example":"posted","enum":["pending","posted"]},"description":{"type":"string","description":"The transaction description as submitted by the institution."},"reference":{"type":"string","description":"The reference for the transaction provided by the originating institution."},"amount":{"type":"string","description":"Transaction amount. Outgoing funds are expressed as negative values.","example":"123.12"},"currency":{"type":"string","description":"Standard 3 character currency codes as per ISO-4217.","enum":["AUD","USD","GBP"]},"account":{"type":"string","description":"The id of the account resource the transaction belongs to.","example":"d3de1ca1"},"balance":{"type":"string","description":"Value of the account balance at time the transaction was completed.","example":"123.12"},"direction":{"type":"string","description":"Identifies if the transaction is of debit or credit type.","example":"debit","enum":["debit","credit"]},"class":{"type":"string","description":"Describes the class(type) of tr
[...]
