{"openapi":"3.0.1","info":{"title":"Identity","description":"All included utility endpoints for Basiq partners","version":"3.0.0"},"servers":[{"url":"https://au-api.basiq.io/"}],"paths":{"/users/{userId}/identities":{"get":{"tags":["Identities"],"summary":"Retrieve identities","description":"Returns a list with a data property that contains an array of user identities. Each entry in the array is a separate object. If no data is returned, the resulting array will be empty.","operationId":"getUserIdentities","parameters":[{"name":"userId","in":"path","description":"User identifier.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Returns list of identities.","content":{"application/json":{"schema":{"title":"IdentitiesGetResponseResource","required":["count","data","type"],"type":"object","properties":{"data":{"type":"array","items":{"required":["created","id","links","type","updated"],"type":"object","properties":{"type":{"type":"string","description":"Type, always \"identity\".","example":"identity"},"id":{"type":"string","description":"Identity identification.","example":"61723"},"created":{"type":"string","description":"Created date of the identity.","example":"2019-07-29T07:34:09Z"},"updated":{"type":"string","description":"Created date of the identity.","example":"2019-07-29T07:34:09Z"},"links":{"required":["job","self"],"type":"object","properties":{"self":{"type":"string","description":"Self link to the requested identity","example":"https://au-api.basiq.io/users/cd6fbd92/identities/ea3a81"},"job":{"type":"string","description":"Link to the job associated with this identity","example":"https://au-api.basiq.io/users/ea3a81/connection/s55bf3"}},"x-readme-ref-name":"IdentityLinks"},"source":{"type":"string","description":"Data source.","example":"web"},"fullName":{"type":"string","description":"FullName of the identity owner."},"firstName":{"type":"string","description":"FirstName of the identity owner."},"lastName":{"type":"string","description":"LastName of the identity owner."},"middleName":{"type":"string","description":"MiddleName of the identity owner."},"title":{"type":"string","description":"Title is the prefix to the name of the identity owner."},"DOB":{"type":"string","description":"Date of birth of the identity owner."},"occupationCode":{"type":"string","description":"Code relating to the occupation held by the identity owner."},"occupationCodeVersion":{"type":"string","description":"Occupation Code Version."},"phoneNumbers":{"type":"array","description":"List of phone numbers of the identity owner.","items":{"type":"string"}},"emails":{"type":"array","description":"List of email addresses of the identity owner.","items":{"type":"string"}},"physicalAddresses":{"type":"array","description":"List of physical addresses of the identity owner.","items":{"type":"object","properties":{"type":{"type":"string","description":"Physical Address Type."},"addressLine1":{"type":"string","description":"AddressLine1."},"addressLine2":{"type":"string","description":"AddressLine2."},"addressLine3":{"type":"string","description":"AddressLine3."},"postcode":{"type":"string","description":"Postcode."},"city":{"type":"string","description":"City."},"state":{"type":"string","description":"State."},"country":{"type":"string","description":"Country."},"countryCode":{"type":"string","description":"Country Code."},"formattedAddress":{"type":"string","description":"Formatted Address."}},"x-readme-ref-name":"PhysicalAddressData"}},"organisation":{"type":"object","properties":{"agentFirstName":{"type":"string","description":"Agent first name."},"agentLastName":{"type":"string","description":"Agent last name."},"agentRole":{"type":"string","description":"Agent role."},"businessName":{"type":"string","description":"Business name."},"legalName":{"type":"string","description":"Legal name."},"shortName":{"type":"string","description":"Short name."},"abn":{"type":"string","description":"Australian Business Number."},"acn":{"type":"string","description":"Australian Company Number."},"isACNCRegistered":{"type":"boolean","description":"Indicates whether is Australian Company Number registered."},"industryCode":{"type":"string","description":"Industry Code."},"industryCodeVersion":{"type":"string","description":"Industry Code Version."},"organisationType":{"type":"string","description":"Organisation Type."},"registeredCountry":{"type":"string","description":"Registered Country."}},"description":"Organisation data."}},"x-readme-ref-name":"IdentityData"}},"type":{"type":"string","description":"Type, always \"list\".","example":"list"},"count":{"type":"integer","description":"Count of the identities in the response.","format":"int64","example":100}},"description":"Object containing details for identities.","x-readme-ref-name":"IdentitiesGetResponseResource"}}}},"400":{"description":"Returns error that server cannot or will not process the request due to something that is perceived to be a client error.","content":{"application/json":{"schema":{"required":["correlationId","data","type"],"type":"object","properties":{"type":{"type":"string","description":"Always \"list\".","example":"list"},"correlationId":{"type":"string","description":"Unique identifier for this particular occurrence of the problem.","example":"ac5ah5i"},"data":{"type":"array","description":"Error data.","items":{"required":["code","type"],"type":"object","properties":{"type":{"type":"string","description":"Type of the response, always \"error\"","example":"error"},"title":{"type":"string","description":"Title of the error","example":"Parameter not valid."},"code":{"type":"string","description":"Application-specific error code, expressed as a string value.","example":"parameter-not-valid","enum":["parameter-not-supplied","parameter-not-valid","unsupported-accept","invalid-content","institution-not-supported","invalid-credentials"]},"detail":{"type":"string","description":"Human-readable explanation specific to this occurrence of the problem.","example":"ID value is not valid."},"source":{"title":"Source","type":"object","properties":{"parameter":{"type":"string","description":"String indicating which URI query parameter caused the error.","example":"id"}},"description":"An object containing references to the source of the error.","x-readme-ref-name":"Source"}}}}},"x-readme-ref-name":"BadRequestError"},"examples":{"Bad Request":{"value":{"type":"list","correlationId":"ac5ah5i","data":[{"type":"error","title":"Parameter not valid.","code":"parameter-not-valid","detail":"ID value is not valid.","source":{"parameter":"id"}}]}},"Invalid Filters":{"value":{"type":"list","correlationId":"ac5ah55","data":[{"type":"error","code":"parameter-not-valid","title":"Parameter value is not valid","detail":"The provided filter parameter is in invalid format or unsupported","source":{"parameter":"filter"}}]}}}}}},"403":{"description":"Error that access is forbidden and tied to the application logic, such as insufficient rights to a resource.","content":{"application/json":{"schema":{"required":["correlationId","data","type"],"type":"object","properties":{"type":{"type":"string","description":"Always \"list\".","example":"list"},"correlationId":{"type":"string","description":"Unique identifier for this particular occurrence of the problem.","example":"ac5ah5i"},"data":{"type":"array","description":"Error data.","items":{"required":["code","source","type"],"type":"object","properties":{"type":{"type":"string","description":"Type of the response, always \"error\"","example":"error"},"title":{"type":"string","description":"Title of the error","example":"Forbidden Access"},"code":{"type":"string","description":"Application-specific error code, expressed as a string value.","example":"forbidden-access","enum":["forbidden-access","no-production-access","access-denied"]},"detail":{"type":"string","description":"Human-readable explanation specific to this occurrence of the problem.","example":"Access to this resource is forbidden."},"source":{"title":"Source","type":"object","properties":{"parameter":{"type":"string","description":"String indicating which URI query parameter caused the error.","example":"id"}},"description":"An object containing references to the source of the error.","x-readme-ref-name":"Source"}}}}},"x-readme-ref-name":"ForbiddenAccessError"}}}},"500":{"description":"Returns error response code indicates that the server encountered an unexpected condition that prevented it from fulfilling the request.","content":{"application/json":{"schema":{"required":["correlationId","data","type"],"type":"object","properties":{"type":{"type":"string","description":"Always \"list\".","example":"list"},"correlationId":{"type":"string","description":"Unique identifier for this particular occurrence of the problem.","example":"ac5ah5i"},"data":{"type":"array","description":"Error data.","items":{"required":["code","type"],"type":"object","properties":{"code":{"type":"string","description":"Application-specific error code, expressed as a string value.","example":"internal-server-error","enum":["internal-server-error"]},"detail":{"type":"string","description":"Human-readable explanation specific to this occurrence of the problem.","example":"Internal Server error. Contact support."},"title":{"type":"string","description":"Title of the error","example":"Internal Server error."},"type":{"type":"string","description":"Type of the response, always \"error\"","example":"error"}}}}},"x-readme-ref-name":"InternalServerError"}}}}},"security":[{"services_token":[]}]}},"/users/{userId}/identities/{identityId}":{"get":{"tags":["Identities"],"summary":"Retrieve an identity","description":"Returns a specific identity object.","operationId":"getUserIdentity","parameters":[{"name":"userId","in":"path","description":"User identifier.","required":true,"schema":{"type":"string"}},{"name":"identityId","in":"path","description":"Identity identifier.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Returns identity.","content":{"application/json":{"schema":{"required":["created","id","links","type","updated"],"type":"object","properties":{"type":{"type":"string","description":"Type, always \"identity\".","example":"identity"},"id":{"type":"string","description":"Identity identification.","example":"61723"},"created":{"type":"string","description":"Created date of the identity.","example":"2019-07-29T07:34:09Z"},"updated":{"type":"string","description":"Created date of the identity.","example":"2019-07-29T07:34:09Z"},"links":{"required":["job","self"],"type":"object","properties":{"self":{"type":"string","description":"Self link to the requested identity","example":"https://au-api.basiq.io/users/cd6fbd92/identities/ea3a81"},"job":{"type":"string","description":"Link to the job associated with this identity","example":"https://au-api.basiq.io/users/ea3a81/connection/s55bf3"}},"x-readme-ref-name":"IdentityLinks"},"source":{"type":"string","description":"Data source.","example":"web"},"fullName":{"type":"string","description":"FullName of the identity owner."},"firstName":{"type":"string","description":"FirstName of the identity owner."},"lastName":{"type":"string","description":"LastName of the identity owner."},"middleName":{"type":"string","description":"MiddleName of the identity owner."},"title":{"type":"string","description":"Title is the prefix to the name of the identity owner."},"DOB":{"type":"string","description":"Date of birth of the identity owner."},"occupationCode":{"type":"string","description":"Code relating to the occupation held by the identity owner."},"occupationCodeVersion":{"type":"string","description":"Occupation Code Version."},"phoneNumbers":{"type":"array","description":"List of phone numbers of the identity owner.","items":{"type":"string"}},"emails":{"type":"array","description":"List of email addresses of the identity owner.","items":{"type":"string"}},"physicalAddresses":{"type":"array","description":"List of physical addresses of the identity owner.","items":{"type":"object","properties":{"type":{"type":"string","description":"Physical Address Type."},"addressLine1":{"type":"string","description":"AddressLine1."},"addressLine2":{"type":"string","description":"AddressLine2."},"addressLine3":{"type":"string","description":"AddressLine3."},"postcode":{"type":"string","description":"Postcode."},"city":{"type":"string","description":"City."},"state":{"type":"string","description":"State."},"country":{"type":"string","description":"Country."},"countryCode":{"type":"string","description":"Country Code."},"formattedAddress":{"type":"string","description":"Formatted Address."}},"x-readme-ref-name":"PhysicalAddressData"}},"organisation":{"type":"object","properties":{"agentFirstName":{"type":"string","description":"Agent first name."},"agentLastName":{"type":"string","description":"Agent last name."},"agentRole":{"type":"string","description":"Agent role."},"businessName":{"type":"string","description":"Business name."},"legalName":{"type":"string","description":"Legal name."},"shortName":{"type":"string","description":"Short name."},"abn":{"type":"string","description":"Australian Business Number."},"acn":{"type":"string","description":"Australian Company Number."},"isACNCRegistered":{"type":"boolean","description":"Indicates whether is Australian Company Number registered."},"industryCode":{"type":"string","description":"Industry Code."},"industryCodeVersion":{"type":"string","description":"Industry Code Version."},"organisationType":{"type":"string","description":"Organisation Type."},"registeredCountry":{"type":"string","description":"Registered Country."}},"description":"Organisation data."}},"x-readme-ref-name":"IdentityData"}}}},"400":{"description":"Returns error that server cannot or will not process the request due to something that is perceived to be a client error.","content":{"application/json":{"schema":{"required":["correlationId","data","type"],"type":"object","properties":{"type":{"type":"string","description":"Always \"list\".","example":"list"},"correlationId":{"type":"string","description":"Unique identifier for this particular occurrence of the problem.","example":"ac5ah5i"},"data":{"type":"array","description":"Error data.","items":{"required":["code","type"],"type":"object","properties":{"type":{"type":"string","description":"Type of the response, always \"error\"","example":"error"},"title":{"type":"string","description":"Title of the error","example":"Parameter not valid."},"code":{"type":"string","description":"Application-specific error code, expressed as a string value.","example":"parameter-not-valid","enum":["parameter-not-supplied","parameter-not-valid","unsupported-accept","invalid-content","institution-not-supported","invalid-credentials"]},"detail":{"type":"string","description":"Human-readable explanation specific to this occurrence of the problem.","example":"ID value is not valid."},"source":{"title":"Source","type":"object","properties":{"parameter":{"type":"string","description":"String indicating which URI query parameter caused the error.","example":"id"}},"description":"An object containing references to the source of the error.","x-readme-ref-name":"Source"}}}}},"x-readme-ref-name":"BadRequestError"}}}},"403":{"description":"Error that access is forbidden and tied to the application logic, such as insufficient rights to a resource.","content":{"application/json":{"schema":{"required":["correlationId","data","type"],"type":"object","properties":{"type":{"type":"string","description":"Always \"list\".","example":"list"},"correlationId":{"type":"string","description":"Unique identifier for this particular occurrence of the problem.","example":"ac5ah5i"},"data":{"type":"array","description":"Error data.","items":{"required":["code","source","type"],"type":"object","properties":{"type":{"type":"string","description":"Type of the response, always \"error\"","example":"error"},"title":{"type":"string","description":"Title of the error","example":"Forbidden Access"},"code":{"type":"string","description":"Application-specific error code, expressed as a string value.","example":"forbidden-access","enum":["forbidden-access","no-production-access","access-denied"]},"detail":{"type":"string","description":"Human-readable explanation specific to this occurrence of the problem.","example":"Access to this resource is forbidden."},"source":{"title":"Source","type":"object","properties":{"parameter":{"type":"string","description":"String indicating which URI query parameter caused the error.","example":"id"}},"description":"An object containing references to the source of the error.","x-readme-ref-name":"Source"}}}}},"x-readme-ref-name":"ForbiddenAccessError"}}}},"404":{"description":"Returns error indicating that server can't find requested resource.","content":{"application/json":{"schema":{"required":["correlationId","data","type"],"type":"object","properties":{"type":{"type":"string","description":"Always \"list\".","example":"list"},"correlationId":{"type":"string","description":"Unique identifier for this particular occurrence of the problem.","example":"ac5ah5i"},"data":{"type":"array","description":"Error data.","items":{"required":["code","type"],"type":"object","properties":{"code":{"type":"string","description":"Application-specific error code, expressed as a string value.","example":"resource-not-found","enum":["resource-not-found"]},"detail":{"type":"string","description":"Human-readable explanation specific to this occurrence of the problem.","example":"Resource not found."},"title":{"type":"string","description":"Title of the error","example":"Requested resource is not found."},"type":{"type":"string","description":"Type of the response, always \"error\"","example":"error"}}}}},"x-readme-ref-name":"NotFoundError"}}}},"500":{"description":"Returns error response code indicates that the server encountered an unexpected condition that prevented it from fulfilling the request.","content":{"application/json":{"schema":{"required":["correlationId","data","type"],"type":"object","properties":{"type":{"type":"string","description":"Always \"list\".","example":"list"},"correlationId":{"type":"string","description":"Unique identifier for this particular occurrence of the problem.","example":"ac5ah5i"},"data":{"type":"array","description":"Error data.","items":{"required":["code","type"],"type":"object","properties":{"code":{"type":"string","description":"Application-specific error code, expressed as a string value.","example":"internal-server-error","enum":["internal-server-error"]},"detail":{"type":"string","description":"Human-readable explanation specific to this occurrence of the problem.","example":"Internal Server error. Contact support."},"title":{"type":"string","description":"Title of the error","example":"Internal Server error."},"type":{"type":"string","description":"Type of the response, always \"error\"","example":"error"}}}}},"x-readme-ref-name":"InternalServerError"}}}}},"security":[{"services_token":[]}]}}},"components":{"schemas":{"AccountClass":{"required":["type","product"],"type":"object","properties":{"type":{"type":"string","description":"Account type","example":"savings"},"product":{"type":"string","description":"Product name.","example":"saver"}},"x-readme-ref-name":"AccountClass"},"AccountsContainer":{"required":["data","type"],"type":"object","properties":{"type":{"type":"string","description":"Type always \"list\".","example":"list"},"data":{"type":"array","description":"Accounts details","items":{"required":["accountNo","availableFunds","balance","class","currency","id","lastUpdated","links","name","status","type"],"type":"object","properties":{"type":{"type":"string","description":"Type always \"account\".","example":"account"},"id":{"type":"string","description":"Account identification.","example":"319ae910"},"name":{"type":"string","description":"Account name.","example":"Business account"},"currency":{"type":"string","description":"Currency","example":"AUD"},"class":{"required":["type","product"],"type":"object","properties":{"type":{"type":"string","description":"Account type","example":"savings"},"product":{"type":"string","description":"Product name.","example":"saver"}},"x-readme-ref-name":"AccountClass"},"accountNo":{"type":"string","description":"Account number","example":"105148119695"},"availableFunds":{"type":"string","description":"Account available funds, nullable.","nullable":true,"example":"200.54"},"balance":{"type":"string","description":"Account balance, nullable.","nullable":true,"example":"100.12"},"lastUpdated":{"type":"string","description":"Account last updated date and time.","example":"2017-09-28T11:15:09.756Z"},"status":{"type":"string","description":"Account status.","example":"available","enum":["available","unavailable"]},"links":{"required":["self","transactions"],"type":"object","properties":{"transactions":{"type":"string","description":"transactions link to the transactions associated with this account","example":"https://au-api.basiq.io/users/ea3a81/transactions?filter=account.id.eq('s55bf3')"},"self":{"type":"string","description":"self link to the requested account","example":"https://au-api.basiq.io/users/cd6fbd92/accounts/319ae910"}},"x-readme-ref-name":"ConnectionAccountLinks"}},"x-readme-ref-name":"AccountsData"}}},"x-readme-ref-name":"AccountsContainer"},"AccountsData":{"required":["accountNo","availableFunds","balance","class","currency","id","lastUpdated","links","name","status","type"],"type":"object","properties":{"type":{"type":"string","description":"Type always \"account\".","example":"account"},"id":{"type":"string","description":"Account identification.","example":"319ae910"},"name":{"type":"string","description":"Account name.","example":"Business account"},"currency":{"type":"string","description":"Currency","example":"AUD"},"class":{"required":["type","product"],"type":"object","properties":{"type":{"type":"string","description":"Account type","example":"savings"},"product":{"type":"string","description":"Product name.","example":"saver"}},"x-readme-ref-name":"AccountClass"},"accountNo":{"type":"string","description":"Account number","example":"105148119695"},"availableFunds":{"type":"string","description":"Account available funds, nullable.","nullable":true,"example":"200.54"},"balance":{"type":"string","description":"Account balance, nullable.","nullable":true,"example":"100.12"},"lastUpdated":{"type":"string","description":"Account last updated date and time.","example":"2017-09-28T11:15:09.756Z"},"status":{"type":"string","description":"Account status.","example":"available","enum":["available","unavailable"]},"links":{"required":["self","transactions"],"type":"object","properties":{"transactions":{"type":"string","description":"transactions link to the transactions associated with this account","example":"https://au-api.basiq.io/users/ea3a81/transactions?filter=account.id.eq('s55bf3')"},"self":{"type":"string","description":"self link to the requested account","example":"https://au-api.basiq.io/users/cd6fbd92/accounts/319ae910"}},"x-readme-ref-name":"ConnectionAccountLinks"}},"x-readme-ref-name":"AccountsData"},"ConnectionAccountLinks":{"required":["self","transactions"],"type":"object","properties":{"transactions":{"type":"string","description":"transactions link to the transactions associated with this account","example":"https://au-api.basiq.io/users/ea3a81/transactions?filter=account.id.eq('s55bf3')"},"self":{"type":"string","description":"self link to the requested account","example":"https://au-api.basiq.io/users/cd6fbd92/accounts/319ae910"}},"x-readme-ref-name":"ConnectionAccountLinks"},"AuthLinksResponseResource":{"required":["expiresAt","id","mobile","type","userId"],"type":"object","properties":{"expiresAt":{"type":"string","description":"The date time of auth link expiry.","example":"2019-11-21T04:08:50Z"},"id":{"type":"string","description":"Uniquely identifies the auth link.","example":"63448be4"},"links":{"required":["public","self"],"type":"object","properties":{"public":{"type":"string","description":"Public URL of auth link.","example":"https://connect.basiq.io/63448be4"},"self":{"type":"string","description":"URL of the resource","example":"/users/ec4ea48d/auth_link"}},"x-readme-ref-name":"AuthLinkLinks"},"mobile":{"type":"string","description":"A user's mobile phone, used as for authentication.","example":61410000000},"type":{"type":"string","description":"Type of the response, always \"auth_link\".","example":"auth_link"},"userId":{"type":"string","description":"A string that uniquely identifies the user.","example":"ec4ea48d"}},"x-readme-ref-name":"AuthLinksResponseResource"},"GoneError":{"required":["correlationId","data","type"],"type":"object","properties":{"correlationId":{"type":"string","description":"Unique identifier for this particular occurrence of the problem.","example":"ac5ah5i"},"data":{"type":"array","description":"Error data.","items":{"required":["code","type"],"type":"object","properties":{"code":{"type":"string","description":"Application-specific error code, expressed as a string value.","example":"resource-no-longer-available","enum":["resource-no-longer-available"]},"detail":{"type":"string","description":"Human-readable explanation specific to this occurrence of the problem."},"title":{"type":"string","description":"Title of the error"},"type":{"type":"string","description":"Type of the response, always \"error\"","example":"error"}}}},"type":{"type":"string","description":"Always \"list\".","example":"list"}},"x-readme-ref-name":"GoneError"},"BadRequestError":{"required":["correlationId","data","type"],"type":"object","properties":{"type":{"type":"string","description":"Always \"list\".","example":"list"},"correlationId":{"type":"string","description":"Unique identifier for this particular occurrence of the problem.","example":"ac5ah5i"},"data":{"type":"array","description":"Error data.","items":{"required":["code","type"],"type":"object","properties":{"type":{"type":"string","description":"Type of the response, always \"error\"","example":"error"},"title":{"type":"string","description":"Title of the error","example":"Parameter not valid."},"code":{"type":"string","description":"Application-specific error code, expressed as a string value.","example":"parameter-not-valid","enum":["parameter-not-supplied","parameter-not-valid","unsupported-accept","invalid-content","institution-not-supported","invalid-credentials"]},"detail":{"type":"string","description":"Human-readable explanation specific to this occurrence of the problem.","example":"ID value is not valid."},"source":{"title":"Source","type":"object","properties":{"parameter":{"type":"string","description":"String indicating which URI query parameter caused the error.","example":"id"}},"description":"An object containing references to the source of the error.","x-readme-ref-name":"Source"}}}}},"x-readme-ref-name":"BadRequestError"},"AuthLinkLinks":{"required":["public","self"],"type":"object","properties":{"public":{"type":"string","description":"Public URL of auth link.","example":"https://connect.basiq.io/63448be4"},"self":{"type":"string","description":"URL of the resource","example":"/users/ec4ea48d/auth_link"}},"x-readme-ref-name":"AuthLinkLinks"},"AuthLinksPostResponseResource":{"required":["expiresAt","mobile","type","userId"],"type":"object","properties":{"expiresAt":{"type":"string","description":"The date time of auth link expiry.","example":"2019-11-21T04:08:50Z"},"links":{"required":["public","self"],"type":"object","properties":{"public":{"type":"string","description":"Public URL of auth link.","example":"https://connect.basiq.io/63448be4"},"self":{"type":"string","description":"URL of the resource","example":"/users/ec4ea48d/auth_link"}},"x-readme-ref-name":"AuthLinkLinks"},"mobile":{"type":"string","description":"A user's mobile phone, used as for authentication.","example":61410000000},"type":{"type":"string","description":"Type of the response, always \"auth_link\".","example":"auth_link"},"userId":{"type":"string","description":"A string that uniquely identifies the user.","example":"ec4ea48d"}},"x-readme-ref-name":"AuthLinksPostResponseResource"},"ConnectionGetResponseResource":{"title":"ConnectionGetResponseResource","required":["createdDate","method","id","institution","links","type"],"type":"object","properties":{"type":{"type":"string","description":"Type, always \"connection\".","example":"connection"},"id":{"type":"string","description":"A string that uniquely identifies the user connection.","example":"61723"},"method":{"type":"string","description":"A string that uniquely identifies the user connections either it is web or openbanking","example":"web"},"createdDate":{"type":"string","description":"Created date of the connection, available only for SERVER_SCOPE.","example":"2019-07-29T07:34:09Z"},"lastUsed":{"type":"string","description":"UTC Date and Time of when the connection was last used, in RFC 3339 format, available only for SERVER_SCOPE.","example":"2020-06-22T11:15:09Z"},"accounts":{"required":["data","type"],"type":"object","properties":{"type":{"type":"string","description":"Type always \"list\".","example":"list"},"data":{"type":"array","description":"Accounts details","items":{"required":["accountNo","availableFunds","balance","class","currency","id","lastUpdated","links","name","status","type"],"type":"object","properties":{"type":{"type":"string","description":"Type always \"account\".","example":"account"},"id":{"type":"string","description":"Account identification.","example":"319ae910"},"name":{"type":"string","description":"Account name.","example":"Business account"},"currency":{"type":"string","description":"Currency","example":"AUD"},"class":{"required":["type","product"],"type":"object","properties":{"type":{"type":"string","description":"Account type","example":"savings"},"product":{"type":"string","description":"Product name.","example":"saver"}},"x-readme-ref-name":"AccountClass"},"accountNo":{"type":"string","description":"Account number","example":"105148119695"},"availableFunds":{"type":"string","description":"Account available funds, nullable.","nullable":true,"example":"200.54"},"balance":{"type":"string","description":"Account balance, nullable.","nullable":true,"example":"100.12"},"lastUpdated":{"type":"string","description":"Account last updated date and time.","example":"2017-09-28T11:15:09.756Z"},"status":{"type":"string","description":"Account status.","example":"available","enum":["available","unavailable"]},"links":{"required":["self","transactions"],"type":"object","properties":{"transactions":{"type":"string","description":"transactions link to the transactions associated with this account","example":"https://au-api.basiq.io/users/ea3a81/transactions?filter=account.id.eq('s55bf3')"},"self":{"type":"string","description":"self link to the requested account","example":"https://au-api.basiq.io/users/cd6fbd92/accounts/319ae910"}},"x-readme-ref-name":"ConnectionAccountLinks"}},"x-readme-ref-name":"AccountsData"}}},"x-readme-ref-name":"AccountsContainer"},"institution":{"title":"ConnectionInstitution","required":["id","links","type"],"type":"object","properties":{"id":{"type":"string","description":"Institution id","example":"AU00000"},"links":{"title":"ResourceLink","required":["self"],"type":"object","properties":{"self":{"type":"string","description":"URL of the resource.","example":"https://au-api.basiq.io/link/a3dgf4567a89"}},"description":"Link object containing a link to the resource, self reference.","x-readme-ref-name":"ResourceLink"},"type":{"type":"string","description":"Always \"institution\".","example":"institution"}},"description":"Institution details.","x-readme-ref-name":"ConnectionInstitution"},"profile":{"required":["emailAddresses","firstName","fullName","lastName","middleName","phoneNumbers","physicalAddresses"],"type":"object","properties":{"emailAddresses":{"type":"array","description":"User email address","example":["gavin@hooli.com"],"items":{"type":"string"}},"firstName":{"type":"string","description":"User first name","example":"Gavin"},"fullName":{"type":"string","description":"User full name","example":"Gavin Belson"},"lastName":{"type":"string","description":"User last name","example":"Belson"},"middleName":{"type":"string","description":"User middle name"},"phoneNumbers":{"type":"array","description":"User phone number","example":["XXXX 888 991"],"items":{"type":"string"}},"physicalAddresses":{"type":"array","description":"Physical user addresses","items":{"title":"PhysicalAddresses","required":["addressLine1","addressLine2","addressLine3","city","countryCode","formattedAddress","postcode","state"],"type":"object","properties":{"addressLine1":{"type":"string","description":"User address.","example":"13/91 Fisher Rd"},"addressLine2":{"type":"string","description":"Always \"null\"","nullable":true},"addressLine3":{"type":"string","description":"Always \"null\"","nullable":true},"city":{"type":"string","description":"City","example":"Sydney"},"country":{"type":"string"},"countryCode":{"type":"string","description":"Country code","example":"AU"},"formattedAddress":{"type":"string","description":"Address formatted.","example":"13/91 Fisher Rd, Dee Why NSW 2099, Australia"},"postcode":{"type":"string","description":"Post code","example":"2099"},"state":{"type":"string","description":"State","example":"NSW"}},"description":"User physical addresses holding the connection.","x-readme-ref-name":"PhysicalAddresses"}}},"x-readme-ref-name":"ConnectionProfile"},"status":{"type":"string","description":"Indicates the connection status, available only for SERVER_SCOPE.","example":"active","enum":["active","pending","invalid"]},"links":{"title":"GetConnectionLinks","required":["self","user"],"type":"object","properties":{"accounts":{"type":"string","description":"Accounts reference url.","example":"https://au-api.basiq.io/users/cd6fbd92/accounts?filter=institution.id.eq('AU00000')"},"self":{"type":"string","description":"Connection self reference url.","example":"https://au-api.basiq.io/users/cd6fbd92-0b12-43ba-a3c1-286dd5f4f396/connections/29523951"},"transactions":{"type":"string","description":"Transactions reference url.","example":"https://au-api.basiq.io/users/cd6fbd92/transactions?filter=institution.id.eq('AU00000')"},"user":{"type":"string","description":"User reference url.","example":"https://au-api.basiq.io/users/cd6fbd92"}},"description":"Object containing links to resources.","x-readme-ref-name":"GetConnectionLinks"}},"description":"Object containing details for connection post.","x-readme-ref-name":"ConnectionGetResponseResource"},"ConnectionInstitution":{"title":"ConnectionInstitution","required":["id","links","type"],"type":"object","properties":{"id":{"type":"string","description":"Institution id","example":"AU00000"},"links":{"title":"ResourceLink","required":["self"],"type":"object","properties":{"self":{"type":"string","description":"URL of the resource.","example":"https://au-api.basiq.io/link/a3dgf4567a89"}},"description":"Link object containing a link to the resource, self reference.","x-readme-ref-name":"ResourceLink"},"type":{"type":"string","description":"Always \"institution\".","example":"institution"}},"description":"Institution details.","x-readme-ref-name":"ConnectionInstitution"},"ConnectionProfile":{"required":["emailAddresses","firstName","fullName","lastName","middleName","phoneNumbers","physicalAddresses"],"type":"object","properties":{"emailAddresses":{"type":"array","description":"User email address","example":["gavin@hooli.com"],"items":{"type":"string"}},"firstName":{"type":"string","description":"User first name","example":"Gavin"},"fullName":{"type":"string","description":"User full name","example":"Gavin Belson"},"lastName":{"type":"string","description":"User last name","example":"Belson"},"middleName":{"type":"string","description":"User middle name"},"phoneNumbers":{"type":"array","description":"User phone number","example":["XXXX 888 991"],"items":{"type":"string"}},"physicalAddresses":{"type":"array","description":"Physical user addresses","items":{"title":"PhysicalAddresses","required":["addressLine1","addressLine2","addressLine3","city","countryCode","formattedAddress","postcode","state"],"type":"object","properties":{"addressLine1":{"type":"string","description":"User address.","example":"13/91 Fisher Rd"},"addressLine2":{"type":"string","description":"Always \"null\"","nullable":true},"addressLine3":{"type":"string","description":"Always \"null\"","nullable":true},"city":{"type":"string","description":"City","example":"Sydney"},"country":{"type":"string"},"countryCode":{"type":"string","description":"Country code","example":"AU"},"formattedAddress":{"type":"string","description":"Address formatted.","example":"13/91 Fisher Rd, Dee Why NSW 2099, Australia"},"postcode":{"type":"string","description":"Post code","example":"2099"},"state":{"type":"string","description":"State","example":"NSW"}},"description":"User physical addresses holding the connection.","x-readme-ref-name":"PhysicalAddresses"}}},"x-readme-ref-name":"ConnectionProfile"},"ConnectionResponseResource":{"title":"ConnectionResponseResource","required":["id","links","type"],"type":"object","properties":{"type":{"type":"string","description":"Type, always \"job\".","example":"job"},"id":{"type":"string","description":"Job identification.","example":"29523951"},"links":{"title":"ResourceLink","required":["self"],"type":"object","properties":{"self":{"type":"string","description":"URL of the resource.","example":"https://au-api.basiq.io/link/a3dgf4567a89"}},"description":"Link object containing a link to the resource, self reference.","x-readme-ref-name":"ResourceLink"}},"description":"Object containing details for connection post.","x-readme-ref-name":"ConnectionResponseResource"},"IdentitiesGetResponseResource":{"title":"IdentitiesGetResponseResource","required":["count","data","type"],"type":"object","properties":{"data":{"type":"array","items":{"required":["created","id","links","type","updated"],"type":"object","properties":{"type":{"type":"string","description":"Type, always \"identity\".","example":"identity"},"id":{"type":"string","description":"Identity identification.","example":"61723"},"created":{"type":"string","description":"Created date of the identity.","example":"2019-07-29T07:34:09Z"},"updated":{"type":"string","description":"Created date of the identity.","example":"2019-07-29T07:34:09Z"},"links":{"required":["job","self"],"type":"object","properties":{"self":{"type":"string","description":"Self link to the requested identity","example":"https://au-api.basiq.io/users/cd6fbd92/identities/ea3a81"},"job":{"type":"string","description":"Link to the job associated with this identity","example":"https://au-api.basiq.io/users/ea3a81/connection/s55bf3"}},"x-readme-ref-name":"IdentityLinks"},"source":{"type":"string","description":"Data source.","example":"web"},"fullName":{"type":"string","description":"FullName of the identity owner."},"firstName":{"type":"string","description":"FirstName of the identity owner."},"lastName":{"type":"string","description":"LastName of the identity owner."},"middleName":{"type":"string","description":"MiddleName of the identity owner."},"title":{"type":"string","description":"Title is the prefix to the name of the identity owner."},"DOB":{"type":"string","description":"Date of birth of the identity owner."},"occupationCode":{"type":"string","description":"Code relating to the occupation held by the identity owner."},"occupationCodeVersion":{"type":"string","description":"Occupation Code Version."},"phoneNumbers":{"type":"array","description":"List of phone numbers of the identity owner.","items":{"type":"string"}},"emails":{"type":"array","description":"List of email addresses of the identity owner.","items":{"type":"string"}},"physicalAddresses":{"type":"array","description":"List of physical addresses of the identity owner.","items":{"type":"object","properties":{"type":{"type":"string","description":"Physical Address Type."},"addressLine1":{"type":"string","description":"AddressLine1."},"addressLine2":{"type":"string","description":"AddressLine2."},"addressLine3":{"type":"string","description":"AddressLine3."},"postcode":{"type":"string","description":"Postcode."},"city":{"type":"string","description":"City."},"state":{"type":"string","description":"State."},"country":{"type":"string","description":"Country."},"countryCode":{"type":"string","description":"Country Code."},"formattedAddress":{"type":"string","description":"Formatted Address."}},"x-readme-ref-name":"PhysicalAddressData"}},"organisation":{"type":"object","properties":{"agentFirstName":{"type":"string","description":"Agent first name."},"agentLastName":{"type":"string","description":"Agent last name."},"agentRole":{"type":"string","description":"Agent role."},"businessName":{"type":"string","description":"Business name."},"legalName":{"type":"string","description":"Legal name."},"shortName":{"type":"string","description":"Short name."},"abn":{"type":"string","description":"Australian Business Number."},"acn":{"type":"string","description":"Australian Company Number."},"isACNCRegistered":{"type":"boolean","description":"Indicates whether is Australian Company Number registered."},"industryCode":{"type":"string","description":"Industry Code."},"industryCodeVersion":{"type":"string","description":"Industry Code Version."},"organisationType":{"type":"string","description":"Organisation Type."},"registeredCountry":{"type":"string","description":"Registered Country."}},"description":"Organisation data."}},"x-readme-ref-name":"IdentityData"}},"type":{"type":"string","description":"Type, always \"list\".","example":"list"},"count":{"type":"integer","description":"Count of the identities in the response.","format":"int64","example":100}},"description":"Object containing details for identities.","x-readme-ref-name":"IdentitiesGetResponseResource"},"IdentityData":{"required":["created","id","links","type","updated"],"type":"object","properties":{"type":{"type":"string","description":"Type, always \"identity\".","example":"identity"},"id":{"type":"string","description":"Identity identification.","example":"61723"},"created":{"type":"string","description":"Created date of the identity.","example":"2019-07-29T07:34:09Z"},"updated":{"type":"string","description":"Created date of the identity.","example":"2019-07-29T07:34:09Z"},"links":{"required":["job","self"],"type":"object","properties":{"self":{"type":"string","description":"Self link to the requested identity","example":"https://au-api.basiq.io/users/cd6fbd92/identities/ea3a81"},"job":{"type":"string","description":"Link to the job associated with this identity","example":"https://au-api.basiq.io/users/ea3a81/connection/s55bf3"}},"x-readme-ref-name":"IdentityLinks"},"source":{"type":"string","description":"Data source.","example":"web"},"fullName":{"type":"string","description":"FullName of the identity owner."},"firstName":{"type":"string","description":"FirstName of the identity owner."},"lastName":{"type":"string","description":"LastName of the identity owner."},"middleName":{"type":"string","description":"MiddleName of the identity owner."},"title":{"type":"string","description":"Title is the prefix to the name of the identity owner."},"DOB":{"type":"string","description":"Date of birth of the identity owner."},"occupationCode":{"type":"string","description":"Code relating to the occupation held by the identity owner."},"occupationCodeVersion":{"type":"string","description":"Occupation Code Version."},"phoneNumbers":{"type":"array","description":"List of phone numbers of the identity owner.","items":{"type":"string"}},"emails":{"type":"array","description":"List of email addresses of the identity owner.","items":{"type":"string"}},"physicalAddresses":{"type":"array","description":"List of physical addresses of the identity owner.","items":{"type":"object","properties":{"type":{"type":"string","description":"Physical Address Type."},"addressLine1":{"type":"string","description":"AddressLine1."},"addressLine2":{"type":"string","description":"AddressLine2."},"addressLine3":{"type":"string","description":"AddressLine3."},"postcode":{"type":"string","description":"Postcode."},"city":{"type":"string","description":"City."},"state":{"type":"string","description":"State."},"country":{"type":"string","description":"Country."},"countryCode":{"type":"string","description":"Country Code."},"formattedAddress":{"type":"string","description":"Formatted Address."}},"x-readme-ref-name":"PhysicalAddressData"}},"organisation":{"type":"object","properties":{"agentFirstName":{"type":"string","description":"Agent first name."},"agentLastName":{"type":"string","description":"Agent last name."},"agentRole":{"type":"string","description":"Agent role."},"businessName":{"type":"string","description":"Business name."},"legalName":{"type":"string","description":"Legal name."},"shortName":{"type":"string","description":"Short name."},"abn":{"type":"string","description":"Australian Business Number."},"acn":{"type":"string","description":"Australian Company Number."},"isACNCRegistered":{"type":"boolean","description":"Indicates whether is Australian Company Number registered."},"industryCode":{"type":"string","description":"Industry Code."},"industryCodeVersion":{"type":"string","description":"Industry Code Version."},"organisationType":{"type":"string","description":"Organisation Type."},"registeredCountry":{"type":"string","description":"Registered Country."}},"description":"Organisation data."}},"x-readme-ref-name":"IdentityData"},"ConnectionsData":{"required":["createdDate","id","method","institution","links","type"],"type":"object","properties":{"type":{"type":"string","description":"Type, always \"connection\".","example":"connection"},"id":{"type":"string","description":"Connection identification.","example":"61723"},"method":{"type":"string","description":"method identification.","example":"openbanking"},"status":{"type":"string","description":"Connection status, available only for SERVER_SCOPE.","example":"active","enum":["active","pending","invalid"]},"createdDate":{"type":"string","description":"Created date of the connection, available only for SERVER_SCOPE.","example":"2019-07-29T07:34:09Z"},"lastUsed":{"type":"string","description":"Connection last used date, available only for SERVER_SCOPE.","example":"2020-06-22T11:15:09Z"},"institution":{"title":"ConnectionInstitution","required":["id","links","type"],"type":"object","properties":{"id":{"type":"string","description":"Institution id","example":"AU00000"},"links":{"title":"ResourceLink","required":["self"],"type":"object","properties":{"self":{"type":"string","description":"URL of the resource.","example":"https://au-api.basiq.io/link/a3dgf4567a89"}},"description":"Link object containing a link to the resource, self reference.","x-readme-ref-name":"ResourceLink"},"type":{"type":"string","description":"Always \"institution\".","example":"institution"}},"description":"Institution details.","x-readme-ref-name":"ConnectionInstitution"},"links":{"title":"GetConnectionsLinks","required":["institution","self"],"type":"object","properties":{"accounts":{"type":"string","description":"Accounts reference url.","example":"https://au-api.basiq.io/users/cd6fbd92/accounts?filter=institution.id.eq('AU00000')"},"institution":{"type":"string","description":"Institution details.","example":"https://au-api.basiq.io/institutions/AU00000"},"self":{"type":"string","description":"Connection self reference url.","example":"https://au-api.basiq.io/users/cd6fbd92/connections/29523951"},"transactions":{"type":"string","description":"Transactions reference url.","example":"https://au-api.basiq.io/users/cd6fbd92/transactions?filter=institution.id.eq('AU00000')"}},"description":"Object containing links to resources.","x-readme-ref-name":"GetConnectionsLinks"}},"x-readme-ref-name":"ConnectionsData"},"PhysicalAddressData":{"type":"object","properties":{"type":{"type":"string","description":"Physical Address Type."},"addressLine1":{"type":"string","description":"AddressLine1."},"addressLine2":{"type":"string","description":"AddressLine2."},"addressLine3":{"type":"string","description":"AddressLine3."},"postcode":{"type":"string","description":"Postcode."},"city":{"type":"string","description":"City."},"state":{"type":"string","description":"State."},"country":{"type":"string","description":"Country."},"countryCode":{"type":"string","description":"Country Code."},"formattedAddress":{"type":"string","description":"Formatted Address."}},"x-readme-ref-name":"PhysicalAddressData"},"IdentityLinks":{"required":["job","self"],"type":"object","properties":{"self":{"type":"string","description":"Self link to the requested identity","example":"https://au-api.basiq.io/users/cd6fbd92/identities/ea3a81"},"job":{"type":"string","description":"Link to the job associated with this identity","example":"https://au-api.basiq.io/users/ea3a81/connection/s55bf3"}},"x-readme-ref-name":"IdentityLinks"},"EventsData":{"required":["createdDate","id","links","type","entity","userId","dataRef","data","eventType"],"type":"object","properties":{"type":{"type":"string","description":"Type, always \"event\".","example":"event"},"id":{"type":"string","description":"Event identification.","example":"61723"},"createdDate":{"type":"string","description":"Date the event was created.","example":"2019-07-29T07:34:09Z"},"entity":{"type":"string","description":"The entity associated with the event that has occurred","example":"consent","enum":["consent","connection"]},"eventType":{"type":"string","description":"The type of event that has occurred","example":"revoked","enum":["revoked","expired","updated","created","archived","deleted"]},"userId":{"type":"string","description":"The identifier of the user the event belongs to.","example":"266f5849-6ef6-4aae-accf-386470d0598e"},"dataRef":{"type":"string","description":"URL to the data source the event occurred.","example":"https://au-api.basiq.io/users/266f5849-6ef6-4aae-accf-386470d0598e"},"data":{"type":"string","description":"The data associated with the event that has been created.","example":[{"email":"max@hooli.com","id":"266f5849-6ef6-4aae-accf-386470d0598e","links":{"self":"https://au-api.basiq.io/users/266f5849-6ef6-4aae-accf-386470d0598e"},"mobile":"+614xxxxxxxx","type":"user"}]},"links":{"example":[{"self":"https://au-api.basiq.io/events/545ae104289e71bd3da34a063aaf49a5fa17ab6b8e0cab4bc56e019b7cc409e0"}]}},"x-readme-ref-name":"EventsData"},"Connector":{"required":["authorization","id","institution","method","scopes","stage","stats","status","type"],"type":"object","properties":{"authorization":{"required":["type"],"type":"object","properties":{"meta":{"type":"object","properties":{"forgotten_password_url":{"type":"string","description":"URL to institution forgotten password page","example":"https://example.com/forgotten-password","x-go-name":"ForgottenPasswordUrl"},"login_id_caption":{"type":"string","description":"Login ID field caption that should be shown on UI","example":"User name","x-go-name":"LoginIdCaption"},"password_caption":{"type":"string","description":"Password field caption that should be shown on UI","example":"Password","x-go-name":"PasswordCaption"},"secondary_login_id_caption":{"type":"string","description":"Secondary loginID caption that should be shown on UI","example":"Secondary login id","x-go-name":"SecondaryLoginIdCaption"},"security_code_caption":{"type":"string","description":"Security code caption that should be shown on UI","example":"Security code","x-go-name":"SecurityCodeCaption"}},"x-readme-ref-name":"ConnectorAuthorizationMeta"},"type":{"type":"string","description":"Authorization type identifier\nuser AuthorizationUser  AuthorizationUser \"User\" authorization type identifier\ntoken AuthorizationToken AuthorizationToken \"Token\" authorization type identifier\nother AuthorizationOther  AuthorizationOther \"Other\" authorization type identifier\nuser-mfa AuthorizationUserMfa  AuthorizationUserMfa \"UserMfa\" authorization type identifier\nuser-mfa-intermittent AuthorizationUserMfaIntermittent  AuthorizationUserMfaIntermittent \"UserMfaIntermittent\" authorization type identifier","example":"user","enum":["user","token","other","user-mfa","user-mfa-intermittent"],"x-go-enum-desc":"user AuthorizationUser  AuthorizationUser \"User\" authorization type identifier\ntoken AuthorizationToken AuthorizationToken \"Token\" authorization type identifier\nother AuthorizationOther  AuthorizationOther \"Other\" authorization type identifier\nuser-mfa AuthorizationUserMfa  AuthorizationUserMfa \"UserMfa\" authorization type identifier\nuser-mfa-intermittent AuthorizationUserMfaIntermittent  AuthorizationUserMfaIntermittent \"UserMfaIntermittent\" authorization type identifier","x-go-name":"Type"}},"x-readme-ref-name":"ConnectorAuthorization"},"id":{"maxLength":7,"minLength":7,"pattern":"^[A-Z]{2}[0-9]{5}$","type":"string","description":"Institution ID","example":"AU00000"},"institution":{"required":["country","logo","name","shortName","tier","type"],"type":"object","properties":{"country":{"type":"string","description":"Institution country name","example":"Australia","x-go-name":"Country"},"logo":{"required":["links","type"],"type":"object","properties":{"colors":{"type":"object","properties":{"primary":{"type":"string","description":"Primary primary institution color","x-go-name":"Primary"}},"description":"Colors contains institution colors type","x-readme-ref-name":"Colors"},"links":{"required":["full","square"],"type":"object","properties":{"full":{"type":"string","description":"URL to full size logo","example":"https://example.com/AU00000-full.svg","x-go-name":"Full"},"square":{"type":"string","description":"Square formatted logo URL","example":"https://example.com/AU00000.svg","x-go-name":"Square"}},"description":"LogoResourceLinks contains institution logo resource links","x-readme-ref-name":"LogoResourceLinks"},"type":{"type":"string","description":"Resource type identifier.\nimage ImageResourceType","example":"image","enum":["image"],"x-go-enum-desc":"image ImageResourceType","x-go-name":"Type"}},"description":"InstitutionLogoResource linstitution logo resource type","x-readme-ref-name":"InstitutionLogoResource"},"name":{"type":"string","description":"Institution name","example":"Hooli Bank","x-go-name":"Name"},"shortName":{"type":"string","description":"Institution short name","example":"Hooli","x-go-name":"ShortName"},"tier":{"type":"string","description":"Institution tier identifier\n1 TierOne  TierOne tier identifier for tier1 institution\n2 TierTwo  TierTwo tier identifier for tier2 institution\n3 TierThree  TierThree tier identifier for tier3 institution\n4 TierFour  TierFour tier identifier for tier4 institution","example":"1","enum":["1","2","3","4"],"x-go-enum-desc":"1 TierOne  TierOne tier identifier for tier1 institution\n2 TierTwo  TierTwo tier identifier for tier2 institution\n3 TierThree  TierThree tier identifier for tier3 institution\n4 TierFour  TierFour tier identifier for tier4 institution","x-go-name":"Tier"},"type":{"type":"string","description":"Institution type identifier\nBank BankInstitutionType  BankInstitutionType institution type identifier for Banks\nBank (Foreign) BankForeignInstitutionType  BankForeignInstitutionType institution type identifier for Foreign banks\nTest Bank TestBankInstitutionType  TestBankInstitutionType institution type identifier for Test banks\nCredit Union CreditUnionInstitutionType  CreditUnionInstitutionType institution type identifier for Credit union institutions\nFinancial Services FinancialServicesInstitutionType  FinancialServicesInstitutionType institution type identifier for Financial service institutions\nSuperannuation SuperannuationInstitutionType  SuperannuationInstitutionType institution type identifier for Superannuation institutions\nBuilding Society BuildingSociety  BuildingSociety institution type identifier for Building Society institutions\nGovernment Government  Government institution type identifier for Government institutions","example":"Bank","enum":["Bank","Bank (Foreign)","Test Bank","Credit Union","Financial Services","Superannuation","Building Society","Government"],"x-go-enum-desc":"Bank BankInstitutionType  BankInstitutionType institution type identifier for Banks\nBank (Foreign) BankForeignInstitutionType  BankForeignInstitutionType institution type identifier for Foreign banks\nTest Bank TestBankInstitutionType  TestBankInstitutionType institution type identifier for Test banks\nCredit Union CreditUnionInstitutionType  CreditUnionInstitutionType institution type identifier for Credit union institutions\nFinancial Services FinancialServicesInstitutionType  FinancialServicesInstitutionType institution type identifier for Financial service institutions\nSuperannuation SuperannuationInstitutionType  SuperannuationInstitutionType institution type identifier for Superannuation institutions\nBuilding Society BuildingSociety  BuildingSociety institution type identifier for Building Society institutions\nGovernment Government  Government institution type identifier for Government institutions","x-go-name":"Type"}},"description":"ConnectorInstitutionResource connector Institution  resource type","x-readme-ref-name":"ConnectorInstitutionResource"},"links":{"required":["self"],"type":"object","properties":{"self":{"type":"string","description":"URL to resource itself","x-go-name":"Self"}},"description":"ResourceLinks contains resource links","x-readme-ref-name":"ResourceLinks"},"method":{"type":"string","description":"Current Connector method","example":"web"},"scopes":{"type":"array","description":"Connector scopes array","items":{"type":"string"}},"stage":{"type":"string","description":"Current Connector stage","example":"beta"},"stats":{"type":"object","properties":{"averageDurationMs":{"type":"object","properties":{"retrieveAccounts":{"type":"integer","description":"Connector average duration in milliseconds of <b>fetch accounts</b> step for institution","format":"int64","x-go-name":"RetrieveAccounts"},"retrieveMeta":{"type":"integer","description":"Connector average duration in milliseconds of <b>fetch metadata</b> step for institution","format":"int64","x-go-name":"RetrieveMeta"},"retrieveTransactions":{"type":"integer","description":"Connector average duration in milliseconds of <b>fetch transactions</b> step for institution","format":"int64","x-go-name":"RetrieveTransactions"},"total":{"type":"integer","description":"Total connector average duration in milliseconds","format":"int64","x-go-name":"Total"},"verifyCredentials":{"type":"integer","description":"Connector average duration in milliseconds of <b>verifiy credentials</b> step for institution","format":"int64","x-go-name":"VerifyCredentials"}},"description":"AverageDurationMs average connector duration in milliseconds per segments.\nWhen durations are not known for institution this field will be `null`.","x-go-name":"AverageDurationMs"}},"description":"InstitutionPerformanceStats response type for institution performance stats","x-readme-ref-name":"InstitutionPerformanceStats"},"status":{"type":"string","description":"FeatureCondition type that describes an feature status for institution","x-readme-ref-name":"FeatureCondition"},"type":{"type":"string","description":"Resource type identifier. It is always \"connector\" for this model.\nconnector ConnectorEntityType","example":"connector","enum":["connector"]}},"description":"Connector contains connector data.","x-readme-ref-name":"Connector"},"ConnectorAuthorization":{"required":["type"],"type":"object","properties":{"meta":{"type":"object","properties":{"forgotten_password_url":{"type":"string","description":"URL to institution forgotten password page","example":"https://example.com/forgotten-password","x-go-name":"ForgottenPasswordUrl"},"login_id_caption":{"type":"string","description":"Login ID field caption that should be shown on UI","example":"User name","x-go-name":"LoginIdCaption"},"password_caption":{"type":"string","description":"Password field caption that should be shown on UI","example":"Password","x-go-name":"PasswordCaption"},"secondary_login_id_caption":{"type":"string","description":"Secondary loginID caption that should be shown on UI","example":"Secondary login id","x-go-name":"SecondaryLoginIdCaption"},"security_code_caption":{"type":"string","description":"Security code caption that should be shown on UI","example":"Security code","x-go-name":"SecurityCodeCaption"}},"x-readme-ref-name":"ConnectorAuthorizationMeta"},"type":{"type":"string","description":"Authorization type identifier\nuser AuthorizationUser  AuthorizationUser \"User\" authorization type identifier\ntoken AuthorizationToken AuthorizationToken \"Token\" authorization type identifier\nother AuthorizationOther  AuthorizationOther \"Other\" authorization type identifier\nuser-mfa AuthorizationUserMfa  AuthorizationUserMfa \"UserMfa\" authorization type identifier\nuser-mfa-intermittent AuthorizationUserMfaIntermittent  AuthorizationUserMfaIntermittent \"UserMfaIntermittent\" authorization type identifier","example":"user","enum":["user","token","other","user-mfa","user-mfa-intermittent"],"x-go-enum-desc":"user AuthorizationUser  AuthorizationUser \"User\" authorization type identifier\ntoken AuthorizationToken AuthorizationToken \"Token\" authorization type identifier\nother AuthorizationOther  AuthorizationOther \"Other\" authorization type identifier\nuser-mfa AuthorizationUserMfa  AuthorizationUserMfa \"UserMfa\" authorization type identifier\nuser-mfa-intermittent AuthorizationUserMfaIntermittent  AuthorizationUserMfaIntermittent \"UserMfaIntermittent\" authorization type identifier","x-go-name":"Type"}},"x-readme-ref-name":"ConnectorAuthorization"},"FeatureCondition":{"type":"string","description":"FeatureCondition type that describes an feature status for institution","x-readme-ref-name":"FeatureCondition"},"InstitutionPerformanceStats":{"type":"object","properties":{"averageDurationMs":{"type":"object","properties":{"retrieveAccounts":{"type":"integer","description":"Connector average duration in milliseconds of <b>fetch accounts</b> step for institution","format":"int64","x-go-name":"RetrieveAccounts"},"retrieveMeta":{"type":"integer","description":"Connector average duration in milliseconds of <b>fetch metadata</b> step for institution","format":"int64","x-go-name":"RetrieveMeta"},"retrieveTransactions":{"type":"integer","description":"Connector average duration in milliseconds of <b>fetch transactions</b> step for institution","format":"int64","x-go-name":"RetrieveTransactions"},"total":{"type":"integer","description":"Total connector average duration in milliseconds","format":"int64","x-go-name":"Total"},"verifyCredentials":{"type":"integer","description":"Connector average duration in milliseconds of <b>verifiy credentials</b> step for institution","format":"int64","x-go-name":"VerifyCredentials"}},"description":"AverageDurationMs average connector duration in milliseconds per segments.\nWhen durations are not known for institution this field will be `null`.","x-go-name":"AverageDurationMs"}},"description":"InstitutionPerformanceStats response type for institution performance stats","x-readme-ref-name":"InstitutionPerformanceStats"},"ConnectorAuthorizationMeta":{"type":"object","properties":{"forgotten_password_url":{"type":"string","description":"URL to institution forgotten password page","example":"https://example.com/forgotten-password","x-go-name":"ForgottenPasswordUrl"},"login_id_caption":{"type":"string","description":"Login ID field caption that should be shown on UI","example":"User name","x-go-name":"LoginIdCaption"},"password_caption":{"type":"string","description":"Password field caption that should be shown on UI","example":"Password","x-go-name":"PasswordCaption"},"secondary_login_id_caption":{"type":"string","description":"Secondary loginID caption that should be shown on UI","example":"Secondary login id","x-go-name":"SecondaryLoginIdCaption"},"security_code_caption":{"type":"string","description":"Security code caption that should be shown on UI","example":"Security code","x-go-name":"SecurityCodeCaption"}},"x-readme-ref-name":"ConnectorAuthorizationMeta"},"ConnectorInstitutionResource":{"required":["country","logo","name","shortName","tier","type"],"type":"object","properties":{"country":{"type":"string","description":"Institution country name","example":"Australia","x-go-name":"Country"},"logo":{"required":["links","type"],"type":"object","properties":{"colors":{"type":"object","properties":{"primary":{"type":"string","description":"Primary primary institution color","x-go-name":"Primary"}},"description":"Colors contains institution colors type","x-readme-ref-name":"Colors"},"links":{"required":["full","square"],"type":"object","properties":{"full":{"type":"string","description":"URL to full size logo","example":"https://example.com/AU00000-full.svg","x-go-name":"Full"},"square":{"type":"string","description":"Square formatted logo URL","example":"https://example.com/AU00000.svg","x-go-name":"Square"}},"description":"LogoResourceLinks contains institution logo resource links","x-readme-ref-name":"LogoResourceLinks"},"type":{"type":"string","description":"Resource type identifier.\nimage ImageResourceType","example":"image","enum":["image"],"x-go-enum-desc":"image ImageResourceType","x-go-name":"Type"}},"description":"InstitutionLogoResource linstitution logo resource type","x-readme-ref-name":"InstitutionLogoResource"},"name":{"type":"string","description":"Institution name","example":"Hooli Bank","x-go-name":"Name"},"shortName":{"type":"string","description":"Institution short name","example":"Hooli","x-go-name":"ShortName"},"tier":{"type":"string","description":"Institution tier identifier\n1 TierOne  TierOne tier identifier for tier1 institution\n2 TierTwo  TierTwo tier identifier for tier2 institution\n3 TierThree  TierThree tier identifier for tier3 institution\n4 TierFour  TierFour tier identifier for tier4 institution","example":"1","enum":["1","2","3","4"],"x-go-enum-desc":"1 TierOne  TierOne tier identifier for tier1 institution\n2 TierTwo  TierTwo tier identifier for tier2 institution\n3 TierThree  TierThree tier identifier for tier3 institution\n4 TierFour  TierFour tier identifier for tier4 institution","x-go-name":"Tier"},"type":{"type":"string","description":"Institution type identifier\nBank BankInstitutionType  BankInstitutionType institution type identifier for Banks\nBank (Foreign) BankForeignInstitutionType  BankForeignInstitutionType institution type identifier for Foreign banks\nTest Bank TestBankInstitutionType  TestBankInstitutionType institution type identifier for Test banks\nCredit Union CreditUnionInstitutionType  CreditUnionInstitutionType institution type identifier for Credit union institutions\nFinancial Services FinancialServicesInstitutionType  FinancialServicesInstitutionType institution type identifier for Financial service institutions\nSuperannuation SuperannuationInstitutionType  SuperannuationInstitutionType institution type identifier for Superannuation institutions\nBuilding Society BuildingSociety  BuildingSociety institution type identifier for Building Society institutions\nGovernment Government  Government institution type identifier for Government institutions","example":"Bank","enum":["Bank","Bank (Foreign)","Test Bank","Credit Union","Financial Services","Superannuation","Building Society","Government"],"x-go-enum-desc":"Bank BankInstitutionType  BankInstitutionType institution type identifier for Banks\nBank (Foreign) BankForeignInstitutionType  BankForeignInstitutionType institution type identifier for Foreign banks\nTest Bank TestBankInstitutionType  TestBankInstitutionType institution type identifier for Test banks\nCredit Union CreditUnionInstitutionType  CreditUnionInstitutionType institution type identifier for Credit union institutions\nFinancial Services FinancialServicesInstitutionType  FinancialServicesInstitutionType institution type identifier for Financial service institutions\nSuperannuation SuperannuationInstitutionType  SuperannuationInstitutionType institution type identifier for Superannuation institutions\nBuilding Society BuildingSociety  BuildingSociety institution type identifier for Building Society institutions\nGovernment Government  Government institution type identifier for Government institutions","x-go-name":"Type"}},"description":"ConnectorInstitutionResource connector Institution  resource type","x-readme-ref-name":"ConnectorInstitutionResource"},"ConnectorsList":{"required":["data","links","totalCount","type"],"type":"object","properties":{"data":{"type":"array","description":"Data contains list of connectors","items":{"required":["authorization","id","institution","method","scopes","stage","stats","status","type"],"type":"object","properties":{"authorization":{"required":["type"],"type":"object","properties":{"meta":{"type":"object","properties":{"forgotten_password_url":{"type":"string","description":"URL to institution forgotten password page","example":"https://example.com/forgotten-password","x-go-name":"ForgottenPasswordUrl"},"login_id_caption":{"type":"string","description":"Login ID field caption that should be shown on UI","example":"User name","x-go-name":"LoginIdCaption"},"password_caption":{"type":"string","description":"Password field caption that should be shown on UI","example":"Password","x-go-name":"PasswordCaption"},"secondary_login_id_caption":{"type":"string","description":"Secondary loginID caption that should be shown on UI","example":"Secondary login id","x-go-name":"SecondaryLoginIdCaption"},"security_code_caption":{"type":"string","description":"Security code caption that should be shown on UI","example":"Security code","x-go-name":"SecurityCodeCaption"}},"x-readme-ref-name":"ConnectorAuthorizationMeta"},"type":{"type":"string","description":"Authorization type identifier\nuser AuthorizationUser  AuthorizationUser \"User\" authorization type identifier\ntoken AuthorizationToken AuthorizationToken \"Token\" authorization type identifier\nother AuthorizationOther  AuthorizationOther \"Other\" authorization type identifier\nuser-mfa AuthorizationUserMfa  AuthorizationUserMfa \"UserMfa\" authorization type identifier\nuser-mfa-intermittent AuthorizationUserMfaIntermittent  AuthorizationUserMfaIntermittent \"UserMfaIntermittent\" authorization type identifier","example":"user","enum":["user","token","other","user-mfa","user-mfa-intermittent"],"x-go-enum-desc":"user AuthorizationUser  AuthorizationUser \"User\" authorization type identifier\ntoken AuthorizationToken AuthorizationToken \"Token\" authorization type identifier\nother AuthorizationOther  AuthorizationOther \"Other\" authorization type identifier\nuser-mfa AuthorizationUserMfa  AuthorizationUserMfa \"UserMfa\" authorization type identifier\nuser-mfa-intermittent AuthorizationUserMfaIntermittent  AuthorizationUserMfaIntermittent \"UserMfaIntermittent\" authorization type identifier","x-go-name":"Type"}},"x-readme-ref-name":"ConnectorAuthorization"},"id":{"maxLength":7,"minLength":7,"pattern":"^[A-Z]{2}[0-9]{5}$","type":"string","description":"Institution ID","example":"AU00000"},"institution":{"required":["country","logo","name","shortName","tier","type"],"type":"object","properties":{"country":{"type":"string","description":"Institution country name","example":"Australia","x-go-name":"Country"},"logo":{"required":["links","type"],"type":"object","properties":{"colors":{"type":"object","properties":{"primary":{"type":"string","description":"Primary primary institution color","x-go-name":"Primary"}},"description":"Colors contains institution colors type","x-readme-ref-name":"Colors"},"links":{"required":["full","square"],"type":"object","properties":{"full":{"type":"string","description":"URL to full size logo","example":"https://example.com/AU00000-full.svg","x-go-name":"Full"},"square":{"type":"string","description":"Square formatted logo URL","example":"https://example.com/AU00000.svg","x-go-name":"Square"}},"description":"LogoResourceLinks contains institution logo resource links","x-readme-ref-name":"LogoResourceLinks"},"type":{"type":"string","description":"Resource type identifier.\nimage ImageResourceType","example":"image","enum":["image"],"x-go-enum-desc":"image ImageResourceType","x-go-name":"Type"}},"description":"InstitutionLogoResource linstitution logo resource type","x-readme-ref-name":"InstitutionLogoResource"},"name":{"type":"string","description":"Institution name","example":"Hooli Bank","x-go-name":"Name"},"shortName":{"type":"string","description":"Institution short name","example":"Hooli","x-go-name":"ShortName"},"tier":{"type":"string","description":"Institution tier identifier\n1 TierOne  TierOne tier identifier for tier1 institution\n2 TierTwo  TierTwo tier identifier for tier2 institution\n3 TierThree  TierThree tier identifier for tier3 institution\n4 TierFour  TierFour tier identifier for tier4 institution","example":"1","enum":["1","2","3","4"],"x-go-enum-desc":"1 TierOne  TierOne tier identifier for tier1 institution\n2 TierTwo  TierTwo tier identifier for tier2 institution\n3 TierThree  TierThree tier identifier for tier3 institution\n4 TierFour  TierFour tier identifier for tier4 institution","x-go-name":"Tier"},"type":{"type":"string","description":"Institution type identifier\nBank BankInstitutionType  BankInstitutionType institution type identifier for Banks\nBank (Foreign) BankForeignInstitutionType  BankForeignInstitutionType institution type identifier for Foreign banks\nTest Bank TestBankInstitutionType  TestBankInstitutionType institution type identifier for Test banks\nCredit Union CreditUnionInstitutionType  CreditUnionInstitutionType institution type identifier for Credit union institutions\nFinancial Services FinancialServicesInstitutionType  FinancialServicesInstitutionType institution type identifier for Financial service institutions\nSuperannuation SuperannuationInstitutionType  SuperannuationInstitutionType institution type identifier for Superannuation institutions\nBuilding Society BuildingSociety  BuildingSociety institution type identifier for Building Society institutions\nGovernment Government  Government institution type identifier for Government institutions","example":"Bank","enum":["Bank","Bank (Foreign)","Test Bank","Credit Union","Financial Services","Superannuation","Building Society","Government"],"x-go-enum-desc":"Bank BankInstitutionType  BankInstitutionType institution type identifier for Banks\nBank (Foreign) BankForeignInstitutionType  BankForeignInstitutionType institution type identifier for Foreign banks\nTest Bank TestBankInstitutionType  TestBankInstitutionType institution type identifier for Test banks\nCredit Union CreditUnionInstitutionType  CreditUnionInstitutionType institution type identifier for Credit union institutions\nFinancial Services FinancialServicesInstitutionType  FinancialServicesInstitutionType institution type identifier for Financial service institutions\nSuperannuation SuperannuationInstitutionType  SuperannuationInstitutionType institution type identifier for Superannuation institutions\nBuilding Society BuildingSociety  BuildingSociety institution type identifier for Building Society institutions\nGovernment Government  Government institution type identifier for Government institutions","x-go-name":"Type"}},"description":"ConnectorInstitutionResource connector Institution  resource type","x-readme-ref-name":"ConnectorInstitutionResource"},"links":{"required":["self"],"type":"object","properties":{"self":{"type":"string","description":"URL to resource itself","x-go-name":"Self"}},"description":"ResourceLinks contains resource links","x-readme-ref-name":"ResourceLinks"},"method":{"type":"string","description":"Current Connector method","example":"web"},"scopes":{"type":"array","description":"Connector scopes array","items":{"type":"string"}},"stage":{"type":"string","description":"Current Connector stage","example":"beta"},"stats":{"type":"object","properties":{"averageDurationMs":{"type":"object","properties":{"retrieveAccounts":{"type":"integer","description":"Connector average duration in milliseconds of <b>fetch accounts</b> step for institution","format":"int64","x-go-name":"RetrieveAccounts"},"retrieveMeta":{"type":"integer","description":"Connector average duration in milliseconds of <b>fetch metadata</b> step for institution","format":"int64","x-go-name":"RetrieveMeta"},"retrieveTransactions":{"type":"integer","description":"Connector average duration in milliseconds of <b>fetch transactions</b> step for institution","format":"int64","x-go-name":"RetrieveTransactions"},"total":{"type":"integer","description":"Total connector average duration in milliseconds","format":"int64","x-go-name":"Total"},"verifyCredentials":{"type":"integer","description":"Connector average duration in milliseconds of <b>verifiy credentials</b> step for institution","format":"int64","x-go-name":"VerifyCredentials"}},"description":"AverageDurationMs average connector duration in milliseconds per segments.\nWhen durations are not known for institution this field will be `null`.","x-go-name":"AverageDurationMs"}},"description":"InstitutionPerformanceStats response type for institution performance stats","x-readme-ref-name":"InstitutionPerformanceStats"},"status":{"type":"string","description":"FeatureCondition type that describes an feature status for institution","x-readme-ref-name":"FeatureCondition"},"type":{"type":"string","description":"Resource type identifier. It is always \"connector\" for this model.\nconnector ConnectorEntityType","example":"connector","enum":["connector"]}},"description":"Connector contains connector data.","x-readme-ref-name":"Connector"},"x-go-name":"Connectors"},"links":{"required":["self"],"type":"object","properties":{"self":{"type":"string","description":"URL to resource itself","x-go-name":"Self"}},"description":"ResourceLinks contains resource links","x-readme-ref-name":"ResourceLinks"},"totalCount":{"type":"integer","description":"TotalCount contains total count of connectors","format":"int64","example":1,"x-go-name":"TotalCount"},"type":{"type":"string","description":"ResponseFormat identifies response data format","x-readme-ref-name":"ResponseFormat"}},"description":"ConnectorsList contains list of connectors data.","x-readme-ref-name":"ConnectorsList"},"ResourceLinks":{"required":["self"],"type":"object","properties":{"self":{"type":"string","description":"URL to resource itself","x-go-name":"Self"}},"description":"ResourceLinks contains resource links","x-readme-ref-name":"ResourceLinks"},"ConnectionsGetResponseResource":{"title":"ConnectionsGetResponseResource","required":["type"],"type":"object","properties":{"type":{"type":"string","description":"Type, always \"list\".","example":"list"},"data":{"type":"array","items":{"required":["createdDate","id","method","institution","links","type"],"type":"object","properties":{"type":{"type":"string","description":"Type, always \"connection\".","example":"connection"},"id":{"type":"string","description":"Connection identification.","example":"61723"},"method":{"type":"string","description":"method identification.","example":"openbanking"},"status":{"type":"string","description":"Connection status, available only for SERVER_SCOPE.","example":"active","enum":["active","pending","invalid"]},"createdDate":{"type":"string","description":"Created date of the connection, available only for SERVER_SCOPE.","example":"2019-07-29T07:34:09Z"},"lastUsed":{"type":"string","description":"Connection last used date, available only for SERVER_SCOPE.","example":"2020-06-22T11:15:09Z"},"institution":{"title":"ConnectionInstitution","required":["id","links","type"],"type":"object","properties":{"id":{"type":"string","description":"Institution id","example":"AU00000"},"links":{"title":"ResourceLink","required":["self"],"type":"object","properties":{"self":{"type":"string","description":"URL of the resource.","example":"https://au-api.basiq.io/link/a3dgf4567a89"}},"description":"Link object containing a link to the resource, self reference.","x-readme-ref-name":"ResourceLink"},"type":{"type":"string","description":"Always \"institution\".","example":"institution"}},"description":"Institution details.","x-readme-ref-name":"ConnectionInstitution"},"links":{"title":"GetConnectionsLinks","required":["institution","self"],"type":"object","properties":{"accounts":{"type":"string","description":"Accounts reference url.","example":"https://au-api.basiq.io/users/cd6fbd92/accounts?filter=institution.id.eq('AU00000')"},"institution":{"type":"string","description":"Institution details.","example":"https://au-api.basiq.io/institutions/AU00000"},"self":{"type":"string","description":"Connection self reference url.","example":"https://au-api.basiq.io/users/cd6fbd92/connections/29523951"},"transactions":{"type":"string","description":"Transactions reference url.","example":"https://au-api.basiq.io/users/cd6fbd92/transactions?filter=institution.id.eq('AU00000')"}},"description":"Object containing links to resources.","x-readme-ref-name":"GetConnectionsLinks"}},"x-readme-ref-name":"ConnectionsData"}},"links":{"title":"ResourceLink","required":["self"],"type":"object","properties":{"self":{"type":"string","description":"URL of the resource.","example":"https://au-api.basiq.io/link/a3dgf4567a89"}},"description":"Link object containing a link to the resource, self reference.","x-readme-ref-name":"ResourceLink"}},"description":"Object containing details for connections.","x-readme-ref-name":"ConnectionsGetResponseResource"},"EventsGetResponseResource":{"title":"EventsGetResponseResource","required":["type"],"type":"object","properties":{"type":{"type":"string","description":"Type, always \"list\".","example":"list"},"data":{"type":"array","items":{"required":["createdDate","id","links","type","entity","userId","dataRef","data","eventType"],"type":"object","properties":{"type":{"type":"string","description":"Type, always \"event\".","example":"event"},"id":{"type":"string","description":"Event identification.","example":"61723"},"createdDate":{"type":"string","description":"Date the event was created.","example":"2019-07-29T07:34:09Z"},"entity":{"type":"string","description":"The entity associated with the event that has occurred","example":"consent","enum":["consent","connection"]},"eventType":{"type":"string","description":"The type of event that has occurred","example":"revoked","enum":["revoked","expired","updated","created","archived","deleted"]},"userId":{"type":"string","description":"The identifier of the user the event belongs to.","example":"266f5849-6ef6-4aae-accf-386470d0598e"},"dataRef":{"type":"string","description":"URL to the data source the event occurred.","example":"https://au-api.basiq.io/users/266f5849-6ef6-4aae-accf-386470d0598e"},"data":{"type":"string","description":"The data associated with the event that has been created.","example":[{"email":"max@hooli.com","id":"266f5849-6ef6-4aae-accf-386470d0598e","links":{"self":"https://au-api.basiq.io/users/266f5849-6ef6-4aae-accf-386470d0598e"},"mobile":"+614xxxxxxxx","type":"user"}]},"links":{"example":[{"self":"https://au-api.basiq.io/events/545ae104289e71bd3da34a063aaf49a5fa17ab6b8e0cab4bc56e019b7cc409e0"}]}},"x-readme-ref-name":"EventsData"}},"links":{"title":"ResourceLink","required":["self"],"type":"object","properties":{"self":{"type":"string","description":"URL of the resource.","example":"https://au-api.basiq.io/link/a3dgf4567a89"}},"description":"Link object containing a link to the resource, self reference.","x-readme-ref-name":"ResourceLink"}},"description":"Object containing details for connections.","x-readme-ref-name":"EventsGetResponseResource"},"ConnectionsRefreshResource":{"title":"ConnectionsRefreshResource","required":["data","type"],"type":"object","properties":{"type":{"type":"string","description":"Type, always \"list\".","example":"list"},"data":{"type":"array","description":"Job details data.","items":{"title":"ConnectionResponseResource","required":["id","links","type"],"type":"object","properties":{"type":{"type":"string","description":"Type, always \"job\".","example":"job"},"id":{"type":"string","description":"Job identification.","example":"29523951"},"links":{"title":"ResourceLink","required":["self"],"type":"object","properties":{"self":{"type":"string","description":"URL of the resource.","example":"https://au-api.basiq.io/link/a3dgf4567a89"}},"description":"Link object containing a link to the resource, self reference.","x-readme-ref-name":"ResourceLink"}},"description":"Object containing details for connection post.","x-readme-ref-name":"ConnectionResponseResource"}}},"description":"Object containing details for connections refresh.","x-readme-ref-name":"ConnectionsRefreshResource"},"ForbiddenAccessError":{"required":["correlationId","data","type"],"type":"object","properties":{"type":{"type":"string","description":"Always \"list\".","example":"list"},"correlationId":{"type":"string","description":"Unique identifier for this particular occurrence of the problem.","example":"ac5ah5i"},"data":{"type":"array","description":"Error data.","items":{"required":["code","source","type"],"type":"object","properties":{"type":{"type":"string","description":"Type of the response, always \"error\"","example":"error"},"title":{"type":"string","description":"Title of the error","example":"Forbidden Access"},"code":{"type":"string","description":"Application-specific error code, expressed as a string value.","example":"forbidden-access","enum":["forbidden-access","no-production-access","access-denied"]},"detail":{"type":"string","description":"Human-readable explanation specific to this occurrence of the problem.","example":"Access to this resource is forbidden."},"source":{"title":"Source","type":"object","properties":{"parameter":{"type":"string","description":"String indicating which URI query parameter caused the error.","example":"id"}},"description":"An object containing references to the source of the error.","x-readme-ref-name":"Source"}}}}},"x-readme-ref-name":"ForbiddenAccessError"},"InstitutionLogoResource":{"required":["links","type"],"type":"object","properties":{"colors":{"type":"object","properties":{"primary":{"type":"string","description":"Primary primary institution color","x-go-name":"Primary"}},"description":"Colors contains institution colors type","x-readme-ref-name":"Colors"},"links":{"required":["full","square"],"type":"object","properties":{"full":{"type":"string","description":"URL to full size logo","example":"https://example.com/AU00000-full.svg","x-go-name":"Full"},"square":{"type":"string","description":"Square formatted logo URL","example":"https://example.com/AU00000.svg","x-go-name":"Square"}},"description":"LogoResourceLinks contains institution logo resource links","x-readme-ref-name":"LogoResourceLinks"},"type":{"type":"string","description":"Resource type identifier.\nimage ImageResourceType","example":"image","enum":["image"],"x-go-enum-desc":"image ImageResourceType","x-go-name":"Type"}},"description":"InstitutionLogoResource linstitution logo resource type","x-readme-ref-name":"InstitutionLogoResource"},"GetConnectionLinks":{"title":"GetConnectionLinks","required":["self","user"],"type":"object","properties":{"accounts":{"type":"string","description":"Accounts reference url.","example":"https://au-api.basiq.io/users/cd6fbd92/accounts?filter=institution.id.eq('AU00000')"},"self":{"type":"string","description":"Connection self reference url.","example":"https://au-api.basiq.io/users/cd6fbd92-0b12-43ba-a3c1-286dd5f4f396/connections/29523951"},"transactions":{"type":"string","description":"Transactions reference url.","example":"https://au-api.basiq.io/users/cd6fbd92/transactions?filter=institution.id.eq('AU00000')"},"user":{"type":"string","description":"User reference url.","example":"https://au-api.basiq.io/users/cd6fbd92"}},"description":"Object containing links to resources.","x-readme-ref-name":"GetConnectionLinks"},"LogoResourceLinks":{"required":["full","square"],"type":"object","properties":{"full":{"type":"string","description":"URL to full size logo","example":"https://example.com/AU00000-full.svg","x-go-name":"Full"},"square":{"type":"string","description":"Square formatted logo URL","example":"https://example.com/AU00000.svg","x-go-name":"Square"}},"description":"LogoResourceLinks contains institution logo resource links","x-readme-ref-name":"LogoResourceLinks"},"Colors":{"type":"object","properties":{"primary":{"type":"string","description":"Primary primary institution color","x-go-name":"Primary"}},"description":"Colors contains institution colors type","x-readme-ref-name":"Colors"},"GetConnectionsLinks":{"title":"GetConnectionsLinks","required":["institution","self"],"type":"object","properties":{"accounts":{"type":"string","description":"Accounts reference url.","example":"https://au-api.basiq.io/users/cd6fbd92/accounts?filter=institution.id.eq('AU00000')"},"institution":{"type":"string","description":"Institution details.","example":"https://au-api.basiq.io/institutions/AU00000"},"self":{"type":"string","description":"Connection self reference url.","example":"https://au-api.basiq.io/users/cd6fbd92/connections/29523951"},"transactions":{"type":"string","description":"Transactions reference url.","example":"https://au-api.basiq.io/users/cd6fbd92/transactions?filter=institution.id.eq('AU00000')"}},"description":"Object containing links to resources.","x-readme-ref-name":"GetConnectionsLinks"},"GetUserAccount":{"title":"UserGetAccount","required":["count","data","type"],"type":"object","properties":{"type":{"type":"string","description":"Always \"list\".","example":"list"},"count":{"type":"integer","description":"Count of accounts.","format":"int64","example":7},"data":{"type":"array","description":"Accounts data.","items":{"title":"UserGetAccountData","required":["id","links","type"],"type":"object","properties":{"type":{"type":"string","description":"Always \"account\".","example":"account"},"id":{"type":"string","description":"Account identification.","example":"aaaf2c3b"},"links":{"title":"ResourceLink","required":["self"],"type":"object","properties":{"self":{"type":"string","description":"URL of the resource.","example":"https://au-api.basiq.io/link/a3dgf4567a89"}},"description":"Link object containing a link to the resource, self reference.","x-readme-ref-name":"ResourceLink"}},"description":"Object containing account data.","x-readme-ref-name":"GetUserAccountData"}}},"description":"Container object containing account data.","x-readme-ref-name":"GetUserAccount"},"GetUserAccountData":{"title":"UserGetAccountData","required":["id","links","type"],"type":"object","properties":{"type":{"type":"string","description":"Always \"account\".","example":"account"},"id":{"type":"string","description":"Account identification.","example":"aaaf2c3b"},"links":{"title":"ResourceLink","required":["self"],"type":"object","properties":{"self":{"type":"string","description":"URL of the resource.","example":"https://au-api.basiq.io/link/a3dgf4567a89"}},"description":"Link object containing a link to the resource, self reference.","x-readme-ref-name":"ResourceLink"}},"description":"Object containing account data.","x-readme-ref-name":"GetUserAccountData"},"GetUserConnection":{"title":"UserGetConnection","required":["count","data","type"],"type":"object","properties":{"type":{"type":"string","description":"Always \"list\".","example":"list"},"count":{"type":"integer","description":"Count of accounts.","format":"int64","example":5},"data":{"type":"array","description":"Connections data.","items":{"title":"GetUserConnectionData","required":["id","links","type"],"type":"object","properties":{"type":{"type":"string","description":"Always \"connection\".","example":"connection"},"id":{"type":"string","description":"Connection identification.","example":"aaaf2c3b"},"links":{"title":"ResourceLink","required":["self"],"type":"object","properties":{"self":{"type":"string","description":"URL of the resource.","example":"https://au-api.basiq.io/link/a3dgf4567a89"}},"description":"Link object containing a link to the resource, self reference.","x-readme-ref-name":"ResourceLink"}},"description":"Object containing connection data.","x-readme-ref-name":"GetUserConnectionData"}}},"description":"Container object containing connection data.","x-readme-ref-name":"GetUserConnection"},"GetUserConnectionData":{"title":"GetUserConnectionData","required":["id","links","type"],"type":"object","properties":{"type":{"type":"string","description":"Always \"connection\".","example":"connection"},"id":{"type":"string","description":"Connection identification.","example":"aaaf2c3b"},"links":{"title":"ResourceLink","required":["self"],"type":"object","properties":{"self":{"type":"string","description":"URL of the resource.","example":"https://au-api.basiq.io/link/a3dgf4567a89"}},"description":"Link object containing a link to the resource, self reference.","x-readme-ref-name":"ResourceLink"}},"description":"Object containing connection data.","x-readme-ref-name":"GetUserConnectionData"},"GetUserLinks":{"title":"GetUserLinks","required":["accounts","auth_link","connections","self","transactions"],"type":"object","properties":{"accounts":{"type":"string","description":"Accounts reference url.","example":"https://au-api.basiq.io/users/a3dgf4567a89/accounts"},"connections":{"type":"string","description":"Connections reference url.","example":"https://au-api.basiq.io/users/a3dgf4567a89/connections"},"self":{"type":"string","description":"User self reference url.","example":"https://au-api.basiq.io/user/a3dgf4567a89"},"transactions":{"type":"string","description":"Transactions reference url.","example":"https://au-api.basiq.io/users/a3dgf4567a89/transactions"}},"description":"Object containing links to resources.","x-readme-ref-name":"GetUserLinks"},"InternalServerError":{"required":["correlationId","data","type"],"type":"object","properties":{"type":{"type":"string","description":"Always \"list\".","example":"list"},"correlationId":{"type":"string","description":"Unique identifier for this particular occurrence of the problem.","example":"ac5ah5i"},"data":{"type":"array","description":"Error data.","items":{"required":["code","type"],"type":"object","properties":{"code":{"type":"string","description":"Application-specific error code, expressed as a string value.","example":"internal-server-error","enum":["internal-server-error"]},"detail":{"type":"string","description":"Human-readable explanation specific to this occurrence of the problem.","example":"Internal Server error. Contact support."},"title":{"type":"string","description":"Title of the error","example":"Internal Server error."},"type":{"type":"string","description":"Type of the response, always \"error\"","example":"error"}}}}},"x-readme-ref-name":"InternalServerError"},"JobData":{"title":"JobData","required":["id","created","steps","updated"],"type":"object","properties":{"type":{"type":"string","description":"Value is \"job\".","example":"job"},"id":{"type":"string","description":"A string that uniquely identifies the job.","example":"e9132638"},"created":{"type":"string","description":"The date time when the job was created.","example":"2020-06-10T09:59:00Z"},"updated":{"type":"string","description":"The date time when the job was last updated.","example":"2020-06-10T09:59:00Z"},"steps":{"type":"array","description":"List of steps that need to be completed.","items":{"title":"JobsStep","required":["result","status"],"type":"object","properties":{"title":{"type":"string","description":"Name of the step the job needs to complete.","example":"retrieve-accounts","enum":["verify-credentials","retrieve-accounts","retrieve-transactions","retrieve-statements"]},"status":{"type":"string","description":"Status of the job step","example":"success","enum":["pending","in-progress","success","failed"]},"result":{"title":"JobsResult","type":"object","properties":{"code":{"type":"string","description":"In case of failed job, displays error code.","enum":["success","user-action-required","system-unavailable","maintenance","connector-error","institution-not-found","institution-not-available","institution-disabled","missing-required-field","missing-required-field-value","invalid-field-value","invalid-csv-row","row-count-exceeded","account-data-differs","empty-file","bank-statement-invalid","bank-statement-new-product","bank-statement-parsing-error","bank-statement-not-supported","txn-after-last-updated-date","invalid-connection","unknown-error","job-timed-out"]},"details":{"type":"string","description":"In case of failed job, displays details of the error."},"title":{"type":"string","description":"In case of failed job, displays error title."},"type":{"type":"string","description":"In case of success, Always \"link\".","example":"link"},"url":{"type":"string","description":"In case of success, URL of the updated (or created) resources."}},"description":"Result object containing a list of URLs or null. Otherwise if a step failed contains an error response.","x-readme-ref-name":"JobsResult"}},"description":"List of steps that need to be completed.","x-readme-ref-name":"JobsStep"},"example":[{"title":"verify-credentials","status":"success","result":{"type":"link","url":"/users/ea3a81/connections/8fce3b"}},{"title":"retrieve-accounts","status":"in-progress","result":null},{"title":"retrieve-transactions","status":"pending","result":null}]},"links":{"title":"JobsLinks","required":["self"],"type":"object","properties":{"self":{"type":"string","description":"URL of the resource","example":"https://au-api.basiq.io/jobs/61723"},"source":{"type":"string","description":"Resource that initiated creation of this Job. For example, for operations on Connection, this is a Connection URL. This is only returned for Connection jobs and not for Statement jobs.","example":"https://au-api.basiq.io/users/ea3a81/connections/8fce3b"}},"description":"Links to the resources.","x-readme-ref-name":"JobsLinks"}},"description":"Container object, containing job details.","x-readme-ref-name":"JobData"},"JobsData":{"title":"JobsData","required":["created","id","institution","steps","updated"],"type":"object","properties":{"type":{"type":"string","description":"Value is \"job\".","example":"job"},"id":{"type":"string","description":"A string that uniquely identifies the job.","example":"e9132638"},"created":{"type":"string","description":"The date time when the job was created.","example":"2020-06-10T09:59:00Z"},"updated":{"type":"string","description":"The date time when the job was last updated.","example":"2020-06-10T09:59:00Z"},"institution":{"title":"Institution","required":["id","links","type"],"type":"object","properties":{"id":{"type":"string","description":"A string that uniquely identifies institution.","example":"AU00000"},"links":{"title":"JobsLinks","required":["self"],"type":"object","properties":{"self":{"type":"string","description":"URL of the resource","example":"https://au-api.basiq.io/jobs/61723"},"source":{"type":"string","description":"Resource that initiated creation of this Job. For example, for operations on Connection, this is a Connection URL. This is only returned for Connection jobs and not for Statement jobs.","example":"https://au-api.basiq.io/users/ea3a81/connections/8fce3b"}},"description":"Links to the resources.","x-readme-ref-name":"JobsLinks"},"type":{"type":"string","description":"Always \"instit
[...]
