  {
  "openapi": "3.0.3",
  "info": {
    "title": "Core",
    "description": "All included utility endpoints for Basiq partners",
    "version": "3.0.0",
    "termsOfService": "https://docs.basiq.io/en/collections/440849-privacy-terms-and-common-questions",
    "license": {
      "name": "Commercial",
      "url": "https://basiq.io"
    }
  },
  "servers": [
    {
      "url": "https://au-api.basiq.io"
    }
  ],
  "paths": {
    "/users/{userId}/insights": {
      "get": {
        "tags": [
          "Insights"
        ],
        "summary": "List all Insights",
        "description": "Returns a paginated list of previously generated insights for the specified user. Supports filtering by creation date and insight type. Maximum 20 insights per page.",
        "operationId": "listUserInsights",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the user",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "0a84e628-dad7-40f4-bbc0-abeb3ddd90ea"
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "Filter parameter supporting multiple filter fields separated by commas. Supported fields: 'created' (date in YYYY-MM-DD format) and 'insightType' (account, balance, identity). Operators: gteq (>=), lteq (<=), gt (>), lt (<), eq (=), bt (between two dates). Examples: 'created.gteq('2025-06-16')', 'created.bt('2025-08-25','2025-09-02')', 'insightType.eq('account')', 'created.bt('2025-06-01','2025-08-30'),insightType.eq('balance')'",
            "schema": {
              "type": "string"
            },
            "examples": {
              "dateGteq": {
                "summary": "Date greater than or equal",
                "value": "created.gteq('2025-06-16')"
              },
              "dateBetween": {
                "summary": "Date between range",
                "value": "created.bt('2025-08-25','2025-09-02')"
              },
              "insightTypeOnly": {
                "summary": "Filter by insight type",
                "value": "insightType.eq('account')"
              },
              "combined": {
                "summary": "Combined date and type filter",
                "value": "created.bt('2025-06-01','2025-08-30'),insightType.eq('balance')"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with list of insights",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsightListResponse"
                },
                "examples": {
                  "accountInsight": {
                    "summary": "Account insight example",
                    "value": {
                      "type": "list",
                      "count": 1,
                      "size": 1,
                      "data": [
                        {
                          "type": "insight",
                          "id": "54878d1a-295b-44c3-8f1e-402e68f912fe",
                          "created": "2025-10-13T00:48:57Z",
                          "insightType": "account",
                          "data": [
                            {
                              "accountId": "2ce42fbc-37fe-4207-b962-31b744aee35c",
                              "accountNumber": {
                                "input": "10445533",
                                "match": false,
                                "confidence": 0
                              },
                              "accountType": {
                                "input": "saving",
                                "match": false,
                                "confidence": 0
                              }
                            }
                          ],
                          "links": {
                            "self": "https://au-api.basiq.io/users/0a84e628-dad7-40f4-bbc0-abeb3ddd90ea/insights/54878d1a-295b-44c3-8f1e-402e68f912fe"
                          }
                        }
                      ],
                      "links": {
                        "self": "https://au-api.basiq.io/users/0a84e628-dad7-40f4-bbc0-abeb3ddd90ea/insights"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid filter parameters or request content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "invalidDateFormat": {
                    "summary": "Invalid date format",
                    "value": {
                      "type": "list",
                      "correlationId": "e2dce626-714b-4b69-add2-f84c504be64b",
                      "data": [
                        {
                          "type": "error",
                          "code": "invalid-content",
                          "title": "Invalid request content",
                          "detail": "Invalid filter param: invalid date format for 'created' (expected YYYY-MM-DD): not-a-date"
                        }
                      ]
                    }
                  },
                  "invalidDateRange": {
                    "summary": "Invalid date range (to before from)",
                    "value": {
                      "type": "list",
                      "correlationId": "88b01510-78c3-4d76-b46e-9043b45425f0",
                      "data": [
                        {
                          "type": "error",
                          "code": "invalid-content",
                          "title": "Invalid request content",
                          "detail": "Invalid filter param: invalid dates for 'created': 'to date' is before 'from date'"
                        }
                      ]
                    }
                  },
                  "invalidInsightType": {
                    "summary": "Invalid insight type value",
                    "value": {
                      "type": "list",
                      "correlationId": "c8de1d9c-6dd5-4026-8160-5620c95f9792",
                      "data": [
                        {
                          "type": "error",
                          "code": "invalid-content",
                          "title": "Invalid request content",
                          "detail": "Invalid filter param: invalid insightType: not-supported"
                        }
                      ]
                    }
                  },
                  "unsupportedFilterField": {
                    "summary": "Unsupported filter field",
                    "value": {
                      "type": "list",
                      "correlationId": "9948dc17-4159-4999-b5d3-97fc0ac0476d",
                      "data": [
                        {
                          "type": "error",
                          "code": "invalid-content",
                          "title": "Invalid request content",
                          "detail": "Invalid filter param: unsupported filter field: foo"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "services_token": []
          }
        ]
      }
    },
    "/users/{userId}/insights/{insightId}": {
      "get": {
        "tags": [
          "Insights"
        ],
        "summary": "Retrieve an Insight",
        "description": "Returns detailed information for a specific insight by ID",
        "operationId": "getInsightById",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the user",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "0a84e628-dad7-40f4-bbc0-abeb3ddd90ea"
          },
          {
            "name": "insightId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the insight (must be valid UUID format)",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "54878d1a-295b-44c3-8f1e-402e68f912fe"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with insight details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Insight"
                },
                "examples": {
                  "accountInsight": {
                    "summary": "Account insight",
                    "value": {
                      "type": "insight",
                      "id": "54878d1a-295b-44c3-8f1e-402e68f912fe",
                      "created": "2025-10-13T00:48:57Z",
                      "insightType": "account",
                      "data": [
                        {
                          "accountId": "2ce42fbc-37fe-4207-b962-31b744aee35c",
                          "accountNumber": {
                            "input": "10445533",
                            "match": false,
                            "confidence": 0
                          },
                          "accountType": {
                            "input": "saving",
                            "match": false,
                            "confidence": 0
                          }
                        }
                      ],
                      "links": {
                        "self": "https://au-api.basiq.io/users/0a84e628-dad7-40f4-bbc0-abeb3ddd90ea/insights/54878d1a-295b-44c3-8f1e-402e68f912fe"
                      }
                    }
                  },
                  "balanceInsight": {
                    "summary": "Balance insight",
                    "value": {
                      "type": "insight",
                      "id": "abc123-def456",
                      "created": "2025-06-16T11:32:42Z",
                      "insightType": "balance",
                      "data": [
                        {
                          "accountId": "account-id-1",
                          "accountNumber": {
                            "input": {
                              "min": "1",
                              "max": "2"
                            },
                            "match": true,
                            "confidence": 1
                          }
                        }
                      ],
                      "links": {
                        "self": "https://au-api.basiq.io/users/user-id/insights/abc123-def456"
                      }
                    }
                  },
                  "identityInsight": {
                    "summary": "Identity insight",
                    "value": {
                      "type": "insight",
                      "id": "xyz789-uvw012",
                      "created": "2025-06-16T11:32:42Z",
                      "insightType": "identity",
                      "data": [
                        {
                          "name": {
                            "input": "jovo stanojevic",
                            "match": true,
                            "confidence": 1
                          },
                          "phones": [
                            {
                              "input": "0641234567",
                              "match": true,
                              "confidence": 1
                            }
                          ],
                          "emails": [
                            {
                              "input": "jovo@example.com",
                              "match": false,
                              "confidence": 0
                            }
                          ],
                          "addresses": [
                            {
                              "input": "belgrade serbia",
                              "match": false,
                              "confidence": 0
                            }
                          ]
                        }
                      ],
                      "links": {
                        "self": "https://au-api.basiq.io/users/user-id/insights/xyz789-uvw012"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid insight ID format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "invalidInsightIdFormat": {
                    "summary": "Invalid insight ID format",
                    "value": {
                      "type": "list",
                      "correlationId": "cfba6dc7-2666-4807-86ca-d8058922a961",
                      "data": [
                        {
                          "type": "error",
                          "code": "invalid-content",
                          "title": "Invalid request content",
                          "detail": "Insight ID is not in valid format"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "User or insight not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "insightNotFound": {
                    "summary": "Insight not found",
                    "value": {
                      "type": "list",
                      "correlationId": "a7e7393b-ea41-49f5-a0d6-0410de2b042f",
                      "data": [
                        {
                          "type": "error",
                          "code": "resource-not-found",
                          "title": "Requested resource is not found",
                          "detail": "Requested CDR user insight does not exist."
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "services_token": []
          }
        ]
      }
    },
    "/users/{userId}/insights/account": {
      "post": {
        "tags": [
          "Insights"
        ],
        "summary": "Account Insights",
        "description": "Retrieve account insights for a specific user based on account number",
        "operationId": "getAccountInsights",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "description": "The unique identifier for the user",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "60a0c24e-07c3-41a2-acdf-be8f1b7dd9f3"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "accountNumber"
                ],
                "properties": {
                  "accountNumber": {
                    "type": "string",
                    "description": "The account number to search for insights",
                    "example": "032096658830"
                  },
                  "accountType": {
                    "type": "string",
                    "description": "The type of account to search for insights",
                    "example": "savings"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved account insights",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountInsightResponse"
                },
                "examples": {
                  "high_confidence_match": {
                    "summary": "High confidence match example",
                    "description": "Example showing high confidence scores with some matches",
                    "value": {
                      "type": "insight",
                      "id": "a2fdfa02-e2a7-461f-ab59-94e0b751f9dc",
                      "created": "2025-09-17T05:18:02Z",
                      "insightType": "account",
                      "data": [
                        {
                          "accountId": "20e91af1-f1d8-46c0-b5e5-559b2cb435b7",
                          "accountNumber": {
                            "input": "032096658830",
                            "match": true,
                            "confidence": 0
                          },
                          "accountType": {
                            "input": "savings",
                            "match": true,
                            "confidence": 0
                          }
                        },
                        {
                          "accountId": "614b5cf2-1425-481e-8706-610f08c0c7dd",
                          "accountNumber": {
                            "input": "032096658830",
                            "match": false,
                            "confidence": 0
                          },
                          "accountType": {
                            "input": "savings",
                            "match": true,
                            "confidence": 0
                          }
                        }
                      ],
                      "links": {
                        "self": "https://au-api.basiq.io/users/60a0c24e-07c3-41a2-acdf-be8f1b7dd9f3/insights/a2fdfa02-e2a7-461f-ab59-94e0b751f9dc"
                      }
                    }
                  },
                  "low_confidence_no_match": {
                    "summary": "Low confidence no match example",
                    "description": "Example showing low confidence scores with no matches",
                    "value": {
                      "type": "insight",
                      "id": "ed17a3ce-cf15-4ff2-a9e3-26b50602bd61",
                      "created": "2025-09-17T05:22:18Z",
                      "insightType": "account",
                      "data": [
                        {
                          "accountId": "20e91af1-f1d8-46c0-b5e5-559b2cb435b7",
                          "accountNumber": {
                            "input": "032096658830",
                            "match": false,
                            "confidence": 0
                          },
                          "accountType": {
                            "input": "savings",
                            "match": false,
                            "confidence": 0
                          }
                        },
                        {
                          "accountId": "614b5cf2-1425-481e-8706-610f08c0c7dd",
                          "accountNumber": {
                            "input": "032096658830",
                            "match": false,
                            "confidence": 0
                          },
                          "accountType": {
                            "input": "savings",
                            "match": false,
                            "confidence": 0
                          }
                        },
                        {
                          "accountId": "88c781ff-104d-4834-bb36-e9428f508017",
                          "accountNumber": {
                            "input": "032096658830",
                            "match": false,
                            "confidence": 0
                          },
                          "accountType": {
                            "input": "savings",
                            "match": false,
                            "confidence": 0
                          }
                        },
                        {
                          "accountId": "88c781ff-104d-4834-bb36-e9428f508017",
                          "accountNumber": {
                            "input": "032096658830",
                            "match": false,
                            "confidence": 0
                          },
                          "accountType": {
                            "input": "savings",
                            "match": false,
                            "confidence": 0
                          }
                        }
                      ],
                      "links": {
                        "self": "https://au-api.basiq.io/users/60a0c24e-07c3-41a2-acdf-be8f1b7dd9f3/insights/ed17a3ce-cf15-4ff2-a9e3-26b50602bd61"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "invalid_content": {
                    "summary": "Invalid request content",
                    "description": "Error when request body format is invalid (e.g., accountNumber as number instead of string)",
                    "value": {
                      "type": "list",
                      "correlationId": "fbeec56c-d250-494e-8826-5bc0727ec073",
                      "data": [
                        {
                          "type": "error",
                          "code": "invalid-content",
                          "title": "Invalid request content",
                          "detail": "Request body is not in valid format"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "access_denied": {
                    "summary": "Access denied",
                    "description": "Error when authentication token is invalid or expired",
                    "value": {
                      "type": "list",
                      "correlationId": "0cf1a1fe-de4a-4e01-b81e-60790a1e881b",
                      "data": [
                        {
                          "type": "error",
                          "code": "access-denied",
                          "title": "Access denied.",
                          "detail": "invalid token",
                          "source": null
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "services_token": []
          }
        ]
      }
    },
    "/users/{userId}/insights/balance": {
      "post": {
        "tags": [
          "Insights"
        ],
        "summary": "Account Balance Insights",
        "description": "Retrieve balance insights for a user's accounts based on specified minimum and maximum balance criteria",
        "operationId": "getBalanceInsights",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "description": "Unique identifier for the user",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "2fc2691d-a6e5-4d1d-9748-c3b217ad76b0"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BalanceInsightRequest"
              },
              "examples": {
                "min_only_query": {
                  "summary": "Minimum balance only query",
                  "description": "Query for accounts with balance above minimum threshold (no maximum specified)",
                  "value": {
                    "balance": {
                      "min": "1"
                    }
                  }
                },
                "basic_range": {
                  "summary": "Basic balance range query",
                  "description": "Query for accounts with balance between 1 and 2",
                  "value": {
                    "balance": {
                      "min": "1",
                      "max": "2"
                    }
                  }
                },
                "higher_range": {
                  "summary": "Higher balance range query",
                  "description": "Query for accounts with balance between 5 and 10",
                  "value": {
                    "balance": {
                      "min": "5",
                      "max": "10"
                    }
                  }
                },
                "decimal_range": {
                  "summary": "Decimal balance range query",
                  "description": "Query for accounts with balance between 1.44 and 2 (decimal precision)",
                  "value": {
                    "balance": {
                      "min": "1.44",
                      "max": "2"
                    }
                  }
                },
                "narrow_decimal_range": {
                  "summary": "Narrow decimal balance range query",
                  "description": "Query for accounts with balance between 1 and 1.44 (narrow decimal range)",
                  "value": {
                    "balance": {
                      "min": "1",
                      "max": "1.44"
                    }
                  }
                },
                "exact_balance": {
                  "summary": "Exact balance match query",
                  "description": "Edge case query where min equals max (exact balance of 1.44)",
                  "value": {
                    "balance": {
                      "min": "1.44",
                      "max": "1.44"
                    }
                  }
                },
                "no_matching_accounts": {
                  "summary": "High value balance query with no matches",
                  "description": "Edge case query with extremely high balance (9999.99) that no accounts would have",
                  "value": {
                    "balance": {
                      "min": "9999.99",
                      "max": "9999.99"
                    }
                  }
                },
                "empty_balance": {
                  "summary": "Empty balance object - validation error",
                  "description": "Invalid request with empty balance object causing parameter validation error",
                  "value": {
                    "balance": {}
                  }
                },
                "invalid_data_type": {
                  "summary": "Invalid data type - validation error",
                  "description": "Invalid request with non-numeric values for min/max causing parameter validation error",
                  "value": {
                    "balance": {
                      "min": "ash",
                      "max": "test"
                    }
                  }
                },
                "numeric_input_error": {
                  "summary": "Numeric input instead of string - content error",
                  "description": "Invalid request with numeric values instead of strings for min/max causing invalid content error",
                  "value": {
                    "balance": {
                      "min": 1,
                      "max": 2
                    }
                  }
                },
                "negative_range": {
                  "summary": "Negative range query (min > max)",
                  "description": "Edge case query where min is greater than max, resulting in no matches",
                  "value": {
                    "balance": {
                      "min": "10",
                      "max": "5"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved balance insights",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceInsightResponse"
                },
                "examples": {
                  "min_only_response": {
                    "summary": "Response for minimum balance only query",
                    "description": "Example response when querying with only minimum balance specified",
                    "value": {
                      "type": "insight",
                      "id": "d12c46dc-3821-4887-a208-2ff07040cc0b",
                      "created": "2025-09-19T00:08:55Z",
                      "insightType": "balance",
                      "data": [
                        {
                          "accountId": "155e5916-b4ff-433f-924f-3eca8493de6d",
                          "accountNumber": {
                            "input": {
                              "min": "1",
                              "max": ""
                            },
                            "match": true,
                            "confidence": 1
                          }
                        },
                        {
                          "accountId": "45e79e60-d9f0-440c-bbf0-1e174722215e",
                          "accountNumber": {
                            "input": {
                              "min": "1",
                              "max": ""
                            },
                            "match": false,
                            "confidence": 0
                          }
                        },
                        {
                          "accountId": "c87d0d9e-39d7-4621-8bb4-031f4679abb5",
                          "accountNumber": {
                            "input": {
                              "min": "1",
                              "max": ""
                            },
                            "match": true,
                            "confidence": 1
                          }
                        }
                      ],
                      "links": {
                        "self": "https://au-api.basiq.io/users/2fc2691d-a6e5-4d1d-9748-c3b217ad76b0/insights/d12c46dc-3821-4887-a208-2ff07040cc0b"
                      }
                    }
                  },
                  "positive_match": {
                    "summary": "Accounts within balance range",
                    "description": "Example showing accounts that match the specified balance criteria",
                    "value": {
                      "type": "insight",
                      "id": "bd6a6e90-6be3-45ac-9748-a110a29991a0",
                      "created": "2025-09-18T09:13:50Z",
                      "insightType": "balance",
                      "data": [
                        {
                          "accountId": "155e5916-b4ff-433f-924f-3eca8493de6d",
                          "accountNumber": {
                            "input": {
                              "min": "1",
                              "max": "2"
                            },
                            "match": true,
                            "confidence": 0
                          }
                        },
                        {
                          "accountId": "45e79e60-d9f0-440c-bbf0-1e174722215e",
                          "accountNumber": {
                            "input": {
                              "min": "1",
                              "max": "2"
                            },
                            "match": false,
                            "confidence": 0
                          }
                        },
                        {
                          "accountId": "c87d0d9e-39d7-4621-8bb4-031f4679abb5",
                          "accountNumber": {
                            "input": {
                              "min": "1",
                              "max": "2"
                            },
                            "match": false,
                            "confidence": 0
                          }
                        }
                      ],
                      "links": {
                        "self": "https://au-api.basiq.io/users/2fc2691d-a6e5-4d1d-9748-c3b217ad76b0/insights/bd6a6e90-6be3-45ac-9748-a110a29991a0"
                      }
                    }
                  },
                  "negative_match": {
                    "summary": "Accounts outside balance range",
                    "description": "Example showing accounts that do not match the specified balance criteria",
                    "value": {
                      "type": "insight",
                      "id": "8d01e746-ba07-4f55-bfd9-4ae437f66a58",
                      "created": "2025-09-18T09:18:52Z",
                      "insightType": "balance",
                      "data": [
                        {
                          "accountId": "155e5916-b4ff-433f-924f-3eca8493de6d",
                          "accountNumber": {
                            "input": {
                              "min": "5",
                              "max": "10"
                            },
                            "match": false,
                            "confidence": 0
                          }
                        },
                        {
                          "accountId": "45e79e60-d9f0-440c-bbf0-1e174722215e",
                          "accountNumber": {
                            "input": {
                              "min": "5",
                              "max": "10"
                            },
                            "match": false,
                            "confidence": 0
                          }
                        },
                        {
                          "accountId": "c87d0d9e-39d7-4621-8bb4-031f4679abb5",
                          "accountNumber": {
                            "input": {
                              "min": "5",
                              "max": "10"
                            },
                            "match": false,
                            "confidence": 0
                          }
                        }
                      ],
                      "links": {
                        "self": "https://au-api.basiq.io/users/2fc2691d-a6e5-4d1d-9748-c3b217ad76b0/insights/8d01e746-ba07-4f55-bfd9-4ae437f66a58"
                      }
                    }
                  },
                  "decimal_precision": {
                    "summary": "Decimal precision balance range",
                    "description": "Example showing decimal precision in balance criteria with no matches",
                    "value": {
                      "type": "insight",
                      "id": "e118abf4-dc11-4182-938d-3b1003e15d38",
                      "created": "2025-09-18T09:19:42Z",
                      "insightType": "balance",
                      "data": [
                        {
                          "accountId": "155e5916-b4ff-433f-924f-3eca8493de6d",
                          "accountNumber": {
                            "input": {
                              "min": "1.44",
                              "max": "2"
                            },
                            "match": false,
                            "confidence": 0
                          }
                        },
                        {
                          "accountId": "45e79e60-d9f0-440c-bbf0-1e174722215e",
                          "accountNumber": {
                            "input": {
                              "min": "1.44",
                              "max": "2"
                            },
                            "match": false,
                            "confidence": 0
                          }
                        },
                        {
                          "accountId": "c87d0d9e-39d7-4621-8bb4-031f4679abb5",
                          "accountNumber": {
                            "input": {
                              "min": "1.44",
                              "max": "2"
                            },
                            "match": false,
                            "confidence": 0
                          }
                        }
                      ],
                      "links": {
                        "self": "https://au-api.basiq.io/users/2fc2691d-a6e5-4d1d-9748-c3b217ad76b0/insights/e118abf4-dc11-4182-938d-3b1003e15d38"
                      }
                    }
                  },
                  "narrow_decimal_range": {
                    "summary": "Narrow decimal range with no matches",
                    "description": "Example showing narrow decimal range (1 to 1.44) with no matching accounts",
                    "value": {
                      "type": "insight",
                      "id": "8ef117bc-6695-4607-ab76-8213c440ee1d",
                      "created": "2025-09-18T09:20:44Z",
                      "insightType": "balance",
                      "data": [
                        {
                          "accountId": "155e5916-b4ff-433f-924f-3eca8493de6d",
                          "accountNumber": {
                            "input": {
                              "min": "1",
                              "max": "1.44"
                            },
                            "match": false,
                            "confidence": 0
                          }
                        },
                        {
                          "accountId": "45e79e60-d9f0-440c-bbf0-1e174722215e",
                          "accountNumber": {
                            "input": {
                              "min": "1",
                              "max": "1.44"
                            },
                            "match": false,
                            "confidence": 0
                          }
                        },
                        {
                          "accountId": "c87d0d9e-39d7-4621-8bb4-031f4679abb5",
                          "accountNumber": {
                            "input": {
                              "min": "1",
                              "max": "1.44"
                            },
                            "match": false,
                            "confidence": 0
                          }
                        }
                      ],
                      "links": {
                        "self": "https://au-api.basiq.io/users/2fc2691d-a6e5-4d1d-9748-c3b217ad76b0/insights/8ef117bc-6695-4607-ab76-8213c440ee1d"
                      }
                    }
                  },
                  "exact_balance_match": {
                    "summary": "Exact balance match edge case",
                    "description": "Edge case showing exact balance query (min = max = 1.44) with no matching accounts",
                    "value": {
                      "type": "insight",
                      "id": "d253ebaa-ead6-479b-95f3-ad6d009e6d2c",
                      "created": "2025-09-18T09:21:36Z",
                      "insightType": "balance",
                      "data": [
                        {
                          "accountId": "155e5916-b4ff-433f-924f-3eca8493de6d",
                          "accountNumber": {
                            "input": {
                              "min": "1.44",
                              "max": "1.44"
                            },
                            "match": false,
                            "confidence": 0
                          }
                        },
                        {
                          "accountId": "45e79e60-d9f0-440c-bbf0-1e174722215e",
                          "accountNumber": {
                            "input": {
                              "min": "1.44",
                              "max": "1.44"
                            },
                            "match": false,
                            "confidence": 0
                          }
                        },
                        {
                          "accountId": "c87d0d9e-39d7-4621-8bb4-031f4679abb5",
                          "accountNumber": {
                            "input": {
                              "min": "1.44",
                              "max": "1.44"
                            },
                            "match": false,
                            "confidence": 0
                          }
                        }
                      ],
                      "links": {
                        "self": "https://au-api.basiq.io/users/2fc2691d-a6e5-4d1d-9748-c3b217ad76b0/insights/d253ebaa-ead6-479b-95f3-ad6d009e6d2c"
                      }
                    }
                  },
                  "high_value_no_matches": {
                    "summary": "High value balance with no matching accounts",
                    "description": "Edge case showing extremely high balance query (9999.99) with no matching accounts",
                    "value": {
                      "type": "insight",
                      "id": "d4a3706b-e0e2-42c0-ba6e-797b8c45300a",
                      "created": "2025-09-18T09:22:10Z",
                      "insightType": "balance",
                      "data": [
                        {
                          "accountId": "155e5916-b4ff-433f-924f-3eca8493de6d",
                          "accountNumber": {
                            "input": {
                              "min": "9999.99",
                              "max": "9999.99"
                            },
                            "match": false,
                            "confidence": 0
                          }
                        },
                        {
                          "accountId": "45e79e60-d9f0-440c-bbf0-1e174722215e",
                          "accountNumber": {
                            "input": {
                              "min": "9999.99",
                              "max": "9999.99"
                            },
                            "match": false,
                            "confidence": 0
                          }
                        },
                        {
                          "accountId": "c87d0d9e-39d7-4621-8bb4-031f4679abb5",
                          "accountNumber": {
                            "input": {
                              "min": "9999.99",
                              "max": "9999.99"
                            },
                            "match": false,
                            "confidence": 0
                          }
                        }
                      ],
                      "links": {
                        "self": "https://au-api.basiq.io/users/2fc2691d-a6e5-4d1d-9748-c3b217ad76b0/insights/d4a3706b-e0e2-42c0-ba6e-797b8c45300a"
                      }
                    }
                  },
                  "negative_range_response": {
                    "summary": "Negative range query response",
                    "description": "Response showing negative range query (min > max) with no matching accounts",
                    "value": {
                      "type": "insight",
                      "id": "505710db-535f-45ff-92a4-cadabec7188e",
                      "created": "2025-09-18T09:24:01Z",
                      "insightType": "balance",
                      "data": [
                        {
                          "accountId": "155e5916-b4ff-433f-924f-3eca8493de6d",
                          "accountNumber": {
                            "input": {
                              "min": "10",
                              "max": "5"
                            },
                            "match": false,
                            "confidence": 0
                          }
                        },
                        {
                          "accountId": "45e79e60-d9f0-440c-bbf0-1e174722215e",
                          "accountNumber": {
                            "input": {
                              "min": "10",
                              "max": "5"
                            },
                            "match": false,
                            "confidence": 0
                          }
                        },
                        {
                          "accountId": "c87d0d9e-39d7-4621-8bb4-031f4679abb5",
                          "accountNumber": {
                            "input": {
                              "min": "10",
                              "max": "5"
                            },
                            "match": false,
                            "confidence": 0
                          }
                        }
                      ],
                      "links": {
                        "self": "https://au-api.basiq.io/users/2fc2691d-a6e5-4d1d-9748-c3b217ad76b0/insights/505710db-535f-45ff-92a4-cadabec7188e"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "missing_parameters": {
                    "summary": "Missing required parameters",
                    "description": "Error response when balance object is empty",
                    "value": {
                      "type": "list",
                      "correlationId": "18219ea4-670e-44fd-a741-2651d3658480",
                      "data": [
                        {
                          "type": "error",
                          "code": "parameter-not-valid",
                          "title": "Parameter value is not valid",
                          "detail": "Parameters are not in valid format.",
                          "source": {
                            "pointer": "balance/min/max",
                            "parameter": "min/max"
                          }
                        }
                      ]
                    }
                  },
                  "invalid_data_type": {
                    "summary": "Invalid data type for parameters",
                    "description": "Error response when non-numeric values are provided for min/max",
                    "value": {
                      "type": "list",
                      "correlationId": "4bbed936-4756-4b58-85b8-2c987a5fbf01",
                      "data": [
                        {
                          "type": "error",
                          "code": "parameter-not-valid",
                          "title": "Parameter value is not valid",
                          "detail": "Parameter is not in valid format.",
                          "source": {
                            "pointer": "balance/min",
                            "parameter": "min"
                          }
                        }
                      ]
                    }
                  },
                  "invalid_content": {
                    "summary": "Invalid request content",
                    "description": "Error response when numeric values are provided instead of strings for min/max",
                    "value": {
                      "type": "list",
                      "correlationId": "34975765-2340-4577-b0ea-aab230d4552c",
                      "data": [
                        {
                          "type": "error",
                          "code": "invalid-content",
                          "title": "Invalid request content",
                          "detail": "Invalid body content."
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "access_denied": {
                    "summary": "Access denied",
                    "description": "Error when authentication token is invalid or expired",
                    "value": {
                      "type": "list",
                      "correlationId": "0cf1a1fe-de4a-4e01-b81e-60790a1e881b",
                      "data": [
                        {
                          "type": "error",
                          "code": "access-denied",
                          "title": "Access denied.",
                          "detail": "invalid token",
                          "source": null
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "services_token": []
          }
        ]
      }
    },
    "/users/{userId}/insights/identity": {
      "post": {
        "tags": [
          "Insights"
        ],
        "summary": "Identity Insights",
        "description": "Retrieve identity insights for a specific user by comparing provided personal details (name, phone, email, address).",
        "operationId": "getIdentityInsights",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "description": "Unique identifier for the user",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "321ac6df-beec-435b-a93e-678fe919badc"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IdentityInsightRequest"
              },
              "examples": {
                "basic_identity": {
                  "summary": "Basic identity input",
                  "description": "Query with only a name provided",
                  "value": {
                    "name": "jared Dunn",
                    "phone": "",
                    "email": "",
                    "address": ""
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved identity insights",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdentityInsightResponse"
                },
                "examples": {
                  "name_match": {
                    "summary": "Example with name match",
                    "description": "Example response showing a matched name with high confidence",
                    "value": {
                      "type": "insight",
                      "id": "c2d5f682-04f7-4a09-b5c3-cabcd5b41df8",
                      "created": "2025-09-30T01:39:20Z",
                      "insightType": "identity",
                      "data": [
                        {
                          "name": {
                            "input": "jared Dunn",
                            "match": true,
                            "confidence": 0
                          }
                        }
                      ],
                      "links": {
                        "self": "https://au-api.basiq.io/users/321ac6df-beec-435b-a93e-678fe919badc/insights/c2d5f682-04f7-4a09-b5c3-cabcd5b41df8"
                      }
                    }
                  },
                  "multi_field_low_confidence": {
                    "summary": "Example with multiple fields and low confidence",
                    "description": "Shows low-confidence matches for name, phones, emails, and addresses",
                    "value": {
                      "type": "insight",
                      "id": "21ed0640-7561-4825-9993-712837e483cc",
                      "created": "2025-09-30T02:27:26Z",
                      "insightType": "identity",
                      "data": [
                        {
                          "name": {
                            "input": "aa",
                            "match": false,
                            "confidence": 0
                          },
                          "phones": [
                            {
                              "input": "0452626178",
                              "match": false,
                              "confidence": 0
                            }
                          ],
                          "emails": [
                            {
                              "input": "aa@aa.io",
                              "match": false,
                              "confidence": 0
                            }
                          ],
                          "addresses": [
                            {
                              "input": "aa",
                              "match": false,
                              "confidence": 0
                            }
                          ]
                        }
                      ],
                      "links": {
                        "self": "https://au-api.basiq.io/users/321ac6df-beec-435b-a93e-678fe919badc/insights/21ed0640-7561-4825-9993-712837e483cc"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "masked_phone": {
                    "summary": "Masked phone number error",
                    "description": "Error response when the phone number is masked and cannot be matched",
                    "value": {
                      "type": "list",
                      "correlationId": "485e20ea-4d24-4dff-b2fc-580e28e113a0",
                      "data": [
                        {
                          "type": "error",
                          "code": "parameter-not-valid",
                          "title": "Parameter value is not valid",
                          "detail": "Phone number is masked and cannot be matched.",
                          "source": {
                            "pointer": "phone",
                            "parameter": "phone"
                          }
                        }
                      ]
                    }
                  },
                  "invalid_phone_format": {
                    "summary": "Invalid phone number format",
                    "description": "Error response when the phone number format is invalid",
                    "value": {
                      "type": "list",
                      "correlationId": "c3b2096f-0b45-45c4-80fc-cc8427a6e6ec",
                      "data": [
                        {
                          "type": "error",
                          "code": "parameter-not-valid",
                          "title": "Parameter value is not valid",
                          "detail": "Phone number format is invalid.",
                          "source": {
                            "pointer": "phone",
                            "parameter": "phone"
                          }
                        }
                      ]
                    }
                  },
                  "invalid_email_format": {
                    "summary": "Invalid email format",
                    "description": "Error response when the email format is invalid",
                    "value": {
                      "type": "list",
                      "correlationId": "a2fa867a-b7a5-460c-b2a4-048db66e7f8f",
                      "data": [
                        {
                          "type": "error",
                          "code": "parameter-not-valid",
                          "title": "Parameter value is not valid",
                          "detail": "Email format is invalid.",
                          "source": {
                            "pointer": "email",
                            "parameter": "email"
                          }
                        }
                      ]
                    }
                  },
                  "invalid_name_characters": {
                    "summary": "Name contains invalid characters",
                    "description": "Error response when the name contains invalid or disallowed characters",
                    "value": {
                      "type": "list",
                      "correlationId": "e76488af-83c4-4da4-a760-6f626da6b9ad",
                      "data": [
                        {
                          "type": "error",
                          "code": "parameter-not-valid",
                          "title": "Parameter value is not valid",
                          "detail": "Name contains invalid characters.",
                          "source": {
                            "pointer": "name",
                            "parameter": "name"
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "access_denied": {
                    "summary": "Access denied",
                    "description": "Error when authentication token is invalid or expired",
                    "value": {
                      "type": "list",
                      "correlationId": "0cf1a1fe-de4a-4e01-b81e-60790a1e881b",
                      "data": [
                        {
                          "type": "error",
                          "code": "access-denied",
                          "title": "Access denied.",
                          "detail": "invalid token",
                          "source": null
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "services_token": []
          }
        ]
      }
    },
    "/users/{userId}/insights/income": {
      "post": {
        "tags": [
          "Insights"
        ],
        "summary": "Income Insights",
        "description": "Verifies if a user's income falls within a specified range. Returns a match result with confidence level based on the user's financial data.",
        "operationId": "verifyIncomeInsight",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the user",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "0a84e628-dad7-40f4-bbc0-abeb3ddd90ea"
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Income range to verify against user's financial data",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IncomeInsightRequest"
              },
              "examples": {
                "withinRange": {
                  "summary": "Income within range",
                  "value": {
                    "income": {
                      "min": "1",
                      "max": "10000"
                    }
                  }
                },
                "outsideRange": {
                  "summary": "Income outside range",
                  "value": {
                    "income": {
                      "min": "1",
                      "max": "2"
                    }
                  }
                },
                "equalsMin": {
                  "summary": "Income equals minimum",
                  "value": {
                    "income": {
                      "min": "9179.95",
                      "max": "10000"
                    }
                  }
                },
                "equalsMax": {
                  "summary": "Income equals maximum",
                  "value": {
                    "income": {
                      "min": "1",
                      "max": "9179.95"
                    }
                  }
                },
                "exactMatch": {
                  "summary": "Income equals both min and max",
                  "value": {
                    "income": {
                      "min": "9179.95",
                      "max": "9179.95"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Income insight successfully verified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IncomeInsightResponse"
                },
                "examples": {
                  "matchTrue": {
                    "summary": "Income matches range",
                    "value": {
                      "insightType": "income",
                      "data": [
                        {
                          "input": {
                            "min": "1",
                            "max": "10000"
                          },
                          "match": true,
                          "confidence": 1
                        }
                      ]
                    }
                  },
                  "matchFalse": {
                    "summary": "Income does not match range",
                    "value": {
                      "insightType": "income",
                      "data": [
                        {
                          "input": {
                            "min": "1",
                            "max": "2"
                          },
                          "match": false,
                          "confidence": 1
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters or request format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "missingMin": {
                    "summary": "Missing min parameter",
                    "value": {
                      "data": [
                        {
                          "detail": "Parameters are not in valid format."
                        }
                      ]
                    }
                  },
                  "missingMax": {
                    "summary": "Missing max parameter",
                    "value": {
                      "data": [
                        {
                          "detail": "Parameters are not in valid format."
                        }
                      ]
                    }
                  },
                  "emptyIncome": {
                    "summary": "Empty income object",
                    "value": {
                      "data": [
                        {
                          "detail": "Parameters are not in valid format."
                        }
                      ]
                    }
                  },
                  "nonNumeric": {
                    "summary": "Non-numeric values provided",
                    "value": {
                      "data": [
                        {
                          "detail": "Parameter is not in valid format."
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "services_token": []
          }
        ]
      }
    },
    "/users/{userId}/insights/expense-ratio": {
      "post": {
        "tags": ["Insights"],
        "summary": "Expense Ratio Insights",
        "description": "Calculate and return the expense-to-income ratio. The endpoint uses the internal ME040 (Average Monthly Credit) calculation and returns the ratio as the closest percentage range measured in tens.",
        "operationId": "getExpenseRatioInsights",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "description": "The unique identifier for the user",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "60a0c24e-07c3-41a2-acdf-be8f1b7dd9f3"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExpenseRatioInsightRequest"
              },
              "examples": {
                "typical_expense": {
                  "summary": "Typical expense value",
                  "value": {
                    "expense": "2500"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved expense ratio insights",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExpenseRatioInsightResponse"
                },
                "examples": {
                  "0_to_10_percent": {
                    "summary": "Expense ratio 0% to 10%",
                    "value": {
                      "type": "insight",
                      "id": "a2fdfa02-e2a7-461f-ab59-94e0b751f9dc",
                      "created": "2025-12-16T11:32:42Z",
                      "insightType": "expense-ratio",
                      "data": [
                        {
                          "input": {
                            "expense": "500"
                          },
                          "result": {
                            "range": "0% to 10%"
                          }
                        }
                      ],
                      "links": {
                        "self": "https://au-api.basiq.io/users/60a0c24e-07c3-41a2-acdf-be8f1b7dd9f3/insights/a2fdfa02-e2a7-461f-ab59-94e0b751f9dc"
                      }
                    }
                  },
                  "50_to_60_percent": {
                    "summary": "Expense ratio 50% to 60%",
                    "value": {
                      "type": "insight",
                      "id": "ed17a3ce-cf15-4ff2-a9e3-26b50602bd61",
                      "created": "2025-12-16T11:32:42Z",
                      "insightType": "expense-ratio",
                      "data": [
                        {
                          "input": {
                            "expense": "2750"
                          },
                          "result": {
                            "range": "50% to 60%"
                          }
                        }
                      ],
                      "links": {
                        "self": "https://au-api.basiq.io/users/60a0c24e-07c3-41a2-acdf-be8f1b7dd9f3/insights/ed17a3ce-cf15-4ff2-a9e3-26b50602bd61"
                      }
                    }
                  },
                  "income_exceeded": {
                    "summary": "Expenses exceed income",
                    "value": {
                      "type": "insight",
                      "id": "xyz789-uvw012-abc345",
                      "created": "2025-12-16T11:32:42Z",
                      "insightType": "expense-ratio",
                      "data": [
                        {
                          "input": {
                            "expense": "6000"
                          },
                          "result": {
                            "range": "Income Exceeded"
                          }
                        }
                      ],
                      "links": {
                        "self": "https://au-api.basiq.io/users/60a0c24e-07c3-41a2-acdf-be8f1b7dd9f3/insights/xyz789-uvw012-abc345"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "negativeExpense": {
                    "summary": "Negative expense value",
                    "value": {
                      "type": "list",
                      "correlationId": "e2dce626-714b-4b69-add2-f84c504be64b",
                      "data": [
                        {
                          "type": "error",
                          "code": "parameter-not-valid",
                          "title": "Parameter value is not valid",
                          "detail": "Parameter value is not valid",
                          "source": {
                            "parameter": "expense"
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient authorization scopes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "insufficientScopes": {
                    "summary": "Missing required scopes",
                    "value": {
                      "type": "list",
                      "correlationId": "9948dc17-4159-4999-b5d3-97fc0ac0476d",
                      "data": [
                        {
                          "type": "error",
                          "code": "access-denied",
                          "title": "Access denied",
                          "detail": "Required scopes: bank:accounts.basic:read, bank:accounts.detail:read, bank:transactions:read"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "userNotFound": {
                    "summary": "User not found",
                    "value": {
                      "type": "list",
                      "correlationId": "a7e7393b-ea41-49f5-a0d6-0410de2b042f",
                      "data": [
                        {
                          "type": "error",
                          "code": "resource-not-found",
                          "title": "Requested resource is not found",
                          "detail": "Requested user does not exist"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "services_token": []
          }
        ]
      }
    }  
  },
  "components": {
    "securitySchemes": {
      "services_token": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "InsightListResponse": {
        "type": "object",
        "required": [
          "type",
          "count",
          "size",
          "data",
          "links"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "list"
            ],
            "description": "Response type indicator"
          },
          "count": {
            "type": "integer",
            "description": "Total number of insights available"
          },
          "size": {
            "type": "integer",
            "description": "Number of insights in current page (max 20)"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Insight"
            },
            "description": "Array of insight objects"
          },
          "links": {
            "type": "object",
            "properties": {
              "self": {
                "type": "string",
                "format": "uri",
                "description": "Link to current page"
              },
              "next": {
                "type": "string",
                "format": "uri",
                "description": "Link to next page (if available)"
              },
              "prev": {
                "type": "string",
                "format": "uri",
                "description": "Link to previous page (if available)"
              }
            },
            "required": [
              "self"
            ]
          }
        }
      },
      "Insight": {
        "type": "object",
        "required": [
          "type",
          "id",
          "created",
          "insightType",
          "data",
          "links"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "insight"
            ],
            "description": "Resource type indicator"
          },
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the insight"
          },
          "created": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp of when the insight was created"
          },
          "insightType": {
            "type": "string",
            "enum": [
              "account",
              "balance",
              "identity"
            ],
            "description": "Type of insight: account verification, balance verification, or identity verification"
          },
          "data": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/AccountInsightDataItem"
                },
                {
                  "$ref": "#/components/schemas/BalanceInsightDataItem"
                },
                {
                  "$ref": "#/components/schemas/IdentityInsightDataItem"
                }
              ]
            },
            "description": "Array of insight data objects, structure varies by insightType"
          },
          "links": {
            "type": "object",
            "properties": {
              "self": {
                "type": "string",
                "format": "uri",
                "description": "Link to this specific insight"
              }
            },
            "required": [
              "self"
            ]
          }
        }
      },
      "AccountInsightResponse": {
        "type": "object",
        "required": [
          "type",
          "id",
          "created",
          "insightType",
          "data",
          "links"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "insight"
            ],
            "description": "The type of response object",
            "example": "insight"
          },
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for this insight",
            "example": "a2fdfa02-e2a7-461f-ab59-94e0b751f9dc"
          },
          "created": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the insight was created",
            "example": "2025-09-17T05:18:02Z"
          },
          "insightType": {
            "type": "string",
            "enum": [
              "account"
            ],
            "description": "The type of insight",
            "example": "account"
          },
          "data": {
            "type": "array",
            "description": "Array of account insight data",
            "items": {
              "$ref": "#/components/schemas/AccountInsightData"
            }
          },
          "links": {
            "type": "object",
            "required": [
              "self"
            ],
            "properties": {
              "self": {
                "type": "string",
                "format": "uri",
                "description": "Self-referencing link to this insight",
                "example": "https://au-api.basiq.io/users/60a0c24e-07c3-41a2-acdf-be8f1b7dd9f3/insights/a2fdfa02-e2a7-461f-ab59-94e0b751f9dc"
              }
            }
          }
        }
      },
      "AccountInsightData": {
        "type": "object",
        "required": [
          "accountId",
          "accountNumber"
        ],
        "properties": {
          "accountId": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the account",
            "example": "20e91af1-f1d8-46c0-b5e5-559b2cb435b7"
          },
          "accountNumber": {
            "$ref": "#/components/schemas/AccountNumberMatch"
          },
          "accountType": {
            "$ref": "#/components/schemas/AccountTypeMatch"
          }
        }
      },
      "AccountInsightDataItem": {
        "type": "object",
        "required": [
          "accountId"
        ],
        "properties": {
          "accountId": {
            "type": "string",
            "format": "uuid",
            "description": "The account identifier being verified"
          },
          "accountNumber": {
            "$ref": "#/components/schemas/VerificationResult",
            "description": "Account number verification result"
          },
          "accountType": {
            "$ref": "#/components/schemas/VerificationResult",
            "description": "Account type verification result"
          }
        }
      },
      "AccountNumberMatch": {
        "type": "object",
        "required": [
          "input",
          "match",
          "confidence"
        ],
        "properties": {
          "input": {
            "type": "string",
            "description": "The original account number input",
            "example": "032096658830"
          },
          "match": {
            "type": "boolean",
            "description": "Whether the account number matches",
            "example": false
          },
          "confidence": {
            "type": "number",
            "format": "float",
            "minimum": 0,
            "maximum": 1,
            "description": "Confidence score for the match (0.0 to 1.0)",
            "example": 0
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "required": [
          "type",
          "correlationId",
          "data"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "list"
            ],
            "description": "Response type for error responses",
            "example": "list"
          },
          "correlationId": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for tracking this request",
            "example": "0cf1a1fe-de4a-4e01-b81e-60790a1e881b"
          },
          "data": {
            "type": "array",
            "description": "Array containing error details",
            "items": {
              "$ref": "#/components/schemas/ErrorDetail"
            }
          }
        }
      },
      "ErrorDetail": {
        "type": "object",
        "required": [
          "type",
          "code",
          "title",
          "detail"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "error"
            ],
            "description": "Type of data object",
            "example": "error"
          },
          "code": {
            "type": "string",
            "description": "Error code identifier",
            "example": "access-denied"
          },
          "title": {
            "type": "string",
            "description": "Human-readable error title",
            "example": "Access denied."
          },
          "detail": {
            "type": "string",
            "description": "Detailed error message",
            "example": "invalid token"
          },
          "source": {
            "oneOf": [
              {
                "type": "object",
                "nullable": true,
                "properties": {
                  "pointer": {
                    "type": "string"
                  },
                  "parameter": {
                    "type": "string"
                  }
                }
              }
            ],
            "description": "Source of the error (optional)",
            "example": null
          }
        }
      },
      "AccountTypeMatch": {
        "type": "object",
        "required": [
          "input",
          "match",
          "confidence"
        ],
        "properties": {
          "input": {
            "type": "string",
            "description": "The original account type input",
            "example": "savings"
          },
          "match": {
            "type": "boolean",
            "description": "Whether the account type matches",
            "example": false
          },
          "confidence": {
            "type": "number",
            "format": "float",
            "minimum": 0,
            "maximum": 1,
            "description": "Confidence score for the match (0.0 to 1.0)",
            "example": 0
          }
        }
      },
      "BalanceInsightRequest": {
        "type": "object",
        "required": [
          "balance"
        ],
        "properties": {
          "balance": {
            "type": "object",
            "required": [
              "min"
            ],
            "properties": {
              "min": {
                "type": "string",
                "description": "Minimum balance threshold (as string)",
                "example": "1"
              },
              "max": {
                "type": "string",
                "description": "Maximum balance threshold (as string, optional)",
                "example": "2"
              }
            },
            "description": "Balance criteria for filtering accounts. Only 'min' is required, 'max' is optional."
          }
        }
      },
      "BalanceInsightResponse": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "insight"
            ],
            "description": "Type of response object"
          },
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for this insight"
          },
          "created": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the insight was created"
          },
          "insightType": {
            "type": "string",
            "enum": [
              "balance"
            ],
            "description": "Type of insight"
          },
          "data": {
            "type": "array",
            "description": "Array of account balance analysis results",
            "items": {
              "$ref": "#/components/schemas/AccountBalanceData"
            }
          },
          "links": {
            "type": "object",
            "properties": {
              "self": {
                "type": "string",
                "format": "uri",
                "description": "Self-referencing link to this insight"
              }
            },
            "required": [
              "self"
            ]
          }
        },
        "required": [
          "type",
          "id",
          "created",
          "insightType",
          "data",
          "links"
        ]
      },
      "IdentityInsightRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Full name of the user",
            "example": "jared Dunn"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the user",
            "example": "+61412345678"
          },
          "email": {
            "type": "string",
            "description": "Email address of the user",
            "example": "jared@example.com"
          },
          "address": {
            "type": "string",
            "description": "Address of the user",
            "example": "123 Main St, Sydney NSW 2000"
          }
        }
      },
      "IdentityInsightResponse": {
        "type": "object",
        "required": [
          "type",
          "id",
          "created",
          "insightType",
          "data",
          "links"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "insight"
            ],
            "description": "The type of response object"
          },
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for this insight"
          },
          "created": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the insight was created"
          },
          "insightType": {
            "type": "string",
            "enum": [
              "identity"
            ],
            "description": "The type of insight"
          },
          "data": {
            "type": "array",
            "description": "Array of identity matching results",
            "items": {
              "$ref": "#/components/schemas/IdentityInsightData"
            }
          },
          "links": {
            "type": "object",
            "properties": {
              "self": {
                "type": "string",
                "format": "uri",
                "description": "Self-referencing link to this insight"
              }
            },
            "required": [
              "self"
            ]
          }
        }
      },
      "IdentityInsightData": {
        "type": "object",
        "properties": {
          "name": {
            "$ref": "#/components/schemas/IdentityMatch"
          },
          "phone": {
            "$ref": "#/components/schemas/IdentityMatch"
          },
          "email": {
            "$ref": "#/components/schemas/IdentityMatch"
          },
          "address": {
            "$ref": "#/components/schemas/IdentityMatch"
          }
        }
      },
      "IdentityInsightDataItem": {
        "type": "object",
        "properties": {
          "name": {
            "$ref": "#/components/schemas/VerificationResult",
            "description": "Name verification result"
          },
          "phones": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VerificationResult"
            },
            "description": "Array of phone number verification results"
          },
          "emails": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VerificationResult"
            },
            "description": "Array of email verification results"
          },
          "addresses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VerificationResult"
            },
            "description": "Array of address verification results"
          }
        }
      },
      "IdentityMatch": {
        "type": "object",
        "required": [
          "input",
          "match",
          "confidence"
        ],
        "properties": {
          "input": {
            "type": "string",
            "description": "Original input value provided"
          },
          "match": {
            "type": "boolean",
            "description": "Whether the field matches the user's records"
          },
          "confidence": {
            "type": "number",
            "format": "float",
            "minimum": 0,
            "maximum": 1,
            "description": "Confidence score for the match"
          }
        }
      },
      "AccountBalanceData": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the account"
          },
          "accountNumber": {
            "type": "object",
            "properties": {
              "input": {
                "type": "object",
                "properties": {
                  "min": {
                    "type": "string",
                    "description": "Minimum balance from request"
                  },
                  "max": {
                    "type": "string",
                    "description": "Maximum balance from request"
                  }
                },
                "required": [
                  "min"
                ]
              },
              "match": {
                "type": "boolean",
                "description": "Whether the account balance matches the criteria"
              },
              "confidence": {
                "type": "number",
                "format": "float",
                "minimum": 0,
                "maximum": 1,
                "description": "Confidence score for the match result"
              }
            },
            "required": [
              "input",
              "match",
              "confidence"
            ]
          }
        },
        "required": [
          "accountId",
          "accountNumber"
        ]
      },
      "BalanceInsightDataItem": {
        "type": "object",
        "required": [
          "accountId"
        ],
        "properties": {
          "accountId": {
            "type": "string",
            "format": "uuid",
            "description": "The account identifier being verified"
          },
          "accountNumber": {
            "type": "object",
            "properties": {
              "input": {
                "type": "object",
                "properties": {
                  "min": {
                    "type": "string",
                    "description": "Minimum balance value"
                  },
                  "max": {
                    "type": "string",
                    "description": "Maximum balance value"
                  }
                },
                "required": [
                  "min",
                  "max"
                ]
              },
              "match": {
                "type": "boolean",
                "nullable": true,
                "description": "Whether the balance falls within the specified range"
              },
              "confidence": {
                "type": "number",
                "format": "float",
                "minimum": 0,
                "maximum": 1,
                "description": "Confidence score of the match (0.0 to 1.0)"
              }
            },
            "required": [
              "input",
              "match",
              "confidence"
            ]
          }
        }
      },
      "VerificationResult": {
        "type": "object",
        "required": [
          "input"
        ],
        "properties": {
          "input": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "object"
              }
            ],
            "description": "The input value being verified"
          },
          "match": {
            "type": "boolean",
            "nullable": true,
            "description": "Whether the input matched the source data. Null if verification could not be completed."
          },
          "confidence": {
            "type": "number",
            "format": "float",
            "minimum": 0,
            "maximum": 1,
            "description": "Confidence score of the match (0.0 to 1.0)"
          },
          "error": {
            "type": "string",
            "description": "Error message if verification could not be completed"
          }
        }
      },
      "IncomeInsightRequest": {
        "type": "object",
        "required": [
          "income"
        ],
        "properties": {
          "income": {
            "type": "object",
            "required": [
              "min"
            ],
            "properties": {
              "min": {
                "type": "string",
                "description": "Minimum income value as a numeric string",
                "example": "1"
              },
              "max": {
                "type": "string",
                "description": "Maximum income value as a numeric string",
                "example": "10000"
              }
            },
            "description": "Income range to verify"
          }
        }
      },
      "IncomeInsightResponse": {
        "type": "object",
        "required": [
          "insightType",
          "data"
        ],
        "properties": {
          "insightType": {
            "type": "string",
            "enum": [
              "income"
            ],
            "description": "Type of insight returned"
[...]
