{
  "openapi": "3.0.3",
  "info": {
    "title": "Core",
    "description": "All included utility endpoints for Basiq partners",
    "version": "3.0.0",
    "termsOfService": "https://docs.basiq.io/en/collections/440849-privacy-terms-and-common-questions",
    "license": {
      "name": "Commercial",
      "url": "https://basiq.io"
    }
  },
  "servers": [
    {
      "url": "https://au-api.basiq.io"
    }
  ],
  "paths": {
    "/users/{userId}/insights": {
      "get": {
        "tags": ["Insights"],
        "summary": "List all Insights",
        "description": "Returns a paginated list of previously generated insights for the specified user. Supports filtering by creation date and insight type. Maximum 20 insights per page.",
        "operationId": "listUserInsights",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the user",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "0a84e628-dad7-40f4-bbc0-abeb3ddd90ea"
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "Filter parameter supporting multiple filter fields separated by commas. Supported fields: 'created' (date in YYYY-MM-DD format) and 'insightType' (account, balance, identity). Operators: gteq (>=), lteq (<=), gt (>), lt (<), eq (=), bt (between two dates). Examples: 'created.gteq('2025-06-16')', 'created.bt('2025-08-25','2025-09-02')', 'insightType.eq('account')', 'created.bt('2025-06-01','2025-08-30'),insightType.eq('balance')'",
            "schema": {
              "type": "string"
            },
            "examples": {
              "dateGteq": {
                "summary": "Date greater than or equal",
                "value": "created.gteq('2025-06-16')"
              },
              "dateBetween": {
                "summary": "Date between range",
                "value": "created.bt('2025-08-25','2025-09-02')"
              },
              "insightTypeOnly": {
                "summary": "Filter by insight type",
                "value": "insightType.eq('account')"
              },
              "combined": {
                "summary": "Combined date and type filter",
                "value": "created.bt('2025-06-01','2025-08-30'),insightType.eq('balance')"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with list of insights",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsightListResponse"
                },
                "examples": {
                  "accountInsight": {
                    "summary": "Account insight example",
                    "value": {
                      "type": "list",
                      "count": 1,
                      "size": 1,
                      "data": [
                        {
                          "type": "insight",
                          "id": "54878d1a-295b-44c3-8f1e-402e68f912fe",
                          "created": "2025-10-13T00:48:57Z",
                          "insightType": "account",
                          "data": [
                            {
                              "accountId": "2ce42fbc-37fe-4207-b962-31b744aee35c",
                              "accountNumber": {
                                "input": "10445533",
                                "match": false,
                                "confidence": 0
                              },
                              "accountType": {
                                "input": "saving",
                                "match": false,
                                "confidence": 0
                              }
                            }
                          ],
                          "links": {
                            "self": "https://au-api.basiq.io/users/0a84e628-dad7-40f4-bbc0-abeb3ddd90ea/insights/54878d1a-295b-44c3-8f1e-402e68f912fe"
                          }
                        }
                      ],
                      "links": {
                        "self": "https://au-api.basiq.io/users/0a84e628-dad7-40f4-bbc0-abeb3ddd90ea/insights"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid filter parameters or request content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "invalidDateFormat": {
                    "summary": "Invalid date format",
                    "value": {
                      "type": "list",
                      "correlationId": "e2dce626-714b-4b69-add2-f84c504be64b",
                      "data": [
                        {
                          "type": "error",
                          "code": "invalid-content",
                          "title": "Invalid request content",
                          "detail": "Invalid filter param: invalid date format for 'created' (expected YYYY-MM-DD): not-a-date"
                        }
                      ]
                    }
                  },
                  "invalidDateRange": {
                    "summary": "Invalid date range (to before from)",
                    "value": {
                      "type": "list",
                      "correlationId": "88b01510-78c3-4d76-b46e-9043b45425f0",
                      "data": [
                        {
                          "type": "error",
                          "code": "invalid-content",
                          "title": "Invalid request content",
                          "detail": "Invalid filter param: invalid dates for 'created': 'to date' is before 'from date'"
                        }
                      ]
                    }
                  },
                  "invalidInsightType": {
                    "summary": "Invalid insight type value",
                    "value": {
                      "type": "list",
                      "correlationId": "c8de1d9c-6dd5-4026-8160-5620c95f9792",
                      "data": [
                        {
                          "type": "error",
                          "code": "invalid-content",
                          "title": "Invalid request content",
                          "detail": "Invalid filter param: invalid insightType: not-supported"
                        }
                      ]
                    }
                  },
                  "unsupportedFilterField": {
                    "summary": "Unsupported filter field",
                    "value": {
                      "type": "list",
                      "correlationId": "9948dc17-4159-4999-b5d3-97fc0ac0476d",
                      "data": [
                        {
                          "type": "error",
                          "code": "invalid-content",
                          "title": "Invalid request content",
                          "detail": "Invalid filter param: unsupported filter field: foo"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "services_token": []
          }
        ]
      }
    },
    "/users/{userId}/insights/{insightId}": {
      "get": {
        "tags": ["Insights"],
        "summary": "Retrieve an Insight",
        "description": "Returns detailed information for a specific insight by ID",
        "operationId": "getInsightById",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the user",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "0a84e628-dad7-40f4-bbc0-abeb3ddd90ea"
          },
          {
            "name": "insightId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the insight (must be valid UUID format)",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "54878d1a-295b-44c3-8f1e-402e68f912fe"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with insight details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Insight"
                },
                "examples": {
                  "accountInsight": {
                    "summary": "Account insight",
                    "value": {
                      "type": "insight",
                      "id": "54878d1a-295b-44c3-8f1e-402e68f912fe",
                      "created": "2025-10-13T00:48:57Z",
                      "insightType": "account",
                      "data": [
                        {
                          "accountId": "2ce42fbc-37fe-4207-b962-31b744aee35c",
                          "accountNumber": {
                            "input": "10445533",
                            "match": false,
                            "confidence": 0
                          },
                          "accountType": {
                            "input": "saving",
                            "match": false,
                            "confidence": 0
                          }
                        }
                      ],
                      "links": {
                        "self": "https://au-api.basiq.io/users/0a84e628-dad7-40f4-bbc0-abeb3ddd90ea/insights/54878d1a-295b-44c3-8f1e-402e68f912fe"
                      }
                    }
                  },
                  "balanceInsight": {
                    "summary": "Balance insight",
                    "value": {
                      "type": "insight",
                      "id": "abc123-def456",
                      "created": "2025-06-16T11:32:42Z",
                      "insightType": "balance",
                      "data": [
                        {
                          "accountId": "account-id-1",
                          "accountNumber": {
                            "input": {
                              "min": "1",
                              "max": "2"
                            },
                            "match": true,
                            "confidence": 1
                          }
                        }
                      ],
                      "links": {
                        "self": "https://au-api.basiq.io/users/user-id/insights/abc123-def456"
                      }
                    }
                  },
                  "identityInsight": {
                    "summary": "Identity insight",
                    "value": {
                      "type": "insight",
                      "id": "xyz789-uvw012",
                      "created": "2025-06-16T11:32:42Z",
                      "insightType": "identity",
                      "data": [
                        {
                          "name": {
                            "input": "jovo stanojevic",
                            "match": true,
                            "confidence": 1
                          },
                          "phones": [
                            {
                              "input": "0641234567",
                              "match": true,
                              "confidence": 1
                            }
                          ],
                          "emails": [
                            {
                              "input": "jovo@example.com",
                              "match": false,
                              "confidence": 0
                            }
                          ],
                          "addresses": [
                            {
                              "input": "belgrade serbia",
                              "match": false,
                              "confidence": 0
                            }
                          ]
                        }
                      ],
                      "links": {
                        "self": "https://au-api.basiq.io/users/user-id/insights/xyz789-uvw012"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid insight ID format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "invalidInsightIdFormat": {
                    "summary": "Invalid insight ID format",
                    "value": {
                      "type": "list",
                      "correlationId": "cfba6dc7-2666-4807-86ca-d8058922a961",
                      "data": [
                        {
                          "type": "error",
                          "code": "invalid-content",
                          "title": "Invalid request content",
                          "detail": "Insight ID is not in valid format"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "User or insight not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "insightNotFound": {
                    "summary": "Insight not found",
                    "value": {
                      "type": "list",
                      "correlationId": "a7e7393b-ea41-49f5-a0d6-0410de2b042f",
                      "data": [
                        {
                          "type": "error",
                          "code": "resource-not-found",
                          "title": "Requested resource is not found",
                          "detail": "Requested CDR user insight does not exist."
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "services_token": []
          }
        ]
      }
    },
    "/users/{userId}/insights/account": {
      "post": {
        "tags": ["Insights"],
        "summary": "Account Insights",
        "description": "Retrieve account insights for a specific user based on account number",
        "operationId": "getAccountInsights",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "description": "The unique identifier for the user",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "60a0c24e-07c3-41a2-acdf-be8f1b7dd9f3"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["accountNumber"],
                "properties": {
                  "accountNumber": {
                    "type": "string",
                    "description": "The account number to search for insights",
                    "example": "032096658830"
                  },
                  "accountType": {
                    "type": "string",
                    "description": "The type of account to search for insights",
                    "example": "savings"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved account insights",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountInsightResponse"
                },
                "examples": {
                  "high_confidence_match": {
                    "summary": "High confidence match example",
                    "description": "Example showing high confidence scores with some matches",
                    "value": {
                      "type": "insight",
                      "id": "a2fdfa02-e2a7-461f-ab59-94e0b751f9dc",
                      "created": "2025-09-17T05:18:02Z",
                      "insightType": "account",
                      "data": [
                        {
                          "accountId": "20e91af1-f1d8-46c0-b5e5-559b2cb435b7",
                          "accountNumber": {
                            "input": "032096658830",
                            "match": true,
                            "confidence": 0
                          },
                          "accountType": {
                            "input": "savings",
                            "match": true,
                            "confidence": 0
                          }
                        },
                        {
                          "accountId": "614b5cf2-1425-481e-8706-610f08c0c7dd",
                          "accountNumber": {
                            "input": "032096658830",
                            "match": false,
                            "confidence": 0
                          },
                          "accountType": {
                            "input": "savings",
                            "match": true,
                            "confidence": 0
                          }
                        }
                      ],
                      "links": {
                        "self": "https://au-api.basiq.io/users/60a0c24e-07c3-41a2-acdf-be8f1b7dd9f3/insights/a2fdfa02-e2a7-461f-ab59-94e0b751f9dc"
                      }
                    }
                  },
                  "low_confidence_no_match": {
                    "summary": "Low confidence no match example",
                    "description": "Example showing low confidence scores with no matches",
                    "value": {
                      "type": "insight",
                      "id": "ed17a3ce-cf15-4ff2-a9e3-26b50602bd61",
                      "created": "2025-09-17T05:22:18Z",
                      "insightType": "account",
                      "data": [
                        {
                          "accountId": "20e91af1-f1d8-46c0-b5e5-559b2cb435b7",
                          "accountNumber": {
                            "input": "123",
                            "match": false,
                            "confidence": 0
                          },
                          "accountType": {
                            "input": "savings",
                            "match": true,
                            "confidence": 0
                          }
                        }
                      ],
                      "links": {
                        "self": "https://au-api.basiq.io/users/60a0c24e-07c3-41a2-acdf-be8f1b7dd9f3/insights/ed17a3ce-cf15-4ff2-a9e3-26b50602bd61"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid content format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "invalid_content": {
                    "summary": "Invalid request content",
                    "description": "Error when request body format is invalid (e.g., accountNumber as number instead of string)",
                    "value": {
                      "type": "list",
                      "correlationId": "fbeec56c-d250-494e-8826-5bc0727ec073",
                      "data": [
                        {
                          "type": "error",
                          "code": "invalid-content",
                          "title": "Invalid request content",
                          "detail": "Request body is not in valid format"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "access_denied": {
                    "summary": "Access denied",
                    "description": "Error when authentication token is invalid or expired",
                    "value": {
                      "type": "list",
                      "correlationId": "0cf1a1fe-de4a-4e01-b81e-60790a1e881b",
                      "data": [
                        {
                          "type": "error",
                          "code": "access-denied",
                          "title": "Access denied.",
                          "detail": "invalid token",
                          "source": null
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "services_token": []
          }
        ]
      }
    },
    "/users/{userId}/insights/balance": {
      "post": {
        "tags": ["Insights"],
        "summary": "Account Balance Insights",
        "description": "Retrieve balance insights for a user's accounts based on specified minimum and maximum balance criteria",
        "operationId": "getBalanceInsights",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "description": "Unique identifier for the user",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "2fc2691d-a6e5-4d1d-9748-c3b217ad76b0"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BalanceInsightRequest"
              },
              "examples": {
                "range_check": {
                  "summary": "Balance range check",
                  "description": "Check if account balance falls within a specified range",
                  "value": {
                    "balance": {
                      "min": "100",
                      "max": "1000"
                    }
                  }
                },
                "minimum_only": {
                  "summary": "Minimum balance check",
                  "description": "Check if account balance is at least a specified amount",
                  "value": {
                    "balance": {
                      "min": "500"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved balance insights",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceInsightResponse"
                },
                "examples": {
                  "balance_in_range": {
                    "summary": "Balance within range",
                    "description": "Account balance falls within the specified range",
                    "value": {
                      "type": "insight",
                      "id": "b3c4d5e6-f7g8-h9i0-j1k2-l3m4n5o6p7q8",
                      "created": "2025-09-17T10:30:00Z",
                      "insightType": "balance",
                      "data": [
                        {
                          "accountId": "account-uuid-here",
                          "accountNumber": {
                            "input": {
                              "min": "100",
                              "max": "1000"
                            },
                            "match": true,
                            "confidence": 1
                          }
                        }
                      ],
                      "links": {
                        "self": "https://au-api.basiq.io/users/2fc2691d-a6e5-4d1d-9748-c3b217ad76b0/insights/b3c4d5e6-f7g8-h9i0-j1k2-l3m4n5o6p7q8"
                      }
                    }
                  },
                  "balance_outside_range": {
                    "summary": "Balance outside range",
                    "description": "Account balance does not fall within the specified range",
                    "value": {
                      "type": "insight",
                      "id": "c4d5e6f7-g8h9-i0j1-k2l3-m4n5o6p7q8r9",
                      "created": "2025-09-17T10:35:00Z",
                      "insightType": "balance",
                      "data": [
                        {
                          "accountId": "account-uuid-here",
                          "accountNumber": {
                            "input": {
                              "min": "10000",
                              "max": "20000"
                            },
                            "match": false,
                            "confidence": 1
                          }
                        }
                      ],
                      "links": {
                        "self": "https://au-api.basiq.io/users/2fc2691d-a6e5-4d1d-9748-c3b217ad76b0/insights/c4d5e6f7-g8h9-i0j1-k2l3-m4n5o6p7q8r9"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "invalid_balance_format": {
                    "summary": "Invalid balance format",
                    "value": {
                      "type": "list",
                      "correlationId": "d5e6f7g8-h9i0-j1k2-l3m4-n5o6p7q8r9s0",
                      "data": [
                        {
                          "type": "error",
                          "code": "invalid-content",
                          "title": "Invalid request content",
                          "detail": "Balance values must be numeric strings"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "services_token": []
          }
        ]
      }
    },
    "/users/{userId}/insights/identity": {
      "post": {
        "tags": ["Insights"],
        "summary": "Identity Insights",
        "description": "Verify user identity information against their financial records. Supports verification of name, phone, email, and address.",
        "operationId": "getIdentityInsights",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "description": "Unique identifier for the user",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "60a0c24e-07c3-41a2-acdf-be8f1b7dd9f3"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IdentityInsightRequest"
              },
              "examples": {
                "full_identity": {
                  "summary": "Full identity verification",
                  "value": {
                    "name": "John Smith",
                    "phone": "+61412345678",
                    "email": "john.smith@example.com",
                    "address": "123 Main St, Sydney NSW 2000"
                  }
                },
                "name_only": {
                  "summary": "Name verification only",
                  "value": {
                    "name": "John Smith"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved identity insights",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdentityInsightResponse"
                },
                "examples": {
                  "full_match": {
                    "summary": "Full identity match",
                    "value": {
                      "type": "insight",
                      "id": "e6f7g8h9-i0j1-k2l3-m4n5-o6p7q8r9s0t1",
                      "created": "2025-09-17T11:00:00Z",
                      "insightType": "identity",
                      "data": [
                        {
                          "name": {
                            "input": "John Smith",
                            "match": true,
                            "confidence": 1
                          },
                          "phone": {
                            "input": "+61412345678",
                            "match": true,
                            "confidence": 1
                          },
                          "email": {
                            "input": "john.smith@example.com",
                            "match": true,
                            "confidence": 1
                          },
                          "address": {
                            "input": "123 Main St, Sydney NSW 2000",
                            "match": true,
                            "confidence": 0.85
                          }
                        }
                      ],
                      "links": {
                        "self": "https://au-api.basiq.io/users/60a0c24e-07c3-41a2-acdf-be8f1b7dd9f3/insights/e6f7g8h9-i0j1-k2l3-m4n5-o6p7q8r9s0t1"
                      }
                    }
                  },
                  "partial_match": {
                    "summary": "Partial identity match",
                    "value": {
                      "type": "insight",
                      "id": "f7g8h9i0-j1k2-l3m4-n5o6-p7q8r9s0t1u2",
                      "created": "2025-09-17T11:05:00Z",
                      "insightType": "identity",
                      "data": [
                        {
                          "name": {
                            "input": "John Smith",
                            "match": true,
                            "confidence": 1
                          },
                          "phone": {
                            "input": "+61499999999",
                            "match": false,
                            "confidence": 0
                          }
                        }
                      ],
                      "links": {
                        "self": "https://au-api.basiq.io/users/60a0c24e-07c3-41a2-acdf-be8f1b7dd9f3/insights/f7g8h9i0-j1k2-l3m4-n5o6-p7q8r9s0t1u2"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "services_token": []
          }
        ]
      }
    },
    "/users/{userId}/insights/income": {
      "post": {
        "tags": ["Insights"],
        "summary": "Income Insights",
        "description": "Retrieve income insights for a user based on specified minimum and maximum income range",
        "operationId": "getIncomeInsights",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "description": "Unique identifier for the user",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "60a0c24e-07c3-41a2-acdf-be8f1b7dd9f3"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IncomeInsightRequest"
              },
              "examples": {
                "income_range": {
                  "summary": "Income range verification",
                  "value": {
                    "income": {
                      "min": "1",
                      "max": "10000"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved income insights",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IncomeInsightResponse"
                },
                "examples": {
                  "income_match": {
                    "summary": "Income within range",
                    "value": {
                      "type": "insight",
                      "id": "g8h9i0j1-k2l3-m4n5-o6p7-q8r9s0t1u2v3",
                      "created": "2025-09-17T11:30:00Z",
                      "insightType": "income",
                      "data": [
                        {
                          "input": {
                            "min": "1",
                            "max": "10000"
                          },
                          "match": true,
                          "confidence": 1
                        }
                      ],
                      "links": {
                        "self": "https://au-api.basiq.io/users/60a0c24e-07c3-41a2-acdf-be8f1b7dd9f3/insights/g8h9i0j1-k2l3-m4n5-o6p7-q8r9s0t1u2v3"
                      }
                    }
                  },
                  "income_no_match": {
                    "summary": "Income outside range",
                    "value": {
                      "type": "insight",
                      "id": "h9i0j1k2-l3m4-n5o6-p7q8-r9s0t1u2v3w4",
                      "created": "2025-09-17T11:35:00Z",
                      "insightType": "income",
                      "data": [
                        {
                          "input": {
                            "min": "50000",
                            "max": "100000"
                          },
                          "match": false,
                          "confidence": 1
                        }
                      ],
                      "links": {
                        "self": "https://au-api.basiq.io/users/60a0c24e-07c3-41a2-acdf-be8f1b7dd9f3/insights/h9i0j1k2-l3m4-n5o6-p7q8-r9s0t1u2v3w4"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "invalid_income_format": {
                    "summary": "Invalid income format",
                    "value": {
                      "type": "list",
                      "correlationId": "i0j1k2l3-m4n5-o6p7-q8r9-s0t1u2v3w4x5",
                      "data": [
                        {
                          "type": "error",
                          "code": "invalid-content",
                          "title": "Invalid request content",
                          "detail": "Income values must be numeric strings"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "services_token": []
          }
        ]
      }
    },
    "/users/{userId}/insights/expense-ratio": {
      "post": {
        "tags": ["Insights"],
        "summary": "Expense Ratio Insights",
        "description": "Calculate and return the expense-to-income ratio. The endpoint uses the internal ME040 (Average Monthly Credit) calculation and returns the ratio as the closest percentage range measured in tens.",
        "operationId": "getExpenseRatioInsights",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "description": "The unique identifier for the user",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "60a0c24e-07c3-41a2-acdf-be8f1b7dd9f3"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExpenseRatioInsightRequest"
              },
              "examples": {
                "typical_expense": {
                  "summary": "Typical expense value",
                  "value": {
                    "expense": "2500"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved expense ratio insights",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExpenseRatioInsightResponse"
                },
                "examples": {
                  "below_10_percent": {
                    "summary": "Expense ratio below 10%",
                    "value": {
                      "type": "insight",
                      "id": "a2fdfa02-e2a7-461f-ab59-94e0b751f9dc",
                      "created": "2025-12-16T11:32:42Z",
                      "insightType": "expense-ratio",
                      "data": [
                        {
                          "input": {
                            "expense": "500"
                          },
                          "result": {
                            "range": "below 10%"
                          }
                        }
                      ],
                      "links": {
                        "self": "https://au-api.basiq.io/users/60a0c24e-07c3-41a2-acdf-be8f1b7dd9f3/insights/a2fdfa02-e2a7-461f-ab59-94e0b751f9dc"
                      }
                    }
                  },
                  "50_to_60_percent": {
                    "summary": "Expense ratio 50% to 60%",
                    "value": {
                      "type": "insight",
                      "id": "ed17a3ce-cf15-4ff2-a9e3-26b50602bd61",
                      "created": "2025-12-16T11:32:42Z",
                      "insightType": "expense-ratio",
                      "data": [
                        {
                          "input": {
                            "expense": "2750"
                          },
                          "result": {
                            "range": "50% to 60%"
                          }
                        }
                      ],
                      "links": {
                        "self": "https://au-api.basiq.io/users/60a0c24e-07c3-41a2-acdf-be8f1b7dd9f3/insights/ed17a3ce-cf15-4ff2-a9e3-26b50602bd61"
                      }
                    }
                  },
                  "income_exceeded": {
                    "summary": "Expenses exceed income",
                    "value": {
                      "type": "insight",
                      "id": "xyz789-uvw012-abc345",
                      "created": "2025-12-16T11:32:42Z",
                      "insightType": "expense-ratio",
                      "data": [
                        {
                          "input": {
                            "expense": "6000"
                          },
                          "result": {
                            "range": "Income Exceeded"
                          }
                        }
                      ],
                      "links": {
                        "self": "https://au-api.basiq.io/users/60a0c24e-07c3-41a2-acdf-be8f1b7dd9f3/insights/xyz789-uvw012-abc345"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "negativeExpense": {
                    "summary": "Negative expense value",
                    "value": {
                      "type": "list",
                      "correlationId": "e2dce626-714b-4b69-add2-f84c504be64b",
                      "data": [
                        {
                          "type": "error",
                          "code": "parameter-not-valid",
                          "title": "Parameter value is not valid",
                          "detail": "Parameter value is not valid",
                          "source": {
                            "parameter": "expense"
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient authorization scopes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "insufficientScopes": {
                    "summary": "Missing required scopes",
                    "value": {
                      "type": "list",
                      "correlationId": "9948dc17-4159-4999-b5d3-97fc0ac0476d",
                      "data": [
                        {
                          "type": "error",
                          "code": "access-denied",
                          "title": "Access denied",
                          "detail": "Required scopes: bank:accounts.basic:read, bank:accounts.detail:read, bank:transactions:read"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "userNotFound": {
                    "summary": "User not found",
                    "value": {
                      "type": "list",
                      "correlationId": "a7e7393b-ea41-49f5-a0d6-0410de2b042f",
                      "data": [
                        {
                          "type": "error",
                          "code": "resource-not-found",
                          "title": "Requested resource is not found",
                          "detail": "Requested user does not exist"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "services_token": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "services_token": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "InsightListResponse": {
        "type": "object",
        "required": ["type", "count", "size", "data", "links"],
        "properties": {
          "type": {
            "type": "string",
            "enum": ["list"],
            "description": "Response type indicator"
          },
          "count": {
            "type": "integer",
            "description": "Total number of insights available"
          },
          "size": {
            "type": "integer",
            "description": "Number of insights in current response"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Insight"
            },
            "description": "Array of insight objects"
          },
          "links": {
            "type": "object",
            "properties": {
              "self": {
                "type": "string",
                "format": "uri",
                "description": "Self-referencing link"
              },
              "next": {
                "type": "string",
                "format": "uri",
                "description": "Link to next page of results"
              }
            },
            "required": ["self"]
          }
        }
      },
      "Insight": {
        "type": "object",
        "required": ["type", "id", "created", "insightType", "data", "links"],
        "properties": {
          "type": {
            "type": "string",
            "enum": ["insight"],
            "description": "Resource type indicator"
          },
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the insight"
          },
          "created": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp of when the insight was created"
          },
          "insightType": {
            "type": "string",
            "enum": ["account", "balance", "identity", "income", "expense-ratio"],
            "description": "Type of insight"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Array of insight data items (structure varies by insightType)"
          },
          "links": {
            "type": "object",
            "properties": {
              "self": {
                "type": "string",
                "format": "uri",
                "description": "Self-referencing link to this insight"
              }
            },
            "required": ["self"]
          }
        }
      },
      "AccountInsightResponse": {
        "type": "object",
        "required": ["type", "id", "created", "insightType", "data", "links"],
        "properties": {
          "type": {
            "type": "string",
            "enum": ["insight"],
            "description": "Type of response object"
          },
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for this insight"
          },
          "created": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the insight was created"
          },
          "insightType": {
            "type": "string",
            "enum": ["account"],
            "description": "Type of insight"
          },
          "data": {
            "type": "array",
            "description": "Array of account verification results",
            "items": {
              "$ref": "#/components/schemas/AccountInsightDataItem"
            }
          },
          "links": {
            "type": "object",
            "properties": {
              "self": {
                "type": "string",
                "format": "uri",
                "description": "Self-referencing link to this insight"
              }
            },
            "required": ["self"]
          }
        }
      },
      "AccountInsightDataItem": {
        "type": "object",
        "required": ["accountId"],
        "properties": {
          "accountId": {
            "type": "string",
            "format": "uuid",
            "description": "The account identifier being verified"
          },
          "accountNumber": {
            "$ref": "#/components/schemas/VerificationResult"
          },
          "accountType": {
            "$ref": "#/components/schemas/VerificationResult"
          }
        }
      },
      "BalanceInsightRequest": {
        "type": "object",
        "required": ["balance"],
        "properties": {
          "balance": {
            "type": "object",
            "required": ["min"],
            "properties": {
              "min": {
                "type": "string",
                "description": "Minimum balance value as a numeric string",
                "example": "100"
              },
              "max": {
                "type": "string",
                "description": "Maximum balance value as a numeric string",
                "example": "1000"
              }
            },
            "description": "Balance range to verify"
          }
        }
      },
      "BalanceInsightResponse": {
        "type": "object",
        "required": ["type", "id", "created", "insightType", "data", "links"],
        "properties": {
          "type": {
            "type": "string",
            "enum": ["insight"],
            "description": "Type of response object"
          },
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for this insight"
          },
          "created": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the insight was created"
          },
          "insightType": {
            "type": "string",
            "enum": ["balance"],
            "description": "Type of insight"
          },
          "data": {
            "type": "array",
            "description": "Array of account balance analysis results",
            "items": {
              "$ref": "#/components/schemas/AccountBalanceData"
            }
          },
          "links": {
            "type": "object",
            "properties": {
              "self": {
                "type": "string",
                "format": "uri",
                "description": "Self-referencing link to this insight"
              }
            },
            "required": ["self"]
          }
        }
      },
      "AccountBalanceData": {
        "type": "object",
        "required": ["accountId", "accountNumber"],
        "properties": {
          "accountId": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the account"
          },
          "accountNumber": {
            "type": "object",
            "required": ["input", "match", "confidence"],
            "properties": {
              "input": {
                "type": "object",
                "required": ["min"],
                "properties": {
                  "min": {
                    "type": "string",
                    "description": "Minimum balance from request"
                  },
                  "max": {
                    "type": "string",
                    "description": "Maximum balance from request"
                  }
                }
              },
              "match": {
                "type": "boolean",
                "description": "Whether the account balance matches the criteria"
              },
              "confidence": {
                "type": "number",
                "format": "float",
                "minimum": 0,
                "maximum": 1,
                "description": "Confidence score for the match result"
              }
            }
          }
        }
      },
      "IdentityInsightRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Full name of the user",
            "example": "jared Dunn"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the user",
            "example": "+61412345678"
          },
          "email": {
            "type": "string",
            "description": "Email address of the user",
            "example": "jared@example.com"
          },
          "address": {
            "type": "string",
            "description": "Address of the user",
            "example": "123 Main St, Sydney NSW 2000"
          }
        }
      },
      "IdentityInsightResponse": {
        "type": "object",
        "required": ["type", "id", "created", "insightType", "data", "links"],
        "properties": {
          "type": {
            "type": "string",
            "enum": ["insight"],
            "description": "The type of response object"
          },
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for this insight"
          },
          "created": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the insight was created"
          },
          "insightType": {
            "type": "string",
            "enum": ["identity"],
            "description": "The type of insight"
          },
          "data": {
            "type": "array",
            "description": "Array of identity matching results",
            "items": {
              "$ref": "#/components/schemas/IdentityInsightData"
            }
          },
          "links": {
            "type": "object",
            "required": ["self"],
            "properties": {
              "self": {
                "type": "string",
                "format": "uri",
                "description": "Self-referencing link to this insight"
              }
            }
          }
        }
      },
      "IdentityInsightData": {
        "type": "object",
        "properties": {
          "name": {
            "$ref": "#/components/schemas/IdentityMatch"
          },
          "phone": {
            "$ref": "#/components/schemas/IdentityMatch"
          },
          "email": {
            "$ref": "#/components/schemas/IdentityMatch"
          },
          "address": {
            "$ref": "#/components/schemas/IdentityMatch"
          }
        }
      },
      "IdentityMatch": {
        "type": "object",
        "required": ["input", "match", "confidence"],
        "properties": {
          "input": {
            "type": "string",
            "description": "Original input value provided"
          },
          "match": {
            "type": "boolean",
            "description": "Whether the field matches the user's records"
          },
          "confidence": {
            "type": "number",
            "format": "float",
            "minimum": 0,
            "maximum": 1,
            "description": "Confidence score for the match"
          }
        }
      },
      "VerificationResult": {
        "type": "object",
        "required": ["input"],
        "properties": {
          "input": {
            "oneOf": [{ "type": "string" }, { "type": "object" }],
            "description": "The input value being verified"
          },
          "match": {
            "type": "boolean",
            "nullable": true,
            "description": "Whether the input matched the source data. Null if verification could not be completed."
          },
          "confidence": {
            "type": "number",
            "format": "float",
            "minimum": 0,
            "maximum": 1,
            "description": "Confidence score of the match (0.0 to 1.0)"
          },
          "error": {
            "type": "string",
            "description": "Error message if verification could not be completed"
          }
        }
      },
      "IncomeInsightRequest": {
        "type": "object",
        "required": ["income"],
        "properties": {
          "income": {
            "type": "object",
            "required": ["min"],
            "properties": {
              "min": {
                "type": "string",
                "description": "Minimum income value as a numeric string",
                "example": "1"
              },
              "max": {
                "type": "string",
                "description": "Maximum income value as a numeric string",
                "example": "10000"
              }
            },
            "description": "Income range to verify"
          }
        }
      },
      "IncomeInsightResponse": {
        "type": "object",
        "required": ["type", "id", "created", "insightType", "data", "links"],
        "properties": {
          "type": {
            "type": "string",
            "enum": ["insight"],
            "description": "Type of response object"
          },
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for this insight"
          },
          "created": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the insight was created"
          },
          "insightType": {
            "type": "string",
            "enum": ["income"],
            "description": "Type of insight returned"
          },
          "data": {
            "type": "array",
            "description": "Array containing income verification result",
            "items": {
              "$ref": "#/components/schemas/IncomeInsightDataItem"
            }
          },
          "links": {
            "type": "object",
            "required": ["self"],
            "properties": {
              "self": {
                "type": "string",
                "format": "uri",
                "description": "Self-referencing link to this insight"
              }
            }
          }
        }
      },
      "IncomeInsightDataItem": {
        "type": "object",
        "required": ["input", "match", "confidence"],
        "properties": {
          "input": {
            "type": "object",
            "required": ["min", "max"],
            "properties": {
              "min": {
                "type": "string",
                "description": "Minimum income value from request"
              },
              "max": {
                "type": "string",
                "description": "Maximum income value from request"
              }
            },
            "description": "Echo of the input parameters"
          },
          "match": {
            "type": "boolean",
            "description": "Whether the user's income falls within the specified range"
          },
          "confidence": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "Confidence level of the match result (0 or 1)",
            "example": 1
          }
        }
      },
      "ExpenseRatioInsightResponse": {
        "type": "object",
        "required": ["type", "id", "created", "insightType", "data", "links"],
        "properties": {
          "type": {
            "type": "string",
            "enum": ["insight"],
            "description": "Type of response object"
          },
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for this insight"
          },
          "created": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the insight was created"
          },
          "insightType": {
            "type": "string",
            "enum": ["expense-ratio"],
            "description": "Type of insight returned"
          },
          "data": {
            "type": "array",
            "description": "Array containing expense ratio result",
            "items": {
              "$ref": "#/components/schemas/ExpenseRatioInsightDataItem"
            }
          },
          "links": {
            "type": "object",
            "required": ["self"],
            "properties": {
              "self": {
                "type": "string",
                "format": "uri",
                "description": "Self-referencing link to this insight"
              }
            }
          }
        }
      },
      "ExpenseRatioInsightDataItem": {
        "type": "object",
        "required": ["input", "result"],
        "properties": {
          "input": {
            "type": "object",
            "required": ["expense"],
            "properties": {
              "expense": {
                "type": "string",
                "description": "Echo of the expense value from request"
              }
            },
            "description": "Echo of the input parameters"
          },
          "result": {
            "type": "object",
            "required": ["range"],
            "properties": {
              "range": {
                "type": "string",
                "enum": [
                  "below 10%",
                  "10% to 20%",
                  "20% to 30%",
                  "30% to 40%",
                  "40% to 50%",
                  "50% to 60%",
                  "60% to 70%",
                  "70% to 80%",
                  "80% to 90%",
                  "90% to 100%",
                  "Income Exceeded"
                ],
                "description": "Expense-to-income ratio range. Calculated as: expense / ME040 (Average Monthly Credit). 'Income Exceeded' indicates ratio greater than 100%."
              }
            },
            "description": "Result containing the expense ratio range"
          }
        }
      },
      "ExpenseRatioInsightRequest": {
        "type": "object",
        "required": ["expense"],
        "properties": {
          "expense": {
            "type": "string",
            "description": "The expense value to calculate the ratio against income (ME040 Average Monthly Credit)",
            "example": "2500"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "required": ["type", "correlationId", "data"],
        "properties": {
          "type": {
            "type": "string",
            "enum": ["list"],
            "description": "Response type for error responses",
            "example": "list"
          },
          "correlationId": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for tracking this request",
            "example": "0cf1a1fe-de4a-4e01-b81e-60790a1e881b"
          },
          "data": {
            "type": "array",
            "description": "Array containing error details",
            "items": {
              "$ref": "#/components/schemas/ErrorDetail"
            }
          }
        }
      },
      "ErrorDetail": {
        "type": "object",
        "required": ["type", "code", "title", "detail"],
        "properties": {
          "type": {
            "type": "string",
            "enum": ["error"],
            "description": "Type of data object",
            "example": "error"
          },
          "code": {
            "type": "string",
            "description": "Error code identifier"
          },
          "title": {
            "type": "string",
            "description": "Human-readable error title"
          },
          "detail": {
            "type": "string",
            "description": "Detailed error message"
          },
          "source": {
            "type": "object",
            "nullable": true,
            "properties": {
              "parameter": {
                "type": "string",
                "description": "The parameter that caused the error"
              }
            },
            "description": "Source of the error"
          }
        }
      }
    }
  }
}
