{
  "openapi": "3.0.3",
  "info": {
    "title": "Core",
    "description": "All included utility endpoints for Basiq partners",
    "version": "3.0.0",
    "termsOfService": "https://docs.basiq.io/en/collections/440849-privacy-terms-and-common-questions",
    "license": {
      "name": "Commercial",
      "url": "https://basiq.io"
    }
  },
  "servers": [
    {
      "url": "https://au-api.basiq.io"
    }
  ],
  "paths": {
    "/users/{userId}/insights/account": {
      "post": {
        "tags": [
                    "Insights"
                ],
        "summary": "Get Account Insights",
        "description": "Retrieve account insights for a specific user based on account number",
        "operationId": "getAccountInsights",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "description": "The unique identifier for the user",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "60a0c24e-07c3-41a2-acdf-be8f1b7dd9f3"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "accountNumber"
                ],
                "properties": {
                  "accountNumber": {
                    "type": "string",
                    "description": "The account number to search for insights",
                    "example": "032096658830"
                  },
                  "accountType": {
                    "type": "string",
                    "description": "The type of account to search for insights",
                    "example": "savings"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved account insights",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountInsightResponse"
                },
                "examples": {
                  "high_confidence_match": {
                    "summary": "High confidence match example",
                    "description": "Example showing high confidence scores with some matches",
                    "value": {
                      "type": "insight",
                      "id": "a2fdfa02-e2a7-461f-ab59-94e0b751f9dc",
                      "created": "2025-09-17T05:18:02Z",
                      "insightType": "account",
                      "data": [
                        {
                          "accountId": "20e91af1-f1d8-46c0-b5e5-559b2cb435b7",
                          "accountNumber": {
                            "input": "032096658830",
                            "match": true,
                            "confidence": 0.9
                          },
                          "accountType": {
                            "input": "savings",
                            "match": true,
                            "confidence": 0.8
                          }
                        },
                        {
                          "accountId": "614b5cf2-1425-481e-8706-610f08c0c7dd",
                          "accountNumber": {
                            "input": "032096658830",
                            "match": false,
                            "confidence": 0.6
                          },
                          "accountType": {
                            "input": "savings",
                            "match": true,
                            "confidence": 0.7
                          }
                        }
                      ],
                      "links": {
                        "self": "https://au-api.basiq.io/users/60a0c24e-07c3-41a2-acdf-be8f1b7dd9f3/insights/a2fdfa02-e2a7-461f-ab59-94e0b751f9dc"
                      }
                    }
                  },
                  "low_confidence_no_match": {
                    "summary": "Low confidence no match example",
                    "description": "Example showing low confidence scores with no matches",
                    "value": {
                      "type": "insight",
                      "id": "ed17a3ce-cf15-4ff2-a9e3-26b50602bd61",
                      "created": "2025-09-17T05:22:18Z",
                      "insightType": "account",
                      "data": [
                        {
                          "accountId": "20e91af1-f1d8-46c0-b5e5-559b2cb435b7",
                          "accountNumber": {
                            "input": "032096658830",
                            "match": false,
                            "confidence": 0.3
                          },
                          "accountType": {
                            "input": "savings",
                            "match": false,
                            "confidence": 0.1
                          }
                        },
                        {
                          "accountId": "614b5cf2-1425-481e-8706-610f08c0c7dd",
                          "accountNumber": {
                            "input": "032096658830",
                            "match": false,
                            "confidence": 0.2
                          },
                          "accountType": {
                            "input": "savings",
                            "match": false,
                            "confidence": 0.2
                          }
                        },
                        {
                          "accountId": "88c781ff-104d-4834-bb36-e9428f508017",
                          "accountNumber": {
                            "input": "032096658830",
                            "match": false,
                            "confidence": 0.3
                          },
                          "accountType": {
                            "input": "savings",
                            "match": false,
                            "confidence": 0.4
                          }
                        }
                      ],
                      "links": {
                        "self": "https://au-api.basiq.io/users/60a0c24e-07c3-41a2-acdf-be8f1b7dd9f3/insights/ed17a3ce-cf15-4ff2-a9e3-26b50602bd61"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "invalid_content": {
                    "summary": "Invalid request content",
                    "description": "Error when request body format is invalid (e.g., accountNumber as number instead of string)",
                    "value": {
                      "type": "list",
                      "correlationId": "fbeec56c-d250-494e-8826-5bc0727ec073",
                      "data": [
                        {
                          "type": "error",
                          "code": "invalid-content",
                          "title": "Invalid request content",
                          "detail": "Request body is not in valid format"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "access_denied": {
                    "summary": "Access denied",
                    "description": "Error when authentication token is invalid or expired",
                    "value": {
                      "type": "list",
                      "correlationId": "0cf1a1fe-de4a-4e01-b81e-60790a1e881b",
                      "data": [
                        {
                          "type": "error",
                          "code": "access-denied",
                          "title": "Access denied.",
                          "detail": "invalid token",
                          "source": null
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "services_token": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "services_token": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "AccountInsightResponse": {
        "type": "object",
        "required": [
          "type",
          "id",
          "created",
          "insightType",
          "data",
          "links"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "insight"
            ],
            "description": "The type of response object",
            "example": "insight"
          },
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for this insight",
            "example": "a2fdfa02-e2a7-461f-ab59-94e0b751f9dc"
          },
          "created": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the insight was created",
            "example": "2025-09-17T05:18:02Z"
          },
          "insightType": {
            "type": "string",
            "enum": [
              "account"
            ],
            "description": "The type of insight",
            "example": "account"
          },
          "data": {
            "type": "array",
            "description": "Array of account insight data",
            "items": {
              "$ref": "#/components/schemas/AccountInsightData"
            }
          },
          "links": {
            "type": "object",
            "required": [
              "self"
            ],
            "properties": {
              "self": {
                "type": "string",
                "format": "uri",
                "description": "Self-referencing link to this insight",
                "example": "https://au-api.basiq.io/users/60a0c24e-07c3-41a2-acdf-be8f1b7dd9f3/insights/a2fdfa02-e2a7-461f-ab59-94e0b751f9dc"
              }
            }
          }
        }
      },
      "AccountInsightData": {
        "type": "object",
        "required": [
          "accountId",
          "accountNumber"
        ],
        "properties": {
          "accountId": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the account",
            "example": "20e91af1-f1d8-46c0-b5e5-559b2cb435b7"
          },
          "accountNumber": {
            "$ref": "#/components/schemas/AccountNumberMatch"
          },
          "accountType": {
            "$ref": "#/components/schemas/AccountTypeMatch"
          }
        }
      },
      "AccountNumberMatch": {
        "type": "object",
        "required": [
          "input",
          "match",
          "confidence"
        ],
        "properties": {
          "input": {
            "type": "string",
            "description": "The original account number input",
            "example": "032096658830"
          },
          "match": {
            "type": "boolean",
            "description": "Whether the account number matches",
            "example": false
          },
          "confidence": {
            "type": "number",
            "format": "float",
            "minimum": 0,
            "maximum": 1,
            "description": "Confidence score for the match (0.0 to 1.0)",
            "example": 0.3
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "required": [
          "type",
          "correlationId",
          "data"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "list"
            ],
            "description": "Response type for error responses",
            "example": "list"
          },
          "correlationId": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for tracking this request",
            "example": "0cf1a1fe-de4a-4e01-b81e-60790a1e881b"
          },
          "data": {
            "type": "array",
            "description": "Array containing error details",
            "items": {
              "$ref": "#/components/schemas/ErrorDetail"
            }
          }
        }
      },
      "ErrorDetail": {
        "type": "object",
        "required": [
          "type",
          "code",
          "title",
          "detail"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "error"
            ],
            "description": "Type of data object",
            "example": "error"
          },
          "code": {
            "type": "string",
            "description": "Error code identifier",
            "example": "access-denied"
          },
          "title": {
            "type": "string",
            "description": "Human-readable error title",
            "example": "Access denied."
          },
          "detail": {
            "type": "string",
            "description": "Detailed error message",
            "example": "invalid token"
          },
          "source": {
            "type": "string",
            "nullable": true,
            "description": "Source of the error (optional)",
            "example": null
          }
        }
      },
      "AccountTypeMatch": {
        "type": "object",
        "required": [
          "input",
          "match",
          "confidence"
        ],
        "properties": {
          "input": {
            "type": "string",
            "description": "The original account type input",
            "example": "savings"
          },
          "match": {
            "type": "boolean",
            "description": "Whether the account type matches",
            "example": false
          },
          "confidence": {
            "type": "number",
            "format": "float",
            "minimum": 0,
            "maximum": 1,
            "description": "Confidence score for the match (0.0 to 1.0)",
            "example": 0.4
          }
        }
      }
    }
  }
}