{
  "openapi": "3.0.1",
  "info": {
    "title": "Platform",
    "description": "All included utility endpoints for Basiq partners",
    "version": "3.0.0",
    "termsOfService": "https://docs.basiq.io/en/collections/440849-privacy-terms-and-common-questions",
    "license": {
      "name": "Commercial",
      "url": "https://basiq.io"
    }
  },
  "servers": [
    {
      "url": "https://au-api.basiq.io"
    }
  ],
  "paths": {
    "/users/{userId}/auth_link": {
      "post": {
        "tags": [
          "AuthLinks"
        ],
        "summary": "Create an auth_link",
        "description": "Create a new auth_link object by making a POST request to the auth_link endpoint. The new auth_link will effectively delete previous auth_link for that user, rendering the previous URL(s) invalid.\n\nThe 'mobile' attribute is used for 2FA SMS verification and is conditionally required. If it is not specified, we will look up the mobile on the user object; if that is not specified either, you will get an error.  If both are specified, the mobile number on the auth_link will take precedence.",
        "operationId": "postAuthLink",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "mobile": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "201": {
            "description": "Returns a created auth_link resource, if the operation succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "mobile",
                    "type",
                    "userId",
                    "expiresAt"
                  ],
                  "type": "object",
                  "properties": {
                    "mobile": {
                      "type": "string",
                      "description": "A user's mobile phone, used as for authentication.",
                      "example": 61410000000
                    },
                    "type": {
                      "type": "string",
                      "description": "Type of the response, always \"auth_link\".",
                      "example": "auth_link"
                    },
                    "userId": {
                      "type": "string",
                      "description": "A string that uniquely identifies the user.",
                      "example": "ec4ea48d"
                    },
                    "expiresAt": {
                      "type": "string",
                      "description": "The date time of auth link expiry.",
                      "example": "2019-11-21T04:08:50Z"
                    },
                    "links": {
                      "required": [
                        "public",
                        "self"
                      ],
                      "type": "object",
                      "properties": {
                        "public": {
                          "type": "string",
                          "description": "Public URL of auth link.",
                          "example": "https://connect.basiq.io/63448be4"
                        },
                        "self": {
                          "type": "string",
                          "description": "URL of the resource",
                          "example": "/users/ec4ea48d/auth_link"
                        }
                      },
                      "x-readme-ref-name": "AuthLinkLinks"
                    }
                  },
                  "x-readme-ref-name": "AuthLinksPostResponseResource"
                }
              }
            }
          },
          "400": {
            "description": "Returns error that server cannot or will not process the request due to something that is perceived to be a client error",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "correlationId",
                    "data",
                    "type"
                  ],
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Always \"list\".",
                      "example": "list"
                    },
                    "correlationId": {
                      "type": "string",
                      "description": "Unique identifier for this particular occurrence of the problem.",
                      "example": "ac5ah5i"
                    },
                    "data": {
                      "type": "array",
                      "description": "Error data.",
                      "items": {
                        "required": [
                          "code",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "Type of the response, always \"error\"",
                            "example": "error"
                          },
                          "title": {
                            "type": "string",
                            "description": "Title of the error",
                            "example": "Parameter not valid."
                          },
                          "code": {
                            "type": "string",
                            "description": "Application-specific error code, expressed as a string value.",
                            "example": "parameter-not-valid",
                            "enum": [
                              "parameter-not-supplied",
                              "parameter-not-valid",
                              "unsupported-accept",
                              "invalid-content",
                              "institution-not-supported",
                              "invalid-credentials"
                            ]
                          },
                          "detail": {
                            "type": "string",
                            "description": "Human-readable explanation specific to this occurrence of the problem.",
                            "example": "ID value is not valid."
                          },
                          "source": {
                            "title": "Source",
                            "type": "object",
                            "properties": {
                              "parameter": {
                                "type": "string",
                                "description": "String indicating which URI query parameter caused the error.",
                                "example": "id"
                              }
                            },
                            "description": "An object containing references to the source of the error.",
                            "x-readme-ref-name": "Source"
                          }
                        }
                      }
                    }
                  },
                  "x-readme-ref-name": "BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Error status response code indicates that the request has not been applied because it lacks valid authentication credentials for the target resource.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "correlationId",
                    "data",
                    "type"
                  ],
                  "type": "object",
                  "properties": {
                    "correlationId": {
                      "type": "string",
                      "description": "Unique identifier for this particular occurrence of the problem.",
                      "example": "ac5ah5i"
                    },
                    "data": {
                      "type": "array",
                      "description": "Error data.",
                      "items": {
                        "required": [
                          "code",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Application-specific error code, expressed as a string value.",
                            "example": "unauthorized-access",
                            "enum": [
                              "unauthorized-access",
                              "invalid-authorization-token"
                            ]
                          },
                          "detail": {
                            "type": "string",
                            "description": "Human-readable explanation specific to this occurrence of the problem.",
                            "example": "You are not authorized to access this resource"
                          },
                          "title": {
                            "type": "string",
                            "description": "Title of the error",
                            "example": "Unauthorized Access"
                          },
                          "type": {
                            "type": "string",
                            "description": "Type of the response, always \"error\"",
                            "example": "error"
                          }
                        }
                      }
                    },
                    "type": {
                      "type": "string",
                      "description": "Always \"list\".",
                      "example": "list"
                    }
                  },
                  "x-readme-ref-name": "UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Error that access is forbidden and tied to the application logic, such as insufficient rights to a resource.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "correlationId",
                    "data",
                    "type"
                  ],
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Always \"list\".",
                      "example": "list"
                    },
                    "correlationId": {
                      "type": "string",
                      "description": "Unique identifier for this particular occurrence of the problem.",
                      "example": "ac5ah5i"
                    },
                    "data": {
                      "type": "array",
                      "description": "Error data.",
                      "items": {
                        "required": [
                          "code",
                          "source",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "Type of the response, always \"error\"",
                            "example": "error"
                          },
                          "title": {
                            "type": "string",
                            "description": "Title of the error",
                            "example": "Forbidden Access"
                          },
                          "code": {
                            "type": "string",
                            "description": "Application-specific error code, expressed as a string value.",
                            "example": "forbidden-access",
                            "enum": [
                              "forbidden-access",
                              "no-production-access",
                              "access-denied"
                            ]
                          },
                          "detail": {
                            "type": "string",
                            "description": "Human-readable explanation specific to this occurrence of the problem.",
                            "example": "Access to this resource is forbidden."
                          },
                          "source": {
                            "title": "Source",
                            "type": "object",
                            "properties": {
                              "parameter": {
                                "type": "string",
                                "description": "String indicating which URI query parameter caused the error.",
                                "example": "id"
                              }
                            },
                            "description": "An object containing references to the source of the error.",
                            "x-readme-ref-name": "Source"
                          }
                        }
                      }
                    }
                  },
                  "x-readme-ref-name": "ForbiddenAccessError"
                }
              }
            }
          },
          "404": {
            "description": "Returns error indicating that server can't find requested resource.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "correlationId",
                    "data",
                    "type"
                  ],
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Always \"list\".",
                      "example": "list"
                    },
                    "correlationId": {
                      "type": "string",
                      "description": "Unique identifier for this particular occurrence of the problem.",
                      "example": "ac5ah5i"
                    },
                    "data": {
                      "type": "array",
                      "description": "Error data.",
                      "items": {
                        "required": [
                          "code",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Application-specific error code, expressed as a string value.",
                            "example": "resource-not-found",
                            "enum": [
                              "resource-not-found"
                            ]
                          },
                          "detail": {
                            "type": "string",
                            "description": "Human-readable explanation specific to this occurrence of the problem.",
                            "example": "Resource not found."
                          },
                          "title": {
                            "type": "string",
                            "description": "Title of the error",
                            "example": "Requested resource is not found."
                          },
                          "type": {
                            "type": "string",
                            "description": "Type of the response, always \"error\"",
                            "example": "error"
                          }
                        }
                      }
                    }
                  },
                  "x-readme-ref-name": "NotFoundError"
                }
              }
            }
          },
          "500": {
            "description": "Returns error response code indicates that the server encountered an unexpected condition that prevented it from fulfilling the request.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "correlationId",
                    "data",
                    "type"
                  ],
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Always \"list\".",
                      "example": "list"
                    },
                    "correlationId": {
                      "type": "string",
                      "description": "Unique identifier for this particular occurrence of the problem.",
                      "example": "ac5ah5i"
                    },
                    "data": {
                      "type": "array",
                      "description": "Error data.",
                      "items": {
                        "required": [
                          "code",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Application-specific error code, expressed as a string value.",
                            "example": "internal-server-error",
                            "enum": [
                              "internal-server-error"
                            ]
                          },
                          "detail": {
                            "type": "string",
                            "description": "Human-readable explanation specific to this occurrence of the problem.",
                            "example": "Internal Server error. Contact support."
                          },
                          "title": {
                            "type": "string",
                            "description": "Title of the error",
                            "example": "Internal Server error."
                          },
                          "type": {
                            "type": "string",
                            "description": "Type of the response, always \"error\"",
                            "example": "error"
                          }
                        }
                      }
                    }
                  },
                  "x-readme-ref-name": "InternalServerError"
                }
              }
            }
          }
        },
        "security": [
          {
            "services_token": []
          }
        ]
      },
      "get": {
        "tags": [
          "AuthLinks"
        ],
        "summary": "Retrieve an auth_link",
        "description": "Returns the latest/last auth_link generated for the specified user. Returns an error otherwise.",
        "operationId": "getAuthLink",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The identifier of the user.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns details of a connection.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "id",
                    "mobile",
                    "type",
                    "expiresAt",
                    "userId"
                  ],
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Uniquely identifies the auth link.",
                      "example": "63448be4"
                    },
                    "mobile": {
                      "type": "string",
                      "description": "A user's mobile phone, used as for authentication.",
                      "example": 61410000000
                    },
                    "type": {
                      "type": "string",
                      "description": "Type of the response, always \"auth_link\".",
                      "example": "auth_link"
                    },
                    "userId": {
                      "type": "string",
                      "description": "A string that uniquely identifies the user.",
                      "example": "ec4ea48d"
                    },
                    "expiresAt": {
                      "type": "string",
                      "description": "The date time of auth link expiry.",
                      "example": "2019-11-21T04:08:50Z"
                    },
                    "links": {
                      "required": [
                        "public",
                        "self"
                      ],
                      "type": "object",
                      "properties": {
                        "public": {
                          "type": "string",
                          "description": "Public URL of auth link.",
                          "example": "https://connect.basiq.io/63448be4"
                        },
                        "self": {
                          "type": "string",
                          "description": "URL of the resource",
                          "example": "/users/ec4ea48d/auth_link"
                        }
                      },
                      "x-readme-ref-name": "AuthLinkLinks"
                    }
                  },
                  "x-readme-ref-name": "AuthLinksResponseResource"
                }
              }
            }
          },
          "400": {
            "description": "Returns error that server cannot or will not process the request due to something that is perceived to be a client error",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "correlationId",
                    "data",
                    "type"
                  ],
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Always \"list\".",
                      "example": "list"
                    },
                    "correlationId": {
                      "type": "string",
                      "description": "Unique identifier for this particular occurrence of the problem.",
                      "example": "ac5ah5i"
                    },
                    "data": {
                      "type": "array",
                      "description": "Error data.",
                      "items": {
                        "required": [
                          "code",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "Type of the response, always \"error\"",
                            "example": "error"
                          },
                          "title": {
                            "type": "string",
                            "description": "Title of the error",
                            "example": "Parameter not valid."
                          },
                          "code": {
                            "type": "string",
                            "description": "Application-specific error code, expressed as a string value.",
                            "example": "parameter-not-valid",
                            "enum": [
                              "parameter-not-supplied",
                              "parameter-not-valid",
                              "unsupported-accept",
                              "invalid-content",
                              "institution-not-supported",
                              "invalid-credentials"
                            ]
                          },
                          "detail": {
                            "type": "string",
                            "description": "Human-readable explanation specific to this occurrence of the problem.",
                            "example": "ID value is not valid."
                          },
                          "source": {
                            "title": "Source",
                            "type": "object",
                            "properties": {
                              "parameter": {
                                "type": "string",
                                "description": "String indicating which URI query parameter caused the error.",
                                "example": "id"
                              }
                            },
                            "description": "An object containing references to the source of the error.",
                            "x-readme-ref-name": "Source"
                          }
                        }
                      }
                    }
                  },
                  "x-readme-ref-name": "BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Error status response code indicates that the request has not been applied because it lacks valid authentication credentials for the target resource.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "correlationId",
                    "data",
                    "type"
                  ],
                  "type": "object",
                  "properties": {
                    "correlationId": {
                      "type": "string",
                      "description": "Unique identifier for this particular occurrence of the problem.",
                      "example": "ac5ah5i"
                    },
                    "data": {
                      "type": "array",
                      "description": "Error data.",
                      "items": {
                        "required": [
                          "code",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Application-specific error code, expressed as a string value.",
                            "example": "unauthorized-access",
                            "enum": [
                              "unauthorized-access",
                              "invalid-authorization-token"
                            ]
                          },
                          "detail": {
                            "type": "string",
                            "description": "Human-readable explanation specific to this occurrence of the problem.",
                            "example": "You are not authorized to access this resource"
                          },
                          "title": {
                            "type": "string",
                            "description": "Title of the error",
                            "example": "Unauthorized Access"
                          },
                          "type": {
                            "type": "string",
                            "description": "Type of the response, always \"error\"",
                            "example": "error"
                          }
                        }
                      }
                    },
                    "type": {
                      "type": "string",
                      "description": "Always \"list\".",
                      "example": "list"
                    }
                  },
                  "x-readme-ref-name": "UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Error that access is forbidden and tied to the application logic, such as insufficient rights to a resource.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "correlationId",
                    "data",
                    "type"
                  ],
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Always \"list\".",
                      "example": "list"
                    },
                    "correlationId": {
                      "type": "string",
                      "description": "Unique identifier for this particular occurrence of the problem.",
                      "example": "ac5ah5i"
                    },
                    "data": {
                      "type": "array",
                      "description": "Error data.",
                      "items": {
                        "required": [
                          "code",
                          "source",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "Type of the response, always \"error\"",
                            "example": "error"
                          },
                          "title": {
                            "type": "string",
                            "description": "Title of the error",
                            "example": "Forbidden Access"
                          },
                          "code": {
                            "type": "string",
                            "description": "Application-specific error code, expressed as a string value.",
                            "example": "forbidden-access",
                            "enum": [
                              "forbidden-access",
                              "no-production-access",
                              "access-denied"
                            ]
                          },
                          "detail": {
                            "type": "string",
                            "description": "Human-readable explanation specific to this occurrence of the problem.",
                            "example": "Access to this resource is forbidden."
                          },
                          "source": {
                            "title": "Source",
                            "type": "object",
                            "properties": {
                              "parameter": {
                                "type": "string",
                                "description": "String indicating which URI query parameter caused the error.",
                                "example": "id"
                              }
                            },
                            "description": "An object containing references to the source of the error.",
                            "x-readme-ref-name": "Source"
                          }
                        }
                      }
                    }
                  },
                  "x-readme-ref-name": "ForbiddenAccessError"
                }
              }
            }
          },
          "404": {
            "description": "Returns error indicating that server can't find requested resource.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "correlationId",
                    "data",
                    "type"
                  ],
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Always \"list\".",
                      "example": "list"
                    },
                    "correlationId": {
                      "type": "string",
                      "description": "Unique identifier for this particular occurrence of the problem.",
                      "example": "ac5ah5i"
                    },
                    "data": {
                      "type": "array",
                      "description": "Error data.",
                      "items": {
                        "required": [
                          "code",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Application-specific error code, expressed as a string value.",
                            "example": "resource-not-found",
                            "enum": [
                              "resource-not-found"
                            ]
                          },
                          "detail": {
                            "type": "string",
                            "description": "Human-readable explanation specific to this occurrence of the problem.",
                            "example": "Resource not found."
                          },
                          "title": {
                            "type": "string",
                            "description": "Title of the error",
                            "example": "Requested resource is not found."
                          },
                          "type": {
                            "type": "string",
                            "description": "Type of the response, always \"error\"",
                            "example": "error"
                          }
                        }
                      }
                    }
                  },
                  "x-readme-ref-name": "NotFoundError"
                }
              }
            }
          },
          "410": {
            "description": "Returns error indicating that access to the target resource is no longer available at the origin server and that this condition is likely to be permanent.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "correlationId",
                    "data",
                    "type"
                  ],
                  "type": "object",
                  "properties": {
                    "correlationId": {
                      "type": "string",
                      "description": "Unique identifier for this particular occurrence of the problem.",
                      "example": "ac5ah5i"
                    },
                    "data": {
                      "type": "array",
                      "description": "Error data.",
                      "items": {
                        "required": [
                          "code",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Application-specific error code, expressed as a string value.",
                            "example": "resource-no-longer-available",
                            "enum": [
                              "resource-no-longer-available"
                            ]
                          },
                          "detail": {
                            "type": "string",
                            "description": "Human-readable explanation specific to this occurrence of the problem."
                          },
                          "title": {
                            "type": "string",
                            "description": "Title of the error"
                          },
                          "type": {
                            "type": "string",
                            "description": "Type of the response, always \"error\"",
                            "example": "error"
                          }
                        }
                      }
                    },
                    "type": {
                      "type": "string",
                      "description": "Always \"list\".",
                      "example": "list"
                    }
                  },
                  "x-readme-ref-name": "GoneError"
                }
              }
            }
          },
          "500": {
            "description": "Returns error response code indicates that the server encountered an unexpected condition that prevented it from fulfilling the request.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "correlationId",
                    "data",
                    "type"
                  ],
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Always \"list\".",
                      "example": "list"
                    },
                    "correlationId": {
                      "type": "string",
                      "description": "Unique identifier for this particular occurrence of the problem.",
                      "example": "ac5ah5i"
                    },
                    "data": {
                      "type": "array",
                      "description": "Error data.",
                      "items": {
                        "required": [
                          "code",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Application-specific error code, expressed as a string value.",
                            "example": "internal-server-error",
                            "enum": [
                              "internal-server-error"
                            ]
                          },
                          "detail": {
                            "type": "string",
                            "description": "Human-readable explanation specific to this occurrence of the problem.",
                            "example": "Internal Server error. Contact support."
                          },
                          "title": {
                            "type": "string",
                            "description": "Title of the error",
                            "example": "Internal Server error."
                          },
                          "type": {
                            "type": "string",
                            "description": "Type of the response, always \"error\"",
                            "example": "error"
                          }
                        }
                      }
                    }
                  },
                  "x-readme-ref-name": "InternalServerError"
                }
              }
            }
          },
          "503": {
            "description": "Returns error response code indicates that the server is not ready to handle the request.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "correlationId",
                    "data",
                    "type"
                  ],
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Always \"list\".",
                      "example": "list"
                    },
                    "correlationId": {
                      "type": "string",
                      "description": "Unique identifier for this particular occurrence of the problem.",
                      "example": "ac5ah5i"
                    },
                    "data": {
                      "type": "array",
                      "description": "Error data.",
                      "items": {
                        "required": [
                          "code",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "object",
                            "description": "Application-specific error code, expressed as a string value.",
                            "example": "service-unavailable"
                          },
                          "detail": {
                            "type": "string",
                            "description": "Human-readable explanation specific to this occurrence of the problem.",
                            "example": "Service Unavailable. Try again later."
                          },
                          "title": {
                            "type": "string",
                            "description": "Title of the error",
                            "example": "Service Unavailable"
                          },
                          "type": {
                            "type": "string",
                            "description": "Type of the response, always \"error\"",
                            "example": "error"
                          }
                        }
                      }
                    }
                  },
                  "x-readme-ref-name": "StatusServiceUnavailableError"
                }
              }
            }
          }
        },
        "security": [
          {
            "services_token": []
          }
        ]
      },
      "delete": {
        "tags": [
          "AuthLinks"
        ],
        "summary": "Delete an auth_link",
        "description": "<blockquote>Note that this action cannot be undone.</blockquote>\n\n<blockquote>The auth_link is a URL that directs a User to Basiq's hosted consent workflow to link banks and securely share data. When the user selects 'I have disclosed all my accounts' the auth_link is automatically deleted.</blockquote>\n\nReturns an empty body if the delete succeeded. Otherwise, this call returns an error in the event of a failure.",
        "operationId": "deleteAuthLink",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The identifier of the user.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Returns an empty body if the delete succeeded.",
            "content": {}
          },
          "400": {
            "description": "Returns error that server cannot or will not process the request due to something that is perceived to be a client error",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "correlationId",
                    "data",
                    "type"
                  ],
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Always \"list\".",
                      "example": "list"
                    },
                    "correlationId": {
                      "type": "string",
                      "description": "Unique identifier for this particular occurrence of the problem.",
                      "example": "ac5ah5i"
                    },
                    "data": {
                      "type": "array",
                      "description": "Error data.",
                      "items": {
                        "required": [
                          "code",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "Type of the response, always \"error\"",
                            "example": "error"
                          },
                          "title": {
                            "type": "string",
                            "description": "Title of the error",
                            "example": "Parameter not valid."
                          },
                          "code": {
                            "type": "string",
                            "description": "Application-specific error code, expressed as a string value.",
                            "example": "parameter-not-valid",
                            "enum": [
                              "parameter-not-supplied",
                              "parameter-not-valid",
                              "unsupported-accept",
                              "invalid-content",
                              "institution-not-supported",
                              "invalid-credentials"
                            ]
                          },
                          "detail": {
                            "type": "string",
                            "description": "Human-readable explanation specific to this occurrence of the problem.",
                            "example": "ID value is not valid."
                          },
                          "source": {
                            "title": "Source",
                            "type": "object",
                            "properties": {
                              "parameter": {
                                "type": "string",
                                "description": "String indicating which URI query parameter caused the error.",
                                "example": "id"
                              }
                            },
                            "description": "An object containing references to the source of the error.",
                            "x-readme-ref-name": "Source"
                          }
                        }
                      }
                    }
                  },
                  "x-readme-ref-name": "BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Error status response code indicates that the request has not been applied because it lacks valid authentication credentials for the target resource.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "correlationId",
                    "data",
                    "type"
                  ],
                  "type": "object",
                  "properties": {
                    "correlationId": {
                      "type": "string",
                      "description": "Unique identifier for this particular occurrence of the problem.",
                      "example": "ac5ah5i"
                    },
                    "data": {
                      "type": "array",
                      "description": "Error data.",
                      "items": {
                        "required": [
                          "code",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Application-specific error code, expressed as a string value.",
                            "example": "unauthorized-access",
                            "enum": [
                              "unauthorized-access",
                              "invalid-authorization-token"
                            ]
                          },
                          "detail": {
                            "type": "string",
                            "description": "Human-readable explanation specific to this occurrence of the problem.",
                            "example": "You are not authorized to access this resource"
                          },
                          "title": {
                            "type": "string",
                            "description": "Title of the error",
                            "example": "Unauthorized Access"
                          },
                          "type": {
                            "type": "string",
                            "description": "Type of the response, always \"error\"",
                            "example": "error"
                          }
                        }
                      }
                    },
                    "type": {
                      "type": "string",
                      "description": "Always \"list\".",
                      "example": "list"
                    }
                  },
                  "x-readme-ref-name": "UnauthorizedError"
                }
              }
            }
          },
          "404": {
            "description": "Returns error indicating that server can't find requested resource.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "correlationId",
                    "data",
                    "type"
                  ],
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Always \"list\".",
                      "example": "list"
                    },
                    "correlationId": {
                      "type": "string",
                      "description": "Unique identifier for this particular occurrence of the problem.",
                      "example": "ac5ah5i"
                    },
                    "data": {
                      "type": "array",
                      "description": "Error data.",
                      "items": {
                        "required": [
                          "code",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Application-specific error code, expressed as a string value.",
                            "example": "resource-not-found",
                            "enum": [
                              "resource-not-found"
                            ]
                          },
                          "detail": {
                            "type": "string",
                            "description": "Human-readable explanation specific to this occurrence of the problem.",
                            "example": "Resource not found."
                          },
                          "title": {
                            "type": "string",
                            "description": "Title of the error",
                            "example": "Requested resource is not found."
                          },
                          "type": {
                            "type": "string",
                            "description": "Type of the response, always \"error\"",
                            "example": "error"
                          }
                        }
                      }
                    }
                  },
                  "x-readme-ref-name": "NotFoundError"
                }
              }
            }
          },
          "500": {
            "description": "Returns error response code indicates that the server encountered an unexpected condition that prevented it from fulfilling the request.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "correlationId",
                    "data",
                    "type"
                  ],
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Always \"list\".",
                      "example": "list"
                    },
                    "correlationId": {
                      "type": "string",
                      "description": "Unique identifier for this particular occurrence of the problem.",
                      "example": "ac5ah5i"
                    },
                    "data": {
                      "type": "array",
                      "description": "Error data.",
                      "items": {
                        "required": [
                          "code",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Application-specific error code, expressed as a string value.",
                            "example": "internal-server-error",
                            "enum": [
                              "internal-server-error"
                            ]
                          },
                          "detail": {
                            "type": "string",
                            "description": "Human-readable explanation specific to this occurrence of the problem.",
                            "example": "Internal Server error. Contact support."
                          },
                          "title": {
                            "type": "string",
                            "description": "Title of the error",
                            "example": "Internal Server error."
                          },
                          "type": {
                            "type": "string",
                            "description": "Type of the response, always \"error\"",
                            "example": "error"
                          }
                        }
                      }
                    }
                  },
                  "x-readme-ref-name": "InternalServerError"
                }
              }
            }
          },
          "503": {
            "description": "Returns error response code indicates that the server is not ready to handle the request.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "correlationId",
                    "data",
                    "type"
                  ],
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Always \"list\".",
                      "example": "list"
                    },
                    "correlationId": {
                      "type": "string",
                      "description": "Unique identifier for this particular occurrence of the problem.",
                      "example": "ac5ah5i"
                    },
                    "data": {
                      "type": "array",
                      "description": "Error data.",
                      "items": {
                        "required": [
                          "code",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "object",
                            "description": "Application-specific error code, expressed as a string value.",
                            "example": "service-unavailable"
                          },
                          "detail": {
                            "type": "string",
                            "description": "Human-readable explanation specific to this occurrence of the problem.",
                            "example": "Service Unavailable. Try again later."
                          },
                          "title": {
                            "type": "string",
                            "description": "Title of the error",
                            "example": "Service Unavailable"
                          },
                          "type": {
                            "type": "string",
                            "description": "Type of the response, always \"error\"",
                            "example": "error"
                          }
                        }
                      }
                    }
                  },
                  "x-readme-ref-name": "StatusServiceUnavailableError"
                }
              }
            }
          }
        },
        "security": [
          {
            "services_token": []
          }
        ]
      }
    },
    "/events": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "List all events",
        "description": "Returns a list of all events that have taken place.",
        "operationId": "getEvents",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Retrieves the details of all events associated with a user.\n\n**Note:** This endpoint only returns events that happened in the last 7 days.\n\n**Filtering Options:**\n- `userId`: User ID for the specific user you wish to retrieve events for. e.g., `user.id.eq(userId)`\n- `entity`: Filter events by entity type. e.g., `event.entity.eq(entity)`\n- `type`: Filter events by event type. e.g., `event.type.eq(type)`\n",
            "schema": {
              "type": "string",
              "example": "user.id.eq(userId) OR event.entity.eq(entity), event.type.eq(type)"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns details of events.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "EventsGetResponseResource",
                  "required": [
                    "type"
                  ],
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Type, always \"list\".",
                      "example": "list"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "required": [
                          "createdDate",
                          "id",
                          "links",
                          "type",
                          "entity",
                          "userId",
                          "dataRef",
                          "data",
                          "eventType"
                        ],
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "Type, always \"event\".",
                            "example": "event"
                          },
                          "id": {
                            "type": "string",
                            "description": "Event identification.",
                            "example": "61723"
                          },
                          "createdDate": {
                            "type": "string",
                            "description": "Date the event was created.",
                            "example": "2019-07-29T07:34:09Z"
                          },
                          "entity": {
                            "type": "string",
                            "description": "The entity associated with the event that has occurred",
                            "example": "consent",
                            "enum": [
                              "consent",
                              "connection"
                            ]
                          },
                          "eventType": {
                            "type": "string",
                            "description": "The type of event that has occurred",
                            "example": "revoked",
                            "enum": [
                              "revoked",
                              "expired",
                              "updated",
                              "created",
                              "archived",
                              "deleted"
                            ]
                          },
                          "userId": {
                            "type": "string",
                            "description": "The identifier of the user the event belongs to.",
                            "example": "266f5849-6ef6-4aae-accf-386470d0598e"
                          },
                          "dataRef": {
                            "type": "string",
                            "description": "URL to the data source the event occurred.",
                            "example": "https://au-api.basiq.io/users/266f5849-6ef6-4aae-accf-386470d0598e"
                          },
                          "data": {
                            "type": "string",
                            "description": "The data associated with the event that has been created.",
                            "example": [
                              {
                                "email": "max@hooli.com",
                                "id": "266f5849-6ef6-4aae-accf-386470d0598e",
                                "links": {
                                  "self": "https://au-api.basiq.io/users/266f5849-6ef6-4aae-accf-386470d0598e"
                                },
                                "mobile": "+614xxxxxxxx",
                                "type": "user"
                              }
                            ]
                          },
                          "links": {
                            "example": [
                              {
                                "self": "https://au-api.basiq.io/events/545ae104289e71bd3da34a063aaf49a5fa17ab6b8e0cab4bc56e019b7cc409e0"
                              }
                            ]
                          }
                        },
                        "x-readme-ref-name": "EventsData"
                      }
                    },
                    "links": {
                      "title": "ResourceLink",
                      "required": [
                        "self"
                      ],
                      "type": "object",
                      "properties": {
                        "self": {
                          "type": "string",
                          "description": "URL of the resource.",
                          "example": "https://au-api.basiq.io/link/a3dgf4567a89"
                        }
                      },
                      "description": "Link object containing a link to the resource, self reference.",
                      "x-readme-ref-name": "ResourceLink"
                    }
                  },
                  "description": "Object containing details for connections.",
                  "x-readme-ref-name": "EventsGetResponseResource"
                }
              }
            }
          },
          "400": {
            "description": "Returns error that server cannot or will not process the request due to something that is perceived to be a client error.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "correlationId",
                    "data",
                    "type"
                  ],
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Always \"list\".",
                      "example": "list"
                    },
                    "correlationId": {
                      "type": "string",
                      "description": "Unique identifier for this particular occurrence of the problem.",
                      "example": "ac5ah5i"
                    },
                    "data": {
                      "type": "array",
                      "description": "Error data.",
                      "items": {
                        "required": [
                          "code",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "Type of the response, always \"error\"",
                            "example": "error"
                          },
                          "title": {
                            "type": "string",
                            "description": "Title of the error",
                            "example": "Parameter not valid."
                          },
                          "code": {
                            "type": "string",
                            "description": "Application-specific error code, expressed as a string value.",
                            "example": "parameter-not-valid",
                            "enum": [
                              "parameter-not-supplied",
                              "parameter-not-valid",
                              "unsupported-accept",
                              "invalid-content",
                              "institution-not-supported",
                              "invalid-credentials"
                            ]
                          },
                          "detail": {
                            "type": "string",
                            "description": "Human-readable explanation specific to this occurrence of the problem.",
                            "example": "ID value is not valid."
                          },
                          "source": {
                            "title": "Source",
                            "type": "object",
                            "properties": {
                              "parameter": {
                                "type": "string",
                                "description": "String indicating which URI query parameter caused the error.",
                                "example": "id"
                              }
                            },
                            "description": "An object containing references to the source of the error.",
                            "x-readme-ref-name": "Source"
                          }
                        }
                      }
                    }
                  },
                  "x-readme-ref-name": "BadRequestError"
                },
                "examples": {
                  "Bad Request": {
                    "value": {
                      "type": "list",
                      "correlationId": "ac5ah5i",
                      "data": [
                        {
                          "type": "error",
                          "title": "Parameter not valid.",
                          "code": "parameter-not-valid",
                          "detail": "ID value is not valid.",
                          "source": {
                            "parameter": "id"
                          }
                        }
                      ]
                    }
                  },
                  "Invalid Filters": {
                    "value": {
                      "type": "list",
                      "correlationId": "ac5ah55",
                      "data": [
                        {
                          "type": "error",
                          "code": "parameter-not-valid",
                          "title": "Parameter value is not valid",
                          "detail": "The provided filter parameter is in invalid format or unsupported",
                          "source": {
                            "parameter": "filter"
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error status response code indicates that the request has not been applied because it lacks valid authentication credentials for the target resource.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "correlationId",
                    "data",
                    "type"
                  ],
                  "type": "object",
                  "properties": {
                    "correlationId": {
                      "type": "string",
                      "description": "Unique identifier for this particular occurrence of the problem.",
                      "example": "ac5ah5i"
                    },
                    "data": {
                      "type": "array",
                      "description": "Error data.",
                      "items": {
                        "required": [
                          "code",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Application-specific error code, expressed as a string value.",
                            "example": "unauthorized-access",
                            "enum": [
                              "unauthorized-access",
                              "invalid-authorization-token"
                            ]
                          },
                          "detail": {
                            "type": "string",
                            "description": "Human-readable explanation specific to this occurrence of the problem.",
                            "example": "You are not authorized to access this resource"
                          },
                          "title": {
                            "type": "string",
                            "description": "Title of the error",
                            "example": "Unauthorized Access"
                          },
                          "type": {
                            "type": "string",
                            "description": "Type of the response, always \"error\"",
                            "example": "error"
                          }
                        }
                      }
                    },
                    "type": {
                      "type": "string",
                      "description": "Always \"list\".",
                      "example": "list"
                    }
                  },
                  "x-readme-ref-name": "UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Error that access is forbidden and tied to the application logic, such as insufficient rights to a resource.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "correlationId",
                    "data",
                    "type"
                  ],
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Always \"list\".",
                      "example": "list"
                    },
                    "correlationId": {
                      "type": "string",
                      "description": "Unique identifier for this particular occurrence of the problem.",
                      "example": "ac5ah5i"
                    },
                    "data": {
                      "type": "array",
                      "description": "Error data.",
                      "items": {
                        "required": [
                          "code",
                          "source",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "Type of the response, always \"error\"",
                            "example": "error"
                          },
                          "title": {
                            "type": "string",
                            "description": "Title of the error",
                            "example": "Forbidden Access"
                          },
                          "code": {
                            "type": "string",
                            "description": "Application-specific error code, expressed as a string value.",
                            "example": "forbidden-access",
                            "enum": [
                              "forbidden-access",
                              "no-production-access",
                              "access-denied"
                            ]
                          },
                          "detail": {
                            "type": "string",
                            "description": "Human-readable explanation specific to this occurrence of the problem.",
                            "example": "Access to this resource is forbidden."
                          },
                          "source": {
                            "title": "Source",
                            "type": "object",
                            "properties": {
                              "parameter": {
                                "type": "string",
                                "description": "String indicating which URI query parameter caused the error.",
                                "example": "id"
                              }
                            },
                            "description": "An object containing references to the source of the error.",
                            "x-readme-ref-name": "Source"
                          }
                        }
                      }
                    }
                  },
                  "x-readme-ref-name": "ForbiddenAccessError"
                }
              }
            }
          },
          "404": {
            "description": "Returns error indicating that server can't find requested resource.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "correlationId",
                    "data",
                    "type"
                  ],
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Always \"list\".",
                      "example": "list"
                    },
                    "correlationId": {
                      "type": "string",
                      "description": "Unique identifier for this particular occurrence of the problem.",
                      "example": "ac5ah5i"
                    },
                    "data": {
                      "type": "array",
                      "description": "Error data.",
                      "items": {
                        "required": [
                          "code",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Application-specific error code, expressed as a string value.",
                            "example": "resource-not-found",
                            "enum": [
                              "resource-not-found"
                            ]
                          },
                          "detail": {
                            "type": "string",
                            "description": "Human-readable explanation specific to this occurrence of the problem.",
                            "example": "Resource not found."
                          },
                          "title": {
                            "type": "string",
                            "description": "Title of the error",
                            "example": "Requested resource is not found."
                          },
                          "type": {
                            "type": "string",
                            "description": "Type of the response, always \"error\"",
                            "example": "error"
                          }
                        }
                      }
                    }
                  },
                  "x-readme-ref-name": "NotFoundError"
                }
              }
            }
          },
          "500": {
            "description": "Returns error response code indicates that the server encountered an unexpected condition that prevented it from fulfilling the request.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "correlationId",
                    "data",
                    "type"
                  ],
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Always \"list\".",
                      "example": "list"
                    },
                    "correlationId": {
                      "type": "string",
                      "description": "Unique identifier for this particular occurrence of the problem.",
                      "example": "ac5ah5i"
                    },
                    "data": {
                      "type": "array",
                      "description": "Error data.",
                      "items": {
                        "required": [
                          "code",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Application-specific error code, expressed as a string value.",
                            "example": "internal-server-error",
                            "enum": [
                              "internal-server-error"
                            ]
                          },
                          "detail": {
                            "type": "string",
                            "description": "Human-readable explanation specific to this occurrence of the problem.",
                            "example": "Internal Server error. Contact support."
                          },
                          "title": {
                            "type": "string",
                            "description": "Title of the error",
                            "example": "Internal Server error."
                          },
                          "type": {
                            "type": "string",
                            "description": "Type of the response, always \"error\"",
                            "example": "error"
                          }
                        }
                      }
                    }
                  },
                  "x-readme-ref-name": "InternalServerError"
                }
              }
            }
          },
          "503": {
            "description": "Returns error response code indicates that the server is not ready to handle the request.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "correlationId",
                    "data",
                    "type"
                  ],
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Always \"list\".",
                      "example": "list"
                    },
                    "correlationId": {
                      "type": "string",
                      "description": "Unique identifier for this particular occurrence of the problem.",
                      "example": "ac5ah5i"
                    },
                    "data": {
                      "type": "array",
                      "description": "Error data.",
                      "items": {
                        "required": [
                          "code",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "object",
                            "description": "Application-specific error code, expressed as a string value.",
                            "example": "service-unavailable"
                          },
                          "detail": {
                            "type": "string",
                            "description": "Human-readable explanation specific to this occurrence of the problem.",
                            "example": "Service Unavailable. Try again later."
                          },
                          "title": {
                            "type": "string",
                            "description": "Title of the error",
                            "example": "Service Unavailable"
                          },
                          "type": {
                            "type": "string",
                            "description": "Type of the response, always \"error\"",
                            "example": "error"
                          }
                        }
                      }
                    }
                  },
                  "x-readme-ref-name": "StatusServiceUnavailableError"
                }
              }
            }
          }
        },
        "security": [
          {
            "services_token": []
          }
        ]
      }
    },
    "/events/{id}": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "Retrieve an event",
        "description": "Returns a single event type based on the parameter input.",
        "operationId": "getTypeById",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "in": "path",
            "example": "a0fa1d01e0c9a1032e29ac74ade5f786e880ae04f4e3788144c6d13b53e5d29b"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the ID of an event.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string"
                    },
                    "createdDate": {
                      "type": "string"
                    },
                    "entity": {
                      "type": "string"
                    },
                    "eventType": {
                      "type": "string"
                    },
                    "userId": {
                      "type": "string"
                    },
                    "dataRef": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "createdDate": {
                          "type": "string"
                        },
                        "id": {
                          "type": "string"
                        },
                        "institution": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "links": {
                              "type": "object",
                              "properties": {
                                "self": {
                                  "type": "string"
                                }
                              }
                            },
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "lastUsed": {
                          "type": "string"
                        },
                        "links": {
                          "type": "object",
                          "properties": {
                            "accounts": {
                              "type": "string"
                            },
                            "self": {
                              "type": "string"
                            },
                            "transactions": {
                              "type": "string"
                            }
                          }
                        },
                        "mfaEnabled": {
                          "type": "boolean"
                        },
                        "status": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        }
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "self": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "x-readme-ref-name": "RetrieveEvent"
                },
                "examples": {
                  "Success": {
                    "value": {
                      "type": "event",
                      "id": "5a47115a7eed80a3b68761b725b78c75892e94cef06810ecc0e2e7b856738371",
                      "createdDate": "2024-04-17T23:57:17Z",
                      "entity": "connection",
                      "eventType": "updated",
                      "userId": "84e33255-f65f-4f05-953b-1b12e1e4d90b",
                      "dataRef": "https://au-api.basiq.io/users/84e33255-f65f-4f05-953b-1b12e1e4d90b/connections/8bd4f752-c218-4e41-af28-0c42ae982d35",
                      "data": {
                        "createdDate": "2024-04-17T23:57:16Z",
                        "id": "8bd4f752-c218-4e41-af28-0c42ae982d35",
                        "institution": {
                          "id": "AU00000",
                          "links": {
                            "self": "https://au-api.basiq.io/institutions/AU00000"
                          },
                          "type": "institution"
                        },
                        "lastUsed": "2024-04-17T23:57:17Z",
                        "links": {
                          "accounts": "https://au-api.basiq.io/users/84e33255-f65f-4f05-953b-1b12e1e4d90b/accounts?filter=institution.id.eq('AU00000')",
                          "self": "https://au-api.basiq.io/users/84e33255-f65f-4f05-953b-1b12e1e4d90b/connections/8bd4f752-c218-4e41-af28-0c42ae982d35",
                          "transactions": "https://au-api.basiq.io/users/84e33255-f65f-4f05-953b-1b12e1e4d90b/transactions?filter=institution.id.eq('AU00000')"
                        },
                        "mfaEnabled": false,
                        "status": "active",
                        "type": "connection"
                      },
                      "links": {
                        "self": "https://au-api.basiq.io/events/5a47115a7eed80a3b68761b725b78c75892e94cef06810ecc0e2e7b856738371"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error status response code indicates that the request has not been applied because it lacks valid authentication credentials for the target resource.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string"
                    },
                    "correlationId": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string"
                          },
                          "code": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "detail": {
                            "type": "string"
                          },
                          "source": {
                            "type": "object",
                            "properties": {
                              "parameter": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "x-readme-ref-name": "Error"
                },
                "examples": {
                  "Parameter not valid": {
                    "value": {
                      "type": "list",
                      "correlationId": "9b27dbd7-d397-428a-9eff-5048d2bed5eb",
                      "data": [
                        {
                          "type": "error",
                          "code": "path-parameter-not-valid",
                          "title": "Parameter value is not valid",
                          "detail": "Event Type ID parameter is not valid",
                          "source": {
                            "parameter": "eventTypeId"
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error status response code indicates that the request has not been applied because it lacks valid authentication credentials for the target resource.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string"
                    },
                    "correlationId": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string"
                          },
                          "code": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "detail": {
                            "type": "string"
                          },
                          "source": {
                            "type": "object",
                            "properties": {
                              "parameter": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "x-readme-ref-name": "Error"
                },
                "examples": {
                  "Unauthorized": {
                    "value": {
                      "type": "list",
                      "correlationId": "9b27dbd7-d397-428a-9eff-5048d2bed5eb",
                      "data": [
                        {
                          "type": "error",
                          "code": "unauthorized-access",
                          "title": "Unauthorized Access",
                          "detail": "You are not authorized to access this resource"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Error that access is forbidden and tied to the application logic, such as insufficient rights to a resource.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "correlationId",
                    "data",
                    "type"
                  ],
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Always \"list\".",
                      "example": "list"
                    },
                    "correlationId": {
                      "type": "string",
                      "description": "Unique identifier for this particular occurrence of the problem.",
                      "example": "ac5ah5i"
                    },
                    "data": {
                      "type": "array",
                      "description": "Error data.",
                      "items": {
                        "required": [
                          "code",
                          "source",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "Type of the response, always \"error\"",
                            "example": "error"
                          },
                          "title": {
                            "type": "string",
                            "description": "Title of the error",
                            "example": "Forbidden Access"
                          },
                          "code": {
                            "type": "string",
                            "description": "Application-specific error code, expressed as a string value.",
                            "example": "forbidden-access",
                            "enum": [
                              "forbidden-access",
                              "no-production-access",
                              "access-denied"
                            ]
                          },
                          "detail": {
                            "type": "string",
                            "description": "Human-readable explanation specific to this occurrence of the problem.",
                            "example": "Access to this resource is forbidden."
                          },
                          "source": {
                            "title": "Source",
                            "type": "object",
                            "properties": {
                              "parameter": {
                                "type": "string",
                                "description": "String indicating which URI query parameter caused the error.",
                                "example": "id"
                              }
                            },
                            "description": "An object containing references to the source of the error.",
                            "x-readme-ref-name": "Source"
                          }
                        }
                      }
                    }
                  },
                  "x-readme-ref-name": "ForbiddenAccessError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "type": {
                      "type": "string"
                    },
                    "correlationId": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string"
                          },
                          "code": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "detail": {
                            "type": "string"
                          },
                          "source": {
                            "type": "object",
                            "properties": {
                              "parameter": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "x-readme-ref-name": "Error"
                },
                "examples": {
                  "Error": {
                    "value": {
[...]
